@(title: String)(content: Html)

@import com.mohiva.play.silhouette.impl.providers._
@import views.html.bootstrap._
@import forms.SignInForm

@import play.api.Play
@import play.api.Play.current

<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <link href='@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")' rel='stylesheet' />
    <link href='@routes.Assets.at("stylesheets/bootstrap/bootstrap-accessibility.css")' rel='stylesheet' />

    <script src='@routes.Assets.at("javascripts/lib/bootstrap-accessibility-plugin/bs3.1.1/js/jquery.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/bootstrap-accessibility-plugin/bs3.1.1/js/bootstrap.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/bootstrap-accessibility-plugin/plugins/js/bootstrap-accessibility.min.js")'></script>


    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />-->
    <!--<script src="lib/jquery-1.7.2.min.js"></script>-->
    <script src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/mapbox.js")'></script>
    <link href='@routes.Assets.at("stylesheets/mapbox.css")' rel='stylesheet' />

    <link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet"/>

</head>
<body>
    @content
</body>
</html>
