#modal-skip-holder, #modal-comment-holder, #modal-mission-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
}

#modal-mission-holder {
    visibility: hidden;
}

#modal-skip-background, #modal-comment-background, #modal-mission-background {
    position: absolute;
    left: 0px;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    height: 100%;
    width: 110%;
}

#modal-skip-box, #modal-comment-box, #modal-skip-box-neighborhood {
    background: rgba(255, 255, 255, 1);
    /*border: 3px solid rgba(200, 200, 200, 1);*/
    color: rgba(80, 80, 80, 1);
    font-size: 13pt;
    padding: 10px;
    position: relative;
    top: 35%;
    left: 8px;
    visibility: visible;
    width: 720px;
    z-index: 1;

    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

#modal-skip-box .overlay-option, #modal-skip-box-neighborhood .overlay-option {
    background-color: rgb(220, 220, 220);
}

#modal-skip-box .overlay-option:hover, #modal-skip-box-neighborhood .overlay-option:hover  {
    background-color: rgb(190, 190, 190);
}

#modal-skip-box-neighborhood {
    display: none;
}

.modal-skip-cancel-button {
    text-align: right;
}

.modal-foreground {
    top: 110px;
    left: 0;
    right: 0;
    padding: 10px;
    height: 496px;
    background: rgba(255, 255, 255, 1);
    color: rgba(80, 80, 80, 1);
    font-size: 14pt;
    position: absolute;
    min-height: 480px;
    border: 5px solid black;

    border-radius: 3px 3px 3px 3px;
    z-index: 4;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

.modal-foreground h1 {
    font-size: 18pt;
    margin: 3px 0 10px 0;
}

.modal-foreground h2 {
    font-size: 16pt;
    margin: 3px 0 10px 0;

}

.modal-foreground h3 {
    font-size: 14pt;
    margin: 3px 0 5px 0;
}

.modal-foreground p {
    font-size: 12pt;
}

.modal-foreground .table {
    margin-bottom: 10px !important;
}

.modal-foreground th, .modal-foreground td {
    padding: 3px !important;
    font-size: 9pt;
    font-weight: normal;
}

.modal-foreground .col-right {
    width: 30%;
    text-align: center;
}

.modal-foreground #modal-mission-complete-message {
    font-size: 11pt;
}

.modal-foreground .blue-btn {
    color: white;
    font-size: 14pt;
}

.modal-foreground .btn-primary {
    color: white;
    background: #3182bd;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14pt;
    opacity: 1.0;
}

.modal-foreground .btn-secondary {
    color: black;
    background: white;
    cursor: pointer;
    border: 1px solid black;
    font-size: 14pt;
    opacity: 1.0;
}

.modal-foreground .btn-loading {
    color: white;
    background: #7f7f7f;
    cursor: wait;
    border: 1px solid transparent;
    font-size: 14pt;
    opacity: 0.35;
}

.modal-foreground .button {
    width: 100%;
}
.modal-foreground .mapbox{
    position: relative;
}
.modal-foreground .mapbox #map-legend {
    font-size: 8pt;
    position: absolute;
    top: 360px;
    right: 20px;
    width: 140px;
    height: 55px;
    border-radius: 3px;
    background-color: rgba(240,240,240,1);
}

.modal-foreground .mapbox #map-legend .legend-label {
    margin-left: 5px;
    margin-top: 5px;
}

.modal-foreground .mapbox #map-legend #green-square {
    fill: rgba(88,225,172,1);
}

.modal-foreground .mapbox #map-legend #blue-square {
    fill: rgba(82,161,224,1);
}

.modal-foreground .mapbox #map-legend #gray-square {
    fill: rgba(100,122,145,1);
}

.modal-foreground .leaflet-zoom-hide svg {
        position: relative;
}

.modal-foreground .leaflet-zoom-hide .line-connect {
    fill: none;
    stroke: rgb(20,220,120);
    stroke-width: 5;
    opacity: 0;
}
.leaflet-control-attribution {
    visibility: hidden;
}

#modal-comment-textarea {
    height: 100px;
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

#modal-mission-complete-map {
    position: absolute;
    width: 530px;
    height: 420px;
}

.modal-mission-images {
    width: 60%;
}

.modal-mission-left-column-images {
    width: 100%;
    padding: 25px 0 0 0;
}

#modal-mission-complete-holder {
    visibility: hidden;
}

#modal-mission-complete-foreground {
    visibility: hidden;
}

#modal-mission-complete-holder .button {
    width: 100%;
}

#modal-mission-foreground {
    padding: 100px 20px 10px 20px;
    visibility: hidden;
}

#modal-mission-foreground {
    padding: 100px 20px 10px 20px;
    visibility: hidden;
}

#modal-mission-foreground h1 {
    font-size: 28pt;
    /*text-align: left;*/
}

#modal-mission-foreground p {
    font-size: 16pt;
}

#modal-mission-close-button {
    width: 200px;
    float: right;
}

.modal-background {
    position: absolute;
    left: -55px;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 110%;
}

.modal-close-button-holder {
    position: absolute;
    top: 0;
    right: 5px;
}

#modal-curb-ramp-foreground {
    border: solid 3px rgba(0, 222, 38, 1);
}

#modal-no-curb-ramp-foreground {
    border: solid 3px rgba(233, 39, 113, 1);
}

#modal-obstacle-foreground {
    border: solid 3px rgba(0, 161, 203, 1);
}

#modal-surface-problem-foreground {
    border: solid 3px rgba(241, 141, 5, 1);
}

.modal-column-space {
    padding-left: 0px; 
}
