#zoom-control-holder {
    background: transparent;

    position: absolute;
    left: 530px;
    top: 51px;
    height: 50px;
    width: 150px;
}

.zoom-control-button {
    color: rgba(0,0,0,1);
    font-size: 9px;
    height: 43px;
    width: 43px;
    margin-right: 2px;
}

.zoom-button-icon {
    height: 15px;
    width: 15px;
}