#tracker-holder {
    position: absolute;
    top: 0;
    left: 935px;
}

#onboarding-holder {
    visibility: hidden;
}

#onboarding-background {
    width: 1025px;
    height: 620px;
    background: rgba(255, 255, 255, 1.0);
    position: absolute;
    top: -110px;
    left: -65px;
    z-index: 1;
    visibility: hidden;
}

#onboarding-message-holder {
    width: 300px;
    margin: 5px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 14pt;

    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

#onboarding-message-holder .button {
    width: 100%;
}

.callout {
    position: relative;
    padding: 24px;
    border-radius: 3px;
    margin: 25px;
    min-height: 50px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;*/
}

.callout:before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
    z-index:-10;
}

.callout.bottom:before {
    left: 45%;
    bottom: -24px;
    border-top: 10px solid white;
}

.callout.top:before {
    left: 45%;
    top: -24px;
    border-bottom: 10px solid white;
}

.callout.right:before {
    right: -25px;
    top: 40%;
    border-left: 10px solid white;
}

.callout.left:before {
    left: -24px;
    top: 40%;
    border-right: 10px solid white;
}

.callout.bottom-left:before {
    left: 7px;
    bottom: -24px;
    border-top: 10px solid white;
}

.callout.bottom-right:before {
    right: 7px;
    bottom: -24px;
    border-top: 10px solid white;
}
.callout.lower-right:before {
    right: -25px;
    top: 80%;
    border-left: 10px solid white;
}

.white-background {
    background: rgba(255, 255, 255, 1);
    -webkit-transition:background 0.5s;
    -moz-transition:background 0.5s;
    -ms-transition:background 0.5s;
    -o-transition:background 0.5s;
    transition:background 0.5s;
}

.yellow-background {
    background: rgba(255, 255, 166, 1);
    -webkit-transition:background 0s;
    -moz-transition:background 0s;
    -ms-transition:background 0s;
    -o-transition:background 0s;
    transition:background 0s;
}

#onboarding-example-image-1, #onboarding-example-image-2 {
    width: 980px;
}

.tutorial-table {
    width: 100%;
}

.tutorial-table-cell {
    text-align:center; 
}

.tutorial-cell-intro {
    width: 25%;
}

.tutorial-cell-end {
    width: 50%
}
