#compass-message-holder {
    position: absolute;
    right: 236px;
    top: 525px;
    padding: 10px 10px 10px 5px;
    height: 55px;
    min-width: 120px;
    white-space: nowrap;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

.compass-message-small {
    font-size: 8pt;
    margin: 5px;
}

.compass-turn-images {
    position: relative;
    bottom: 2px;
    width: 25px;
    margin: 0 10px 0 0
}
