#google-maps-holder {
    position: absolute;
    left: 735px;
    top: 403px;
    width: 200px;
    height: 200px;
}

.google-maps-pane {
    border: 0 solid black;
    position: absolute;
    left: 0;
    top:0;
    width: 200px;
    height: 200px;
}

#google-maps-overlay {
    color: #444;
    font-size: 12px;
    z-index: 1;
}

#google-maps-observed-area-canvas {
    opacity: 0.4;
}

#google-maps-fov-area-canvas {
    opacity: 0.6;
}

#google-maps-fraction-observed {
    color: #444;
    font-size: 11px;
    z-index: 1;
    text-align: center;
    padding-left: 161px;
    padding-top: 12px;
}

.gm-svpc {
    visibility: hidden;
}
