#progress-pov-holder {
    height: 25px;
    position: relative;
    width: 202px;
}

#progress-pov-label {
    text-align: justify;
    font-size: 8pt;
}

#progress-pov-current-completion-bar {
    background: rgba(210,210,210,1);
    height: 14px;
    position: absolute;
    width: 190px;
}

#progress-pov-current-completion-bar-filler {
    border-width: 0;
    height: 14px;
    position: absolute;
    width: 190px;
}

#progress-pov-current-completion-rate {
    color: white;
    font-size: 8pt;
    width: 100px;
    padding-left: 5px;
}

