#alert-holder {
    z-index: 3;
    margin: 50px auto;
    text-align: center;
    position: relative;
    font-size: 9pt;
    width: 730px;
}

#alert {
    background-color: rgb(255, 246, 192);
    border: 1px solid #ecdfb0;
    border-radius: 2px;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 6px 10px;
    max-width: 600px;
}

#alert-holder a {
    color: black;
}

#alert-dont-show {
    text-decoration: underline;
    margin: 0 10px 0 30px;
}
