#form-holder {
    background: none;
    padding-top: 3px;
    /* Position */
    position: relative;
    left: 0px;
    top: 600px;
    width: 960px;
}


#comment-field-holder {
    background: none;
    padding-top: 5px;
    position: relative;
    width: 932px;
}

#comment-field {
    height: 30px;
    width: 100%;
    margin: 0 5px 0 5px;
}

footer {
    color: rgba(100,100,100,1);
    font-size: 12px;
    height: 10px;
    text-align: center;
    width: 100%;
}
