#bottom-toolbar-holder {
    position: absolute;
    top: 605px;
    left: 0;
    height: 20px;
    width: 100%;
    padding: 0 25px 0 0;
}

.toolbar p, .toolbar a {
    color: #bbbbbb;
    font-size: 14px;
}