#HolderTooltip {
    background: rgba(0,0,0,0.8);
    color: white;
    font-size: 10pt;
    left:0;
    padding: 3px 7px;
    position:absolute;
    top:0;
    visibility: hidden;
}

#task-difficulty-wrapper {
    background-color: rgba(60,60,60,1);
    border: 2px solid white;
    color: white;
    font-size: 1.4em;
    margin: 0 22px 0 0;
    padding: 10px;
    position:relative;
    top: 250px;
    z-index: 4
}

#task-difficulty-holder ul {
    margin: 0 0 0 0px;
    padding: 10px 0 15px 0;
}

#task-difficulty-holder ul li {
    display: inline;
    padding: 0 10px 0 15px;
}

#task-difficulty-holder ul li input[type="radio"] {
    position: relative;
    bottom: 3px;
}

#task-difficulty-holder label {
    bottom: 0px;
    font-size: 0.8em;
    padding: 0 0 0 3px;
    position: relative;
}

#task-difficulty-comment-holder {
    padding: 20px 0 20px 0;
}

#task-difficulty-holder #task-difficulty-comment {
    font-size: 0.8em;
    height: 1.1em;
    padding: 3px;
    width: 65%;
}

#task-difficulty-holder input[type="button"] {
    position: relative;
    margin: 30px 0 10px 0;
}

/********************************************************************************
 * Mechanical Turk
 */
.amt-preview-warning-holder {
    background: rgba(255, 128, 128, 1);
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.amt-preview-warning {
    color: white;
    font-size: 1.4em;
    padding: 5px;
}