#google-maps-holder  {
    position: absolute;
    left: 735px;
    top: 393px;
    width: 200px;
    height: 210px;
}

.google-maps-pane {
    border: 0 solid black;
    position: absolute;
    left: 0;
    top:0;
    width: 200px;
    height: 210px;
}

#google-maps-overlay {
    color: #888;
    font-size: 12px;
    z-index: 1;

}

.gm-style > button {
    visibility: hidden;
  }
