#minimap-holder {
    position: absolute;
    left: 735px;
    top: 403px;
    width: 200px;
    height: 200px;
}

.minimap-pane {
    border: 0 solid black;
    position: absolute;
    left: 0;
    top:0;
    width: 200px;
    height: 200px;
}

#minimap-overlay {
    z-index: 1;
}

#minimap-message {
    font-size: 12px;
    z-index: 1;
    width: 150px;
    padding-left: 3px;
}

#minimap-fog-of-war-canvas {
    opacity: 0.3;
}

#minimap-fov-canvas {
    opacity: 0.3;
}

#minimap-percent-observed {
    font-size: 11px;
    z-index: 1;
    text-align: center;
    padding-left: 161px;
    padding-top: 12px;
}

.gm-svpc {
    visibility: hidden;
}
