#street-view-holder {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top:0px;
    height: 490px;
    width: 730px;
}

.window-streetview {
    position: absolute;
    left: 0;
    top:0;
    height: 480px;
    width: 720px;
}

#delete-icon-holder {
    cursor: pointer;
    visibility: hidden;
    /* Position */
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 10px;
}

#label-delete-icon {
    height: 20px;
    width: 20px;
    position: absolute;
}
