#zoom-control-holder {
    background: transparent;
    position: absolute;
    left: 558px;
    top: 58px;
    height: 55px;
    width: 185px;
}

.zoom-control-button {
    color: rgba(0,0,0,1);
    font-size: 9px;
    height: 36px;
    width: 65px;
    margin-right: 2px;
}

.zoom-button-icon {
    height: 18px;
    width: 18px;
}
