#context-menu-holder {
    position: relative;
    top: 0px;
    left: 0;
    width: 390px;
    padding: 5px;
    background-color: white;
    border: solid 5px black;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    visibility: hidden;
    z-index: 2;
}

#context-menu-vertical-connector {
    position: absolute;
    top: 0px;
    left: 178px;
    height: 8px;
    width: 6px;
    background-color: black;
}

#context-menu-holder hr {
    margin-top: 0;
    margin-bottom: 5px;
}

.context-menu-wheelchair-icons {
    cursor: default;
    width: 30px;
    height: 30px;
}

#severity-menu .radio-inline {
    font-size: 10pt;
    text-align: center;
}

#severity-menu input[type="radio"] {
    width: 20px;
    height: 20px;
    display: inline;
}

#severity-menu #column-not-passable, #severity-menu #column-passable {
    cursor: default;
    position: relative;
    padding: 5px;
    text-align: center;
}

#severity-menu .radio-inline label {
    position: relative;
    margin: 0;
    cursor: pointer;
}

#severity-menu .severity-level {
    padding: 5px;
    margin: 5px;
}

.severity-level .severity-icon {
    height: 25px;
    width: 25px;
    pointer-events: none;
}

.severity-level .severity-icon svg {
    fill: white;
}

#severity-menu .radio-inline label div.severity-label {
    font-weight: 600;
    position: relative;
}

#severity-radio-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#severity-radio-holder span {
    font-size: 10pt;
    padding: 0 5px 0 5px;
}

#severity-radio-holder > .radio-inline > .example-image > label > input {
    visibility: hidden;
    position: absolute;
}

#severity-radio-holder > .radio-inline > label > input {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
}

#severity-radio-holder > .radio-inline > .example-image > label > input + img {
    cursor: pointer;
    left: -23px;
    top: 2px;
    position: absolute;
    width: 25px;
}

#severity-radio-holder .example-image{
  display: block;
  margin: auto;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

#severity-radio-holder > .radio-inline > label > input + img {
    cursor: pointer;
    left: -23px;
    top: 2px;
    position: absolute;
    width: 25px;
}

.tooltip.in {
    opacity: 1;
    filter:alpha(opacity=100);
}

#context-menu-close-button-holder {
    position: absolute;
    top: 0;
    right: 5px;
}

#problem-property-menu {
    position: relative;
}

.label-severity-axis-label {
    cursor: default;
    font-size: 7.8pt;
}

#context-menu-problem-description-text-box {
    height: 30px;
    margin: 13px 5px 5px 5px;
    width: 355px;
}

#context-menu-temporary-problem-checkbox-holder {
    margin: 5px 5px 5px 5px;
    width: 310px;
}

#context-menu-temporary-problem-checkbox-holder label {
    color: #888;
    font-weight: normal;
}

#context-menu-temporary-problem-checkbox {
    cursor: pointer;
}

#problem-property-menu button {
    background: none;
    border: none;
    color: #888;
    position: inherit;
}

#context-menu-tag-holder {
    width: 311px;
    margin: -27px 0px 0px 48px;
}

.add-tags-label {
    display: inline-grid;
    position: inherit;
    font-size: 10px;
    width: 50px;
    height: 25px;
}

#context-menu-tag-holder button {
    display: inline-block;
    position: inherit;
    margin: 0px 0px 3px 0px;
    padding: 2px 3px 2px 3px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    font-size: 10px;
    outline: none;
}

tag-underline {
    text-decoration: underline;
    pointer-events: none;
}
