#left-column-control-pane {
    position: relative;
    left: -55px;
    top: 128px;
}

#left-column-button-holder .button {
    text-align: center;
    width: 60px;
    height: 90px;
    font-size: 8pt;
    border: 2px #ccc solid;
    padding: 12px 0 0 0;
    color: rgba(0,0,0,1);
}

#left-column-button-holder .zoom-control-button {
    font-size: 7pt;
    height: 36px;
    padding: 0;
}

#left-column-zoom-out-button {
    margin: 3px 0 10px 0;
}

#left-column-button-holder img {
    width: 36px;
}
.zoom-button-icon {
    height: 18px;
    margin-top: 2px;
}
