#left-column-control-pane {
    position: relative;
    left: -55px;
    top: 128px;
}

#left-column-button-holder .button {
    text-align: center;
    width: 60px;
    height: 75px;
    font-size: 8pt;
    border: 2px #ccc solid;
    padding: 5px 1px 0 1px;
    color: rgba(0,0,0,1);
    line-height: 1.1;
    overflow-wrap: break-word;
}

#left-column-button-holder .zoom-control-button {
    height: 51px;
}

#left-column-zoom-out-button {
    margin: 3px 0 35px 0;
}

#left-column-button-holder img {
    width: 35px;
}
.zoom-button-icon {
    height: 18px;
    margin-top: 2px;
}
