#ribbon-menu-holder {
    position: absolute;
    left: 3px;
    top: 0;
    height: 100px;
}

.icon-ribbon-menu-medium {
    height: 35px;
    margin: 0 5px 0 5px;
    position: relative;
    left: 0;
    top: -2px;
}

#icon-explore {
    height: 38px;
    left: 5px;
    top: 2px;
}

.label-type-button-holder {
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 78px;
    width: 75px;
}

#label-type-divider-major {
    border-left: 2px solid lightgray;
    position: relative;
    bottom: 19px;
    margin-right: 5px;
    margin-left: 2px;
}

#label-type-divider-minor {
    margin: 0 3px;
}

.label-type-icon {
    display: block;
    margin: auto;
    height: 66px;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

.label-type-name {
    font-size: 8px;
    text-align: center;
    position: absolute;
    top: 65px;
    width: 100%;
}

#mode-switch-walk {
    width: 56px;
    border: 3px solid rgba(0, 0, 0, 1);
    background: rgb(204, 204, 204);
}

#label-type-holder {
    background: transparent;
    height: 100px;
    width: 575px;
}

.ribbon-menu-title-holder {
    overflow: hidden;
    top: -3px;
    text-align: center;
}

#ribbon-menu-title-holder-ramp {
    width: 150px;
    float: left;
    left: 90px;
    position: relative;
}
#ribbon-menu-title-holder-sidewalk {
    overflow: hidden;
    margin-left: 254px;
    width: 228px;
    position: absolute;
}
#ribbon-menu-title-holder-other {
    overflow: hidden;
    margin-left: 496px;
    width: 228px;
    position: relative;
}

#ribbon-menu-title {
    font-size: 8px;
    font-weight: 600;
    position: relative;
}

/* Add lines to the left and right of the titles. Similar to this https://silvawebdesigns.com/line-on-sides-headers/ */
#ribbon-menu-title:before, #ribbon-menu-title:after {
    position: absolute;
    top: 51%;
    width: 1000px; /* Set to a very large value, cut off from outer div with overflow: hidden. */
    height: 1px;
    content: '';
    background-color: lightgray;
}
#ribbon-menu-title:before {
    right: 100%;
    margin-right: 5px;
}
#ribbon-menu-title:after {
    left: 100%;
    margin-left: 5px;
}

#ribbon-menu-label-type-button-holder {
    background: transparent;
    position: absolute;
    top: 5px;
    height: 108px;
    width: 730px;
}

#ribbon-street-view-connector {
    border-left: 5px solid black;
    position: absolute;
    left: 25px;
    top: -24px;
    height: 20px;
    width: 0;
}

#ribbon-menu-other-subcategory-holder {
    position: absolute;
    top: 54px;
    left: -10px;
    width: 260px;
    padding: 10px;
    z-index: 4;
    visibility: hidden;
}

.ribbon-menu-other-subcategory {
    padding: 10px 5px;
    margin: 5px 5px 0 5px;
    background: white;
    border-radius: 28px;
}

.ribbon-menu-other-subcategory:hover {
    background-color: #eee;
}
