#overlay-message-box {
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    z-index: 2;
}

#overlay-message {
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: 3px;
}

#overlay-message-help-link {
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 2;
    cursor: pointer;
}

.overlay-message-label-type {
    cursor: pointer;
}
