#action-stack-control-holder {
    background: transparent;
    position: absolute;
    left: 632px;
    top: 54px;
    height: 50px;
    width: 150px;
}

.action-stack-button {
    font-size: 9px;    
    color: rgba(0,0,0,1);
    height:40px;
    width: 40px;
    margin-right: 2px;
}

.action-stack-icons {
    height: 12px;
    width: 12px;
}

#undo-button small{
    position: relative;
    top: -5px;
}

#redo-button small{
    position: relative;
    top: -7px;
}
