#status-holder {
    border: 3px dotted transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 735px;
    top: 5px;
    width: 200px;
    color: rgb(75, 75, 75, 1);
}

.status-box {
    border-bottom: 1px dotted #ccc;
    margin: 3px 0 5px 0;
    padding: 0 0 5px 0;
    text-align: left;
    cursor: default;
}

.status-box a {
    color: rgb(75, 75, 75, 1);
    text-decoration: underline;
}

.status-box h1 {
    font-size: 11pt;
    margin: 0 0 4px 0;
}

.status-box h2 {
    font-size: 8.5pt;
    font-weight: normal;
    margin: 1px 0 5px 1px;
}

.status-box span {
    font-size: 10pt;
    vertical-align: middle;
}

#status-neighborhood-name {
    vertical-align: text-bottom;
}

#status-holder-neighborhood-name {
    vertical-align: inherit;
}

#label-counter-status-box {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#mission-guidance-status-box {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#mission-guidance-status {
    display: inline-block;
    font-size: 7.5pt;
}

#mission-guidance-status:hover::after {
     content: attr(data-full-text);
     position: absolute;
     top: 60%;
     left: 0;
     background: #333;
     color: white;
     padding: 8px;
     border-radius: 4px;
     white-space: pre-wrap;
     z-index: 1000;
     max-width: 300px;
     box-shadow: 0 2px 8px rgba(0,0,0,0.2);
 }

.status-icon {
    width: 20px;
}

.status-tooltip {
    background-color: rgba(58, 58, 58, 0.9);
    color: white;
    width: 276px;
    top: 18px;
    border-radius: 15px;
    font-size: 10px;
}

.status-tooltip a {
    color: white;
}

.status-tooltip > .popover-content {
    padding: 6px 10px;
    display: block;
}

.status-tooltip.top > .arrow {
    bottom: -10px; /* Adjusting from default -11px to remove small visual gap. */
    border-top-color: rgba(58, 58, 58, 0.9);
}

#accuracy-rating-tooltip.top > .arrow {
    left: 75px;
}

.status-tooltip.top > .arrow:after {
    bottom: 2px;
    border-top-color: rgba(58, 58, 58, 0.9);
}
