#zoom-control-holder {
    background: transparent;

    position: absolute;
    left: 453px;
    top: 54px;
    height: 50px;
    width: 200px;
}

.zoom-control-button {
    color: rgba(0,0,0,1);
    font-size: 11px;
    height: 40px;
    width: 72px;
}

.zoom-button-icon {
    height: 18px;
    width: 18px;
}