#info-button {
    margin: 5px;
    max-height: 100%;
}

.info-key {
    font-weight: bold;
}

.info-list-item {
    display: flex;
    justify-content: space-between;
}

.popover {
    width: 350px;
    max-width: 350px;
}

.popover-title {
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.popover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gsv-link {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#clipboard {
    max-height: 100%;
    cursor: pointer;
}

#clipboard:active {
    opacity: 50%;
}
