#street-view-holder {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top:0px;
    height: 490px;
    width: 730px;
}

.Window_StreetView {
    position: absolute;
    left: 0;
    top:0;
    height: 480px;
    width: 720px;
}

#delete-icon-holder {
    cursor: pointer;
    visibility: hidden;
    /* Position */
    position: absolute;
    width: 50px;
    height: 30px;
    left: 0;
    top: 10px;
    display: -webkit-box;;
}

#Holder_LabelEditIcon {
    cursor: pointer;
    visibility: hidden;
    /* Position */
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 10px;
}

#LabelDeleteIcon, #LabelEditIcon {
    height: 20px;
    width: 20px;
    position: absolute;
}

#severity-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    /* create circle */
    border-radius: 50%;
    background: rgb(60, 60, 60);
    opacity: 0.9;
    /* style text */
    color: white;
    text-align: center;
    vertical-align: 50%;
    font-size: 12px;
}