#street-view-holder {
    border: 5px solid black;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    left: 0px;
    top:0px;
    height: 490px;
    width: 730px;
}

.window-streetview {
    position: absolute;
    left: 0;
    top:0;
    height: 480px;
    width: 720px;
}

#delete-icon-holder {
    cursor: pointer;
    visibility: hidden;
    /* Position */
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 10px;
}

#label-delete-icon {
    height: 20px;
    width: 20px;
    position: absolute;
}

.speed-limit-sign {
    display: none;
    place-content: center;
    width: 60px;
    height: 70px;
    padding: 3px;
    margin-top: -7px;
    margin-right: -4px;
    right: 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    transform: scale(0.75);
}

.speed-limit-sign[data-design-style="world"] {
    width: 78px;
    height: 78px;
    padding: 0px;
    margin-top: -6px;
    margin-right: -5px;
    border-radius: 100%; 
}

.speed-limit-holder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid black;
}

.speed-limit-sign[data-design-style="world"] .speed-limit-holder {
    border-radius: 100%;
    border: 7px solid #f70000b5;
}

.speed-limit-text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#speed-limit {
    font-size: 30px;
    display: block;
    margin-bottom: -7px;
}
