#modal-skip-holder, #modal-comment-holder, #modal-mission-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
}

#modal-mission-holder {
    visibility: hidden;
}

#modal-skip-background, #modal-comment-background, #modal-mission-background {
    position: absolute;
    left: -55px;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    height: 100%;
    width: 110%;
}

#modal-skip-box, #modal-comment-box {
    background: rgba(255, 255, 255, 1);
    /*border: 3px solid rgba(200, 200, 200, 1);*/
    color: rgba(80, 80, 80, 1);
    font-size: 14pt;
    padding: 10px;
    position: relative;
    top: 35%;
    left: 8px;
    visibility: visible;
    width: 720px;
    z-index: 1;

    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

.modal-foreground {
    top: 118px;
    left: 8px;
    padding: 10px;
    width: 720px;
    height: 480px;
    background: rgba(255, 255, 255, 1);
    color: rgba(80, 80, 80, 1);
    font-size: 14pt;
    position: absolute;
    min-height: 480px;

    border-radius: 3px 3px 3px 3px;
    z-index: 4;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

.modal-foreground h1 {
    font-size: 18pt;
    margin: 3px 0 10px 0;
}

.modal-foreground h2 {
    font-size: 16pt;
    margin: 3px 0 10px 0;

}

.modal-foreground h3 {
    font-size: 14pt;
    margin: 3px 0 5px 0;
}

.modal-foreground p {
    font-size: 12pt;
}

.modal-foreground .table {
    margin-bottom: 10px !important;
}

.modal-foreground th, .modal-foreground td {
    padding: 3px !important;
    font-size: 9pt;
    font-weight: normal;
}

.modal-foreground .col-right {
    width: 30%;
    text-align: center;
}

.modal-foreground #modal-mission-complete-message {
    font-size: 11pt;
}

.modal-foreground .blue-btn {
    background: rgba(49,130,189,1);
    color: white;
    font-size: 14pt;
    width: 100%;
}

.modal-foreground .button {
    width: 100%;
}
.modal-foreground .mapbox{
    position: relative;
}
.modal-foreground .mapbox #map-legend {
    font-size: 8pt;
    position: absolute;
    top: 375px;
    right: 0px;
    width: 120px; 
    height: 40px; 
    border-radius: 3px;
    background-color: rgba(240,240,240,1);
}

.modal-foreground .mapbox #map-legend .legend-label {
    margin-left: 5px;
    margin-top: 5px;
}

.modal-foreground .mapbox #map-legend #green-square {
    fill: rgba(100,240,110,1);
}

.modal-foreground .mapbox #map-legend #blue-square {
    fill: rgba(49,130,189,1);
}

.modal-foreground .leaflet-zoom-hide svg {
        position: relative;
}

.modal-foreground .leaflet-zoom-hide .lineConnect {
    fill: none;
    stroke: rgb(100,240,110);
    stroke-width: 3;
    opacity: 0;
}
.leaflet-control-attribution {
    visibility: hidden;
}

#modal-comment-textarea {
    height: 100px;
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

#modal-mission-complete-map {
    position: absolute;
    width: 415px;
    height: 420px;
}

.modal-mission-images {
    width: 60%;
}

.modal-mission-left-column-images {
    width: 100%;
    padding: 25px 0 0 0;
}

#modal-mission-complete-holder {
    visibility: hidden;
}

#modal-mission-complete-foreground {
    visibility: hidden;
}

#modal-mission-complete-holder .button {
    width: 100%;
}

#modal-mission-foreground {
    padding: 100px 20px 10px 20px;
    visibility: hidden;
}

#modal-mission-foreground {
    padding: 100px 20px 10px 20px;
    visibility: hidden;
}

#modal-mission-foreground h1 {
    font-size: 28pt;
    /*text-align: left;*/
}

#modal-mission-foreground p {
    font-size: 16pt;
}

#modal-mission-close-button {
    width: 200px;
    float: right;
}

#mission-badge-holder img {
    width: 150px;
    margin-top: 17px;
}

.modal-background {
    position: absolute;
    left: -55px;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 110%;
}



.modal-close-button-holder {
    position: absolute;
    top: 0;
    right: 5px;
}

#modal-curb-ramp-foreground {
    border: solid 3px rgba(0, 222, 38, 1);
}

#modal-no-curb-ramp-foreground {
    border: solid 3px rgba(233, 39, 113, 1);
}

#modal-obstacle-foreground {
    border: solid 3px rgba(0, 161, 203, 1);
}

#modal-surface-problem-foreground {
    border: solid 3px rgba(241, 141, 5, 1);
}