#status-holder {
    border: 3px dotted transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    left: var(--sidebar-left);
    top: 4px;
    width: var(--sidebar-width);
    color: var(--color-neutral-800);
}

.status-box {
    border-bottom: 1px dotted var(--color-neutral-300);
    margin: 3px 0 5px 0;
    padding: 0 0 5px 0;
    text-align: left;
}

.status-box a {
    color: var(--color-neutral-800);
    text-decoration: underline;
}

.status-box h1 {
    font-size: calc(11pt * var(--ui-scale));
    margin: 0 0 4px 0;
}

.status-box h2 {
    font-size: calc(8.5pt * var(--ui-scale));
    font-weight: normal;
    margin: 1px 0 5px 1px;
}

.status-box span {
    font-size: calc(10pt * var(--ui-scale));
    vertical-align: middle;
}

#status-neighborhood-name {
    vertical-align: text-bottom;
}

#status-holder-neighborhood-name {
    vertical-align: inherit;
}

#status-neighborhood-link {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#label-counter-status-box {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#mission-guidance-status-box {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#mission-guidance-status {
    display: inline-block;
    font-size: calc(7.5pt * var(--ui-scale));
}

#mission-guidance-status:hover::after {
     content: attr(data-full-text);
     position: absolute;
     top: 60%;
     left: 0;
     background: var(--color-neutral-900);
     color: var(--color-neutral-white);
     padding: 8px;
     border-radius: 4px;
     white-space: pre-wrap;
     z-index: 1000;
     max-width: 300px;
     box-shadow: 0 2px 8px rgb(from var(--color-neutral-black) r g b / 20%);
 }

.status-icon {
    width: calc(20px * var(--ui-scale));
}

.status-tooltip {
    background-color: rgb(from var(--color-neutral-800) r g b / 90%);
    color: var(--color-neutral-white);
    width: 276px;
    top: 18px;
    border-radius: 15px;
    font-size: 10px;
}

.status-tooltip a {
    color: var(--color-neutral-white);
}

.status-tooltip > .popover-content {
    padding: 6px 10px;
    display: block;
}

.status-tooltip.top > .arrow {
    bottom: -10px; /* Adjusting from default -11px to remove small visual gap. */
    border-top-color: rgb(from var(--color-neutral-800) r g b / 90%);
}

#accuracy-rating-tooltip.top > .arrow {
    left: 75px;
}

.status-tooltip.top > .arrow:after {
    bottom: 2px;
    border-top-color: rgb(from var(--color-neutral-800) r g b / 90%);
}
