text {
    visibility: hidden;
}

.highlight {
    color: orange;
    font-weight: bold;
}

.highlight-100 {
    background: rgba(255, 255, 0, 1) !important;
}

.highlight-50 {
    background: rgba(255, 255, 0, 0.5) !important;
}

.white-background-75 {
    background: rgba(255, 255, 255, 0.75);
}

.width-50 {
    width: 50%;
}
.width-50-percent {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.button {
    background: -moz-linear-gradient(center top , #fff, #eee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgba(96,96,96,1);
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    width: 200px;

    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

/* Pseudo-classes
* http://www.w3schools.com/css/css_pseudo_classes.asp */
.button:hover {
    background: -moz-linear-gradient(center top , #ccc, #bbb);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
    color: #333;
}

b { font-weight: bold; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.underline { text-decoration: underline; }

.inline {
    float: left;
}

.InlineBlock {
    display: inline-block;
}

.clearBoth {
    clear: both;
}

input[type="radio"] {
    height: 15px;
    width: 15px;
}

.underline {
    text-decoration: underline;
}

#svl-application-holder {
    background: rgba(255,255,255,1);
    margin: 0 auto;
    position: relative;
    height: 640px;
    width: 960px;
}

#interaction-area-holder {
    border: 3px solid transparent;
    position: absolute;
    left: 0;
    top: 110px;
    height: 480px;
    width: 720px;
}


#page-overlay-holder {
    background: rgba(255,255,255,0.5);
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}
#ajax-loader-image {
    left: 45%;
    position: relative;
    top: 90%;
}

/* http://stackoverflow.com/questions/8942805/chrome-bug-cursor-changes-on-mouse-down-move */
#view-control-layer {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

#svl-panorama-date-holder {
    display: flex;
    justify-content: flex-start;
    height: 29px;
    position: absolute;
    bottom: 0px;
    left: 69px;
    z-index: 1;
    font-family: sans-serif;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    color: white;
}

#svl-panorama-date {
    padding: 5px;
}
/**
 * Add this class to any text on the audit page that you want to be selectable. In audit.scala.html we set onselectstart
 * to return false over the whole document, except elements where itself or a parent has this class. This was done to
 * prevent an issue where dragging on the GSV pane would select a bunch of stuff in the background; issue link below.
 * https://github.com/ProjectSidewalk/SidewalkWebpage/issues/121
 */
.audit-selectable { }

#gsv-info-button {
    margin-left: 4px;
    margin-top: 7px;
    height: 16px;
}
