/* Put buttons here */
.validation-button {
    height: 70px;
    background: white;
    margin-right: 2px;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgrey;
}

#validation-agree-button {
    width: 243px;
}

#validation-disagree-button {
    width: 243px;
}

#validation-unclear-button {
    width: 232px;
    margin-right: 0px;
}

.validation-button:focus {outline:0;}

.validation-button:active {
    outline: none;
    border: none;
    background-color: lightgrey;
}