@font-face {
    font-family: 'SegoeUILight';
    src: url('segoeuil.ttf');
}

@font-face {
    font-family: 'SegoeUISemiBold';
    src: url('seguisb.ttf');
}

@font-face {
    font-family: 'SegoePrint';
    src: url('segoepr.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Journal';
    src: url('journal.ttf');
    font-weight: normal;
    font-style: normal;
}
