#svholder {
    margin-top: 50px;
    width:360px;
    height:340px;
    margin-bottom: 10px;
}

#eventsholder {
    width: 360px;
    height: 360px;
    border-radius: 5px;
    background-color: var(--color-neutral-white);
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    font-size: 10px;
    overflow: scroll;
    padding: 0 10px;
    margin-top: 50px;
    max-height: 600px;
    min-height: 300px;
}

#eventsholder .event {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}

#eventsholder .event .type {
    font-weight: bold;
}

#timeline {
    position: absolute;
    margin-left: 0;
    width: 360px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 60%);
    display: inline-block;
    vertical-align: middle;
}

#timeline #timeline-handle {
    position: absolute;
    margin-left: -7px;
    top: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-neutral-white);
    box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
}

#timeline #timeline-active {
    position: absolute;
    width: 0;
    height: 10px;
    background-color: #249dff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

#controls {
    padding-top: 25px;
}

#playback-inputs {
    text-align: right;
    position: inherit;
}

#total-time {
    text-align: right;
    position: inherit;
}

.user-marker {
    width: 27px;
    height: 27px;
    background-image: url("/assets/images/icons/routebuilder/start-point.png");
}
