/*
* Style tweaks
* --------------------------------------------------
*/

/* General styles */
@font-face {
	font-family: adelle-semibold;
	src: url(../fonts/Adelle/adelle_semibold-webfont.ttf);
}

@font-face {
	font-family: adelle-regular;
	src: url(../fonts/Adelle/adelle_reg-webfont.ttf);
}

@font-face {
	font-family: adelle-light;
	src: url(../fonts/Adelle/adelle_light-webfont.ttf);
}

@font-face {
	font-family: adelle-heavy;
	src: url(../fonts/Adelle/adelle_heavy-webfont.ttf);
}


@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}


@font-face {
    font-family: raleway-bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-black;
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}


html,
body {
    padding-top: 35px;
    font-family:'Open Sans', 'Noto Sans', sans-serif;

    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
    padding: 30px 0;
}

#sign-in-modal-container .modal-dialog {
    width: 400px;
}


/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;

}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #fff;
    /* border-color: #080808; */
    /* box-shadow: 0 0 5px rgba(0,0,0,.8); */
}



.navbar-brand.fixed-theme {
    font-size: 18px;
   ;
}

.navbar-container.fixed-theme {
    top: -30px;
    padding: 0;
}

.navbar-right.fixed-theme{
    position: relative;
    top: -15px;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
.navbar-nav {

}
.navbar.fixed-theme {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}
#navbar {
    margin-top: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 30px;
}

.myButton {
	background-color:#ffffff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #2D2A3F;
	display:inline-block;
    position: relative;
    top:8px;
	cursor:pointer;
	color:#2D2A3F;
    font: normal normal normal 14px/1.4em raleway,sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:5px 25px;
	text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.myButton:hover {
	background-color:#eb734d;
    border:1px solid #eb734d;
    color: #ffffff;
    text-shadow: none;
}
.myButton:active {
	position:relative;
	top:1px;
}




.logintext {
    font: normal normal normal 14px/1.4em raleway,sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
    padding: 5px 20px;
    letter-spacing: 0.1em;
    display: table-cell;
    vertical-align: middle;

}

#vidembed{
    position: relative;
    top: 180px;
    background-color:#ccc;
    max-height: 600px;
    overflow:hidden;
    width: 100%;

}

#videooverlay{
    position: absolute;
    top: 0;
    left: 0;
    text-align:center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: raleway, sans-serif;
    font-size: 45px;
}
#playlink{
    font-size: 20px;
}

#videotext{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.video-container {
    position: relative;
    background-color: #fff;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    height: 70%;
    max-height: 600px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    max-height:600px;

}

video#bgvid {

    min-width:1100px;
    max-width:100%;
    background-size: cover;
    left: 0px;
    backface-visibility:hidden;
    background:url('/assets/images/psmockup.png') no-repeat scroll 0 0 #000;
    background-size:cover;
    bottom:0;
    top: 70px;
    height:auto;
    perspective:1000;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1;
}

#vidbanner {
    position:relative;
    overflow:hidden;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    max-height:700px;

    height:700px;
    left:0;
    transition:background-color 300ms ease;

}

#graybar {
    position: relative;
    top: -70px;
    height: 50px;
    background-color: #2d2a3f;
    font-family: adelle-regular;

}

#bartext {
    position: relative;
  top: 50%;
  transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1em;

}

#computerimage {
    margin-top: 0px;
    max-width: 500px;
    min-width: 500px;
    margin-left: 30px;
    text-align: left;
}

.tagline {

    font-family: Raleway;
	font-size: 50px;
    letter-spacing: 0.05em;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 1em;
    color: #fff;
}

#bigtext{

    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

#text {
    padding-top:70px;
}

#description {
    font-family: adelle-regular;
	font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;

    color: #fff;
}



#compgif {
    padding-top: 60px;
}

#bannertext {
    min-width:200px;
    max-width:800px;
    text-align: center;
}



#biglogo {
    position: relative;
    top: -5px;
}

#smalllogo {
    position: relative;
    top: -5px;
}

#header-container {
    position: relative;
    top: -11px;
    background-color: #fff;
    max-width:90%;
    max-height:70px;
}

.im-centered {
    position: relative;
    top: 0px;
     margin: auto; max-width: 500px;
    text-align: center;
    padding-top: 50px;
    font-family: raleway, sans-serif;
    letter-spacing: 0em;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
    height: 500px;
    min-height:700px;
	line-height: 1.1em;
    color: #2D2A3F;

}
.im-centered3 {
    position: relative;
    top: 0px;
    margin: auto; max-width: 400px;
    text-align: center;
    padding-top: 50px;
    font-family: raleway, sans-serif;
    letter-spacing: 0em;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.1em;
    color: #2D2A3F;

}
#difference-container{
    position:relative;
    top: 200px;
}





#steps1 {
    padding-top: 100px;

}

.stepnumber {
    font-family: Raleway-black,sans-serif;
	font-size: 90px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 58px;
    color: #fbd78b;
}
#instructionvideo{
    position:relative;
    left: -150px;
    top: 3px;
    max-width: 300px;
}
#numbersrow{
    position: relative;
    left:-20px;
    cursor: pointer;
    width:600px;
}
#dcanim-div{
    width: 100%; height: auto; position: absolute; top: 0; left: 0;
    background-size: cover;
}
.stepword {
    position: relative;
    top: -10px;
    left: -10px;
    padding-left: 25px;
    font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 10px;
    color: #2D2A3F;

}





#step2right {

float: center;

}

#instructiongif{
    display: block;
    position: relative;
    margin: auto;
    left: -250px;
}

#content-text-1 {
    font-family: adelle-regular, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.8em;
    letter-spacing: 0.1em;


}

#quotebox-container{
    position: relative;
    top: 50px;
    width: 100%;
    background-image: url("/assets/assets/orange-background.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
#quotearea{
    max-width: 900px;
    margin: 0 auto;

}
#content-text-2 {

    font-family: adelle-regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    min-width: 500px;
    margin: 0 auto;


}
#content-text-3 {
    font-family: adelle-regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0.1em;


}

#content{
    position:relative;
    top:0px;
    background-color:#fff;
}

#algdessc {
    font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 15px;
}

#aidesc {
    position:relative;
    top:-60px;
    font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 10px;
}

.im-centered2 {

     margin: auto; max-width: 350px;
    text-align: center;
    padding-top: 50px;
    font-family: Raleway;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
    color: #2D2A3F;


}

#diffdesc {
    position:relative;
    top:-40px;
    font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 12px;
}



.compimage {

    float:left;

}

#exploreButton {
    background-color:transparent;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #2D2A3F;
	display:inline-block;
	cursor:pointer;
	color:#2D2A3F;
    font: normal normal normal 14px/1.4em raleway,sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:10px 45px;
	text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
#exploreButton:hover {
    background-color:#eb734d;
    border:1px solid #eb734d;
    color: #ffffff;
    text-shadow: none;
}
#exploreButton:active {
    position:relative;
	top:1px;
}

#count-container {

    position: relative;
    top: 50px;
    background-image: url(../assets/orange-map.PNG);
    width:100%;
    position:relative;
    min-height: 500px;
    display: flex;
    align-items: center;

}

.numbers-largefont {
    font-family: raleway, sans-serif;
    font-size: 100px;
    font-weight: normal;
}

.numbers-smallfont {
    font-size:12px;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-style: normal;
}

#press-container {
    position: relative;
    top: 60px;
    height: 200px;
}



#press-container2 {
    position: relative;
    max-width: 900px;
    top: -20px;

    min-height: 400px;
}

#press-list-header {
    font-size: 30px;
    color: #eb734d;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.05em;
    word-wrap: break-word;
    font-weight: bold;
}
#press-list-header-2 {
    font-size: 30px;
    color: #eb734d;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.05em;
    word-wrap: break-word;
    font-weight: bold;
}
.newslink {
    font-family: adelle-regular, sans-serif;
    letter-spacing: 0.1em;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
    text-decoration: underline;
	font-weight: bold;
	line-height: 1.8em;

    color: #2d2a3f;
}

#anim-numbers{
    font-size: 80px;
}
#anim-labels{
    font-size: 30px;
}
#numberholder{
    position:relative;
    left: -30px;
}
.quotebox {
    width: 430px;
    height: 260px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px #bbb;
    background-image: url(../assets/quote.png);
    background-size: 90px 90px;
    background-color:#fff;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 25px;
    color: #2d2a3f;
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    font-family: adelle-regular;
    word-wrap: break-word;

}

.quoteauthor {
    font-family: Raleway;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    color: #eb734d;
    font-size: 12px;
    line-height: 1.9em;

}

#footer-container {

    position: relative;

    top: 0;
    width: 100%;

    background-image: url(../assets/footer.jpg);

    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



     display: flex; justify-content: center;
    color: #2D2A3F;
    font-size: 12px;
    line-height: 1.8em;
    font-family: raleway, sans-serif;


}
.footerlink{
    color:#2D2A3F;
}

.footerheader {
    font-family: raleway, sans-serif;
    font-weight: bold;
    color: #2D2A3F;
    font-size: 12px;
    line-height: 2.1em;
    letter-spacing: 0.05em;

}

#info-footer {
    position: relative;
    width: 100%;
    height: 250px;
    padding-top: 30px;
    background-color: rgba(45, 42, 63, 1);
    text-align: center;
    font-family: raleway;
    font-size: 12px;
    color: #fff;
    line-height: 1.6em;

}
#info-footer a{
    color:#fff;
    text-decoration:underline;
}
#awardnum{
    font-size:10px;
    color:#c0becf;
}
#funding-title{
    font-weight: bold;
}

#banner {
    width:100%;
    height:100%;
    max-width: 1000px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    max-height: 70px;


}

#topbuttons {
    position: relative;
    top: -25px;
}

.verticalbar {
    color: #FBD78B;
}

.myButton2 {
    background-color:rgba(251, 215, 139, 1);
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:0px solid #fbd78b;
	display:inline-block;
	cursor:pointer;
	color:#2d2a3f;
    font: normal normal normal 14px/1.4em raleway,sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:10px 75px;

	text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.myButton2:hover {
    background-color:#FCECBE;
    border:0px solid #eb734d;
    color:#2d2a3f;
    text-shadow: none;
}
.myButton2:active{
    position:relative;
	top:1px;
}

#exploremaplink {
    color: #fff;
    text-decoration:underline;
    font-family: raleway;
    font-size: 10px;
    line-height:1.8em;
    text-align:center;
    position:relative;
    cursor: pointer;
    left: -30px;
}

#menubutton {
    position: relative;
    top: 15px;
}

.stepdescription {
    font-family: adelle-regular;
    line-height: 1.9em;
    font-size: 14px;
    letter-spacing: 0.05em;
}


kbd {
    /*overriding bootstraps's ugly kbd tag*/
    background-color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #444;
    font-weight:normal;
    font-size: small;
    padding: 2px 6px;
}
