@import models.user.User
@import models.label.LabelTable.LabelMetadata
@import models.label.LabelPoint
@(title: String, admin: Option[User] = None, labelPointObj: LabelPoint, labelObj: LabelMetadata)

<html>
    <head>
        <link href='@routes.Assets.at("stylesheets/fonts.css")' rel="stylesheet"/>
        <link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet"/>
    </head>
    <body>
        <div class="">
            <div id="svholder">
            </div>
            <table>
                <tr>
                    <th>Time Submitted</th>
                    <td>@labelObj.timestamp</td>
                </tr>
                <tr>
                    <th>Label Type</th>
                    <td>@labelObj.labelTypeValue</td>
                </tr>
                <tr>
                    <th>Severity</th>
                    <td>@labelObj.severity</td>
                </tr>
                <tr>
                    <th>Temporary</th>
                    <td>@labelObj.temporary</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@labelObj.description</td>
                </tr>
            </table>
        </div>

        <script>
                $(document).ready(function () {
                    window.admin = AdminGSVLabel({labelObj: labelObj, labelPointObj: labelPointObj});
                });
        </script>
    </body>
</html>