@import models.user.User
@import models.label.Label
@(title: String, admin: Option[User] = None, label: Label)

@main(title) {
    <div class="container">
        <div class="row">
            <img src='@routes.Assets.at("javascripts/SVLabel/img/examples/CurbRamp_NotPassable.png")'>
        </div>
    </div>

    <link href='@routes.Assets.at("stylesheets/previousAudit.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/c3.min.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/admin.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/bootstrap-lightbox.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/bootstrap-lightbox.min.css")' rel="stylesheet"/>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/bootstrap-lightbox.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/bootstrap-lightbox.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/c3.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/underscore.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesColor.js")'></script>
    <script>
            $(document).ready(function () {
//                $('#gsvlabelLightbox').lightbox({"keyboard":true})
                var labelId = @label.labelId;
//                window.admin = AdminGSVLabel({labelId: auditTaskId});
            });
    </script>
}