@import models.user.User
@import models.label.Label
@(title: String, admin: Option[User] = None, label: Label)

<html>
    <head>
        <link href='@routes.Assets.at("stylesheets/fonts.css")' rel="stylesheet"/>
        <link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet"/>
    </head>
    <body>
        <div class="">
            <img src='@routes.Assets.at("javascripts/SVLabel/img/examples/CurbRamp_NotPassable.png")'>
        </div>

        <script>
                $(document).ready(function () {
                    var labelId = @label.labelId;
    //                window.admin = AdminGSVLabel({labelId: auditTaskId});
                });
        </script>
    </body>
</html>