@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import service.CommonPageData
@(commonData: CommonPageData, title: String, user: SidewalkUserWithRole, isAdmin: Boolean, labelId: Int
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@common.main(commonData, title) {
    @common.navbar(commonData, Some(user), Some(s"/admin/label/$labelId"))
    <div class="container">
        <h1>Label Search</h1>
        <form onSubmit="return false;">
            <div class="form-group">
                <label for="form-control-input">Label ID</label>
                <input type="text" class="form-control" id="form-control-input" placeholder="Enter Label ID here...">
            </div>
        </form>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        <div style="height: 237px;"></div> <!-- Just included to fill the page by default at usual zoom. -->
    </div>

    <script src='@assets.path("javascripts/lib/i18next-23.14.0.min.js")'></script>
    <script src='@assets.path("javascripts/lib/i18nextHttpBackend-2.6.0.min.js")'></script>
    <script src='@assets.path("javascripts/common/timestampLocalization.js")'></script>
    <script src='@assets.path("javascripts/Admin/build/Admin.js")'></script>
    <script src='@assets.path("javascripts/SVValidate/src/util/PanoProperties.js")'></script>
    <script src='@assets.path("javascripts/common/Utilities.js")'></script>
    <script>updateTimestamps("@messages.lang.code");</script>

    <link href='@assets.path("stylesheets/admin.css")' rel="stylesheet"/>
    <script>
        $(document).ready(function () {
            i18next.use(i18nextHttpBackend).init({
                backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
                fallbackLng: 'en',
                ns: ['common', 'labelmap'],
                defaultNS: 'common',
                lng: "@messages.lang.code",
                debug: false
            }, function(err, t) {
                let labelSearch = AdminLabelSearch(@isAdmin, 'LabelSearchPage');
                labelSearch.adminGSVLabelView.showLabel(parseInt("@labelId"));
            });
        });
    </script>
}
