@import models.user.User
@import models.audit.AuditTask
@(title: String, admin: Option[User] = None, task: AuditTask)

@main(title) {
    @navbar(admin)
    <div class="container">
        <div class="row">
            <div class="col-md-4 task-map">
                <div id="map"></div>
            </div>
            <div class="col-md-4">
                <div id="svholder"></div>
                <div id="timeline">
                    <div id="timeline-active"></div>
                    <div id="timeline-handle"></div>
                </div>
                <div id="controls" class="col">
                    <div class="col-md-4">
                        <button id="control-btn">Play</button>
                    </div>
                    <div id="playback-inputs" class="col-md-8">
                        <label for="speed-multiplier">Speed Multiplier:</label>
                        <input type="number" id="speed-multiplier" name="Speed Multiplier" size="6" value="2" required>
                        <label for="pause-time">Max Wait Time:</label>
                        <input type="number" id="wait-time" size ="6" value="5000" required>
                        <label for="fill-time">Fill Time:</label>
                        <input type="number" id="fill-time" size="6" value="500" required>
                    </div>
                </div>
                <div clas="col">
                    <div class="col-md-5">
                        <label for="current-time-label">Current Time</label>
                        <p id="current-time-label">0 seconds</p>
                    </div>
                    <div id="total-time" class="col-md-7">
                        <label for="total-time-label">Total Time</label>
                        <p id="total-time-label">0 seconds</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div id="eventsholder"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-5.1.6.js")'></script>
    <link href='@routes.Assets.at("stylesheets/previousAudit.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/admin.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/adminTask.css")' rel="stylesheet"/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Panomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/bootstrap-3.3.5/js/bootstrap-slider.min.js")'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link href='@routes.Assets.at("javascripts/lib/bootstrap-3.3.5/css/bootstrap-slider.min.css")' rel="stylesheet"/>
    <script>
            $(document).ready(function () {
                var auditTaskId = @task.auditTaskId;
                window.admin = AdminTask({auditTaskId: auditTaskId});
            });
    </script>



}
