@import models.user.User
@import models.audit.AuditTask
@(title: String, admin: Option[User] = None, task: AuditTask)(implicit lang: Lang)

@main(title) {
    @navbar(admin)
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="admin-task-choropleth" class="choropleth"></div>
            </div>
            <div class="col-md-4">
                <div id="svholder"></div>
                <div id="timeline">
                    <div id="timeline-active"></div>
                    <div id="timeline-handle"></div>
                </div>
                <div id="controls" class="col">
                    <div class="col-md-4">
                        <button id="control-btn">Play</button>
                    </div>
                    <div id="playback-inputs" class="col-md-8">
                        <label for="speed-multiplier">Speed Multiplier:</label>
                        <input type="number" id="speed-multiplier" name="Speed Multiplier" size="6" step="any" value="2"  required>
                        <label for="pause-time">Max Wait Time (s):</label>
                        <input type="number" id="wait-time" size ="6" step="any" value="5" required>
                        <label for="fill-time">Fill Time (s):</label>
                        <input type="number" id="fill-time" size="6" step="any" value=".5" required>
                    </div>
                </div>
                <div clas="col">
                    <div class="col-md-5">
                        <label for="current-time-label">Current Time (s)</label>
                        <p id="current-time-label">0</p>
                    </div>
                    <div id="total-time" class="col-md-7">
                        <label for="total-time-label">Total Time (s)</label>
                        <p id="total-time-label">0</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div id="eventsholder"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-6.5.0.js")'></script>
    <link href='@routes.Assets.at("stylesheets/previousAudit.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/admin.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/adminTask.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/choropleth.css")' rel="stylesheet"/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Panomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/bootstrap-3.3.5/js/bootstrap-slider.min.js")'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <link href='@routes.Assets.at("javascripts/lib/bootstrap-3.3.5/css/bootstrap-slider.min.css")' rel="stylesheet"/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next-21.9.1.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script>
        $(document).ready(function () {
            i18next.use(i18nextXHRBackend);
            i18next.init({
                backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
                fallbackLng: 'en',
                ns: ['common'],
                defaultNS: 'common',
                lng: '@lang.code',
                debug: false
            }, function(err, t) {
                $.getJSON('/cityMapParams', function(data) {
                    var auditTaskId = @task.auditTaskId;
                    window.admin = AdminTask({auditTaskId: auditTaskId, mapboxApiKey: data.mapbox_api_key});
                });
            });
        });
    </script>



}
