@import models.user.User
@import models.daos.slick.DBTableDefinitions.DBUser
@import models.audit.AuditTaskCommentTable
@import models.audit.AuditTaskTable
@import models.label.LabelTable
@import models.mission.MissionTable

@import java.util.UUID
@import models.user.UserCurrentRegionTable

@import models.region.RegionTable
@(title: String, admin: Option[User] = None, user: Option[DBUser] = Some(DBUser("unknown", "unknown", "unknown")))(implicit lang: Lang)

@main(title) {
    @navbar(admin)
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="map-holder">
                    <div id="admin-map"></div>
                    <div id="map-label-legend">
                        <table class="table legend">
                            <tr><td id="map-legend-curb-ramp"></td><td>@Messages("curb.ramp")</td><td id="td-number-of-curb-ramps"></td></tr>
                            <tr><td id="map-legend-no-curb-ramp"></td><td>@Messages("missing.ramp")</td><td id="td-number-of-missing-curb-ramps"></td></tr>
                            <tr><td id="map-legend-obstacle"></td><td>@Messages("obstacle")</td><td id="td-number-of-obstacles"></td></tr>
                            <tr><td id="map-legend-surface-problem"></td><td>@Messages("surface.problem")</td><td id="td-number-of-surface-problems"></td></tr>
                            <tr><td id="map-legend-no-sidewalk"></td><td>@Messages("no.sidewalk")</td><td id="td-number-of-no-sidewalks"></td></tr>
                            <tr><td id="map-legend-audited-street"></td><td>@Messages("dashboard.audited.street")</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1>General Info and Stats</h1>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th class="col-md">Username</th>
                        <th class="col-md">User Id</th>
                        <th class="col-md">Email</th>
                        <th class="col-md">Mission Count</th>
                        <th class="col-md">Audited Street Count</th>
                        <th class="col-md">Label Count</th>
                        <th class="col-md">Total Distance Audited</th>
                    </tr>
                    <tr>
                        <td>@user.get.username</td>
                        <td>@user.get.userId</td>
                        <td>@user.get.email</td>
                        <td>@MissionTable.countCompletedMissionsByUserId(UUID.fromString(user.get.userId), includeOnboarding = false)</td>
                        <td>@AuditTaskTable.countCompletedAuditsByUserId(UUID.fromString(user.get.userId))</td>
                        <td>@LabelTable.countLabelsByUserId(UUID.fromString(user.get.userId))</td>
                        <td id="td-total-distance-audited-admin"></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th class="col-md-2">Current Neighborhood</th>
                        <td class="col-md-10">
                            @(UserCurrentRegionTable.currentRegion(UUID.fromString(user.get.userId)).map {x => RegionTable.neighborhoodName(x)}.getOrElse("Unassigned"))
                            (Region ID: @(UserCurrentRegionTable.currentRegion(UUID.fromString(user.get.userId)).map{x => x}.getOrElse("NA")))
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12">
            </div>
        </div>

        <h1>Labels</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>Recent labels</p>
                <table id="label-table" data-order='[[ 0, "desc" ]]' class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th class="col-md-3" data-class-name="priority">Timestamp</th>
                        <th class="col-md-2">Label Type</th>
                        <th class="col-md-1">Severity</th>
                        <th class="col-md-2">Temporary?</th>
                        <th class="col-md-5">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    @LabelTable.selectTopLabelsAndMetadataByUser(1000, UUID.fromString(user.get.userId)).map { userLabel =>
                        <tr>
                            <td class = 'timestamp'>@userLabel.timestamp</td>
                            <td>@userLabel.labelTypeKey</td>
                            <td>@userLabel.severity</td>
                            <td>@userLabel.temporary</td>
                            <td>@userLabel.description</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <h1>Audited Streets</h1>
        <div class="row">
            <table class="table table-striped table-fixed seven-cols">
                <thead>
                    <tr>
                        <th class="col-xs-12">Labels per Street</th>
                    </tr>
                    <tr>
                        <th class="col-xs-1">Date</th>
                        <th class="col-xs-1">Curb Ramp</th>
                        <th class="col-xs-1">Missing Curb Ramp</th>
                        <th class="col-xs-1">Obstacle</th>
                        <th class="col-xs-1">Surface Problem</th>
                        <th class="col-xs-1">No Sidewalk</th>
                        <th class="col-xs-1">Other</th>
                    </tr></thead>
                <tbody id="task-contribution-table"></tbody>
            </table>
        </div>

        <h1>Completed Missions</h1>
        <div class="row">
            <table class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th class="col-md-2">Mission Id</th>
                        <th class="col-md-2">Mission Type</th>
                        <th class="col-md-1">Region Id</th>
                        <th class="col-md-2">Region Name</th>
                        <th class="col-md-3">Distance (m / ft / mi)</th>
                        <th class="col-md-2">Labels Verified</th>
                    </tr>
                </thead>
                <tbody>
                @for(mission <- MissionTable.selectCompletedRegionalMission(UUID.fromString(user.get.userId))) {
                    <tr>
                        <td class="col-md-2">@mission.missionId</td>
                        <td class="col-md-2">@mission.missionType</td>
                        <td class="col-md-1">@mission.regionId.map(_.toString).getOrElse("N/A")</td>
                        <td class="col-md-2">@mission.regionName.getOrElse("N/A")</td>
                        <td class="col-md-3">@("%1.1f".format(mission.distanceMeters.getOrElse(0F))) / @{"%1.1f".format(mission.distanceMeters.getOrElse(0F) * 3.28084F)} / @{"%1.1f".format(mission.distanceMeters.getOrElse(0F) / 1609.344051499F)}</td>
                        <td class="col-md-2">@mission.labelsValidated.getOrElse(0)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <h1>Feedback</h1>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-condensed">
                    <tr><th class="col-md-3">Timestamp</th><th class="col-md-3">Panorama Id</th><th class="col-md-6">Comment</th></tr>
                    @AuditTaskCommentTable.all(user.get.username).getOrElse(List()).map { comment =>
                        <tr>
                            <td class = 'timestamp'>@comment.timestamp</td>
                            <td>@comment.gsvPanoramaId</td>
                            <td>@comment.comment</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <link href='@routes.Assets.at("stylesheets/admin.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/dataTables.bootstrap.min.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/userProfile.css")' rel="stylesheet"/>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/es.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/dataTables.bootstrap.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-5.1.6.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesPanomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Panomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVValidate/src/util/PanoProperties.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeAuditedStreets.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeSubmittedLabels.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeMapLayerContainer.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/MapUtilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/Choropleth.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/timestampLocalization.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Utilities.js")'></script>
    <script type="text/javascript">
        updateTimestamps("@lang.code");
    </script>

    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <script>
        $(document).ready(function () {
            // Gets all translations before loading the choropleth.
            i18next.use(i18nextXHRBackend);
            i18next.init({
                backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
                fallbackLng: 'en',
                ns: ['dashboard', 'common'],
                defaultNS: 'dashboard',
                lng: "@lang.code",
                debug: false
            }, function(err, t) {
                AdminUser('@user.get.username');
                $('#label-table').dataTable();
            });
        });
    </script>
}
