@import models.user.SidewalkUserWithRole
@import models.audit.AuditTaskCommentTable
@import models.audit.AuditTaskTable
@import models.label.LabelTable
@import models.mission.MissionTable

@import java.util.UUID

@import models.region.RegionTable
@import models.audit.AuditTaskInteractionTable
@import play.api.Configuration
@import service.utils.CommonPageData
@(commonData: CommonPageData, title: String, user: SidewalkUserWithRole, auditedDistance: Float = 0F)(implicit messages: Messages, config: Configuration)

@main(commonData, title) {
    @navbar(commonData, Some(user))
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="admin-user-choropleth-holder" class="choropleth-holder">
                    <div id="admin-user-choropleth" class="choropleth"></div>
                    <div id="map-label-legend">
                        <table class="table legend">
                            <tr>
                                <td id="map-legend-curb-ramp" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("curb.ramp")</td><td id="td-number-of-curb-ramps"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-no-curb-ramp" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("missing.ramp")</td><td id="td-number-of-missing-curb-ramps"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-obstacle" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("obstacle")</td><td id="td-number-of-obstacles"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-surface-problem" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("surface.problem")</td><td id="td-number-of-surface-problems"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-no-sidewalk" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("no.sidewalk")</td><td id="td-number-of-no-sidewalks"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-crosswalk" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("crosswalk")</td><td id="td-number-of-crosswalks"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-signal" class="map-legend-circle-icon"><svg><circle r='6'/></svg></td>
                                <td>@Messages("signal")</td><td id="td-number-of-signals"></td>
                            </tr>
                            <tr>
                                <td id="map-legend-audited-street"><svg><path d="M 2 10 L 18 10 z"></path></svg></td>
                                <td>@Messages("audited.street")</td>
                            </tr>
                            <tr>
                                <td id="map-legend-correct"><img src='@routes.Assets.versioned("javascripts/SVValidate/img/Checkmark.png")'></td>
                                <td>@Messages("validated.correct")</td>
                                <td><input type="checkbox" id="correct" checked="true" data-filter-type="label-validations" disabled></td>
                            </tr>
                            <tr>
                                <td id="map-legend-incorrect"><img src='@routes.Assets.versioned("javascripts/SVValidate/img/Cross.png")'></td>
                                <td>@Messages("validated.incorrect")</td>
                                <td><input type="checkbox" id="incorrect" checked="true" data-filter-type="label-validations" disabled></td>
                            </tr>
                            <tr>
                                <td id="map-legend-unsure"><img src='@routes.Assets.versioned("images/icons/QuestionMark.png")'></td>
                                <td>@Messages("unsure.caps")</td>
                                <td><input type="checkbox" id="unsure" checked="true" data-filter-type="label-validations" disabled></td>
                            </tr>
                            <tr>
                                <td id="map-legend-unvalidated"><img src='@routes.Assets.versioned("images/icons/ExclamationMark.png")'></td>
                                <td>@Messages("unvalidated")</td>
                                <td><input type="checkbox" id="unvalidated" checked="true" data-filter-type="label-validations" disabled></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1>General Info and Stats</h1>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th class="col-md">Username</th>
                        <th class="col-md">User Id</th>
                        <th class="col-md">Email</th>
                        <th class="col-md">Current Neighborhood</th>
                        <th class="col-md">Volunteer</th>
                    </tr>
                    @*
                    <tr>
                        <td>@user.username</td>
                        <td>@user.userId</td>
                        <td>@user.email</td>
                        <td>
                            @(UserCurrentRegionTable.currentRegion(UUID.fromString(user.userId)).map {x => RegionTable.neighborhoodName(x)}.getOrElse("Unassigned"))
                            (Region ID: @(UserCurrentRegionTable.currentRegion(UUID.fromString(user.userId)).map{x => x}.getOrElse("NA")))
                        </td>
                        <td><input type="checkbox" id="check-volunteer"></td>
                    </tr>
                    *@
                </table>
            </div>
            <div class="col-lg-12">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th class="col-md">Mission Count</th>
                        <th class="col-md">Audited Street Count</th>
                        <th class="col-md">Label Count</th>
                        <th class="col-md">Total Distance Audited</th>
                        <th class="col-md">Time spent auditing/validating</th>
                    </tr>
                    @*
                    <tr>
                        <td>@MissionTable.countCompletedMissions(UUID.fromString(user.userId), includeOnboarding = false, includeSkipped = false)</td>
                        <td>@AuditTaskTable.countCompletedAudits(UUID.fromString(user.userId))</td>
                        <td>@LabelTable.countLabels(UUID.fromString(user.userId))</td>
                        <td>@{s"%.2f ${Messages("dist.metric.abbr")}".format(auditedDistance)}</td>
                        <td>@{"%.2f".format(AuditTaskInteractionTable.getHoursAuditingAndValidating(user.userId))} hours</td>
                    </tr>
                    *@
                </table>
            </div>
            <div class="col-lg-12">
            </div>
        </div>

        <h1>Mark Work Quality by Date</h1>
        <p>
            Select a date to mark all labels for this user before that date with the desired flag. This is useful when
            training new users on Project Sidewalk. If their work was low quality, set it as such below. Their labels
            will then be partially hidden in our APIs, and we won't assign other to validate those labels as frequently.
        </p>
        <p>
            If their work was high quality, but they did not use all the available label types or didn't label the
            entire street, you can mark their data as "incomplete". Their labels will show up in our APIs, but we'll
            have other users re-audit those streets.
        </p>
        <div class="row set-flags-container">
            <div class="col-lg-4 flag-date-container">
                <h2>Low Quality</h2>
                <div class="row">
                    <div class="input-group date datepicker" data-date-format="mm-dd-yyyy">
                        <input id="low-quality-date" class="form-control" type="text"/>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="row date-submit-row">
                    <button type="button" class="btn btn-primary date-submit" onclick=setLowQualityDate(true)>Set Flags</button>
                    <button type="button" class="btn btn-primary date-submit" onclick=setLowQualityDate(false)>Remove Flags</button>
                </div>
                <div class="row">
                    <div id="low-quality-alert" class="alert alert-success" role="alert" style="visibility: hidden">Alert TEST</div>
                </div>
            </div>
            <div class="col-lg-4 flag-date-container">
                <h2>Incomplete</h2>
                <div class="row">
                    <div class="input-group date datepicker" data-date-format="mm-dd-yyyy">
                        <input id="incomplete-date" class="form-control" type="text"/>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="row date-submit-row">
                    <button type="button" class="btn btn-primary date-submit" onclick=setIncompleteDate(true)>Set Flags</button>
                    <button type="button" class="btn btn-primary date-submit" onclick=setIncompleteDate(false)>Remove Flags</button>
                </div>
                <div class="row">
                    <div id="incomplete-alert" class="alert alert-success" role="alert" style="visibility: hidden">Alert TEST</div>
                </div>
            </div>
        </div>

        <h1>Labels</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>Recent labels</p>
                <table id="label-table" data-order='[[ 0, "desc" ]]' class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th class="col-md-3" data-class-name="priority">Timestamp</th>
                        <th class="col-md-2">Label Type</th>
                        <th class="col-md-1">Severity</th>
                        <th class="col-md-2">Temporary?</th>
                        <th class="col-md-5">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        @*
                    @LabelTable.getRecentLabelsMetadata(1000, Some(user.userId)).map { userLabel =>
                        <tr>
                            <td class = 'timestamp'>@userLabel.timestamp</td>
                            <td>@userLabel.labelTypeKey</td>
                            <td>@userLabel.severity</td>
                            <td>@userLabel.temporary</td>
                            <td>@userLabel.description</td>
                        </tr>
                    }
                        *@
                    </tbody>
                </table>
            </div>
        </div>

        <h1>Audited Streets</h1>
        <div class="row">
            <table class="table table-striped table-fixed seven-cols">
                <thead>
                    <tr>
                        <th class="col-xs-12">Labels per Street</th>
                    </tr>
                    <tr>
                        <th class="col-xs-1">Date</th>
                        <th class="col-xs-1">@Messages("curb.ramp")</th>
                        <th class="col-xs-1">@Messages("missing.ramp")</th>
                        <th class="col-xs-1">@Messages("obstacle")</th>
                        <th class="col-xs-1">@Messages("surface.problem")</th>
                        <th class="col-xs-1">@Messages("no.sidewalk")</th>
                        <th class="col-xs-1">@Messages("other")</th>
                    </tr></thead>
                <tbody id="task-contribution-table"></tbody>
            </table>
        </div>

        <h1>Completed Missions</h1>
        <div class="row">
            <table class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th class="col-md-2">Mission Id</th>
                        <th class="col-md-2">Mission Type</th>
                        <th class="col-md-1">Region Id</th>
                        <th class="col-md-2">Region Name</th>
                        <th class="col-md-3">Distance (m / ft / mi)</th>
                        <th class="col-md-2">Labels Verified</th>
                    </tr>
                </thead>
                <tbody>
                    @*
                @for(mission <- MissionTable.selectCompletedRegionalMission(UUID.fromString(user.userId))) {
                    <tr>
                        <td class="col-md-2">@mission.missionId</td>
                        <td class="col-md-2">@mission.missionType</td>
                        <td class="col-md-1">@mission.regionId.map(_.toString).getOrElse("N/A")</td>
                        <td class="col-md-2">@mission.regionName.getOrElse("N/A")</td>
                        <td class="col-md-3">@("%1.1f".format(mission.distanceMeters.getOrElse(0F))) / @{"%1.1f".format(mission.distanceMeters.getOrElse(0F) * 3.28084F)} / @{"%1.1f".format(mission.distanceMeters.getOrElse(0F) / 1609.344051499F)}</td>
                        <td class="col-md-2">@mission.labelsValidated.getOrElse(0)</td>
                    </tr>
                }
                    *@
                </tbody>
            </table>
        </div>

        <h1>Feedback</h1>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-condensed">
                    <tr><th class="col-md-3">Timestamp</th><th class="col-md-3">Panorama Id</th><th class="col-md-6">Comment</th></tr>
                    @*
                    @AuditTaskCommentTable.all(user.username).getOrElse(List()).map { comment =>
                        <tr>
                            <td class = 'timestamp'>@comment.timestamp</td>
                            <td>@comment.gsvPanoramaId</td>
                            <td>@comment.comment</td>
                        </tr>
                    }
                    *@
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/lib/d3-3.5.6.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/lib/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/lib/dataTables.bootstrap.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/lib/turf-7.1.0.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/lib/i18next-23.14.0.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/lib/i18nextHttpBackend-2.6.0.min.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/lib/mapbox-gl-3.6.0.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/lib/mapbox-gl-language-1.0.1.js")'></script>
    <link href='@routes.Assets.versioned("javascripts/lib/mapbox-gl-3.6.0.css")' rel="stylesheet"/>

    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/common/UtilitiesPanomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/common/Panomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/SVValidate/src/util/PanoProperties.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/PSMap/build/PSMap.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/common/timestampLocalization.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/common/Utilities.js")'></script>
    <script type="text/javascript">
        updateTimestamps("@messages.lang.code");
    </script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css' rel='stylesheet' />

    <link href='@routes.Assets.versioned("stylesheets/admin.css")' rel="stylesheet"/>
    <link href='@routes.Assets.versioned("stylesheets/dataTables.bootstrap.min.css")' rel="stylesheet"/>
    <link href='@routes.Assets.versioned("stylesheets/userProfile.css")' rel="stylesheet"/>
    <link href='@routes.Assets.versioned("stylesheets/choropleth.css")' rel="stylesheet"/>

    <script>
        $(document).ready(function () {
            // Gets all translations before loading the choropleth.
            i18next.use(i18nextHttpBackend).init({
                backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
                fallbackLng: 'en',
                ns: ['dashboard', 'common', 'labelmap'],
                defaultNS: 'dashboard',
                lng: "@messages.lang.code",
                debug: false
            }, function(err, t) {
                AdminUser('@user.username', '@user.userId', @user.communityService);
                $('#label-table').dataTable();
            });
        });
    </script>
}
