#modal-mission-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
    visibility: hidden;
}

#modal-mission-foreground {
    padding: calc(100px * var(--ui-scale)) calc(20px * var(--ui-scale)) calc(10px * var(--ui-scale));
    visibility: hidden;
}

.modal-foreground {
    top: var(--header-height);
    left: 0;
    right: 0;
    padding: calc(10px * var(--ui-scale));
    height: var(--pano-height);
    background: var(--color-neutral-white);
    color: var(--color-neutral-800);
    font: var(--text-subtitle-regular);
    position: absolute;
    overflow: hidden;
    border: calc(4px * var(--ui-scale)) solid var(--color-neutral-black);
    border-radius: calc(5px * var(--ui-scale));
    z-index: 10;
}

.modal-foreground h1 {
    font: var(--text-h3-medium);
}

.modal-background {
    position: absolute;
    left: calc(-60px * var(--ui-scale));
    top: 0;
    background: rgb(from var(--color-neutral-white) r g b / 50%);
    height: 100%;
    width: 110%;
}

#modal-mission-close-button {
    display: block;
    width: 40%;
    margin: calc(30px * var(--ui-scale)) auto 0;
}

#modal-mission-instruction {
    text-align: center;
}

#modal-mission-background {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(from var(--color-neutral-white) r g b / 50%);
    visibility: hidden;
    height: 100%;
    width: 110%;
}

#modal-mission-complete-holder {
    visibility: hidden;
}

#modal-mission-complete-foreground {
    visibility: hidden;
    top: var(--header-height);
}

#modal-mission-complete-title {
    margin-top: calc(70px * var(--ui-scale));
    text-align: center;
}

#modal-mission-complete-message {
    text-align: center;
}

#modal-mission-complete-table {
    height: calc(190px * var(--ui-scale));
    padding-left: calc(175px * var(--ui-scale));
}

.modal-foreground .btn-primary {
    color: var(--color-neutral-white);
    background: var(--color-link-100);
    cursor: pointer;
    border: 1px solid transparent;
    font: var(--text-subtitle-regular);
    opacity: 1.0;
}

.modal-foreground .btn-secondary {
    color: var(--color-neutral-black);
    background: var(--color-neutral-white);
    cursor: pointer;
    border: 1px solid var(--color-neutral-black);
    font: var(--text-subtitle-regular);
    opacity: 1.0;
}

.modal-foreground .btn-loading {
    color: var(--color-neutral-white);
    background: var(--color-neutral-600);
    cursor: wait;
    border: 1px solid transparent;
    font: var(--text-subtitle-regular);
    opacity: 0.35;
}
