.gallery-card {
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 360px;
    height: auto;
}

.static-gallery-image {
    width: 100%;
    height: auto;
}

#gallery-validation-button-holder {
    /* display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    /*justify-content: space-around; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    bottom: 61px;
    left: 5px;
    right: 5px;
    height: 20%;
}

#gallery-card-agree-button {
    background-color: green;
}

#gallery-card-disagree-button {
    background-color: red;
}

#gallery-card-not-sure-button {
    background-color:orange;
}

.label-icon {
    position: absolute;
    width: 12px;
    z-index: 2;
}

p.label-severity, p.label-tags {
    margin: 5px 0;
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.validation-button {
    color: white;
    width: 33%;
    opacity: 0;
    transition: .3s ease;
}

.gallery-card:hover .validation-button {
    opacity: 0.5;
}

.validation-button:hover .validation-button {
    opacity: 1;
}

.gallery-card:hover .validation-button:focus {
    opacity: 1;
}



