.gallery-card {
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#gallery-validation-button-holder {
    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}

.label-icon {
    position: absolute;
    width: 12px;
    z-index: 2;
}

p.label-severity, p.label-tags {
    margin: 5px 0;
}

.validation-button {
    width: 33%;
  opacity: 0;
  transition: .3s ease;
}

.gallery-card:hover .validation-button {
  opacity: 1;
}



