.bold {
    font-weight: bold;
}

u {
    border-bottom: 1px dashed #888;
    text-decoration: none;
}

svg {
    position: relative;
}

#map-holder {
    position: relative;
}

#map {
    height: calc(100% - 116px); /* 100% - (header + footer height) */
    min-height: 640px;
}

.map-text-box {
    background: rgba(255, 255, 255, 0.9);
    border: solid 1px #ccc;
    color: #333;
    font-size: 12px;
}

#map-legend {
    position: absolute;
    right: 15px;
    width: 700px;
    bottom: 15px;
    padding: 0 0 5px 0;
}

#map-text {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 450px;
    padding: 15px;
}

#map-text p {
    font-size: 16px;
}

.map-legend-svg-spans svg {
    padding: 5px 0 0 0;
}

.table input {
    margin-top: 5px;
}

.table th, .table td {
    font-size: 14px;
}

.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}