.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

#user-table-container {
    overflow-x: scroll;
    -webkit-transform: rotateX(180deg); /* Moves scrollbar to top for easier navigation. */
    width: 110%;
}
#user-table_wrapper {
    -webkit-transform: rotateX(180deg); /* Adding scrollbar flips all text, this flips it back. */
    font-size: 12px;
}

.role-dropdown {
    font-size: 12px;
}

.change-role {
    font-size: 12px;
}

#label-map, #admin-map {
    width: 100%;
    height: 800px;
    margin-top: 25px;
}

#admin-choropleth {
    width: 100%;
    height: 800px;
}

.legend label,
.legend span {
    display:block;
    float:right;
    height:15px;
    width:10%;
    text-align:left;
    font-size:8px;
    color:#808080;
}


#map-label-legend {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    left: 20px;
    width: 400px;
    bottom: 5px;
    border: solid 1px #ccc;
}

#map-legend-title {
    vertical-align:middle;
    width:90%;
    padding-left:10px;
    margin-top:5px
}

#map-legend-minimize-button {
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
}

#map-label-legend .table {
    margin-bottom: 0;
}

#map-label-legend table td {
    border-top: 0;
}

#legend-table>tbody>tr>td {
    padding: 2px 8px;
}

.mapbox-logo {
    left: 405px;
    bottom: 5px
}

/* GSV Info Popover styling */
#info-popover-holder {
    width: 19px;
    height: 19px;
    position: absolute;
    z-index: 2;
    left: 70px;
    bottom: 0;
    margin: 5px;
}

#info-button {
    width: 19px;
    margin-bottom: 4px;
}

.info-key {
    font-weight: bold;
}

.info-list-item {
    display: flex;
    justify-content: space-between;
}

.popover {
    width: 350px;
    max-width: 350px;
}

.popover-title {
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.popover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gsv-link {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#clipboard {
    max-height: 100%;
    cursor: pointer;
}

#clipboard:active {
    opacity: 50%;
}
