.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

#label-map, #admin-map {
    width: 100%;
    height: 800px;
    margin-top: 25px;
}

#admin-choropleth {
    width: 100%;
    height: 800px;
}

.legend label,
.legend span {
    display:block;
    float:right;
    height:15px;
    width:10%;
    text-align:left;
    font-size:8px;
    color:#808080;
}


#map-label-legend {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    left: 20px;
    width: 400px;
    bottom: 5px;
    border: solid 1px #ccc;
}

#map-legend-title {
    vertical-align:middle;
    width:90%;
    padding-left:10px;
    margin-top:5px
}

#map-legend-minimize-button {
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
}

#map-label-legend .table {
    margin-bottom: 0;
}

#map-label-legend table td {
    border-top: 0;
}

.mapbox-logo {
    left: 405px;
    bottom: 5px
}
