#choropleth {
    width: 100%;
    height: 800px;
}

@media (max-width: 992px) {
    #choropleth {
        height: 80vh;
    }
}

.legend label,
.legend span {
    display:block;
    float:right;
    height:15px;
    width:10%;
    text-align:left;
    font-size:16px;
    color:#808080;
}

.map-legends.wax-legends {
    right: 0px;
    top: 0px;
    width: 350px;
    max-width: 500px;
}

/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
