#choropleth {
    width: 100%;
    height: 800px;
}

#reset-button {
    background-color:#ffffff;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:10px;
    border:2px solid #808080;
    display:inline-block;
    position: absolute;
    top: 22%;
    left: 20.5px;
    cursor:pointer;
    color:#2D2A3F;
    font: normal normal normal 12px/1.4em raleway,sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size:10px;
    width: 46px;
    padding:5px 6px;
    text-align: center;
    text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    outline: none;
    word-wrap: break-word;
}

#results-legend {
    display: block;
    position: absolute;
    right: 26px;
    top: 10px;
    background: rgb(255, 255, 255);
    width: 375px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px 0px 10px;
}

#landing-legend {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 54px;
    background: rgb(255, 255, 255);
    width: 325px;
    font-family: 'Raleway', sans-serif;
    padding: 8px 8px 0px 8px;
}

#admin-percentage-legend {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 10px;
    background: rgb(255, 255, 255);;
    width: 325px;
    font-family: 'Raleway', sans-serif;
    padding: 6px 6px 0px 6px;
}

.legend span {
    display:block;
    float:right;
    height:15px;
    width: 10%;
    text-align:left;
    font-size:16px;
    color:#808080;
}

.legend label {
    display:block;
    float:right;
    height:15px;
    text-align:left;
    font-size:16px;
    color:#808080;
}

#legend-percentages-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#legend-percentages-container label {
    padding: 0;
}


.clearfix {
    width: 100%;
}

.map-legends.wax-legends {
    right: 0px;
    top: 0px;
    width: 350px;
    max-width: 500px;
}

/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
