/* General styles */
@font-face {
    font-family: adelle-semibold;
    src: url(../fonts/Adelle/adelle_semibold-webfont.ttf);
}

@font-face {
    font-family: adelle-regular;
    src: url(../fonts/Adelle/adelle_reg-webfont.ttf);
}

@font-face {
    font-family: adelle-light;
    src: url(../fonts/Adelle/adelle_light-webfont.ttf);
}

@font-face {
    font-family: adelle-heavy;
    src: url(../fonts/Adelle/adelle_heavy-webfont.ttf);
}


@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}


@font-face {
    font-family: raleway-bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-black;
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

#choropleth {
    height: 100%;
}

.ps-skyline-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#text {
    padding-top:70px;
    max-width: 500px;
    margin: 0 auto;
}

#banner2 {
    min-height: 900px;
}

#content-text-4 {
    font-family: adelle-regular, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.im-centered3 {
    position: relative;
    top: 0px;
    margin: auto; max-width: 340px;
    text-align: center;
    padding-top: 50px;
    font-family: raleway, sans-serif;
    letter-spacing: 0em;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.1em;
    color: #2D2A3F;

}

#collaborators-row {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}