/*#faq-panel {
    position: fixed;
    width: 18%;
    .faq ul#questions-list #subtopics li
}*/

.help ul#questions-list #subtopics li {
    padding-left: 40px;
}

.img-container img{
    height: 213px;
    margin: auto;
}

.img-container-3 img {
    height: 150px;
    margin: auto;
}

#img-container1 img {
    height: 150px;
    margin: auto;
}

.col-md-4 {
    padding-bottom: 20px;
}

.col-md-6 {
    padding-bottom: 20px;
}

#img-grid {
    display: inline-block;
}

.img-responsive, .plusminus {
    cursor: pointer;
}

.plusminus {
    float:right;
    font-size: 18px;
}

#subtopics {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.permalink-icon {
    height: 18px;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.help-item {
    padding-bottom: 25px;
}

.question {
    padding-top: 100px;
    margin-top: -100px;
}

.question:hover .permalink-icon {
    opacity: 1;
}
