/*
* Style tweaks
* --------------------------------------------------
*/

/* General styles */
@font-face {
    font-family: adelle-semibold;
    src: url(../fonts/Adelle/adelle_semibold-webfont.ttf);
}

@font-face {
    font-family: adelle-regular;
    src: url(../fonts/Adelle/adelle_reg-webfont.ttf);
}

@font-face {
    font-family: adelle-light;
    src: url(../fonts/Adelle/adelle_light-webfont.ttf);
}

@font-face {
    font-family: adelle-heavy;
    src: url(../fonts/Adelle/adelle_heavy-webfont.ttf);
}


@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}


@font-face {
    font-family: raleway-bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-black;
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}


html,
body {
    padding-top: 35px;
    font-family:'Open Sans', 'Noto Sans', sans-serif;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
    padding: 30px 0;
}

#sign-in-modal-container .modal-dialog {
    width: 400px;
}


/*
 * Custom styles
 */

.stats-grid{
    display: flex;
}

.stats-grid > p {
    flex: 1;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar-logo {
    float: left;
    margin-top: 7px;
}

.navbar-lnk {
    display: inline;
    margin-top: 4px;
    margin-left: 8px;
}

.navbar-turker-timer-container {
    padding-left: 10px;
}

.navbar-turker-timer-list-container {
    display: flex;
}

#nav-language-menu {
    margin-top: -12px;
    min-width: 69px;
}

.navbar-container {
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
#navbar {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#mturk-confirmation-code {
    padding-top: 18px;
    font: normal normal normal 13px/1.4em raleway, sans-serif;
}

#mturk-checkmark {
    width: 20px;
}

#mturk-confirmation-code-text {
    display: inline-block;
    margin: 0;
}

#navbar-timer {
    padding-left: 8px;
    padding-top: 18px;
    font: normal normal normal 13px/1.4em raleway, sans-serif;
}

#clock-icon {
    width: 20px;
}

#navbar-timer-text {
    display: inline-block;
}

#language-dropdown {
    margin-top: 4px;
    margin-left: 9px;
}

#language-icon {
    height: 31px;
    width: 31px;
}

.navbar-nav > li > a.navbar-button {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 10px;
    border: 1px solid #2D2A3F;
    display: inline-block;
    position: relative;
    top: 8px;
    cursor: pointer;
    color: #2D2A3F;
    font: normal normal normal 13px/1.4em raleway, sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 5px 17px;
    text-decoration: none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    outline: none;
}

.navbar-nav > li > a.navbar-button#language-button {
    /* Override some of the navbar-button properties, removing the border. */
    border: none;
    padding: 0px 10px 0px;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #ffffff;
}

.navbar-nav > .active > a.navbar-button:hover {
    background-color: #FCECBE;
    border: 1px solid #FCECBE;
    color: #2D2A3F;
    text-shadow: none;
}

.navbar-start-btn:active {
    position:relative;
    top:8px;
}

.gray-btn {
    position: relative;
    background-color: rgba(251, 215, 139, 1);
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:10px;
    border:1px solid rgba(251, 215, 139, 1);
    display:inline-block;
    top:8px;
    cursor:pointer;
    color:#2D2A3F;
    font: normal normal normal 13px/1.4em raleway,sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: start;
    font-weight: bolder;
    padding: 5px 17px;
    text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.gray-btn:hover {
    background-color:#fff;
    border:1px solid #fff;
    color: #2D2A3F;
    text-shadow: none;
}
.gray:active {
    position:relative;
    top:1px;
}

.current-city {
    cursor: default;
}

video#bgvid {
    min-width:1100px;
    width:100%;
    background-size: cover;
    left: 0px;
    backface-visibility:hidden;
    background:url('../assets/psmockup.jpg') no-repeat scroll 0 0 #000;
    background-size:cover;
    bottom:0;
    top: 70px;
    height:auto;
    perspective:1000;
    position:fixed;
    right:0;
    z-index:-1;
}

#vidbanner {
    position:relative;
    overflow:hidden;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    max-height:700px;
    height:700px;
    left:0;
    transition:background-color 300ms ease;
}

.tagline {
    font-family: raleway-bold, sans-serif;
    font-size: 50px;
    letter-spacing: 0.05em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
}

#bigtext {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

#text {
    padding-top:70px;
    max-width: 500px;
    margin: 0 auto;
}

p#conditional-text {
    margin: 5px;
}

#bannertext {
    min-width:700px;
    text-align: center;
}

#header-container {
    position: relative;
    top: -11px;
    background-color: #fff;
    max-width:91%;
    max-height:70px;
}

.im-centered {
    position: relative;
    top: 0px;
    margin: auto; max-width: 500px;
    text-align: center;
    padding-top: 50px;
    font-family: raleway, sans-serif;
    letter-spacing: 0em;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    height: 500px;
    min-height:700px;
    line-height: 40px;
    color: #2D2A3F;
}

.im-centered3 {
    position: relative;
    top: 0px;
    margin: auto; max-width: 340px;
    text-align: center;
    padding-top: 50px;
    font-family: raleway, sans-serif;
    letter-spacing: 0em;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.1em;
    color: #2D2A3F;

}

.ps-skyline {
    position: relative;
    padding: 15px;
}

.ps-skyline-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.ps-skyline-overlay > * {
    align-self: center;
    margin-top: 20px;
}

#skyline-spacing {
    margin: 0 auto; 
    width: fit-content; 
    margin-top: 135px;
}

.ps-skyline-overlay > .row {
    background-color: white;
    opacity: 90%;
    padding: 5px;
    border-radius: 15px;
    max-width: 100%;
    font-family: raleway, sans-serif;
    letter-spacing: 0em;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.1em;
    color: #2D2A3F;
} 

.ps-skyline-overlay-btn {
    background-color: #eb734d;
    opacity: 90%;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #2D2A3F;
    cursor:pointer;
    color:#2D2A3F;
    font: normal normal normal 14px/1.4em raleway,sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight: bold;
    padding:10px 45px;
    text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.ps-skyline-overlay-btn:hover {
    border:1px solid #eb734d;
    color: #ffffff;
    text-shadow: none;
}

.ps-skyline-container {
    display: flex;
    flex-direction: column;
}

.ps-skyline-container > img {
    width: 1400px;
    align-self: center;
}

.skyline-cloud-overlay {
    margin-top: -68px; /* Height of Cloud .png */
}

#content-text-2 {
    background-color: white;
    opacity: 90%;
    border-radius: 15px;
    font-family: adelle-regular, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    max-width: 500px;
    position: relative;
}

.ps-skyline-stats-holder {
    margin: -35px auto 0 auto;
    min-width: 800px;
    max-width: 1400px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;

    text-align: center;
}

.ps-skyline-stats-holder-stat-number {
    font-size: 60px;
    font-family: raleway-extrabold, sans-serif;
}

.ps-skyline-stats-holder-stat-label {
    font-size: 30px;
}

.ps-skyline-stats-holder > a {
    color: #2D2A3F;
}

.ps-skyline-stats-holder > a:hover {
    text-decoration: none;
}

@media (max-width: 835px) {
    .ps-skyline-stats-holder {
        display: none;
    }
}

.stepnumber {
    font-family: Raleway-black,sans-serif;
    font-size: 90px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 58px;
    color: #C0BEBF;

}
#greenbar {
    background-color: #58CEAB;
    min-width: 600px;
    min-height: 5px;
    position: relative;
    left: -20px;
}

#instructionvideo {
    position:relative;
    left: -122px;
    top: 3px;
    max-width: 300px;
}
#numbersrow {
    position: relative;
    left:-20px;
    cursor: pointer;
    width:630px;
}

.stepword {
    position: relative;
    top: -10px;
    left: -10px;
    padding-left: 25px;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 10px;
    color: #2D2A3F;
}

#content-text-1 {
    font-family: adelle-regular, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0.1em;
}

#content-text-4 {
    font-family: adelle-regular, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

#mlgif {
    position: absolute;
    left: 50%;
    width: 980px;
    margin-left: -490px;
}

#machinelearning-container {
    background-color: rgba(249, 241, 227, 1);
    width: 100%;
    min-height: 800px;
}

#choropleth-container {
    background-color: #fff;
    width: 100%;
    min-height: 1100px;
}

#content {
    position:relative;
    top:0px;
    background-color:#fff;
}

#exploredesc {
    position: relative;
    top: -10px;
    max-width: 490px;
    margin: 0 auto;
}

#wrap {
    min-height: 100%;
    height: auto;
}

#map-row {
    height: 500px;
    margin-top: 10px;
}
#map-holder {
    height: 100%;
}
#mapcolumn {
    height: 100%;
}
#choropleth {
    height: 100%;
}
#map-chart {
    background-color: white;
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
}

#map {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
}

.legend {
    height: inherit;
    width: 250px;
}


.collaborator-images-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px 50px;
    align-items: center;
}

.collaborator-image {
    padding: 15px 3% 15px 3%;
}

.collaborator-image img {
    width: 100%;
}

#collaborators-row {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#collaborators-title {
    font-size: 40px;
    margin-bottom: 20px;
}

#collaborators-container {
    position: relative;
    max-width: 900px;
    top: -20px;
    min-height: 300px;
}

#mini-footer-audit {
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: center;
    color: #585c63;
    font-size: 12px;
    line-height: 1.6em;
    font-family: raleway, sans-serif;
}

#mini-footer-audit a {
      color:#585c63;
      text-decoration:underline;
}

#footer-container {
    position: relative;
    top: 00px;
    width: 100%;
    background-image: url(../assets/footer.jpg);
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; justify-content: center;
    color: #2D2A3F;
    font-size: 12px;
    line-height: 1.8em;
    font-family: raleway, sans-serif;
}

#footer-container a {
    color:#2d2a3f;
    cursor: pointer;
}
.footerlink {
    color:#2D2A3F;
}

.footerheader {
    font-family: raleway-extrabold, sans-serif;
    font-weight: bold;
    color: #2D2A3F;
    font-size: 12px;
    line-height: 2.1em;
    letter-spacing: 0.05em;
}

#info-footer {
    position: relative;
    width: 100%;
    min-height: 220px;
    background-color: rgba(45, 42, 63, 1);
    text-align: center;
    font-family: raleway;
    font-size: 12px;
    color: #fff;
    line-height: 1.6em;

}
#info-footer a {
    color:#fff;
    text-decoration:underline;
}

@media only screen and (max-device-width: 500px) {
    #awardnum {
        width: 100% !important;
        right: 0% !important;
    }
}

@media only screen and (max-device-width: 800px) and (min-device-width: 500px) {
    #awardnum {
        width: 350% !important;
        right: 45% !important;
    }
}

#awardnum {
    font-size:10px;
    color:#c0becf;
    width: 220%;
    right: 35%;
}
#funding-title {
    font-weight: bold;
}

#banner {
    width:100%;
    height:100%;
    max-width: 1000px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#banner2 {
    min-height: 900px;
}
#header {
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.verticalbar {
    color: #FBD78B;
}

.body-start-btn {
    background-color:rgba(251, 215, 139, 1);
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:10px;
    border:0px solid #fbd78b;
    display:inline-block;
    cursor:pointer;
    color:#2d2a3f;
    font: normal normal normal 14px/1.4em raleway,sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding:10px 75px;
    text-decoration:none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.body-start-btn:hover {
    background-color:#FCECBE;
    border:0px solid #eb734d;
    color:#2d2a3f;
    text-shadow: none;
}
.body-start-btn:active {
    position:relative;
    top:1px;
}

.header-text {
    color: #fff;
    font-family: raleway;
    font-size: 15px;
    line-height:2.8em;
    text-align:center;
    position:relative;
    cursor: default;
    /*left: -30px;*/
}

.other-city-link:link {
    color: #fff;
    text-decoration:underline;
    font-family: raleway;
    font-size: 15px;
    font-weight: bolder;
    line-height:2.8em;
    text-align:center;
    position:relative;
    cursor: pointer;
}
.other-city-link:visited {
    color: #fff;
}
.other-city-link:hover {
    color: rgba(251, 215, 139, 1);
}

kbd {
    /*overriding bootstraps's ugly kbd tag*/
    background-color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #444;
    font-weight:normal;
    font-size: small;
    padding: 2px 6px;
}

.page-alert-holder {
    z-index: 3;
    width: 75%;
    text-align: center;
    position: fixed;
    font-size: 10pt;
    left: 50%;
    margin-left: -37.5%;
}

.page-alert {
    background-color: rgb(255, 246, 192);
    border: 1px solid #ecdfb0;
    border-radius: 2px;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 6px 10px;
}

.page-alert-holder a {
    color: black;
}

.tab-word.div {
    background-color: #F1F1F1;
}
.activetab {
    font-family:Raleway-bold,sans-serif;
    background-color:#58CEAB;
    overflow: hidden;

}
.activetab #word3 {
    background-color:transparent;
}
.activetab.stepnumber {
    font-family: Raleway-black,sans-serif;
    font-size: 90px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #fff;
}

#page-loading {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:33%;
    left:50%;
    overflow:visible;
}

#loading-gif {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: -50%;
    margin-left: -50%;
}

#loading-gif img {
    display: block;
    margin: 0 auto;
}

.loading-text {
    font-family: raleway, sans-serif;
    text-align: center;
    font-size: 45px;
    color: #2D2A3F;
}

.loading-sub-text {
    font-family: raleway, sans-serif;
    text-align: center;
    font-size: 15px;
    color: #2D2A3F;
    margin-top: 5px;
}

.navbar-nav>li, .navbar-nav {
    float: left;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}

.navbar-right {
    float: right;
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 125%;
    right: 0;
    left: auto;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: 0;
    font-size: 13px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-nav .open .dropdown-menu#nav-language-menu {
    /* Override dropdown menu properties for the languages dropdown. */
    top: 160%;
}

.tool-ui {
    position: relative;
}

/*Overlay box - start*/
#advanced-overlay,
#neighborhood-completion-overlay,
#already-completed-neighborhood-overlay,
#HIT-expiration-overlay {
    display:none;
}
.overlay-text {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.89);
    z-index: 5;
}
#advanced-neighborhood-text,
#neighborhood-completion-text,
#already-completed-neighborhood-text,
#HIT-expiration-text {
    color: white;
    text-align: center;
    width: 70%;
    position: relative;
    margin: auto;
    border-radius: 5px;
    font-size: 21px;
}
#advanced-neighborhood-text, #neighborhood-completion-text, #already-completed-neighborhood-text, #HIT-expiration-text {
    top: 28%;
}
#advanced-neighborhood-text p, #neighborhood-completion-text p, #already-completed-neighborhood-text p, #HIT-expiration-text p {
    border-radius: 5px;
    padding: 7px;
}
.overlay-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.overlay-option {
    margin: 20px 5px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
}
.overlay-option:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#accept-redirect {
    width: 75px;
}

/*Overlay box - end*/

.results-images {
    margin-top: 10px;
}
.results-images td {
    padding-left: 15px;
    text-align: center;
    padding-top: 5px;
}

.leaflet-bottom > .map-legends.wax-legends {
    right: 0px;
    top: 0px;
    width: 425px;
    max-width: 500px;
    height: 80px;
}
#results-choropleth-container {
    background-color: #fff;
    width: 100%;
}
#survey-form {
    padding-right:20px;
}
#survey-modal-container ol> li {
    font-weight: bold;
    font-size: 16px;
    content: counter(item);
}
#survey-modal-container ol> li h4 {
    font-size: 16px;
    font-weight: bold;
}
.survey-question {
    margin-bottom: 10px;
}
.survey-textarea {
    width: 100%;
    height: 64px;
    font-weight: normal;
    font-size: 14px;
}
.survey-option-holder {
    list-style:none;
    width:100%;
    margin:0;
    padding:0 0 10px;
    display:block;
}
.survey-option {
    display:inline-block;
    width:19%;
    text-align:center;
    vertical-align:top;
    font-weight:normal;
    font-size: 14px;
}
.survey-option label {
    width:100%;
    font-weight:normal;
}

.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

.leaderboard-header {
    font-weight: bold;
    font-family: Raleway-regular, sans-serif;
}

.weekly-header {
    margin-bottom: 35px;
}

.leaderboard-detail {
    font-family: Raleway-regular, sans-serif;
}

.accuracy-cell {
    position: relative;
    text-decoration:underline;
    text-decoration-style: dotted;
}

.accuracy-tooltip {
    display:none;
    position:absolute;
    z-index:100;
    border:1px;
    border-radius: 5px;
    background-color:#eeeeee;
    border-style:solid;
    border-width:1px;
    border-color:black;
    padding:3px;
    color:black;
    left:20px;
    font-size: 14px;
    font-weight: normal;
    width: 175px;
}

.accuracy-cell:hover span.accuracy-tooltip {
    display:block;
}

.leaderboard-table-font {
    font-size: 20px;
}

.leaderboard-table-header {
    background-color: rgba(251, 215, 139, 1);
    font-weight: bold;
}

#your-overall-total {
  border-top: 3px solid #999999;
}

.leaderboard-table {
    padding-right: 30px;
    min-width: 650px;
}

.leaderboard-table-striped>tbody>tr:nth-child(even)>td,
.leaderboard-table-striped>tbody>tr:nth-child(even)>th {
    background-color: #fce6b5;
    color: black;
}

.leaderboard-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: top;
    width: 100%;
}

#leaderboard-encouragement {
    text-align: center;
}

#validation-button-holder {
    display: flex;
    justify-content: space-between;
}

#validation-comment-holder {
    padding-top: 5px;
    padding-bottom: 5px;
}

#comment-textarea {
    height: 33px;
    width: 395px;
    background-color: "#F5F5F5";
    color: black;
    border-radius: 5px;
    padding: 5px;
    line-height: normal;
    border-width: 2px;
    border-color: grey;
    resize: none;    
    outline: none;
    vertical-align: middle;
    margin-right: 2px;
}

#comment-button {
    height: 33px;
    width: 138px;
    background-color: #f9f9f9;
    margin-right: 2px;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgrey;
    vertical-align: middle;
}

.feedback-popover {
    background-color:rgba(58,58,58, 0.9);
    color: white;
    width: 150px;
    z-index: 1000;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
    left: 20px;
}

.feedback-popover > .arrow,
.feedback-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.feedback-popover > .arrow {
  border-width: 11px;
}
.feedback-popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.feedback-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color:rgba(58,58,58, 0.9);
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}

.feedback-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: rgba(58,58,58, 0.9);
  border-bottom-width: 0;
}

.gif-container {
    position: relative;
    text-align: left;
    max-width: 340px;
    margin: auto;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 0.8;
    top: 30px;
}
  
.ml-gif-header-1 {
    position: absolute;
    text-align:center;
    font-size: 35px;
    transform: translate(-50%, 0);
    bottom:-450px;
}

.ml-gif-header-2 {
    position: absolute;
    font-size: 21px;
    transform: translate(-50%, 0);
}

.ml-gif-header-3 {
    position: absolute;
    font-size: 18px;
    max-width: 100px;
    transform: translate(-50%, 0);
}

#mlgif-bottom-text-1 {
    left:-285px; 
    max-width: 50px;
} 

#mlgif-bottom-text-2 {
    left:-20px; 
    max-width: 500px;
} 

#mlgif-bottom-text-3 {
    left:395px; 
    max-width: 200px;
} 

#mlgif-label-text-1 {
    text-align: center;
    bottom:-170px; 
    left:-285px; 
    max-width: 160px;
} 

#mlgif-label-text-2 {
    bottom:-30px; 
    left:-20px; 
    max-width: 250px;
} 

#mlgif-semicircle-text-1 {
    bottom:-240px; 
    left:258px;
} 

#mlgif-semicircle-text-2 {
    bottom:-210px; 
    left:388px;
} 

#mlgif-semicircle-text-3 {
    bottom:-225px; 
    left:527px;
} 

#mlgif-semicircle-text-4  {
    bottom:-320px;
    left:500px;
    transform: translate(0, 0);
} 

  

/*
* Hamburger Menu styling based on Bootstrap 3.3.5's collapsible navbar
* https://bootstrapdocs.com/v3.3.5/docs/components/#navbar
*/
@media only screen and (max-width: 1275px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        margin-top: 1px;
        margin-bottom: 0px;
    }

    .navbar-nav {
        background-color: white;
        -moz-box-shadow: 0px 1px 8px 0px #999;
        -webkit-box-shadow: 0px 1px 8px 0px #999;
        box-shadow: 0px 1px 8px 0px #999;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin: 5px 0 5px 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a.navbar-button {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        border: none;
        display: block;
        top: 0px;
    }

    .navbar-lnk {
        margin-top: 0px;
        margin-left: 0px;
    }

    .gray-btn {
        top: 0px;
        border: none;
        width: 100%;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

    .container-fluid > .navbar-header {
        margin-left: 0px;
    }

    .navbar-nav > .active > a.navbar-button:hover {
        border: none;
    }

    .navbar-fixed-top .navbar-collapse {
        border: none;
        padding-right: 15px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
        overflow: hidden !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: relative;
        border: none;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        width: 100%;
    }

    #language-dropdown {
        margin-top: 0px;
        width: 100%
    }

    #language-dropdown > #language-button {
        left: -9px;
        padding-left: 19px;
    }

    .navbar-nav .open .dropdown-menu#nav-language-menu {
        margin-top: initial;
        left: -9px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
}
