/* Overriding defaults from Validate. */
.tool-ui {
    width: 1080px;
}
#svv-application-holder {
    height: 635px;
    width: 1050px;
}
#svv-panorama-holder {
    top: 100px;
}

#mission-title {
    width: 1050px;
    position: absolute;
    top: 35px;
    color: #525252;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

#mission-progress-bar-section {
    position: absolute;
    top: 60px;
    width: 730px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#mission-progress-bar {
    width: 690px;
    height: 5px;
}

#mission-progress-bar-complete {
    width: 10%;
    border-radius: 5px;
    background: var(--Brand-Pine-300, #76C9AB);
    z-index: 2;
    height: inherit;
    position: relative;
}

#mission-progress-bar-incomplete {
    border-radius: 5px;
    background: #E2E2E2;
    height: inherit;
    margin-top: -5px; /* Makes it so that the progress bars are overlapping */
    z-index: 1;
    position: relative;
}

#mission-progress-bar-text {
    color: var(--Brand-Asphalt-500, #2D2A3F);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    padding-bottom: 2px;
}

#label-visibility-control-button {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    display: inline-flex;
    height: 28px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 0px 6px;
    align-items: center;
    gap: 3px;
    background: #fff;
    border-radius: 6px;
    border: 1.5px solid #525252;
    font-family: Raleway;
    font-size: 9px;
    font-weight: 600;
}

.hide-label-button-icon {
    width: 13px;
    height: 13px;
}

#zoom-buttons-holder {
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 20px;
    right: 5px;
    bottom: 19px;
    border-radius: 8px;
    background-color: #000;
}

#zoom-buttons-holder .tooltip {
    width: 70px;
    font-size: 10px;
}

.zoom-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 8px;
    background-color: #000;
    border-style: none;
    padding: 1px 5px;
    outline: none;
}

.zoom-button svg {
    stroke: #fff;
    stroke-width: 2px;
    width: 10px;
    height: 10px;
}

.zoom-button svg:hover {
    stroke-width: 3px;
}

#zoom-in-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#zoom-button-divider {
    position: absolute;
    left: 5px;
    width: 10px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
}

#zoom-out-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#right-ui-holder {
    margin: 0;
    padding: 0px 12px;
    position: absolute;
    left: 730px;
    top: 100px; /* top from svv-panorama-holder. */
    width: 320px;
    height: 450px;
    color: rgb(127, 127, 127);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.right-ui-section {
    display: none; /* Initially hidden, sections shown when validation buttons are clicked. */
}

#main-validate-section {
    display: block;
}

#validate-submit-section {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Pushes the section to the bottom of the right-ui-holder. */
}

.right-ui-header {
    color: #2D2A3F;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

#validation-button-holder-small {
    display: flex;
    justify-content: space-between;
}

.new-validate-beta-button-small {
    display: flex;
    width: 86px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #666;

    color: #666;
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    background-color: white;
    outline: none; /* Removes focus outline that shows up when I press shift after clicking on a button. */
}

.new-validate-beta-button-small:disabled {
    cursor: not-allowed;
}

#new-validate-beta-yes-button:hover, #new-validate-beta-yes-button.chosen {
    background: #76C9AB;
    border-color: #76C9AB;
    color: white;
}

#new-validate-beta-no-button:hover, #new-validate-beta-no-button.chosen {
    background: #F29173;
    border-color: #F29173;
    color: white;
}

#new-validate-beta-unsure-button:hover, #new-validate-beta-unsure-button.chosen {
    background: #1A1A1A;
    border-color: #1A1A1A;
    color: white;
}

#sidewalk-ai-suggestions-block { margin-top: 15px; }

.sidewalk-ai-suggestions-header {
    color: #2D2A3F;
    font-family: "Open Sans";
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.sidewalk-ai-suggestions-list-holder {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.sidewalk-ai-suggested-tag {
    display: flex;
    width: fit-content;
    padding: 6px 8px;
    justify-content: center;
    align-items: flex-end;
    gap: 3px;
    border-radius: 100px;

    text-align: center;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sidewalk-ai-suggested-tag.to-add {
    border: 1px solid #5A9E85;
    color: #5A9E85;
}

.sidewalk-ai-suggested-tag.to-remove {
    border: 1px solid #EE724E;
    color: #EE724E;
}

#new-validate-beta-submit-button {
    background: #5A9E85;
    border-color: #5A9E85;
    color: white;
}
#new-validate-beta-submit-button:disabled {
    background: #A9C5B9;
    border-color: #A9C5B9;
}

#new-validate-beta-back-button:disabled {
    opacity: 0.5;
}

.validate-text-input {
    width: 295px;
    margin-top: 10px;
}

/* Bootstrap is getting loaded after this file hence overriding this. To avoid it, I am adding important but ideally the order of inclusion should be flipped. */
.validate-text-input input, .selectize-input {
    display: flex !important;
    width: 100% !important;
    height: 36px !important;
    padding: 8px 18px !important;
    align-items: center !important;
    gap: 4px !important;
    flex-shrink: 0 !important;
    border-radius: 6px 6px !important;
    border: 1.3px solid #ACADAD !important;
    background: white !important;
}

.selectize-input.focus.input-active.has-options {
    border-radius: 6px 6px 0 0;
}

.selectize-dropdown {
    border-radius: 0 0 6px 6px !important;
}

#current-tags-list {
    display: flex; /* display:none when there are no tags, display: flex when there are; updated in JS. */
    flex-wrap: wrap;
    /* align-items: flex-start; */
    row-gap: 5px;
    column-gap: 5px;
    margin-bottom: 10px;
}

.current-tag {
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #78C9AB;

    cursor: default;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.remove-tag-x {
    cursor: pointer;
    width: 9px;
    height: 9px;
    fill: white;
}


.face-outline { stroke: black; }
.facial-feature { fill: black; }

.severity-level .severity-icon svg {
    fill: white;
    width: 28px;
    height: 30px;
}

.selectize-dropdown-content {
    display: flex;
    width: 285px;
    height: fit-content;
    padding: 12px;
    align-items: center;
    align-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.selectize-dropdown .option {
    padding: 6px 8px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid #666;

    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    transition: all 0.3s;
}

/* Removing default styling for "active" options in dropdown. Would be left over after hover. */
.selectize-dropdown .option.active {
    background: inherit;
    color: inherit;
}

.selectize-dropdown .option:hover {
    background: #78C9AB;
    color: #FFF;
    border-color: #78C9AB;
}

/* We should add transition only when the cursor is on the context menu. */
/* Otherwise, it causes a delay when the context menu is closed and re-opened. */
#context-menu-holder:hover .severity-level .severity-icon svg {
    transition: fill 0.3s;
}

.severity-level:hover .severity-icon.severity-1 svg {
    fill: rgba(244, 219, 72, 0.55);
}
.severity-level:hover .severity-icon.severity-2 svg {
    fill: rgba(238, 157, 58, 0.55);
}
.severity-level:hover .severity-icon.severity-3 svg {
    fill: rgba(232, 95, 43, 0.55);
}

.severity-level.selected .severity-icon.severity-1 svg {
    fill: #f4db48;
}
.severity-level.selected .severity-icon.severity-2 svg {
    fill: #ee9d3a;
}
.severity-level.selected .severity-icon.severity-3 svg {
    fill: #e85f2b;
}

#severity-radio-holder .radio-inline input[type="radio"] {
    visibility: hidden;
}

.severity-level.radio-inline {
    padding: 0;
}

#severity-radio-holder {
    display: flex;
    align-items: center;
    font-size: 10px;
    text-align: center;
    gap: 20px;  /* This can be used to control the distance between the severity icons. */
}

#optional-comment-input {
    margin-top: 0px; /* Overrides .validate-text-input margin, since the textbox for agreeing looks different. */
}

#no-reason-options, #unsure-reason-options {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.validation-reason-button {
    display: flex;
    width: 295px;
    height: 36px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #666;
    background-color: white;

    color: #666;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

/* Matching style of 'No' and 'Unsure' button for now. */
#no-reason-options .validation-reason-button:hover, #no-reason-options .validation-reason-button.chosen {
    background: #F29173;
    border-color: #F29173;
    color: white;
}
#unsure-reason-options .validation-reason-button:hover, #unsure-reason-options .validation-reason-button.chosen {
    background: #1A1A1A;
    border-color: #1A1A1A;
    color: white;
}

.tooltip {
    font-size: 10px;
}

/* Overwriting jquery tooltip styling. */
.tooltip.in {
    opacity: 1;
}

#add-disagree-comment:hover, #add-disagree-comment.chosen {
    border-color: #F29173 !important;
}

/* Override mission complete location to cover the next mission text and progress bar. */
#modal-mission-complete-foreground {
    top: 36px;
}
