.travel-marker {
    fill: yellow;
    stroke: gray;
    stroke-width: 1px;
    stroke-opacity: 0.9;
    opacity: 1;
}

#svholder {
    margin-top: 10px;
    width:360px;
    height:340px;
    margin-bottom: 10px;
}

#eventsholder {
    width: 360px;
    height: 360px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    overflow: scroll;
    padding: 0px 10px;
    margin-top: 10px;
    max-height: 600px;
    min-height: 300px;
}

#eventsholder .event {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

#eventsholder .event .type {
    font-weight: bold;
}

#timeline {
    position: absolute;
    margin-left: 0px;
    width: 360px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    vertical-align: middle;
}

#timeline #timeline-handle {
    position: absolute;
    /*left: 0;*/
    margin-left: -7px;
    top: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
}

#timeline #timeline-active {
    position: absolute;
    width: 0px;
    height: 10px;
    background-color: #249dff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;

}
