#route-builder-map {
    width: 98%;
    height: 800px;
    margin-top: 15px;
    left: 1%;
}

#routebuilder-intro {
    position: absolute;
    display: flex;
    width: 520px;
    padding: 20px 40px;
    top: calc(4% + 85px); /* 2% + navbar height + map margin-top */
    left: calc(50% - 260px); /* 50% - width/2 */
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#routebuilder-intro-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}

#routebuilder-intro-content {
    color: #000;
}

#routebuilder-intro-instruction {
    color: #236EE0;
    font-size: 16px;
    font-weight: 800;
    padding-top: 16px;
}

#routebuilder-overlay2 {
    visibility: hidden; /* Show once the first street has been selected. */
    position: absolute;
    top: calc(2% + 85px); /* 2% + navbar height + map margin-top */
    right: 3%;
    display: flex;
    width: 320px;
    padding: 20px 40px;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    color: #000;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#routebuilder-overlay-instructions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#routebuilder-overlay-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
}

#routebuilder-route-length {
    display: flex;
    flex-direction: column;
}

#route-length-title {
    font-size: 16px;
}

#route-length-value {
    font-size: 36px;
    line-height: 44px; /* 122.222% */
}

#line-divider {
    width: 240px;
    height: 1px;
    background: #b6b6b6;
}

#route-editing-instructions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#route-editing-title {
    font-size: 16px;
}

.route-edit-subsection {
    display: flex;
    align-items: center;
    gap: 12px;
}

.route-edit-icon {
    width: 48px;
    height: 48px;
}

.route-edit-content {
    flex: 1 0 0;
}

#routebuilder-buttons {
    display: flex;
    gap: 12px;
}

.routebuilder-button {
    display: flex;
    height: 30px;
    padding: 8px 16px;
    align-items: center;
    border-radius: 6px;
}

#save-button {
    background: #236EE0;
    color: #FFF;
}

#cancel-button {
    background: #FFF;
    color: #2D2A3F;
}


#route-saved-modal-overlay {
    visibility: hidden; /* Show once the route has been saved. */
    height: 935px; /* navbar height + map height and margin + filler */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    z-index: 2;
}

#route-saved-modal {
    position: absolute;
    top: calc(4% + 85px); /* 2% + navbar height + map margin-top */
    left: calc(50% - 260px); /* 50% - width/2 */
    display: flex;
    width: 520px;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

    color: #000;
}

#route-saved-title-section {
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#route-saved-checkmark {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    fill: #00C354;
}

/* TODO remove this extra structure and just use margin? */
#route-saved-title-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

#route-saved-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
}

#edit-route {
    color: #236EE0;
    text-align: center;
    font-family: Roboto;
    text-decoration-line: underline;
}

#route-saved-body-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

#route-saved-body-1-title {
    align-self: stretch;
}

#route-saved-buttons {
    display: flex;
    gap: 12px;
}

#explore-button {
    background: #236EE0;
    color: #FFF;
}

#build-new-route-button {
    border: 1.5px solid #525252;
    background: #FFF;
    color: #2D2A3F;
}

#route-saved-body-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

#route-saved-body-2-title {
    align-self: stretch;
}

#share-route-section {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #F2F2F2;
}

#share-route-link {
    flex: 1 0 0;
    color: #5F5F5F;
    font-size: 12px;
}

#copy-link-button {
    height: 30px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #236EE0;
    color: #FFF;
    font-size: 12px;
}




#route-builder-overlay {
    position: absolute;
    top: 80px;
    right: 27px;
    background: #fff;
    margin-top: 20px;
    padding: 5px;
    width: 350px;
    border-radius: 3px;
    overflow: auto;
}

#street-distance {
    font: normal normal normal 13px/1.4em raleway, sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 4px 0 0 8px;
}

.route-builder-button {
    border-radius: 10px;
    border: 1px solid #2D2A3F;
    display: block;
    cursor: pointer;
    color: #2D2A3F;
    font: normal normal normal 13px/1.4em raleway, sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 4px 14px;
    margin: 5px 0 0 3px;
    background-color: #fff;
}

.route-builder-button[aria-disabled="true"] {
    background-color: #ddd;
}

.marker {
    background-position: center;
    width: 27px;
    height: 27px;
}

.marker-start {
    background-image: url(/assets/images/icons/start-point.png);
}

.marker-end {
    background-image: url(/assets/images/icons/end-point.png);
}

.marker-number {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    /* Possibly change font-weight to 600 (bold) and remove font-family if we keep icons this size, bc that looks cleaner. */
    font-family: Roboto, serif;
    font-weight: 900;
}
