#route-builder-map {
    width: 98%;
    height: 800px;
    margin-top: 15px;
    left: 1%;
}

#routebuilder-intro {
    position: absolute;
    display: flex;
    width: 520px;
    padding: 20px 40px;
    top: 120px;
    left: calc(50% - 260px); /* 50% - width/2 */
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#routebuilder-intro-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}

#routebuilder-intro-content {
    color: #000;
}

#routebuilder-intro-instruction {
    color: #236EE0;
    font-size: 16px;
    font-weight: 800;
    padding-top: 16px;
}

#route-builder-overlay {
    position: absolute;
    top: 80px;
    right: 27px;
    background: #fff;
    margin-top: 20px;
    padding: 5px;
    width: 350px;
    border-radius: 3px;
    overflow: auto;
}

#street-distance {
    font: normal normal normal 13px/1.4em raleway, sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 4px 0 0 8px;
}

.route-builder-button {
    border-radius: 10px;
    border: 1px solid #2D2A3F;
    display: block;
    cursor: pointer;
    color: #2D2A3F;
    font: normal normal normal 13px/1.4em raleway, sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 4px 14px;
    margin: 5px 0 0 3px;
    background-color: #fff;
}

.route-builder-button[aria-disabled="true"] {
    background-color: #ddd;
}

.marker {
    background-position: center;
    width: 27px;
    height: 27px;
}

.marker-start {
    background-image: url(/assets/images/icons/start-point.png);
}

.marker-end {
    background-image: url(/assets/images/icons/end-point.png);
}

.marker-number {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    /* Possibly change font-weight to 600 (bold) and remove font-family if we keep icons this size, bc that looks cleaner. */
    font-family: Roboto, serif;
    font-weight: 900;
}
