
svg {
    position: relative;
}

#map-holder {
    position: relative;
}

#map {
    height: 100%;
}

#map-label-legend {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    left: 15px;
    width: 220px;
    bottom: 30px;
    border: solid 1px #ccc;
}

#map-label-legend .table {
    margin-bottom: 0;
}

#map-label-legend table td {
    border-top: 0;
}


.c3 text {
    font-size: 9pt;
}

.c3-axis text {
    fill: #888;
}

.c3-axis line, .c3-axis path {
    stroke: #888;
}

.table-fixed thead {
    width: 98.5%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

/**
 * Allows bootstrap tables to have seven columns.
 */
.seven-cols .col-xs-1,
.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
}

.col-xxs-1 {
    width: 9%;
}

.col-neighborhood {
    width: 22%;
}

.col-date {
    width: 15%;
}


