
svg {
    position: relative;
}

#map-holder {
    position: relative;
}

#map {
    height: 100%;
}

#map-label-legend {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    left: 15px;
    width: 220px;
    bottom: 30px;
    border: solid 1px #ccc;
}

#map-label-legend .table {
    margin-bottom: 0;
}

#map-label-legend table td {
    border-top: 0;
}

.table-fixed thead {
    width: 98.5%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

/**
 * Allows bootstrap tables to have seven columns.
 */
.seven-cols .col-xs-1,
.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
}

.user-stats-holder {
    /*min-width: 800px;*/
    /*max-width: 1400px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}

.user-stats-holder img {
    height:70px;
    margin: auto; /* centers the image horizontally */
}

.user-stats-header {
    font-size: 30px;
    font-family: raleway-extrabold, sans-serif;
}

.user-stats-stat {
    font-size: 30px;
    font-family: raleway, 'Open Sans', 'Noto Sans', sans-serif
}


