
svg {
    position: relative;
}

#map-holder {
    position: relative;
}

#choropleth {
    height: 100%;
}

#map-label-legend {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    left: 15px;
    width: 250px;
    bottom: 30px;
    border: solid 1px #ccc;
}

#map-label-legend .table {
    margin-bottom: 0;
}

#map-label-legend table td {
    border-top: 0;
}

#profile-container {
    margin: 0px;
    margin-top: 15px;
}

#username {
    font-size: 40px;
    font-family: raleway-bold, sans-serif;
}

#org-container {
    display: flex;
}

#org-name {
    display: flex;
    font-size: 30px;
    font-family: raleway, sans-serif;
    margin-right: 15px;
}

#edit-org-dropdown {
    display: flex;
    align-items: center;
}

#edit-org-button {
    border-radius: 10px;
    border: 1px solid #2D2A3F;
    color: #2D2A3F;
    background-color: white;
    font: normal normal normal 14px/1.4em 'Raleway', sans-serif;
    text-align: center;
    padding: 5px 25px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

#edit-org-button:hover {
    background-color: #FCECBE;
    border: 1px solid #FCECBE;
    color: #2D2A3F;
    text-decoration: none;
    text-shadow: none;
}

#edit-org-button:focus {
    color: #2D2A3F;
    text-decoration: none;
    outline: none;
}

#edit-org-menu {
    cursor: pointer;
    z-index: 2000;
    top: 90%;
}

#org-container .popover {
    margin-top: -35px;
}

#org-container .popover > .arrow{
    margin-top: 24px;
}

.menu-info {
    padding: 3px 20px;
}

.table-fixed thead {
    width: 98.5%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

/**
 * Allows bootstrap tables to have seven columns.
 */
.seven-cols .col-xs-1,
.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
}

.user-stats-holder {
    /*min-width: 800px;*/
    /*max-width: 1400px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}

.user-stats-holder img {
    height:70px;
    margin: auto; /* centers the image horizontally */
}

.user-stats-header {
    font-size: 30px;
    font-family: raleway-extrabold, sans-serif;
}

.achievements-outer-grid {
    display: grid;
    grid-template-columns: 2fr 0.3fr 2fr;
    grid-gap: 5px;
}

.achievements-badge-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    visibility: hidden;
}

.achievements-badge-grid img {
    height: 100px;
}

.badge-not-yet-earned {
    opacity: 0.1;
}

.achievements-encouraging-statement {
    margin-bottom: 8px;
    color: #2d2a3f;
}

.user-stats-stat {
    font-size: 30px;
    font-family: raleway, 'Open Sans', 'Noto Sans', sans-serif
}

#mistakes-row {
    margin-top: 40px;
}

#mistake-carousels-holder {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 15px;
    text-align: center;
}

.mistakes-help-tooltip {
    margin-bottom: 4px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    width: 17px;
    height: 18px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

/* This is mostly undoing some of the default CSS From the Bootstrap carousel-caption class. */
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 0;
    color: black;
    text-shadow: none;
}

.validation-comment {
    text-align: left;
    height: 70px;
    overflow-y: auto;
}

.carousel-indicators {
    bottom: 85px;
}

.mistake-img {
    max-width: 100%;
}
