.gallery-expanded-view-close {
    left: 0px;
    top: 10%;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.gallery-expanded-view {
    display: flex;
    height: 90vh;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    width: 52vw;
    right: 3vw;
    font-family: 'raleway-regular', sans-serif;
    font-size: 18px;
    justify-self: end;
}

.label-timestamp, .pano-timestamp {
    color: #2d2a3f;
}

.label-timestamp {
    display: flex;
}

#gsv-info-button {
    width: 0.9vw;
    height: 0.9vw;
    margin-left: 5px;
    margin-top: 2px;
}

.expanded-view-severity-header,
.expanded-view-tag-header,
.expanded-view-description-header {
    font-weight: bold;
    color: #2d2a3f;
}

.expanded-view-description-body {
    color: #888787;
}

.expanded-view-description-body {
    overflow: auto;
}

.gallery-expanded-view-header {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    font-family: 'raleway-bold', sans-serif;
    font-size: 1.5vw;
    color: #2d2a3f;
}

.gallery-expanded-view-pano {
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.75%;
}

.actual-pano {
    border: 6px solid transparent;
    border-radius: 5px;
    background-color: transparent;
}

.gallery-expanded-view-pano-display {
    position: relative;
    z-index: 10;
    width: 90%;
    height: 100%;
}

.gallery-expanded-view-pano-paging {
    height: 30px;
    width: 50px;
    color: black;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.gallery-expanded-view-pano-paging:disabled {
    color: lightgray;
}

.gallery-expanded-view-info {
    display: flex;
    padding-bottom: 1%;
    height: 24%;
    /* Full width of modal minus 50px for prev arrow and 50px for next arrow, plus a few extra for the pano border. */
    width: calc(100% - 105px);
    flex-wrap: wrap;
    font-size: 0.85vw;
    overflow: hidden;
}

.gallery-expanded-view-info-timestamps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    font-size: .8vw;
    padding-bottom: 0.9%;
    padding-top: 0.1%;
}

.gallery-expanded-view-info-severity {
    width: 15%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.gallery-expanded-view-info-validation {
    width: 15%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 10px 0px 5px;
}

.gallery-expanded-view-info-tags {
    width: 70%;
    /* This ensures the height has to be a minimum of 5.5vw, which fits two rows of tags. */
    height: max(40%, 5.5vw);
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.gallery-expanded-view-info-description {
    width: 100%;
    /* Reduce the 45% by however much the tags container's height was adjusted. */
    height: calc(45% - (max(40%, 5.5vw) - 40%));
    display: flex;
    flex-direction: column;
}

.gallery-expanded-view-pano:hover .expanded-view-validation-button {
    opacity: 0.6;
}

.expanded-view-validation-button, .expanded-view-validation-button-selected {
    opacity: 0;
    font-size: 1.25vw;
    font-weight: bold;
    font-family: 'raleway-regular', sans-serif;
    background-color: white;
    border-style: none;
    color: #2d2a3f;
}

.gallery-expanded-view-pano:hover .expanded-view-validation-button-selected {
    opacity: 1;
    background-color: gray;
}

.expanded-view-top-holder {
    display: flex;
    align-content: space-between;
    margin-bottom: 5px;
    /* Full width of modal minus 50px for prev arrow and 50px for next arrow, plus a few extra for the pano border. */
    width: calc(100% - 105px);
}

.expanded-view-severity-circle {
    width: 1.5vw;
    height: 1.5vw;
    margin: 2px;
}

#expanded-view-current-severity {
    border: 2px solid black;
    padding: 0px;
    background-color: black;
    color:white;
}
