#gallery {
    display: flex;
    overflow: hidden;
}

#card-filter {
    padding: 0 5px 5px 5px;
    width: inherit;
}

.filter-section-holder {
   padding-bottom: 30px;
}

#labels-not-found {
    display: none;
}

.paging {
    display: inline-block;
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 0 2px;
}

.paging:disabled {
    border-width: 0.2px;
    opacity: 50%;
}

#horizontal-line {
    border-bottom: 1px solid gray;
}

#filter-header {
    margin-bottom: 15px;
}

.filter-subheader {
    margin-bottom: 6px;
}

/* Note that the side bar is out of the "flow" of the grid container b/c it is fixed when we aren't loading anything. */
.sidebar {
    padding-left: 10px;
    min-height: 100vh;
    height: 100%;
    width: 239px;
    grid-row: 1/2;
}

#labels-not-found-text {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.page-control {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 25%;
}

.gallery-footer {
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: center;
    color: #585c63;
    font-size: 12px;
    font-style: italic;
    line-height: 1.6em;
    font-family: raleway, sans-serif;
}

#footer-spacing {
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'main gallery-modal'
        'paging gallery-modal';
    grid-gap: 2px;
    margin-bottom: 10px;
    min-height: 70vh;
    padding: 0 10px 10px 10px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    margin-left: 239px; /* Offset to compensate for the space taken up by the sidebar. */
}

/* There is no specific intended function for hover/click on labels on the gallery page.
We should allow the pointer events to pass through and behave the same way as they do on the background. */
.label-icon-gallery, .icon-outline {
    pointer-events: none;
}

.face-outline {
    stroke: #2D2A3F;
}

.facial-feature {
    fill: #2D2A3F;
}
