#card-filter {
    padding: 5px;
}

#ribbon-menu-holder {
   padding-bottom: 30px;
}

#labels-not-found {
    display: none;
}

.paging {
    display: inline-block; 
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 0px 2px;
}

.paging:disabled {
    border-width: 0.2px;
    opacity: 50%;
}

#horizontal-line {
    border-bottom: 1px solid gray;
}

#filter-header {
    margin-bottom: 15px;
}

.filter-subheader {
    margin-bottom: 6px;
}

/* Note that the side bar is out of the "flow" of the grid container b/c it is fixed when we aren't loading anything. */
.sidebar {
    padding-left: 10px;
    padding-top: 40px;
    min-height: calc(100vh - 610px);
    width: 235px;
    grid-row: 1/2;
}

#labels-not-found-text {
    position: absolute; 
    width: 100%; 
    text-align: center;
    padding-top: 20px;
}

.page-control {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 25%;
}

#footer-spacing {
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'sidebar main gallery-modal'
        'sidebar paging gallery-modal';
    /* grid-template-columns: 0.5fr 3fr; --- We may not need this as the sidebar is now a fixed DOM element (as in it is out of the grid)*/
    grid-gap: 2px;
    padding: 10px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    margin-left: 235px; /* Offset to compensate for the space taken up by the sidebar. */
}

