.gallery-modal-close {
    left: 0px;
    top: 10%;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.gallery-modal {
    display: flex;
    height: 90vh;
    position: fixed;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    width: 50vw;
    right:2vw;
    font-family: 'raleway-regular', sans-serif;
    font-size: 18px;
}

.label-timestamp, .pano-timestamp {
    color: #2d2a3f;
}

.modal-severity-header, .modal-tag-header, .modal-temporary-header, .modal-description-header {
    font-weight: bold;
    color: #2d2a3f;
}

.modal-temporary-body, .modal-description-body {
    color: #888787;
}

.gallery-modal-header {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'raleway-bold', sans-serif;
    font-size: 1.5vw;
    color: #2d2a3f;
}

.gallery-modal-pano {
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5%;
}

.gallery-modal-pano-display {
    position: relative;
    z-index: 10;
    width: 90%;
    height: 100%;
}

.gallery-modal-pano-paging {
    height: 30px;
    width: 50px;
    color: black;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.gallery-modal-pano-paging:disabled {
    color: lightgray;
}

.gallery-modal-info {
    display: flex;
    height: 20%;
    width: calc(100% - 100px); /* Full width of modal minus 50px for prev arrow and 50px for next arrow. */
    flex-wrap: wrap;
    font-size: 1vw;
}

.gallery-modal-info-timestamps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .8vw;
    padding-bottom: 1%;
}

.gallery-modal-info-severity {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.gallery-modal-info-tags {
    width: 60%;
    height: 40%;
}

.gallery-modal-info-temporary {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.gallery-modal-info-description {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.gallery-modal-validation {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.gallery-modal-validation-button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    cursor: pointer;
}

.modal-top-holder {
    display: flex;
    align-content: space-between;
    width: calc(100% - 100px); /* Full width of modal minus 50px for prev arrow and 50px for next arrow. */
}

.modal-severity-circle {
    /* color: black;
    border: 1px solid black;
    padding: 1px 0px; /* Quite a hacky fix in order to center numbers correctly, reassess */
    /* width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    text-align: center;
    line-height: 100%;
    margin: 2px;
    background-color: white;
    font-size: 1vw; */
    width: 1.75vw;
    height: 1.75vw;
}

#modal-current-severity {
    border: 2px solid black;
    padding: 0px;
    background-color: black;
    color:white;
}
