.gallery-modal-close {
    left: 0px;
    top: 10%;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.gallery-modal {
    display: flex;
    height: 90vh;
    position: fixed;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    width: 50vw;
    right:2vw;
    font-family: 'raleway-regular', sans-serif;
    font-size: 18px;
}

.gallery-modal-header {
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5vw;
    font-weight: bold;
}

.gallery-modal-pano {
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.gallery-modal-pano-display {
    position: relative;
    z-index: 10;
    width: 90%;
    height: 100%;
}

.gallery-modal-pano-paging {
    height: 30px;
    width: 50px;
    color: black;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.gallery-modal-pano-paging:disabled {
    color: lightgray;
}

.gallery-modal-info {
    display: flex;
    height: 20%;
    width: 85%;
    flex-wrap: wrap;
    font-size: 1vw;
}

.gallery-modal-info-timestamps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .8vw;
    padding-bottom: 2%;
}

.gallery-modal-info-severity {
    width:40%;
    height:50%;
    display: flex;
    flex-direction: column;
}

.gallery-modal-info-tags {
    width: 60%;
    height: 50%;
}

.gallery-modal-info-temporary {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.gallery-modal-info-description {
    width: 60%;
    height: 50%;
}

.modal-top-holder {
    display: flex;
    align-content: space-between;
    width: 90%;
}

.modal-severity-circle {
    color: black;
    border: 1px solid black;
    padding: 1px 0px; /* Quite a hacky fix in order to center numbers correctly, reassess */
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    text-align: center;
    line-height: 100%;
    margin: 2px;
    background-color: white;
    font-size: 1vw;
}
#modal-current-severity {
    border: 2px solid black;
    padding: 0px;
    background-color: black;
    color:white;
}
