.gallery-tag {
    display: inline-block;
    padding: 0px 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px 2px;
    text-align: left;
    color: black;
    width: fit-content;
    white-space: nowrap;
}

.thumbnail-tag {
    cursor: default;
}

.additional-count {
    margin: 3px -2px;
    border-style: none;
    font-weight: bold;
}

.gallery-tag:disabled {
    opacity: 50%;
}

.gallery-severity {
    display: inline-block;
    padding: 0px 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 2px 2px;
    background-color: white;
}

.gallery-severity:disabled {
    opacity: 50%;
}

#tags-header {
    display: none;
}

#label-select:disabled {
    opacity: 50%;
    background-color: white;
}
