<?xml version="1.0" encoding="UTF-8" ?>
<!--
   Copyright (C) from 2022 The Play Framework Contributors <https://github.com/playframework>, 2011-2021 Lightbend Inc. <https://www.lightbend.com>
   Modified by Mikey Saugstad, saugstad@cs.washington.edu, Jun 2025.
-->

<!DOCTYPE configuration>
<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>

    <timestamp key="bySecond" datePattern="yyyy-MMM-dd-HH:mm:ss"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/application-${SIDEWALK_CITY_ID}.log</file>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.home}/logs/application-${SIDEWALK_CITY_ID}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} - %-5level - %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>false</neverBlock>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %highlight(%-5level) %logger{15} - %message%n%xException{5}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold> <!-- Don't discard messages. -->
        <neverBlock>false</neverBlock> <!-- Block when queue is full. -->
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <!-- Logging for database connection and configuration. -->
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
        <appender-ref ref="ASYNCFILE"/>
    </root>

</configuration>
