@main("Listing LineStrings") {
    <style>
        body { margin:0; padding:0; }
        .container { margin: 0; padding: 0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <div id="map"></div>

    <script src='@routes.Assets.at("bower_components/mapbox.js/mapbox.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/wkx.js")' type="text/javascript"></script>
    <link rel="stylesheet" href='@routes.Assets.at("bower_components/mapbox.js/mapbox.css")'>

    <script src='@routes.Assets.at("javascripts/geojson_example1.js")' type="text/javascript"></script>
}
