@(title: String, user: Option[models.User] = None)

@main(title) {
    @navbar(user)
    <header class="jumbotron subhead" id="home-header">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--</ol>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div id="map"></div>
                    <div id="map-chart"></div>
                </div>
                <div class="item">
                    <video style="height: 100%" id="audit-video" autoplay loop>
                        <source src='@routes.Assets.at("videos/SVLabelDemo.mp4")' type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Project Sidewalk</h2>
                <h4>Help make sidewalks more accessible for everyone</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    We need your help to identify sidewalk accessibility problems that may make
                    navigation more difficult for people with mobility impairments.
                    Walk through streets in Google Street View to locate and identify the accessibility problems!
                </p>
                <p>
                    <a href='@routes.ApplicationController.about'>Learn more about the project!</a>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <strong>256</strong> people have helped us inspect accessibility of cities.
                    A total of <strong>32km</strong> sidewalks got surveyed!
                </p>
                <p>
                    <a href='@routes.TaskController.audit' class="btn btn-primary">Participate!</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/index.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/Util/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/Util/UtilitiesColor.js")'></script>
    <link href='@routes.Assets.at("stylesheets/index.css")' rel="stylesheet"/>
}
