@(title: String, user: Option[models.User] = None)

@main(title) {
    @navbar(user)
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="map"></div>
            </div>
        </div>
        <div class="row"><div class="spacer10"></div></div>
        <div class="row">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Total Distance Audited</th>
                </tr>
                <tr>
                    <td id="td-total-distance-audited"></td>
                </tr>
            </table>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Attribute Type</th>
                    <th>Curb Ramps</th>
                    <th>Missing Curb Ramps</th>
                    <th>Obstacles</th>
                    <th>Surface Problems</th>
                </tr>
                <tr>
                    <th>Number of Labels</th>
                    <td id="td-number-of-curb-ramps"></td>
                    <td id="td-number-of-missing-curb-ramps"></td>
                    <td id="td-number-of-obstacles"></td>
                    <td id="td-number-of-surface-problems"></td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/userProfile.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/Util/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/Util/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min.js")'></script>
    <link href='@routes.Assets.at("stylesheets/userProfile.css")' rel="stylesheet"/>
}