#upper-menu-holder {
    position: absolute;
    top: 0px;
    width: 730px;
    height: 70px;
    /* background: rgb(185, 185, 185); */
}

#upper-menu-title-bar {
    position: absolute;
    top: 33px;
    font-size: 25px;
}
