#upper-menu-holder {
    position: absolute;
    top: 0px;
    width: 730px;
    height: 75px;
}

#upper-menu-title-bar {
    position: absolute;
    top: 33px;
    font-size: 25px;
}

.upper-menu-button-holder {
    background: transparent;
    position: absolute;
    top: 27px;
}

#label-visibility-control-holder {
    left: 524px;
    width: 65px;
}

#zoom-control-holder {
    left: 595px;
    width: 185px;
}

.button.upper-menu-button {
    color: rgba(0,0,0,1);
    font-size: 7px;
    height: 44px;
    width: 65px;
    padding-bottom: 10px; /* Not sure why we needed this, but buttons were moving around vertically otherwise.  */
}

.button.upper-menu-button:focus {
    outline: none;
}

.button.zoom-control-button {
    margin-right: 2px;
}

.upper-menu-button-icon {
    height: 18px;
    width: 18px;
}
