#example-image-holder {
    height: 170px;
}

.example-image {
    height: 83px;
    width: 95px;
    display: inline-block;
    margin-bottom: 2px;
}

#example-image-popup-holder {
    position: relative;
    width: 215px;
    padding-bottom: 3px;
    background: black;
    visibility: hidden;
    z-index: 1;
}

#example-image-popup-description {
    color: white;
    text-align: center;
    font-size: 11px;
    margin: 0px 5px 0px 5px;
}

#example-image-popup {
    width: 205px;
    height: 175px;
    margin-left: 5px;
}

#example-image-popup-pointer {
    position:absolute;
    left: 215px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}

#example-image-popup-title {
    color: white;
    text-align: center;
}

#status-holder {
    border: 3px dotted transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 735px;
    top: 31px;
    width: 200px;
    color: rgb(127, 127, 127);
}

.status-box {
    border-bottom: 1px dotted #ccc;
    margin: 3px 0 15px 0;
    padding: 0 0 10px 0;
    text-align: left;
}

.status-box a {
    color: rgba(128, 128, 128, 1);
    text-decoration: underline;
}

.status-box h1 {
    font-size: 10pt;
    margin: 0 0 4px 0;
}

.status-box h2 {
    font-size: 9pt;
    font-weight: normal;
    margin: 1px 0 5px 1px;
}

.status-column-half {
    white-space: nowrap;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 5px 0;
    width: 50%;
}

.status-icon {
    width: 25px;
}
