#validation-button-holder {
    position: absolute;
    left: 0px;
    top: 530px;
    height: 90px;
    width: 730px;
}

/* Put buttons here */
.validation-button {
    height: 70px;
    background-color: white;
    margin-right: 2px;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgrey;
}

#validation-agree-button {
    width: 243px;
}

#validation-disagree-button {
    width: 243px;
}

#validation-not-sure-button {
    width: 232px;
    margin-right: 0px;
}

.validate {
    outline: none;
    border: none;
    background-color: lightgrey;
}

.validation-status-icon {
    height: 20px;
    margin-right: 2px;
}

.validation-button:active {
    outline: none;
    border: none;
    background-color: lightgrey;
}

.validation-button:focus {
    outline: none;
}

.validation-button:hover {
    background-color: lightgrey;
}