#svv-panorama-container-holder {
    position: absolute;
    top: 75px;
    width: 730px;
    height: 525px;
}

#svv-panorama-holder-small {
    display: inline-block;
    width: 240px;
    height: 175px;
}

.small-panorama {
    height: 140px;
    width: 240px;
    display: inline-block;
}

.svv-small-panorama-date-holder {
    position: absolute;
    bottom: 20px;
    left: 8px;
    z-index: 2;
    font-family: sans-serif;
    font-size: 12px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    color: white;
}
