#svv-panorama-container-holder {
    position: absolute;
    top: 75px;
    width: 730px;
    height: 550px;
}

#svv-panorama-holder-small {
    display: inline-block;
    width: 240px;
    height: 175px;
}

.small-panorama {
    height: 140px;
    width: 240px;
    display: inline-block;
}
