#mission-title {
    width: 1050px;
    position: absolute;
    top: 35px;
    color: #525252;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

#mission-progress-bar-section {
    position: absolute;
    top: 60px;
    width: 730px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#mission-progress-bar {
    width: 690px;
    height: 5px;
}

#mission-progress-bar-complete {
    width: 10%;
    border-radius: 5px;
    background: var(--Brand-Pine-300, #76C9AB);
    z-index: 2;
    height: inherit;
    position: relative;
}

#mission-progress-bar-incomplete {
    border-radius: 5px;
    background: #E2E2E2;
    height: inherit;
    margin-top: -5px; /* Makes it so that the progress bars are overlapping */
    z-index: 1;
    position: relative;
}

#mission-progress-bar-text {
    color: var(--Brand-Asphalt-500, #2D2A3F);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    padding-bottom: 2px;
}

#admin-info-section {
    display: none;
    position: absolute;
    top: 55px;
    left: 740px;
}

#admin-info-content h1 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#admin-info-content h2 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
}

#admin-info-content p {
    font-size: 12px;
    margin-bottom: 0;
}
