/* Container that holds the panorama. */
#svv-panorama-holder {
    position: absolute;
    top: 75px;
    width: 730px;
    height: 450px;
}

#svv-panorama {
    left: 0px;
    top: 0px;
    height: 440px;
    width: 720px;
}

#svv-panorama-date-holder {
    display: flex;
    justify-content: flex-start;
    height: 29px;
    position: absolute;
    bottom: 0px;
    left: 69px;
    z-index: 2;
    font-family: sans-serif;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    color: white;
}

#svv-panorama-date {
    padding: 5px;
}

#gsv-info-button {
    margin-left: 4px;
    margin-top: 7px;
    height: 16px;
}

/* Black outline around GSV panorama. */
#svv-panorama-outline {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 450px;
    width: 730px;
}

#view-control-layer {
    position: absolute;
    width: 720px;
    height: 440px;
    left: 0;
    top: 0;
    overflow: hidden;
}

.button.label-visibility-button-on-pano {
    position: absolute;
    visibility: hidden;
    color: rgba(0,0,0,1);
    z-index: 2;
    font-size: 9px;
    height: 22px;
    width: auto;
}

#label-description-box {
    display: block;
    visibility: hidden;
    min-width: 165px;
    max-width: 260px;
    position: absolute;
    color: white;
    font-family: "Open sans";
    padding: 3px 10px;
    border-radius: 5px;
    border: white solid 2px;
    font-size: 12px;
    z-index: 1;
}

.label-description-box-line-1 {
    display: flex;
    align-items: center;
    align-content: center;
}

.severity-image {
    height: 12px;
    width: 12px;
    display: flex;
    margin-left: 5px;
}

.severity-image svg {
    fill: transparent;
}

.face-outline { stroke: white; }
.facial-feature { fill: white; }
