.button.zoom-control-button {
    color: rgba(0,0,0,1);
    font-size: 8px;
    height: 36px;
    width: 65px;
    margin-right: 2px;
}

.button.zoom-control-button:focus {
    outline: none;
}

.zoom-button-icon {
    height: 18px;
    width: 18px;
}

#zoom-control-holder {
    background: transparent;
    position: absolute;
    left: 595px;
    top: 30px;
    height: 55px;
    width: 185px;
}
