/* Container that holds the panorama. */
#svv-panorama-holder {
    position: absolute;
    top: 100px;
    width: 730px;
    height: 450px;
}

#svv-panorama {
    left: 0px;
    top: 0px;
    height: 440px;
    width: 720px;
}

/* Black outline around panorama. */
#svv-panorama-outline {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    /* Making the width/height of the outline slightly smaller bc there are gaps for some reason. */
    height: 449px;
    width: 729px;
}

#view-control-layer {
    position: absolute;
    width: 720px;
    height: 440px;
    left: 0;
    top: 0;
    overflow: hidden;
    cursor: url(/assets/images/icons/openhand.cur) 4 4, move;
    z-index: 2;

    /* http://stackoverflow.com/questions/8942805/chrome-bug-cursor-changes-on-mouse-down-move */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.speed-limit-sign {
    display: none;
    width: 60px;
    height: 70px;
    padding: 3px;
    margin-top: -5px;
    margin-left: -4px;
    margin-right: -4px;
    top: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    transform: scale(0.75);
    background: rgba(255, 255, 255, 0.75);
}

.speed-limit-sign-left {
    left: 0;
}

.speed-limit-sign[data-design-style="non-us-canada"] {
    width: 75px;
    height: 75px;
    padding: 0px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: -10px;
    border-radius: 100%;
    transform: scale(0.6);
}

.speed-limit-holder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid black;
}

.speed-limit-sign[data-design-style="non-us-canada"] .speed-limit-holder {
    border-radius: 100%;
    border: 7px solid #f7000096;
}

.speed-limit-text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#speed-limit {
    font-size: 30px;
    display: block;
    margin-bottom: -7px;
}

#zoom-buttons-holder {
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 20px;
    right: 5px;
    bottom: 19px;
    border-radius: 8px;
    background-color: #000;
}

#zoom-buttons-holder .tooltip {
    width: 70px;
    font-size: 10px;
}

.zoom-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 8px;
    background-color: #000;
    border-style: none;
    padding: 1px 5px;
    outline: none;
}

.zoom-button svg {
    stroke: #fff;
    stroke-width: 2px;
    width: 10px;
    height: 10px;
}

.zoom-button svg:hover {
    stroke-width: 3px;
}

#zoom-in-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#zoom-button-divider {
    position: absolute;
    left: 5px;
    width: 10px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
}

#zoom-out-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#imagery-source-logo-holder {
    display: flex;
    height: 29px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 4px 0 6px 10px;
}

#svv-panorama-date-holder {
    display: flex;
    justify-content: flex-start;
    height: 29px;
    position: absolute;
    bottom: 0px;
    left: 69px;
    z-index: 2;
    font-family: sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    color: white;
}

#svv-panorama-date {
    padding: 5px;
}

#gsv-info-button {
    margin-left: 4px;
    margin-top: 7px;
    height: 16px;
}

.button-on-pano {
    position: absolute;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 8px 12px;
    gap: 8px;
    background: #fff;
    border-radius: 6px;
    border: 1.5px solid #525252;
    color: #2D2A3F;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 600;
    outline: none;
}

#label-visibility-control-button {
    top: 5px;
    right: 5px;
}

.hide-label-button-icon {
    width: 14px;
    height: 14px;
}

.button.label-visibility-button-on-label {
    position: absolute;
    visibility: hidden;
    color: rgba(0,0,0,1);
    z-index: 2;
    font-size: 9px;
    height: 22px;
    width: auto;
}

#label-description-box {
    display: block;
    visibility: hidden;
    min-width: 165px;
    max-width: 260px;
    position: absolute;
    color: white;
    font-family: "Open sans";
    padding: 3px 10px;
    border-radius: 5px;
    border: white solid 2px;
    font-size: 12px;
    z-index: 1;
}

.label-description-box-line-1 {
    display: flex;
    align-items: center;
    align-content: center;
}

.severity-image {
    height: 12px;
    width: 12px;
    display: flex;
    margin-left: 5px;
}

.severity-image svg {
    fill: transparent;
}

.face-outline { stroke: white; }
.facial-feature { fill: white; }
