#validation-menu-holder {
    margin: 0;
    padding: 0px 12px;
    position: absolute;
    left: 730px;
    top: 100px; /* top from svv-panorama-holder. */
    width: 320px;
    height: 450px;
    color: rgb(127, 127, 127);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.validate-disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}

.validation-menu-section {
    display: none; /* Initially hidden, sections shown when validation buttons are clicked. */
}

#main-validate-section {
    display: block;
}

#validate-submit-section {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Pushes the section to the bottom of the validation-menu-holder. */
}

.validation-menu-section-header {
    color: #2D2A3F;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

#validation-button-holder {
    display: flex;
    justify-content: space-between;
}

.validate-page-button {
    display: flex;
    width: 86px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #2D2A3F;

    color: #2D2A3F;
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    background-color: white;
    outline: none; /* Removes focus outline that shows up when I press shift after clicking on a button. */
}

.validate-page-button:disabled {
    cursor: not-allowed;
}

/*#validate-yes-button:hover, #validate-yes-button.chosen {*/
#validate-yes-button.chosen {
    background: #76C9AB;
}

#validate-no-button.chosen {
    background: #F29173;
}

#validate-unsure-button.chosen {
    background: #1A1A1A;
    color: white;
}

/* Only show hover states on non-touch devices. Same CSS as for chosen state. */
@media (hover: hover) {
    #validate-yes-button:hover {
        background: #76C9AB;
    }
    #validate-no-button:hover {
        background: #F29173;
    }
    #validate-unsure-button:hover {
        background: #1A1A1A;
        color: white;
    }
}

#sidewalk-ai-suggestions-block {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidewalk-ai-suggestions-header {
    color: #2D2A3F;
    font-family: "Open Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
}

.ai-icon {
    width: 16px;
    height: 16px;
}

.sidewalk-ai-suggestions-list-holder {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.sidewalk-ai-suggested-tag {
    display: flex;
    width: fit-content;
    padding: 6px 8px;
    justify-content: center;
    align-items: flex-end;
    gap: 3px;
    border-radius: 100px;

    cursor: pointer;

    text-align: center;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    transition: all 0.3s;
}

.sidewalk-ai-suggested-tag.to-add:hover {
    background: #78c9ab36;
}

.sidewalk-ai-suggested-tag.to-remove:hover {
    background: #ee714e27;
}

.sidewalk-ai-suggested-tag.to-add {
    border: 1px solid #5A9E85;
    color: #5A9E85;
}

.sidewalk-ai-suggested-tag.to-remove {
    border: 1px solid #EE724E;
    color: #EE724E;
}

#validate-submit-button {
    background: #5A9E85;
    border-color: #5A9E85;
    color: white;
}
#validate-submit-button:disabled {
    background: #A9C5B9;
    border-color: #A9C5B9;
}

#validate-undo-button:disabled {
    opacity: 0.5;
}

.validate-text-input {
    width: 295px;
    margin-top: 10px;
}

/* Bootstrap is getting loaded after this file hence overriding this. To avoid it, I am adding important but ideally the order of inclusion should be flipped. */
.validate-text-input input, .selectize-input {
    display: flex !important;
    width: 100% !important;
    height: 36px !important;
    padding: 8px 18px !important;
    align-items: center !important;
    gap: 4px !important;
    flex-shrink: 0 !important;
    border-radius: 6px 6px !important;
    border: 1.3px solid #ACADAD !important;
    background: white !important;
}

.selectize-input.focus.input-active.has-options {
    border-radius: 6px 6px 0 0;
}

.selectize-dropdown {
    border-radius: 0 0 6px 6px !important;
}

#current-tags-list {
    display: flex; /* display:none when there are no tags, display: flex when there are; updated in JS. */
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    margin-bottom: 10px;
}

.current-tag {
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #78C9AB;

    cursor: default;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.remove-tag-x {
    cursor: pointer;
    width: 9px;
    height: 9px;
    fill: white;
}

.face-outline { stroke: black; }
.facial-feature { fill: black; }

.severity-level .severity-icon svg {
    fill: white;
    width: 28px;
    height: 30px;
}

.selectize-dropdown-content {
    display: flex;
    width: 285px;
    height: fit-content;
    padding: 12px;
    align-items: center;
    align-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.selectize-dropdown .option {
    padding: 6px 8px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid #666;

    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    transition: all 0.3s;
}

/* Removing default styling for "active" options in dropdown. Would be left over after hover. */
.selectize-dropdown .option.active {
    background: inherit;
    color: inherit;
}

.selectize-dropdown .option:hover {
    background: #78C9AB;
    color: #FFF;
    border-color: #78C9AB;
}

#severity-radio-holder {
    display: flex;
    align-items: center;
    font-size: 10px;
    text-align: center;
    gap: 20px;  /* This can be used to control the distance between the severity icons. */
}

#severity-radio-holder .radio-inline input[type="radio"] {
    visibility: hidden;
}

.severity-level .severity-icon svg {
    transition: fill 0.3s;
}

.severity-level:hover .severity-icon.severity-1 svg {
    fill: rgba(244, 219, 72, 0.55);
}
.severity-level:hover .severity-icon.severity-2 svg {
    fill: rgba(238, 157, 58, 0.55);
}
.severity-level:hover .severity-icon.severity-3 svg {
    fill: rgba(232, 95, 43, 0.55);
}

.severity-level.selected .severity-icon.severity-1 svg {
    fill: #f4db48;
}
.severity-level.selected .severity-icon.severity-2 svg {
    fill: #ee9d3a;
}
.severity-level.selected .severity-icon.severity-3 svg {
    fill: #e85f2b;
}

.severity-level.radio-inline {
    padding: 0;
}

#optional-comment-input {
    margin-top: 0px; /* Overrides .validate-text-input margin, since the textbox for agreeing looks different. */
}

#no-reason-options, #unsure-reason-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.validation-reason-button {
    display: flex;
    width: 295px;
    height: 36px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #666;
    background-color: white;

    color: #666;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

/* Matching style of 'No' and 'Unsure' button for now. */
#no-reason-options .validation-reason-button.chosen {
    background: #F29173;
    border-color: #F29173;
    color: white;
}
#unsure-reason-options .validation-reason-button.chosen {
    background: #1A1A1A;
    border-color: #1A1A1A;
    color: white;
}

#add-disagree-comment.chosen {
    border-color: #F29173 !important;
}

/* Only show hover states on non-touch devices. Same CSS as for chosen state. */
@media (hover: hover) {
    #no-reason-options .validation-reason-button:hover {
        background: #F29173;
        border-color: #F29173;
        color: white;
    }
    #unsure-reason-options .validation-reason-button:hover {
        background: #1A1A1A;
        border-color: #1A1A1A;
        color: white;
    }
    #add-disagree-comment:hover {
        border-color: #F29173 !important;
    }
}
