/* Container that holds the panorama. */
#svv-panorama {
    left: 0px;
    top: 0px;
}

#svv-panorama-holder {
    position: absolute;
    top: 75px;
    width: 730px;
    height: 450px;
}

.single-panorama {
    height: 440px;
    width: 720px;
}

.svv-panorama-date-holder {
    position: absolute;
    bottom: 3px;
    left: 75px;
    z-index: 1;
    font-family: sans-serif;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    color: white;
}

/* Black outline around GSV panorama. */
#svv-panorama-outline {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 450px;
    width: 730px;
}

#viewControlLayer {
    position: absolute;
    width: 720px;
    height: 440px;
    left: 0;
    top: 0;
    overflow: hidden;
}

.button.label-visibility-button-on-pano {
    position: absolute;
    visibility: hidden; 
    color: rgba(0,0,0,1);
    z-index: 2;
    font-size: 9px;
    height: 22px;
    width: 65px;	
}

#label-description-box {
    display: block;
    visibility: hidden;
    max-width: 260px;
    position: absolute;
    color: white;
    font-family: "Open sans";
    padding: 3px 10px;
    border-radius: 5px;
    border: white solid 2px;
    font-size: 12px;
    word-break: break-all;
    z-index: 1;
}

/*
 * This code below removes the footers for the Google StreetView, but in doing so, we breach the
 * terms of service.
 *
 * Attribution.  Customer will display all attribution that (i) Google provides through the Services
 * (including branding, logos, and copyright and trademark notices); or (ii) is specified in the
 * Maps Service Specific Terms. Customer will not modify, obscure, or delete such attribution.
 */

/*
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
*/

