#left-column-control-pane {
    position: relative;
    left: -60px;
    top: 230px;
}

#left-column-button-holder .button {
    text-align: center;
    width: 60px;
    height: 80px;
    font-size: 8pt;
    border: 2px #ccc solid;
    padding: 12px 1px 0 1px;
    line-height: 1.1;
    overflow-wrap: break-word;
}

#left-column-button-holder img {
    width: 30px;
}
