#svv-application-holder {
    background: rgba(255,255,255,1);
    margin: 0 auto;
    position: relative;
    height: 655px;
    width: 960px;
}

.tool-ui {
    width: 1170px; /* Used to override bootstrap .container media queries. We want to keep a consistent width. */
}

text {
    visibility: hidden;
}

.highlight-100 {
    background: rgba(255, 255, 0, 1) !important;
}

.highlight-50 {
    background: rgba(255, 255, 0, 0.5) !important;
}

.button {
    background: -moz-linear-gradient(center top , #fff, #eee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgba(96,96,96,1);
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    width: 200px;

    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

/* Pseudo-classes
* http://www.w3schools.com/css/css_pseudo_classes.asp */
.button:hover {
    background: -moz-linear-gradient(center top , #ccc, #bbb);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
    color: #333;
}

b { font-weight: bold; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.underline { text-decoration: underline; }

.inline {
    float: left;
}

.InlineBlock {
    display: inline-block;
}

input[type="radio"] {
    height: 15px;
    width: 15px;
}

/* http://stackoverflow.com/questions/8942805/chrome-bug-cursor-changes-on-mouse-down-move */
#view-control-layer {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

/* MINIMAP SECTION */
#minimap {
    position: absolute;
    z-index: 2;
    height: 140px;
    width: 140px;
    right: 5px;
    bottom: 19px;
    border-radius: 5px;
}

/* Prevents black or blue borders from appearing around minimap when clicking on it. */
/* Ref: https://stackoverflow.com/questions/66669173/google-maps-js-api-shows-blue-focus-border */
#minimap div {
    border: none !important;
    outline: none;
}

/* Shrinking size of minimap Google logo. */
#minimap .gm-style a div, #minimap .gm-style a div img {
    width: 33px !important;
    height: 13px !important;
}

/* Shrinking size of minimap bug report icon. */
#minimap .gm-style-cc + div > div > a > img {
    height: 9px !important;
}

/* Shrinking size of minimap Map Data / terms / report buttons. */
#minimap .gm-style-cc {
    height: 10px !important;
    line-height: 10px !important;
}
#minimap .gm-style-cc a, #minimap .gm-style-cc span, #minimap .gm-style-cc button {
    font-size: 6px !important;
}

/* Prevent dragging peg man to change pano. */
#minimap > div > div.gm-style > div > div > div > div > div:has(img) {
    pointer-events: none;
}
