#svv-application-holder {
    background: rgba(255,255,255,1);
    margin: 0 auto;
    position: relative;
    height: 673px;
    width: 960px;
}

text {
    visibility: hidden;
}

.highlight-100 {
    background: rgba(255, 255, 0, 1) !important;
}

.highlight-50 {
    background: rgba(255, 255, 0, 0.5) !important;
}

.button {
    background: -moz-linear-gradient(center top , #fff, #eee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgba(96,96,96,1);
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    width: 200px;

    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

/* Pseudo-classes
* http://www.w3schools.com/css/css_pseudo_classes.asp */
.button:hover {
    background: -moz-linear-gradient(center top , #ccc, #bbb);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
    color: #333;
}

b { font-weight: bold; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.underline { text-decoration: underline; }

.inline {
    float: left;
}

.InlineBlock {
    display: inline-block;
}

input[type="radio"] {
    height: 15px;
    width: 15px;
}

/* http://stackoverflow.com/questions/8942805/chrome-bug-cursor-changes-on-mouse-down-move */
#view-control-layer {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
