/* Overriding default */
.tool-ui {
    width: 1080px;
}
#svv-application-holder {
    /*background: rgba(255,255,255,1);*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    height: 590px;
    /*height: 655px;*/
    width: 1050px;
    /*width: 960px;*/
}
#svv-panorama-holder {
    /*position: absolute;*/
    top: 85px; /* 75px; */
    /*width: 730px;*/
    /*width: 1100px;*/
    /*height: 450px;*/
}

#mission-title {
    width: 1050px;
    /*height: 75px;*/

    position: absolute;
    top: 25px;

    color: #525252;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

#mission-progress-bar-section {
    position: absolute;
    top: 50px;
    width: 730px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#mission-progress-bar {
    width: 690px;
    height: 5px;
}

#mission-progress-bar-complete {
    width: 10%;
    border-radius: 5px;
    background: var(--Brand-Pine-300, #76C9AB);
    z-index: 2;
    height: inherit;
    position: relative;
}

#mission-progress-bar-incomplete {
    border-radius: 5px;
    background: #E2E2E2;
    height: inherit;
    margin-top: -5px; /* Makes it so that the progress bars are overlapping */
    z-index: 1;
    position: relative;
}

#mission-progress-bar-text {
    color: var(--Brand-Asphalt-500, #2D2A3F);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    padding-bottom: 2px;
}

#right-ui-holder {
    border: 3px dotted transparent;
    margin: 0;
    padding: 0px 10px;
    position: absolute;
    left: 730px;
    top: 80px; /* top from svv-panorama-holder minus 5 for the border */
    width: 320px;
    height: 450px;
    color: rgb(127, 127, 127);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-ui-section {
    display: none; /* Initially hidden, sections shown when validation buttons are clicked. */
}

.validate-submit-section {
    display: flex;
    justify-content: space-between;
}

.right-ui-header {
    color: #2D2A3F;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 7px;
}

#validation-button-holder-small {
    display: flex;
    justify-content: space-between;
}

.valerdate-button-small {
    display: flex;
    width: 86px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #666;

    color: #666;
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    background-color: white;
    outline: none; /* Removes focus outline that shows up when I press shift after clicking on a button. */
}

.valerdate-button-small:disabled {
    cursor: not-allowed;
}

#valerdation-yes-button:hover, #valerdation-yes-button.chosen {
    background: #76C9AB;
    border-color: #76C9AB;
    color: white;
}

#valerdation-no-button:hover, #valerdation-no-button.chosen {
    background: #F29173;
    border-color: #F29173;
    color: white;
}

#valerdation-unsure-button:hover, #valerdation-unsure-button.chosen {
    background: #1A1A1A;
    border-color: #1A1A1A;
    color: white;
}

#sidewalk-ai-suggestions-block { margin-top: 15px; }

.sidewalk-ai-suggestions-header {
    color: #2D2A3F;
    font-family: "Open Sans";
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.sidewalk-ai-suggestions-list-holder {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.sidewalk-ai-suggested-tag {
    display: flex;
    width: fit-content;
    padding: 6px 8px;
    justify-content: center;
    align-items: flex-end;
    gap: 3px;
    border-radius: 100px;

    text-align: center;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sidewalk-ai-suggested-tag.to-add {
    border: 1px solid #5A9E85;
    color: #5A9E85;
}

.sidewalk-ai-suggested-tag.to-remove {
    border: 1px solid #EE724E;
    color: #EE724E;
}

#valerdate-submit-button {
    background: #5A9E85;
    border-color: #5A9E85;
    color: white;
}
#valerdate-submit-button:disabled {
    background: #A9C5B9;
    border-color: #A9C5B9;
}

.validate-text-input {
    width: 295px;
    margin-top: 10px;
}

.validate-why-unsure-section {
    transform: translateY(-80px);
}

/* Bootstrap is getting loaded after this file hence overriding this. To avoid it, I am adding important but ideally the order of inclusion should be flipped. */
.validate-text-input input, .selectize-input {
    display: flex !important;
    width: 100% !important;
    height: 36px !important;
    padding: 8px 18px !important;
    align-items: center !important;
    gap: 4px !important;
    flex-shrink: 0 !important;
    border-radius: 6px 6px !important;
    border: 1.3px solid #ACADAD !important;
    background: white !important;
}

.selectize-control {
    margin-top: 10px;
}

.selectize-input.focus.input-active.has-options {
    border-radius: 6px 6px 0 0;
}

.selectize-dropdown {
    border-radius: 0 0 6px 6px !important;
}

#current-tags-list {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    row-gap: 5px;
    column-gap: 5px;
}

.current-tag {
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #78C9AB;

    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.remove-tag-x {
    cursor: pointer;
    width: 9px;
    height: 9px;
    fill: white;
}






.face-outline { stroke: black; }
.facial-feature { fill: black; }


.context-menu-wheelchair-icons {
    width: 24px;
    height: 24px;
}

.severity-level .severity-icon svg {
    fill: white;
    width: 28px;
    height: 30px;
}

.selectize-dropdown-content {
    display: flex;
    width: 285px;
    height: fit-content;
    padding: 12px;
    align-items: center;
    align-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.selectize-dropdown .option {
    padding: 6px 8px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid #666;

    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    transition: all 0.3s;
}

/* Removing default styling for "active" options in dropdown. Would be left over after hover. */
.selectize-dropdown .option.active {
    background: inherit;
    color: inherit;
}

.selectize-dropdown .option:hover {
    background: #78C9AB;
    color: #FFF;
    border-color: #78C9AB;
}

/* We should add transition only when the cursor is on the context menu. */
/* Otherwise, it causes a delay when the context menu is closed and re-opened. */
#context-menu-holder:hover .severity-level .severity-icon svg {
    transition: fill 0.3s;
}

.severity-level:hover .severity-icon.severity-1 svg {
    fill: rgba(244, 219, 72, 0.55);
}
.severity-level:hover .severity-icon.severity-2 svg {
    fill: rgba(238, 157, 58, 0.55);
}
.severity-level:hover .severity-icon.severity-3 svg {
    fill: rgba(232, 95, 43, 0.55);
}

.severity-level.selected .severity-icon.severity-1 svg {
    fill: #f4db48;
}
.severity-level.selected .severity-icon.severity-2 svg {
    fill: #ee9d3a;
}
.severity-level.selected .severity-icon.severity-3 svg {
    fill: #e85f2b;
}

#severity-radio-holder .radio-inline input[type="radio"] {
    visibility: hidden;
}

.severity-level.radio-inline {
    padding: 0;
}

#severity-radio-holder {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    /*text-size-adjust: 100%;*/
    font-size: 10px;
    text-align: center;
    gap: 20px;  /* this can be used to control the distance between the severity icons */
}

#no-reason-options {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.disagree-reason-button {
    display: flex;
    width: 295px;
    height: 36px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #666;
    background-color: white;

    color: #666;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

/* Matching style of 'No' button for now. */
.disagree-reason-button:hover, .disagree-reason-button.chosen {
    background: #F29173;
    border-color: #F29173;
    color: white;
}

#add-disagree-comment:hover, #add-disagree-comment.chosen {
    border-color: #F29173 !important;
}
