#svv-application-holder {
    background: rgba(255,255,255,1);
    margin: 0 auto;
    position: relative;
    height: 640px;
    width: 960px;
}

#upper-menu-holder {
    position: absolute;
    top: 0px;
    width: 730px;
    height: 100px;
    /* background: rgb(185, 185, 185); */
}

#upper-menu-title-bar {
    position: absolute;
    top: 70px;
    font-size: 25px;

}

#validation-zoom-control-holder {
    background: transparent;
    position: absolute;
    left: 595px;
    top: 60px;
    height: 55px;
    width: 185px;
}

.button.zoom-control-button:focus {
    outline: none;
}

#svv-panorama-holder {
    position: absolute;
    top: 105px;
    width: 730px;
    height: 420px;
}

#mission-status-holder {
    position: absolute;
    top: 30px;
    left: 735px;
    height: 570px;
    width: 200px;
    /* background: rgb(185, 185, 185); */
}

#example-image-holder {
    height: 170px;
    background: rgb(185, 185, 185);
}

#validation-button-holder {
    position: absolute;
    left: 0px;
    top: 530px;
    height: 90px;
    width: 730px;
    /* background: rgb(185, 185, 185); */
}