@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.template {
    display: none;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.mission-tutorial-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 1170px; /*  */
    background: white;
    z-index: 10;
    display: flex;
    flex-shrink: 0;

    /* Default font should be defined only here and should be overridden wherever needed. */
    font-family: 'Open Sans', sans-serif;
}

.mission-tutorial-content {
    margin-top: 25px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: calc(100% - 120px);
    flex-direction: column;
}

.mission-instruction-1 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #525252;
    margin: 5px 0;
    padding: 0 10px;
    width: 100%;
    height: fit-content;
}

.mission-instruction-2 {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 5px 0;
    padding: 0 10px;

    color: #000000;
    width: 100%;
}

.mission-carousel {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

.previous-slide-button, .next-slide-button {
    height: 100%;
    width: 30px;
    display: flex;
    fill: #C4C4C4;
    cursor: pointer;
}

.previous-slide-button:not(.disabled):hover, .next-slide-button:not(.disabled):hover {
    fill: #000000;
}

.previous-slide-button {
    margin-right: 30px;
}

.next-slide-button {
    margin-left: 30px;
}

.next-slide-button.disabled, .previous-slide-button.disabled {
    visibility: hidden;
}

.mission-tutorial-slide {
    height: 436px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.mts-text-area {
    width: 294px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    flex-direction: column;
}

.label-type-title {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 25px;
    padding: 0 10px;
}

.label-type-subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #949494;
    padding: 0 10px;
}

.label-type-description {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    padding: 0 10px;
    margin-top: 10px;
}

.mission-tutorial-overlay-footer {
    margin-top: 20px;
    width: 100%;
}

.mission-tutorial-done-btn {
    height: 36px;
    width: 249px;
    border-radius: 7.25px;
    float: right;
    background: #F6D795;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 2s;
}

.mission-tutorial-done-btn:hover {
    background: #ffc342;
}

@keyframes pulsate {
    0%   { transform: scale(1); }
    50%  { transform: scale(0.9); }
    50%  { transform: scale(1); }
    50%  { transform: scale(1.1); }
}

/*We can do something to get attention after the user goes through all the slides*/
.mission-tutorial-done-btn.focus {
    animation: pulsate;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-delay: 1s;
}

.mts-image-area {
    width: 658px;
    height: 436px;
    float: right;
    background: lightgrey;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.mts-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.on-image-label {
    display: none;
    position: absolute;
    background: white;
    border: 3px solid;
    border-radius: 10px;
    box-sizing: content-box;
    min-height: 83px;
    min-width: 157px;
    max-height: 98px;
    max-width: 220px;
}

/* correct/incorrect classes are added to the slide element */
.correct .on-image-label {
    border-color: #30785D;
}

/* correct/incorrect classes are added to the slide element */
.incorrect .on-image-label {
    border-color: #EB734D;
}

.on-image-label-type {
    margin: 12px 8px;
    display: flex;
    align-items: center;
}

.on-image-label-type-icon {
    height: 24px;
    width: 24px;
    fill: none;
    display: flex;
    margin-right: 3px;
}

.correct .on-image-label-type-icon {
    stroke: #30785D;
}

.incorrect .on-image-label-type-icon {
    stroke: #EB734D;
}

.on-image-label-type-title {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 3px;
}

.correct .on-image-label-type-title {
    color: #30785D;
}

.incorrect .on-image-label-type-title {
    color: #EB734D;
}

.on-image-label-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    margin-left: 12px;
}

.example-type-area {
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}

.example-type-area::after {
    background: #30785D;
    width: calc(100% - 20px);
    height: 8px;
    position: absolute;
    bottom: -6px;
    content: '';
    left: 50%;
    transform: translateX(-50%);
}

.correct .example-type-area::after {
    background: #30785D;
}

.incorrect .example-type-area::after {
    background: #EB734D;
}

.example-type-icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 5px;
    fill: none;
}

.correct .example-type-icon {
    stroke: #30785D;
}

.incorrect .example-type-icon {
    stroke: #EB734D;
}

.example-type-label {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    display: inline-block;
    margin-left: 5px;
}

.correct .example-type-label {
    color: #30785D;
}

.incorrect .example-type-label {
    color: #EB734D;
}

.mission-carousel-location-indicator-area {
    height: 30px;
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-carousel-location-indicator {
    height: 7px;
    width: 40px;
    margin: 0 3.5px;
    background: #C4C4C4;
    transition: all 0.4s;
    border-radius: 100px;
}

.mission-carousel-location-indicator.current-location {
    background: #2C2A3D;
}
