@import play.api.Configuration
@import service.CommonPageData
@import views.html.helper.{CSRF, form}
@(resetPasswordForm: Form[forms.ResetPasswordForm.PasswordData], commonData: CommonPageData, token: String
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@common.main(commonData, "Sidewalk - Reset Password") {
    @common.navbar(commonData, None)
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }
    <fieldset class="col-md-6 col-md-offset-3" style="margin-top:51px">
        <legend>@Messages("reset.pw.message")</legend>
        @form(action = routes.UserController.resetPassword(token), 'autocomplete -> "off") {
            @CSRF.formField
            <p class="info">@Messages("reset.pw.submit.new.pw")</p>
            @b3.password(resetPasswordForm("passwordReset"), '_hiddenLabel -> Messages("authenticate.password"), 'placeholder -> Messages("authenticate.password"), 'pattern -> "^(?=.*[A-Z])(?=.*[a-z])(?=.*\\d).*$", 'title -> "Password must contain at least one uppercase letter, one lowercase letter, and one number")
            @b3.password(resetPasswordForm("passwordResetConfirm"), '_hiddenLabel -> Messages("authenticate.password"), 'placeholder -> Messages("authenticate.confirm.password"))
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset.pw.message")</button>
                </div>
            </div>
        }
    </fieldset>
}
