html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', 'Noto Sans', sans-serif;
    margin: 0;
}

.bold {
    font-weight: bold;
}

#map {
    background-color: white;
    width: 100%;
    height: 100%;
}
#map-chart {
    background-color: white;
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
}

.carousel {
    height: 100%;
}

.carousel-control {
    background: none !important;
    color: rgba(200, 200, 200, 1);
    filter: none !important;
    progid:none !important;
}

#audit-video {
    background: white;
    border-width: 0;
    height: 720px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: #32BDD3;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', 'Noto Sans', sans-serif;
    font-weight: bold;
}
h2 {
    font-size: 28px;
}
h4 {
    color: gray;
    font-size: 20px;
}
p {
    font-size: 20px;
}
.spacer10 {
    height: 10px;
}

.spacer20 {
    height: 20px;
}

.spacer30 {
    height: 30px;
}

.btn {
    border-radius: 3px 3px 3px 3px;
}
.btn-primary {
    background: #32BDD3;
    border-color: #32BDD3;
    border-width: 0;
    font-size: 20px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.50);
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #fff;
    border-width: 1;
}
.avatar-medium {
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 1px;
}
.modal-backdrop {
    background-color: rgba(255, 255, 255, 1.0);
}
/*#sign-in-modal {*/
/*top: 5%;*/
/*left: 65%;*/
/*outline: none;*/
/*width: 550px*/
/*}*/

.modal-footer {
    color: gray;
    text-align: center;
}
.modal-footer a {
    color: rgba(37, 154, 173, 1.0);
}
#sign-in-modal-container .modal-dialog {
    width: 400px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer-text {
    font-size: 10.5px;
    color: rgb(160, 160, 160);
    text-align: center;
    margin: 20px 0;
}