
svg {
    position: relative;
}

#map path {
    fill: #fff;
    fill-opacity: 0.3;
    stroke: none;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.travelMarker {
    fill: yellow;
    stroke: gray;
    stroke-width: 1px;
    stroke-opacity: 0.9;
    opacity: 1;
}
.waypoints {
    fill: black;
    opacity: 0;
}
.drinks {
    stroke: black;
    fill: red;
}
.lineConnect {
    fill: none;
    stroke: black;
    opacity: 1;
}
.locnames {
    fill: black;
    text-shadow: 1px 1px 1px #FFF, 3px 3px 5px #000;
    font-weight: bold;
    font-size: 13px;
}