
svg {
    position: relative;
}

#map {
    height: 70%;
}

.leaflet-overlay-pane svg g:first-child path {
    fill: #fff;
    fill-opacity: 0.4;
    stroke-width: 2px;
    stroke-opacity: 1;
    stroke: #ffffff;
}
