@import models.label.Tag
@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import service.CommonPageData
@import models.pano.PanoSource
@(commonData: CommonPageData, title: String, user: SidewalkUserWithRole, tags: Seq[Tag] = Seq.empty, regionIds: Seq[Int],
    routeIds: Seq[Int], aiValidationOptions: Seq[String]
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@currentCity = @{commonData.allCityInfo.filter(_.cityId == commonData.cityId).head}

@common.main(commonData, title, i18Namespaces = Seq("common", "labelmap")) {
    @common.navbar(commonData, Some(user))
    <div id="page-loading">
        <img id="loading-animation" src='@assets.path("videos/ProjectSidewalk_LoadingAnimation_WithArmMovement_Medium.webp")' alt='@Messages("loading")'/>
    </div>
    <div id="labelmap-choropleth-container" class="container choropleth-container">
        <div id="labelmap-choropleth-holder" class="choropleth-holder">
            <div id="labelmap-choropleth" class="choropleth"></div>
            @common.mapSidebar(tags = tags)
        </div>
    </div>

    @common.labelPopup(admin = false)

    <link href='@assets.path("stylesheets/labelDetail.css")' rel="stylesheet"/>
    <link href='@assets.path("stylesheets/mapSidebar.css")' rel="stylesheet"/>
    <link href='@assets.path("stylesheets/tag-pills.css")' rel="stylesheet"/>

    <script src='@assets.path("javascripts/lib/i18next-23.16.8.min.js")'></script>
    <script src='@assets.path("javascripts/lib/i18nextHttpBackend-3.0.4.min.js")'></script>
    <script src='@assets.path("javascripts/Admin/build/Admin.js")'></script>
    <script src='@assets.path("javascripts/lib/jquery.dataTables.min.js")'></script>
    <script src='@assets.path("javascripts/lib/dataTables.bootstrap.min.js")'></script>
    <script src='@assets.path("javascripts/common/UtilitiesSidewalk.js")'></script>
    @if(commonData.imagerySource == PanoSource.Infra3d) {
        <script src='@assets.path("javascripts/lib/proj4-2.19.10.js")'></script>
        <script src='@assets.path("javascripts/lib/infra3dapi-1.8.0.js")'></script>
    } else if (commonData.imagerySource == PanoSource.Mapillary) {
        <script src='@assets.path("javascripts/lib/three-0.160.1-min.js")'></script>
        <script src='@assets.path("javascripts/lib/mapillary-4.1.2.min.js")'></script>
        <link href='@assets.path("javascripts/lib/mapillary-4.1.2.css")' rel="stylesheet"/>
    }
    <script src='@assets.path("javascripts/common/pano-viewer/build/pano-viewer.js")'></script>
    <script src='@assets.path("javascripts/common/timestampLocalization.js")'></script>
    <script>updateTimestamps("@messages.lang.code");</script>

    <script src='@assets.path("javascripts/lib/mapbox-gl-3.21.0.js")'></script>
    <script src='@assets.path("javascripts/lib/mapbox-gl-language-1.0.1.js")'></script>
    <link href='@assets.path("javascripts/lib/mapbox-gl-3.21.0.css")' rel="stylesheet"/>
    <script src='@assets.path("javascripts/common/detectMobileBrowser.js")'></script>
    <script src='@assets.path("javascripts/PSMap/build/PSMap.js")'></script>
    <link href='@assets.path("stylesheets/choropleth.css")' rel="stylesheet"/>
    <link href='@assets.path("stylesheets/admin.css")' rel="stylesheet"/>

    <script>
        const imagerySrc = "@commonData.imagerySource.toString";
        const viewerType = imagerySrc === 'mapillary' ? MapillaryViewer : imagerySrc === 'infra3d' ? Infra3dViewer : GsvViewer;
        const accessToken = "@commonData.imageryAccessToken";

        // Gets all translations before loading the choropleth.
        window.appManager.ready(async function () {
            let params = {
                mapName: 'labelmap-choropleth',
                mapStyle: 'mapbox://styles/mapbox/light-v11?optimize=true',
                mapboxApiKey: '@commonData.mapboxApiKey',
                mapboxLogoLocation: 'bottom-right',
                neighborhoodFillMode: 'singleColor',
                neighborhoodFillColor: '#808080',
                neighborhoodFillOpacity: 0.1,
                neighborhoodTooltip: 'none',
                differentiateUnauditedStreets: true,
                interactiveStreets: true,
                uiSource: 'LabelMap',
                popupLabelViewer: await LabelPopup(false, viewerType, accessToken, "@user.username"),
                differentiateExpiredLabels: true,
                navigationControlPosition: 'top-right',
                highQualityFilter: true
            };
            params.neighborhoodsURL = new URL('/neighborhoods', window.location.origin);
            params.completionRatesURL = new URL('/adminapi/neighborhoodCompletionRate', window.location.origin);
            params.streetsURL = new URL('/contribution/streets/all?filterLowQuality=true', window.location.origin);
            params.labelsURL = new URL('/labels/all', window.location.origin);

            let regionsParam = '@{regionIds.mkString(",")}';
            if (regionsParam) {
                params.neighborhoodsURL.searchParams.append('regions', regionsParam);
                params.completionRatesURL.searchParams.append('regions', regionsParam);
                params.streetsURL.searchParams.append('regions', regionsParam);
                params.labelsURL.searchParams.append('regions', regionsParam);
            }

            let routesParam = '@{routeIds.mkString(",")}';
            if (routesParam) {
                params.streetsURL.searchParams.append('routes', routesParam);
                params.labelsURL.searchParams.append('routes', routesParam);
            }

            let aiValidationOptionsParam = '@{aiValidationOptions.mkString(",")}';
            if (aiValidationOptionsParam) {
                params.labelsURL.searchParams.append('aiValidationOptions', aiValidationOptionsParam);
            }

            const self = {};
            CreatePSMap($, params).then(m => {
                self.map = m[0];
                self.mapData = m[4];
                new MapSidebarFilter(self.map, self.mapData, { highQualityFilter: true });
            });
            window.map = self;
        });
    </script>
}
