@import controllers.helper.ValidateHelper.ValidateParams
@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import play.api.libs.json.{JsArray, Json}
@import service.CommonPageData
@import models.pano.PanoSource
@import formats.json.LabelFormats.tagWrites
@(
    commonData: CommonPageData, title: String, user: SidewalkUserWithRole, validateParams: ValidateParams,
    validatePageData: ValidatePageData
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@currentCity = @{commonData.allCityInfo.filter(_.cityId == commonData.cityId).head}

@common.main(commonData, title, defaultI18nNamespace = "validate", i18Namespaces = Seq("validate", "common"), "/mobile") {
    @common.icons()

    <script src='@assets.path("javascripts/lib/i18next-23.16.8.min.js")'></script>
    <script src='@assets.path("javascripts/lib/i18nextHttpBackend-3.0.2.min.js")'></script>
    <script src='@assets.path("javascripts/common/pano-viewer/build/pano-viewer.js")'></script>
    @if(commonData.imagerySource == PanoSource.Infra3d) {
        <script src='@assets.path("javascripts/lib/proj4-2.19.10.js")'></script>
        <script src='@assets.path("javascripts/lib/infra3dapi-1.7.0.js")'></script>
    } else if (commonData.imagerySource == PanoSource.Mapillary) {
        <script src='@assets.path("javascripts/lib/mapillary-4.1.2.min.js")'></script>
        <link href='@assets.path("javascripts/lib/mapillary-4.1.2.css")' rel="stylesheet"/>
    }
    <script src='@assets.path("javascripts/SVValidate/build/SVValidate.js")'></script>
    <link rel="stylesheet" href='@assets.path("javascripts/SVValidate/build/SVValidate.css")'/>

    <script src='@assets.path("javascripts/SVValidate/mobile/mobileValidate.js")'></script>
    <link rel="stylesheet" href='@assets.path("javascripts/SVValidate/mobile/mobileValidate.css")'/>

    <div id="page-loading">
        <div id="loading-animation">
            <p class="loading-text">@Messages("loading")</p>
            <img src='@assets.path("videos/ProjectSidewalk_LoadingAnimation_WithArmMovement_Medium.webp")' title='@Messages("loading")'/>
            <p class="loading-sub-text">@Messages("loading.encouragement")</p>
        </div>
    </div>

    <div class="container tool-ui">
        <div id="mission-progress-bar-section">
            <div id="mission-progress-bar">
                <div id="mission-progress-bar-complete"></div>
                <div id="mission-progress-bar-incomplete"></div>
            </div>
        </div>
        <div id="mission-title"></div>
        <div id="svv-panorama-holder">
            <div id="svv-panorama-outline">
                <div id="svv-panorama"></div>
                <div id="view-control-layer">
                    <div id="label-description-box"></div>
                </div>
                <button id="label-visibility-control-button" class="button-on-pano" title="@Messages("press.key", "H")" data-toggle="tooltip" data-placement="top"></button>
                <button id="validate-undo-button" class="button-on-pano">
                    <img src="assets/images/icons/undo-icon.svg" class="hide-label-button-icon" alt="undo">
                    <span>@Messages("undo")</span>
                </button>
                <div id="validation-button-holder">
                    <button id="validate-no-button" class="validate-page-button">
                        @Html(Messages("no.caps.shortcut"))
                    </button>
                    <button id="validate-unsure-button" class="validate-page-button">
                        @Html(Messages("unsure.caps.shortcut"))
                    </button>
                    <button id="validate-yes-button" class="validate-page-button">
                        @Html(Messages("yes.caps.shortcut"))
                    </button>
                </div>
                <img src='@assets.path("images/icons/mobile-popup-notch.svg")' id="mobile-popup-notch"></img>
                <div id="validate-why-no-section" class="validation-menu-section">
                    <div id="validate-why-not-header" class="validation-menu-section-header">@Messages("validate.why.not")</div>
                    <div id="no-reason-options">
                        <button id="no-button-1" class="validation-reason-button"></button>
                        <button id="no-button-2" class="validation-reason-button"></button>
                        <button id="no-button-3" class="validation-reason-button"></button>
                        <div class="input-group input-group-sm validate-text-input">
                            <input type="text" class="form-control" placeholder="@Messages("validate.add.own.reason")" id="add-disagree-comment" size="36" aria-label="Add no reason input">
                        </div>
                    </div>
                    <div id="no-submit-section">
                        <button id="no-menu-skip-reason-button" class="validate-page-button">@Messages("validate.skip.reason")</button>
                        <button id="no-menu-submit-button" class="validate-page-button">@Messages("submit")</button>
                    </div>
                </div>
                <div id="validate-why-unsure-section" class="validation-menu-section">
                    <div id="validate-why-unsure-header" class="validation-menu-section-header">@Messages("validate.why.unsure")</div>
                    <div id="unsure-reason-options">
                        <button id="unsure-button-1" class="validation-reason-button"></button>
                        <button id="unsure-button-2" class="validation-reason-button"></button>
                        <button id="unsure-button-3" class="validation-reason-button"></button>
                        <div class="input-group input-group-sm validate-text-input">
                            <input type="text" class="form-control" placeholder="@Messages("validate.add.own.reason")" id="add-unsure-comment" size="36" aria-label="Add unsure reason input">
                        </div>
                    </div>
                    <div id="unsure-submit-section">
                        <button id="unsure-menu-skip-reason-button" class="validate-page-button">@Messages("validate.skip.reason")</button>
                        <button id="unsure-menu-submit-button" class="validate-page-button">@Messages("submit")</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-mission-holder">
            <div id="modal-mission-background" class="modal-background"></div>
            <div id="modal-mission-foreground" class="modal-foreground">
                @if(user.role != "Anonymous") {
                    <button data-toggle="modal" data-target="#sign-in-modal-container" class="sign-in-up-button-mobile">@{user.username}</button>
                } else {
                    <button data-toggle="modal" data-target="#sign-in-modal-container" class="sign-in-up-button-mobile" onclick="location.href='@routes.UserController.signInMobile()'">@Messages("navbar.signin")</button>
                }
                <img src='@assets.path("assets/" + config.get[String]("city-params.logo-img." + commonData.cityId))' id="ps-logo-mission"></img>
                <h1 id="modal-mission-header" class="text-center"></h1>
                <div id="modal-mission-instruction"></div>
                <button class="validate-page-button" id="modal-mission-close-button">OK</button>
            </div>
        </div>

        <div id="modal-mission-complete-holder">
            <div id="modal-mission-complete-background" class="modal-background"></div>
            <div id="modal-mission-complete-foreground" class="modal-foreground">
                <img src='@assets.path("assets/" + config.get[String]("city-params.logo-img." + commonData.cityId))' id="ps-logo-mission-complete"></img>
                <h1 class="normal" id="modal-mission-complete-title"></h1>
                <p><div id="modal-mission-complete-message"></div></p>
                <div id="modal-mission-complete-table">
                    <div class="col-sm-10">
                        <h3>@Messages("validate.mission.complete.category")</h3>
                        <table class="table">
                            <tr>
                                <th>@Messages("yes.caps")</th>
                                <td id="modal-mission-complete-agree-count" class="col-right text-right"></td>
                            </tr>
                            <tr>
                                <th>@Messages("no.caps")</th>
                                <td id="modal-mission-complete-disagree-count" class="col-right text-right"></td>
                            </tr>
                            <tr>
                                <th>@Messages("unsure.caps")</th>
                                <td id="modal-mission-complete-unsure-count" class="col-right text-right"></td>
                            </tr>
                            <tr id="your-overall-total">
                                <th>@Messages("validate.mission.complete.your.overall.total")</th>
                                <td id="modal-mission-complete-your-overall-total-count" class="col-right text-right"></td>
                            </tr>
                        </table>
                        <button class="btn btn-primary" id="modal-mission-complete-close-button-primary"></button>
                        <button class="btn btn-secondary" id="modal-mission-complete-close-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-landscape-holder">
            <div id="modal-landscape-background" class="modal-background"></div>
            <div id="modal-landscape-foreground" class="modal-foreground">
                <img src='@assets.path("assets/" + config.get[String]("city-params.logo-img." + commonData.cityId))' id="ps-logo-landscape"></img>
                <div>
                    <p id="modal-landscape-header">
                        Welcome to Project Sidewalk!
                    </p>
                    <p id="modal-landscape-description">
                        We do not currently support landscape mode on mobile or tablet devices.
                        Please use portrait mode to proceed to Project Sidewalk.
                    </p>
                </div>
                <br />
            </div>
        </div>
    </div>

    <script>
        window.appManager.ready(function() {
            const param = {};

            const userParam = {
                username: '@user.username',
                role: '@user.role'
            };
            svv.user = new User(userParam);

            param.dataStoreUrl = '@routes.ValidateController.post';
            param.beaconDataStoreUrl = param.dataStoreUrl + "Beacon";
            param.hasNextMission = @validatePageData.hasNextMission;
            param.completedValidations = @validatePageData.completedValidations;
            param.language = "@messages.lang.code";
            param.cityId = "@commonData.cityId";
            param.cityName = "@currentCity.cityNameFormatted";
            const imagerySrc = "@commonData.imagerySource.toString";
            param.viewerType = imagerySrc === 'mapillary' ? MapillaryViewer : imagerySrc === 'infra3d' ? Infra3dViewer : GsvViewer;
            param.viewerAccessToken = "@commonData.imageryAccessToken";
            param.validateParams = {
                adminVersion: @validateParams.adminVersion,
                labelTypeId: @Html(validateParams.labelType.map(_.id.toString).getOrElse("null")),
                userIds: @Html(validateParams.userIds.map(_.mkString("['", "','", "']")).getOrElse("null")),
                regionIds: @Html(validateParams.neighborhoodIds.map(_.mkString("[", ",", "]")).getOrElse("null")),
                unvalidatedOnly: @validateParams.unvalidatedOnly
            };
            param.tagList = @Html(JsArray(validatePageData.tagList.map(t => Json.toJson(t))).toString);

            if (@validatePageData.hasNextMission) {
                param.mission = @Html(validatePageData.mission.getOrElse("\"\"").toString);
                param.labelList = @Html(validatePageData.labelList.getOrElse("\"\"").toString);
                param.progress = @Html(validatePageData.missionProgress.getOrElse("\"\"").toString);
            }
            svv.main = new Main(param);
        });
    </script>
}
