@import controllers.helper.ValidateHelper.ValidateParams
@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import play.api.libs.json.JsValue
@import service.CommonPageData
@(commonData: CommonPageData, title: String, user: SidewalkUserWithRole, validateParams: ValidateParams,
        mission: Option[JsValue], labelList: Option[JsValue], progress: Option[JsValue], hasNextMission: Boolean,
        completedValidations: Int, mapillaryToken: String, infra3dToken: String
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@currentCity = @{commonData.allCityInfo.filter(_.cityId == commonData.cityId).head}

@common.main(commonData, title, defaultI18nNamespace = "validate", i18Namespaces = Seq("validate", "common"), "/mobile") {

    <script src='@assets.path("javascripts/common/pano-viewer/PanoData.js")'></script>
    <script src='@assets.path("javascripts/common/pano-viewer/PanoStore.js")'></script>
    <script src='@assets.path("javascripts/common/pano-viewer/PanoViewer.js")'></script>
    <script src='@assets.path("javascripts/common/pano-viewer/GsvViewer.js")'></script>
    <script src='@assets.path("javascripts/common/pano-viewer/MapillaryViewer.js")'></script>
    <script src='@assets.path("javascripts/common/pano-viewer/Infra3dViewer.js")'></script>
    <script src='@assets.path("javascripts/SVValidate/build/SVValidate.js")'></script>
    <script src='@assets.path("javascripts/SVValidate/mobile/mobileValidate.js")'></script>
    <link rel="stylesheet" href='@assets.path("javascripts/SVValidate/build/SVValidate.css")'/>
    <link rel="stylesheet" href='@assets.path("javascripts/SVValidate/mobile/mobileValidate.css")'/>
    <script src='@assets.path("javascripts/lib/i18next-23.16.8.min.js")'></script>
    <script src='@assets.path("javascripts/lib/i18nextHttpBackend-3.0.2.min.js")'></script>

    @common.icons()

    @* These are templates and are not visible on the screen directly. *@
    @* JS clones them, adjusts the attributes and then appends to DOM. *@
    <div class="severity-image severity-neutral template">
        <svg viewBox="0 0 150 150"><use xlink:href="#smiley-neutral"></use></svg>
    </div>
    <div class="severity-image severity-1 template">
        <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-1"></use></svg>
    </div>
    <div class="severity-image severity-2 template">
        <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-2"></use></svg>
    </div>
    <div class="severity-image severity-3 template">
        <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-3"></use></svg>
    </div>

    <div id='status-current-mission-completion-bar'>
        <div id='status-current-mission-completion-bar-filler'>
            <div id='status-current-mission-completion-rate'></div>
        </div>
    </div>
    <br class="clear">
    <div id="title-bar-holder">
        <button id="left-column-undo-button" class="button back-button" data-toggle="tooltip" data-placement="top">
            <img src='@assets.path("javascripts/SVLabel/img/misc/Undo-mobile.png")' alt="Undo icon">
        </button>
        <div id="mission-title"></div>
        <button id="info-button" class="button info-button"><img src='@assets.path("javascripts/SVLabel/img/misc/info_button.png")'></button>
        <button id="left-column-jump-button">
            <img src='@assets.path("javascripts/SVLabel/img/misc/skip_button.png")'  alt="Jump icon">
        </button>
    </div>
    <div id="mobile-viewer">
        <div id="svv-panorama-holder">
            <div id="svv-panorama-outline">
                <div id="svv-panorama">
                    <div id="view-control-layer-mobile" style="z-index: 2">
                        <div id="label-description-box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="validation-button-holder">
            <button id="validation-no-button" class="validation-button">
                ✗ @Messages("no.caps")
            </button>
            <button id="validation-unsure-button" class="validation-button">
                ? @Messages("unsure.caps")
            </button>
            <button id="validation-yes-button" class="validation-button">
                ✓ @Messages("yes.caps")
            </button>
        </div>
        <div id="modal-mission-holder">
            <div id="modal-mission-background" class="modal-background"></div>
            <div id="modal-mission-foreground" class="modal-foreground">
                @if(user.role != "Anonymous") {
                    <button data-toggle="modal" data-target="#sign-in-modal-container" class="gray-button-mobile">@{user.username}</button>
                } else {
                    <button data-toggle="modal" data-target="#sign-in-modal-container" class="gray-button-mobile" onclick="location.href='@routes.UserController.signInMobile()'">@Messages("navbar.signin")</button>
                }
                <img src='@assets.path("assets/" + config.get[String]("city-params.logo-img." + commonData.cityId))' id="ps-logo-mission"></img>
                <h1 id="modal-mission-header" class="text-center"></h1>
                <div id="modal-mission-instruction"></div>
                <button class="button" id="modal-mission-close-button">OK</button>
            </div>
        </div>
        <div id="modal-info-holder">
            <div id="modal-info-background" class="modal-background"></div>
            <div id="modal-info-foreground" class="modal-foreground">
                <div id="modal-info-header" class="text-center"></div>
                <div id="modal-info-description"></div>
                <div id = "infopage-status-box" class="status-box">
                    <h1 class="status-holder-header-1" id="label-type-example"></h1>
                    <div id="example-image-holder">
                        <img id="example-image-1" class="example-image">
                        <img id="example-image-2" class="example-image">
                    </div>
                </div>
                <div id = "infopage-status-box" class="status-box">
                    <h1 class="status-holder-header-2" id="label-type-counterexample"></h1>
                    <div id="example-image-holder">
                        <img id="counterexample-image-1" class="example-image">
                        <img id="counterexample-image-2" class="example-image">
                    </div>
                </div>
                <button class="button" id="modal-info-close-button">OK</button>
                <button id="left-column-feedback-button" class="button" data-template="<div class='mobile-popover' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>" data-toggle="popover" data-placement="top" data-content='@Messages("feedback.submitted")' data-trigger="manual">@Messages("mobile.validate.leave.feedback")</button>
            </div>
            <div id="modal-comment-holder" class="hidden">
                <div id="modal-comment-box" class="modal-foreground">
                    <form id="comment-form">
                        <div id="modal-comment-title" class="bold">
                            <p>@Html(Messages("feedback.title"))</p>
                        </div>
                        <div id="modal-comment-content">
                            <textarea id="modal-comment-textarea" placeholder=""></textarea>
                        </div>
                        <div>
                            <button class="button" id="modal-comment-ok-button" type="button">@Messages("ok")</button>&nbsp;
                            <button class="button" id="modal-comment-cancel-button" type="button">@Messages("cancel")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-mission-complete-holder">
            <div id="modal-mission-complete-background" class="modal-background"></div>
            <div id="modal-mission-complete-foreground" class="modal-foreground">
                <img src='@assets.path("assets/" + config.get[String]("city-params.logo-img." + commonData.cityId))' id="ps-logo-mission-complete"></img>
                <h1 class="normal" id="modal-mission-complete-title"></h1>
                <p><div id="modal-mission-complete-message"></div></p>
                <div id="modal-mission-complete-table">
                    <div class="col-sm-10">
                        <h3>@Messages("validate.mission.complete.category")</h3>
                        <table class="table">
                            <tr>
                                <th>@Messages("yes.caps")</th>
                                <td id="modal-mission-complete-agree-count" class="col-right text-right"></td>
                            </tr>
                            <tr>
                                <th>@Messages("no.caps")</th>
                                <td id="modal-mission-complete-disagree-count" class="col-right text-right"></td>
                            </tr>
                            <tr>
                                <th>@Messages("unsure.caps")</th>
                                <td id="modal-mission-complete-unsure-count" class="col-right text-right"></td>
                            </tr>
                            <tr id="your-overall-total">
                                <th>@Messages("validate.mission.complete.your.overall.total")</th>
                                <td id="modal-mission-complete-your-overall-total-count" class="col-right text-right"></td>
                            </tr>
                        </table>
                        <button class="btn btn-primary" id="modal-mission-complete-close-button-primary"></button>
                        <button class="btn btn-secondary" id="modal-mission-complete-close-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-landscape-holder">
            <div id="modal-landscape-background" class="modal-background"></div>
            <div id="modal-landscape-foreground" class="modal-foreground">
                <img src='@assets.path("assets/" + config.get[String]("city-params.logo-img." + commonData.cityId))' id="ps-logo-landscape"></img>
                <div>
                    <p id="modal-landscape-header">
                        Welcome to Project Sidewalk!
                    </p>
                    <p id="modal-landscape-description">
                        We do not currently support landscape mode on mobile or tablet devices.
                        Please use portrait mode to proceed to Project Sidewalk.
                    </p>
                </div>
                <br />
            </div>
        </div>
    </div>

    <script>
        window.appManager.ready(function() {
            let param = {};

            let userParam = {
                username: '@user.username',
                role: '@user.role'
            };
            svv.user = new User(userParam);

            param.dataStoreUrl = '@routes.ValidateController.post';
            param.beaconDataStoreUrl = param.dataStoreUrl + "Beacon";
            param.hasNextMission = @hasNextMission;
            param.completedValidations = @completedValidations;
            param.canvasHeight = window.innerHeight;
            param.canvasWidth = window.innerWidth;
            param.language = "@messages.lang.code";
            param.cityId = "@commonData.cityId";
            param.cityName = "@currentCity.cityNameFormatted";
            param.infra3dToken = '@infra3dToken';
            param.mapillaryToken = '@mapillaryToken';
            param.validateParams = {
                adminVersion: @validateParams.adminVersion,
                viewerType: "@validateParams.viewer",
                labelTypeId: @Html(validateParams.labelType.map(_.toString).getOrElse("null")),
                userIds: @Html(validateParams.userIds.map(_.mkString("['", "','", "']")).getOrElse("null")),
                regionIds: @Html(validateParams.neighborhoodIds.map(_.mkString("[", ",", "]")).getOrElse("null")),
                unvalidatedOnly: @validateParams.unvalidatedOnly
            }
            param.modalText = {
                1: "@Messages("labeling.guide.curb.ramp.summary")",
                2: "@Messages("labeling.guide.curb.ramp.summary")",
                3: "@Messages("labeling.guide.obstacle.summary")",
                4: "@Messages("labeling.guide.surface.problem.summary")",
                5: "",
                6: "@Messages("labeling.guide.occlusion.summary")",
                7: "@Messages("labeling.guide.no.sidewalk.summary")",
                8: ""
            };

            if (@hasNextMission) {
                param.mission = @Html(mission.getOrElse("\"\"").toString);
                param.labelList = @Html(labelList.getOrElse("\"\"").toString);
                param.progress = @Html(progress.getOrElse("\"\"").toString);

                // Initializes an object of labels from label metadata.
                // {key, labelMetadata} --> {key, Label}, where key = the index of the label.
                Object.keys(param.labelList).map(function (key, index) {
                    param.labelList[key] = new Label(param.labelList[key]);
                });
            }
            svv.main = new Main(param);
        });
    </script>
}
