@import controllers.helper.ValidateHelper.ValidateParams
@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import play.api.libs.json.{JsArray, Json}
@import service.CommonPageData
@import models.pano.PanoSource
@import formats.json.LabelFormats.tagWrites
@(
    commonData: CommonPageData, url: String, title: String, user: SidewalkUserWithRole, validateParams: ValidateParams,
    validatePageData: ValidatePageData
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@currentCity = @{commonData.allCityInfo.filter(_.cityId == commonData.cityId).head}

@common.main(commonData, title, defaultI18nNamespace = "validate", i18Namespaces = Seq("validate", "common"), url) {
    @common.navbar(commonData, Some(user))
    @common.icons()

    <script src='@assets.path("javascripts/common/detectMobileBrowser.js")'></script>
    <script src='@assets.path("javascripts/lib/i18next-23.16.8.min.js")'></script>
    <script src='@assets.path("javascripts/lib/i18nextHttpBackend-3.0.2.min.js")'></script>
    <script src='@assets.path("javascripts/lib/turf-7.3.0.min.js")'></script>
    <script src='@assets.path("javascripts/lib/selectize-0.15.2.min.js")'></script>
    <link rel="stylesheet" href='@assets.path("javascripts/lib/selectize-0.15.2.min.css")'/>
    <script src='@assets.path("javascripts/common/pano-viewer/build/pano-viewer.js")'></script>
    @if(commonData.imagerySource == PanoSource.Infra3d) {
        <script src='@assets.path("javascripts/lib/proj4-2.19.10.js")'></script>
        <script src='@assets.path("javascripts/lib/infra3dapi-1.7.0.js")'></script>
    } else if (commonData.imagerySource == PanoSource.Mapillary) {
        <script src='@assets.path("javascripts/lib/mapillary-4.1.2.min.js")'></script>
        <link href='@assets.path("javascripts/lib/mapillary-4.1.2.css")' rel="stylesheet"/>
    }
    <script src='@assets.path("javascripts/SVValidate/build/SVValidate.js")'></script>
    <link rel="stylesheet" href='@assets.path("javascripts/SVValidate/build/SVValidate.css")'/>

    @common.missionStartTutorial()

    <div id="page-loading">
        <div id="loading-animation">
            <p class="loading-text">@Messages("loading")</p>
            <img src='@assets.path("videos/ProjectSidewalk_LoadingAnimation_WithArmMovement_Medium.webp")' title='@Messages("loading")'/>
            <p class="loading-sub-text">@Messages("loading.encouragement")</p>
        </div>
    </div>

    <div class="container tool-ui">

        @* These are templates and are not visible on the screen directly. *@
        @* JS clones them, adjusts the attributes and then appends to DOM. *@
        <div class="current-tag template">
            <div class="tag-name"></div>
            <div class="remove-tag-x">
                <svg viewBox="0 0 22 22"><use xlink:href="#close-icon"></use></svg>
            </div>
        </div>
        <div class="severity-image severity-1 template">
            <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-1"></use></svg>
        </div>
        <div class="severity-image severity-2 template">
            <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-2"></use></svg>
        </div>
        <div class="severity-image severity-3 template">
            <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-3"></use></svg>
        </div>
        <template id="admin-info-template">
            <div id="admin-info-content">
                <h1>Admin Info</h1>
                <p id="admin-url-instructions">
                    You can choose to validate a specific label type, user, or neighborhood by editing the URL and
                    pressing enter. For example:
                    <br><code>?labelType=CurbRamp</code>
                    <br><code>?users=User1</code>
                    <br><code>?neighborhoods=Neighborhood1</code>
                    <br>You can also combine the filters by using the & symbol. For example:
                    <br><code>?labelType=CurbRamp&users=User1</code>
                    <br>You can also filter for multiple users or neighborhoods by separating them with commas.
                    For example:
                    <br><code>?users=User1,User2</code>
                </p>
                <h2>Labeler</h2>
                <p id="curr-label-username"></p>
                <h2>Label ID</h2>
                <p id="curr-label-id"></p>
                <h2 id="curr-label-prev-validations">Previous Validations</h2>
            </div>
        </template>

        <div id="svv-application-holder">
            <div id="mission-title"></div>
            <div id="mission-progress-bar-section">
                <div id="mission-progress-bar">
                    <div id="mission-progress-bar-complete"></div>
                    <div id="mission-progress-bar-incomplete"></div>
                </div>
                <div id="mission-progress-bar-text">1/10</div>
            </div>
            <div id="admin-info-section">
                <button id="admin-info-button" class="validate-page-button">Admin info</button>
            </div>
            <div id="svv-panorama-holder">
                <div id="svv-panorama-outline">
                    <div id="svv-panorama"></div>
                    <div id="view-control-layer">
                        <button id="label-visibility-button-on-label" class="button label-visibility-button-on-label" title="@Messages("press.key", "H")" data-toggle="tooltip" data-placement="top">@Html(Messages("validate.top.ui.hide.label"))</button>
                        <div id="label-description-box"></div>
                    </div>
                    <div id="speed-limit-sign" class="speed-limit-sign speed-limit-sign-left" data-design-style="us-canada">
                        <div class="speed-limit-holder">
                            <p class="speed-limit-text"><span id="speed-limit">N/A</span><span id="speed-limit-sub">N/A</span></p>
                        </div>
                    </div>
                    <button id="label-visibility-control-button" title="@Messages("press.key", "H")" data-toggle="tooltip" data-placement="top"></button>
                    <div id="imagery-source-logo-holder">
                        <img id="imagery-source-logo"/>
                    </div>
                    <div id="svv-panorama-date-holder">
                        <span id="svv-panorama-date"></span>
                    </div>
                    <div id="zoom-buttons-holder">
                        <button id="zoom-in-button" class="zoom-button" title="@Messages("press.key", "Z")" data-toggle="tooltip" data-placement="top">
                            <svg viewBox="0 0 20 20"><use xlink:href="#plus"></use></svg>
                        </button>
                        <div id="zoom-button-divider"></div>
                        <button id="zoom-out-button" class="zoom-button" title="@Messages("press.keys", "Shift + Z")" data-toggle="tooltip" data-placement="top">
                            <svg viewBox="0 0 20 20"><use xlink:href="#minus"></use></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div id="modal-mission-holder" style="display: none;">
                <div id="modal-mission-background" class="modal-background"></div>
                <div id="modal-mission-foreground" class="modal-foreground">
                    <h1 id="modal-mission-header" class="text-center"></h1>
                    <div id="modal-mission-instruction"></div>
                    <button class="button" id="modal-mission-close-button">OK</button>
                </div>
            </div>
            <div id="modal-mission-complete-holder">
                <div id="modal-mission-complete-background" class="modal-background"></div>
                <div id="modal-mission-complete-foreground" class="modal-foreground">
                    <h1 class="normal" id="modal-mission-complete-title"></h1>
                    <p><div id="modal-mission-complete-message"></div></p>
                    <div id="modal-mission-complete-table">
                        <div class="col-sm-10">
                            <h3>@Messages("validate.mission.complete.category")</h3>
                            <table class="table">
                                <tr>
                                    <th>@Messages("yes.caps")</th>
                                    <td id="modal-mission-complete-agree-count" class="col-right text-right"></td>
                                </tr>
                                <tr>
                                    <th>@Messages("no.caps")</th>
                                    <td id="modal-mission-complete-disagree-count" class="col-right text-right"></td>
                                </tr>
                                <tr>
                                    <th>@Messages("unsure.caps")</th>
                                    <td id="modal-mission-complete-unsure-count" class="col-right text-right"></td>
                                </tr>
                                <tr id="your-overall-total">
                                    <th>@Messages("validate.mission.complete.your.overall.total")</th>
                                    <td id="modal-mission-complete-your-overall-total-count" class="col-right text-right"></td>
                                </tr>
                            </table>
                            <button class="btn btn-primary" id="modal-mission-complete-close-button-primary"></button>
                            <button class="btn btn-secondary" id="modal-mission-complete-close-button-secondary"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="validation-menu-holder">
                <div id="main-validate-section" class="validation-menu-section button-section">
                    <div id="main-validate-header" class="validation-menu-section-header">Is this a curb ramp?</div>
                    <div id="validation-button-holder">
                        <button id="validate-yes-button" class="validate-page-button">
                        @Html(Messages("yes.caps.shortcut"))
                        </button>
                        <button id="validate-no-button" class="validate-page-button">
                        @Html(Messages("no.caps.shortcut"))
                        </button>
                        <button id="validate-unsure-button" class="validate-page-button">
                        @Html(Messages("unsure.caps.shortcut"))
                        </button>
                    </div>
                </div>
                <div id="validate-tags-section" class="validation-menu-section">
                    <div id="validate-tags-header" class="validation-menu-section-header">Add/remove tags</div>
                    <div id="current-tags-list"></div>
                    <div id="sidewalk-ai-suggestions-block">
                        <div class="sidewalk-ai-suggestions-header">
                            <img
                                src='@assets.path("images/icons/ai-icon-small.png")'
                                alt="AI icon"
                                title="@Messages("validate.ai.disclaimer")"
                                class="ai-icon"
                            >
                            @Messages("validate.suggestions")
                        </div>
                        <div class="sidewalk-ai-suggestions-list-holder">
                            <div class="sidewalk-ai-suggested-tag template"></div>
                        </div>
                    </div>
                    <select id="select-tag" multiple></select>
                </div>
                <div id="validate-severity-section" class="validation-menu-section">
                    <div id="validate-severity-header" class="validation-menu-section-header">Update severity level</div>
                    <div id="severity-radio-holder">
                        <div class="severity-level radio-inline" id="severity-button-1" data-severity="1" data-toggle="tooltip">
                            <input type="radio" name="label-severity" value="1" id="radio-severity-1">
                            <div class="severity-icon severity-1">
                                <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-1"></use></svg>
                            </div>
                            <label for="radio-severity-1" class="severity-label">Low</label>
                        </div>
                        <div class="severity-level radio-inline" id="severity-button-2" data-severity="2" data-toggle="tooltip">
                            <input type="radio" name="label-severity" value="2" id="radio-severity-2">
                            <div class="severity-icon severity-2">
                                <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-2"></use></svg>
                            </div>
                            <label for="radio-severity-2" class="severity-label">Medium</label>
                        </div>
                        <div class="severity-level radio-inline selected" id="severity-button-3" data-severity="3" data-toggle="tooltip">
                            <input type="radio" name="label-severity" value="3" id="radio-severity-3">
                            <div class="severity-icon severity-3">
                                <svg viewBox="0 0 150 150"><use xlink:href="#smiley-frown-3"></use></svg>
                            </div>
                            <label for="radio-severity-3" class="severity-label">High</label>
                        </div>
                    </div>
                </div>
                <div id="validate-optional-comment-section" class="validation-menu-section">
                    <div id="optional-comment-input" class="input-group input-group-sm validate-text-input">
                        <input type="text" class="form-control" placeholder="Add optional comment" id="add-optional-comment" size="36" aria-label="Add optional comment">
                    </div>
                </div>
                <div id="validate-why-no-section" class="validation-menu-section">
                    <div id="validate-why-not-header" class="validation-menu-section-header">Why not?</div>
                    <div id="no-reason-options">
                        <button id="no-button-1" class="validation-reason-button"></button>
                        <button id="no-button-2" class="validation-reason-button"></button>
                        <button id="no-button-3" class="validation-reason-button"></button>
                        <div class="input-group input-group-sm validate-text-input">
                            <input type="text" class="form-control" placeholder="Or add your own reason" id="add-disagree-comment" size="36" aria-label="Add no reason input">
                        </div>
                    </div>
                </div>
                <div id="validate-why-unsure-section" class="validation-menu-section">
                    <div id="validate-why-unsure-header" class="validation-menu-section-header">Why 'Unsure'?</div>
                    <div id="unsure-reason-options">
                        <button id="unsure-button-1" class="validation-reason-button"></button>
                        <button id="unsure-button-2" class="validation-reason-button"></button>
                        <button id="unsure-button-3" class="validation-reason-button"></button>
                        <div class="input-group input-group-sm validate-text-input">
                            <input type="text" class="form-control" placeholder="Or add your own reason" id="add-unsure-comment" size="36" aria-label="Add unsure reason input">
                        </div>
                    </div>
                </div>
                <div id="validate-submit-section" class="validation-menu-section button-section">
                    <button id="validate-back-button" class="validate-page-button">Back</button>
                    <button id="validate-submit-button" class="validate-page-button">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.appManager.ready(function() {
            var svv = svv || {};
            const param = {};

            // Store user object.
            const userParam = {
                username: '@user.username',
                role: '@user.role'
            };
            svv.user = new User(userParam);

            param.dataStoreUrl = '@routes.ValidateController.post';
            param.beaconDataStoreUrl = param.dataStoreUrl + "Beacon";
            param.hasNextMission = @validatePageData.hasNextMission;
            param.completedValidations = @validatePageData.completedValidations;
            param.language = "@messages.lang.code";
            param.cityName = "@currentCity.cityNameFormatted";
            const imagerySrc = "@commonData.imagerySource.toString";
            param.viewerType = imagerySrc === 'mapillary' ? MapillaryViewer : imagerySrc === 'infra3d' ? Infra3dViewer : GsvViewer;
            param.viewerAccessToken = "@commonData.imageryAccessToken";
            param.validateParams = {
                adminVersion: @validateParams.adminVersion,
                labelTypeId: @Html(validateParams.labelType.map(_.toString).getOrElse("null")),
                userIds: @Html(validateParams.userIds.map(_.mkString("['", "','", "']")).getOrElse("null")),
                regionIds: @Html(validateParams.neighborhoodIds.map(_.mkString("[", ",", "]")).getOrElse("null")),
                unvalidatedOnly: @validateParams.unvalidatedOnly
            }
            param.tagList = @Html(JsArray(validatePageData.tagList.map(t => Json.toJson(t))).toString);

            if (@validatePageData.hasNextMission) {
                param.mission = @Html(validatePageData.mission.getOrElse("\"\"").toString);
                param.labelList = @Html(validatePageData.labelList.getOrElse("\"\"").toString);
                param.progress = @Html(validatePageData.missionProgress.getOrElse("\"\"").toString);
            }
            svv.main = new Main(param);
        });
    </script>
}
