#Holder_OnboardingMessageBox {
    background: rgba(69,183,214,0.95);
    border: 3px solid rgba(255,255,255,1);
    color : rgba(255,255,255,1);
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 10;
}

#Holder_OnboardingCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#Holder_OnboardingMessage {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.OnboardingTipIcons {
    height: 16px;
    position: relative;
    top: 2px;
    width: 16px;
}

.Onboarding_MissingCurbRampExamples {
    height: 85px;
    margin: 3px;
    width: 146px;
}

.Onboarding_DiagonalCurbRampExamples {
    height: 120px;
    margin: 3px;
    width: 218px;
}

/*
 * Onboarding 1: Labeling a bus stop
 */
.OnboardingLabelingBusStopExample {
    padding-left: 5px;
    padding-right: 5px;
    width: 400px;
    height: 280px;
    postion: relative;
}

.OnboardingLabelingBusStopExampleImage {
    width: 400px;
    height: 280px;
    top: 0;
    position: absolute;
}

.OnboardingLabelingBusStopExampleCaption {
    font-size: 12pt;
    height: 50px;
    text-align: left;
    position: absolute;
    top: 280px;
    width: 400px;
}

.OnboardingBusStopImageBox {
    background: rgba(255,255,255,1);
    padding: 1px;
}


/********************************************************************************
 * Quick check
 */
#Holder_QuickCheck {
    background: rgba(60,60,60,1);
    border: 3px solid rgba(255,255,255,1);
    color : rgba(255,255,255,1);
    font-size: 20px;
    height: 560px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 60px;
    visibility: hidden;
    width: 940px;
    z-index: 10;
}

.QuickCheckImages {
    border: 5px solid transparent;
    cursor: pointer;
    margin: 5px 10px 5px 0px;
    height: 150px;
    width: 215px;
}

#QuickCheckMessageHolder {
    height: 60px;
}

.QuickCheckCheckMarkIcons {
    bottom: 0px;
    height: 32px;
    position: absolute;
    right: 5px;
    width: 32px;
}

.QuickCheckErrorMessages {
    font-size: 11pt;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 215px;
}


