#street-view-holder {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top:0px;
    height: 490px;
    width: 730px;
}

.Window_StreetView {
    position: absolute;
    left: 0px;
    top:0px;
    height: 480px;
    width: 720px;
}


#delete-icon-holder {
    cursor: pointer;
    visibility: hidden;
    /* Position */
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 10px;
}

#Holder_LabelEditIcon {
    cursor: pointer;
    visibility: hidden;
    /* Position */
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 10px;
}

#LabelDeleteIcon, #LabelEditIcon {
    height: 20px;
    width: 20px;
}
