#action-stack-control-holder {
    font-size: 11px;
    background: transparent;
    position: absolute;
    left: 600px;
    top: 54px;
    height: 50px;
    width: 135px;
}

.action-stack-button {
    color: rgba(0,0,0,1);
    height: 40px;
    width: 65px;
}

.action-stack-icons {
    height: 16px;
    width: 16px;
}
