#status-holder {
    border: 3px dotted transparent;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 735px;
    top: 0;
    width: 200px;
    height: 370px;
}

#status-pane-title {
    border-bottom: 1px solid #ccc;
    font-size: 1em;
    margin-bottom: 3px;
    text-align: center;
}

.status-box {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    text-align: left;
}

#current-status-complete {
    background-color: rgb(254, 255, 223);
}

#current-status-title {
    font-weight: bold;
}

.status-holder-header-1 {
    font-weight: bold;
    color: rgb(127, 127, 127);
}