#progress-pov-holder {
    height: 25px;
    position: absolute;
    top: 367px;
    width: 202px;
}

#progress-pov-label {
    text-align: justify;
    font-size: 8pt;
}

#progress-pov-current-completion-bar {
    background: #ffffff;
    border: solid 1px #000;
    bottom: 3px;
    height: 5px;
    left: 0px;
    position: absolute;
    width: 200px;
}

#progress-pov-current-completion-bar-filler {
    border-width: 0px;
    bottom: 4px;
    height: 3px;
    left: 1px;
    position: absolute;
    width: 198px;
}

#progress-pov-current-completion-rate {
    color: #888;
    font-size: 8pt;
    width: 40px;
}

