#context-menu-holder {
    position: relative;
    top: 0;
    left: 0;
    /*width: 200px;*/
    height: 150px;
    background-color: white;
}

#severity-menu {
    height: 50px;
}

#severity-menu .radio-inline {
    font-size: 8pt;
}

#severity-menu .radio-inline label {
    padding: 4px 0 0 0;
}

#severity-menu .radio-inline label div {
    position: relative;
    top: 20px;
    left: -17px;
}

#severity-radio-holder span {
    font-size: 8pt;
    padding: 0 5px 0 5px;
}