#progress-holder {
    position: relative;
    height: 65px;
}

#ProgressBarContainer {
    border: 1px solid rgba(60,60,60,1);
    position: absolute;
    top: 52px;
    left: 0px;
    height: 4px;
    width: 200px;
}

#ProgressBarFilled {
    background: yellow;
    border: 0px;
    position: absolute;
    height: 4px;
    width: 100px;
}