@import models.user.User

@(user: User, url: String)
@import views.html.bootstrap._

<html>
    <body>
        <p>Hi @user.username,</p>
        <p>You recently asked to reset your password for your Project Sidewalk account. Click the link below to reset your password:</p>
        <a href="@url" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reset Your Password</a>
        <br>
        <p>If you did not request a password reset, please ignore this message or send us an email to let us know.</p>
        <p>Thanks!<br>The Project Sidewalk Team</p>
        <br>
        <p>This password reset will be valid for the next 5 minutes<p>
    </body>
</html>