@import models.user.User

@(user: User, url: String)(implicit lang: Lang)
@import views.html.bootstrap._

<html>
    <body>
        <p>@Messages("reset.pw.email.hello", user.username)</p>
        <p>@Messages("reset.pw.email.reset.request.message")</p>
        <a href="@url" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">@Messages("reset.pw.message")</a>
        <br>
        <p>@Messages("reset.pw.email.reset.not.requested")</p>
        <p>@Messages("thanks")<br>@Messages("reset.pw.email.signature")</p>
        <br>
        <p>@Messages("reset.pw.email.reset.valid.duration")<p>
    </body>
</html>
