@import models.user.User

@(user: User, url: String)
@import views.html.bootstrap._

<html>
    <body>
        <p>@Messages("email.hello", user.username)</p>
        <p>@Messages("email.reset.request.message")</p>
        <a href="@url" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">@Messages("reset.password.message")</a>
        <br>
        <p>@Messages("email.reset.not.requested")</p>
        <p>@Messages("thanks")<br>@Messages("project.sidewalk.team")</p>
        <br>
        <p>@Messages("email.reset.valid.duration")<p>
    </body>
</html>