#card-filter {
    padding: 5px;
}

#ribbon-menu-holder {
   padding-bottom: 30px;
   border-bottom: 1px solid gray;
}

#labels-not-found {
    display: none;
}

.paging {
    display: inline-block; 
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
}

.paging:disabled {
    background-color: lightgray;
    border-width: 0.2px;
}
