@import models.user.User
@(title: String, user: Option[User] = None, cityShortName: String, cityId: String)(implicit lang: Lang)

@main(title, cityId) {
    @navbar(user, cityId, Some("/demo"))
    <div id="access-score-choropleth-holder" class="choropleth-holder">
        <div id="access-score-choropleth" class="choropleth"></div>
        <div id="map-legend" class="map-text-box">
            <span id="map-legend-curb-ramp" class="map-legend-svg-spans"></span>@Messages("curb.ramp")&nbsp;
            <span id="map-legend-no-curb-ramp" class="map-legend-svg-spans"></span>@Messages("missing.ramp")&nbsp;
            <span id="map-legend-obstacle" class="map-legend-svg-spans"></span>Sidewalk Obstacle&nbsp;
            <span id="map-legend-surface-problem" class="map-legend-svg-spans"></span>@Messages("surface.problem")&nbsp;
            <span>&emsp;&emsp;</span>
            <span>Inaccessible&nbsp;<span id="map-legend-access-score-scale"></span>&nbsp;Accessible</span>
        </div>
        <div id="map-text" class="map-text-box">
            <h2>Access Score<sub><span style="font-size: 15"><b>beta</b></span></sub> in Action</h2>
            <p>
                Find out about neighborhood accessibility of @cityShortName! Here, accessible neighborhoods are colored in <span class="bold" style="color: #4dac26;">green</span>
                    and inaccessible neighborhoods are colored in <span style="color: #d01c8b;" class="bold">red</span>.
            </p>
            <p>
                If some accessibility features affect your mobility more than the others, use the slider below to adjust the significance
                of each accessibility feature!
            </p>
            <p>
                Note, <u>we don't have enough data to reliably calculate Access Score for some neighborhoods (yet).</u> Wanna help us improve it?
                    <a href='@routes.AuditController.explore()'>Participate in accessibility audit!</a>
            </p>
            <table class="table">
                <tr>
                    <th class="col-md-5"></th>
                    <th class="col-md-6 text-center">Significance</th>
                    <th class="col-md-1"></th>
                </tr>
                <tr>
                    <th>@Messages("curb.ramp")</th>
                    <td><input type="range" id="access-score-curb-ramp-slider" class="access-score-range-slider" value="100" name="CurbRamp"></td>
                    <td><span id="access-score-curb-ramp-slider-value">100</span></td>
                </tr>
                <tr>
                    <th>No Curb Ramp</th>
                    <td><input type="range" id="access-score-no-curb-ramp-slider" class="access-score-range-slider" value="100" name="NoCurbRamp"></td>
                    <td><span id="access-score-no-curb-ramp-slider-value">100</span></td>
                </tr>
                <tr>
                    <th>@Messages("obstacle")</th>
                    <td><input type="range" id="access-score-obstacle-slider" class="access-score-range-slider" value="100" name="Obstacle"></td>
                    <td><span id="access-score-obstacle-slider-value">100</span></td>
                </tr>
                <tr>
                    <th>@Messages("surface.problem")</th>
                    <td><input type="range" id="access-score-surface-problem-slider" class="access-score-range-slider" value="100" name="SurfaceProblem"></td>
                    <td><span id="access-score-surface-problem-slider-value">100</span></td>
                </tr>
            </table>
            <div>
                <h2 id="neighborhood-name"></h2>
                <h3 id="access-score-header"><span id="access-score-neighborhood"></span><small id="access-score-message"></small></h3>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/detectMobileBrowser.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-6.5.0.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/accessScoreDemo.js")'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <link href='@routes.Assets.at("stylesheets/accessScoreDemo.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/choropleth.css")' rel="stylesheet"/>
}
