@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.user.UserCurrentRegionTable
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@import play.api.libs.json.Json
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <script src='@routes.Assets.at("assets/detectMobileBrowser.js")'></script>

    <div class="container" id="choropleth-container" style="width: 100%;
        position: relative;">
        <div class="im-centered3">
            <div class="row">Pick a Neighborhood</div>
            <br>
            <div class="row" id="content-text-1">
                <div id="exploredesc" style="max-width: 490px;margin: 0 auto;">
                    You are automatically assigned a neighborhood when you click 'Start Mapping', but you can also choose one by clicking on a region below!
                </div>
            </div>
        </div>
        <br>
        <div id="map-holder">
            <div id="legend" style="display:none;">
                <strong style="font-size: 18px">Rate of Sidewalk Problems</strong>
                <nav class='legend clearfix'>
                    <span style='background:#99000a;'></span>
                    <span style='background:#b3000c;'></span>
                    <span style='background:#cc000e;'></span>
                    <span style='background:#e6000f;'></span>
                    <span style='background:#ff1a29;'></span>
                    <span style='background:#ff3341;'></span>
                    <span style='background:#ff4d58;'></span>
                    <span style='background:#ff6670;'></span>
                    <span style='background:#ff8088;'></span>
                    <span style='background:#ff99a0;'></span>
                    <label style='font-size:13px;'>Severe</label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label>OK</label>
                </nav>
                <div>
                    <p style="font-size:11px;">These results are preliminary and represent volunteer contributions that have not yet been validated.
                       We are working on it. Stay tuned!</p>
                </div>
            </div>
            <div id="choropleth"></div>
            <div id="loadingChoropleth">
                <img src='/assets/images/loader.gif' alt='loading' />
            </div>
            <!--<div class='map-overlay' id="resultsAlert">
                <p>These results are preliminary and represent volunteer contributions that have not yet been validated.
                   We are working on it. Stay tuned!</p>
            </div>-->
        </div>
    </div>


<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css' rel='stylesheet' />
<script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min.js")'></script>
<link href='@routes.Assets.at("stylesheets/choropleth.css")' rel="stylesheet"/>
<script type="text/javascript" src='@routes.Assets.at("javascripts/AccessibilityChoropleth.js")'></script>


<script>
        $(document).ready(function () {
            var difficultRegionIds = @Json.toJson(UserCurrentRegionTable.difficultRegionIds);
            window.choropleth = AccessibilityChoropleth(_, $, turf, difficultRegionIds);
        });
</script>
}
