@import models.user.User
@(user: Option[User] = None)(implicit lang: Lang)

@main("Sidewalk - Build Route") {
    @navbar(user, Some("/buildRoute"))

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

    <div id='route-builder-map' style='width: 98%; height: 800px; margin-top: 25px; left: 1%;'></div>
    <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibWlzYXVnc3RhZCIsImEiOiJjajN2dTV2Mm0wMDFsMndvMXJiZWcydDRvIn0.IXE8rQNF--HikYDjccA7Ug';
            var map = new mapboxgl.Map({
                container: 'route-builder-map',
                style: 'mapbox://styles/mapbox/streets-v11'
            });
    </script>

}
