@import models.user.User

@(title: String, user: Option[User] = None)
@main(title) {
    @navbar(user)
    <div id="content">
        <div class="container">
            <h1>Clustering labels into attributes</h1>
            <br>
            <button id="btnSingleUserClustering">Single User Clustering</button>
            <button id="btnMultiUserClustering">Multi User Clustering</button>
            <button id="btnBothClustering">Single AND Multi User Clustering</button>
            <br><br>
            <p id="clustering-result"> </p>
        </div>
    </div>

    @*<script type="text/javascript" src='routes.Assets.at("javascripts/Clustering.js")'></script>*@

    <script>
            $(document).ready(function () {
                let singleUserButton = document.getElementById('btnSingleUserClustering');
                singleUserButton.onclick = function() {
                    $.ajax({
                        type: "get",
                        url: "/runClustering?clusteringType=singleUser",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $( "#clustering-result" ).html( String(data.result) );
                        },
                        dataType: "json"
                    });
                };
            });
            $(document).ready(function () {
                let multiUserButton = document.getElementById('btnMultiUserClustering');
                multiUserButton.onclick = function() {
                    $.ajax({
                        type: "get",
                        url: "/runClustering?clusteringType=multiUser",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $( "#clustering-result" ).html( String(data.result) );
                        },
                        dataType: "json"
                    });
                };
            });
            $(document).ready(function () {
                let bothButton = document.getElementById('btnBothClustering');
                bothButton.onclick = function() {
                    $.ajax({
                        type: "get",
                        url: "/runClustering?clusteringType=both",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $( "#clustering-result" ).html( String(data.result) );
                        },
                        dataType: "json"
                    });
                };
            });
    </script>
}