@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import service.CommonPageData
@(commonData: CommonPageData, title: String, user: SidewalkUserWithRole)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)
@common.main(commonData, title) {
    @common.navbar(commonData, Some(user), Some("/clustering"))
    <div id="content">
        <div class="container">
            <h1>Clustering labels into attributes</h1>
            <button id="btn-single-user-clustering">Single User Clustering</button>
            <button id="btn-multi-user-clustering">Multi User Clustering</button>
            <button id="btn-both-clustering">Single AND Multi User Clustering</button>
            <br/>
            <p id="clustering-status"></p>
        </div>
    </div>

    @*Adds onclicks to each button that calls clustering code and extracts results from the response.*@
    <script>
        $(document).ready(function () {
            let clusterStatusElement = document.getElementById('clustering-status');

            // Handles the event stream. Updates the clustering-status element as clustering progresses.
            function clusteringEventOnMessage(event) {
                const data = JSON.parse(event.data);
                clusterStatusElement.textContent = data.status;

                // If processing is complete, show final results and close the connection.
                if (data.status === 'Complete') {
                    clusterStatusElement.textContent = `Labels: ${data.results.user_labels}, ` +
                        `User Attributes: ${data.results.user_attributes}, ` +
                        `Global Attributes: ${data.results.global_attributes}`;
                    this.close();
                }
            }

            // Handles errors in the clustering event stream.
            function clusteringEventOnError(event) {
                console.error('EventSource error:', event);
                clusterStatusElement.textContent = 'Error occurred.';
                this.close();
            }

            // Creates a new EventSource for each button click and sets up the event handlers.
            document.getElementById('btn-single-user-clustering').onclick = function() {
                const eventSource = new EventSource('/runClustering?clusteringType=singleUser');
                eventSource.onmessage = clusteringEventOnMessage;
                eventSource.onerror = clusteringEventOnError;
            };
            document.getElementById('btn-multi-user-clustering').onclick = function() {
                const eventSource = new EventSource('/runClustering?clusteringType=multiUser');
                eventSource.onmessage = clusteringEventOnMessage;
                eventSource.onerror = clusteringEventOnError;
            };
            document.getElementById('btn-both-clustering').onclick = function() {
                const eventSource = new EventSource('/runClustering?clusteringType=both');
                eventSource.onmessage = clusteringEventOnMessage;
                eventSource.onerror = clusteringEventOnError;
            };
        });
    </script>
}
