@import models.user.User
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <div class="container">
        <h1>Developer Zone</h1>
        <p class="text-justify">
            <span class="bold">Hey, we need your help!</span>
            Use the sidewalk accessibility data that we have collected to make new technologies
            that support people with mobility impairments!
        </p>
        <p class="text-justify">
            We serve our accessibility data in two formats: <span class="bold">Access Attribute and Access Score.</span> Access Attribute contains
            point-level information on what accessibility attributes exist and where (latitude-longitude). <a data-scroll href="#access-api-access-attribute-row">See below for an example.</a>
            Access Score is a value that indicates how (in)accessible a given street/area is. <a data-scroll href="#access-api-access-score-street-row">See the Access Score APIs for examples.</a>
        </p>
        <p class="text-justify">
            You can get the data through the <a data-scroll href="#access-api-header">REST APIs</a>.
                @*or <a data-scroll href="#access-dataset">download the zip file.</a>*@
                You can also help <a data-scroll href="#contribute">contribute</a>! The code is available on
                <a href="https://github.com/ProjectSidewalk/SidewalkWebpage" target="_blank">github</a>.
        </p>

        <div class="row">
            <div class="col-lg-12">
                <a class="anchor" id="access-api-header"></a>
                <h2>Access APIs</h2>
            </div>
        </div>
        <hr>
        <div class="spacer-20-pixel"></div>
        <a class="anchor" id="access-api-access-attribute-row"></a>
        <div class="row">
            <div class="col-sm-4">
                <div id="developer-access-attribute-map" class="map"></div>
            </div>
            <div class="col-sm-8">
                <h3>Access Attributes</h3>
                <table class="table">
                    <tr>
                        <td colspan="2">
                            This API serves point-level location data on accessibility attributes. The major categories
                            of attributes include: "Curb Ramp", "Missing Curb Ramp", "Obstacle", and "Surface Problem".
                            The less common attributes are "No Sidewalk", "Occlusion", and "Other". You can also query
                            for the individual labels that make up the attributes.
                        </td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td>
                            <code>/v2/access/attributes</code><br>
                            <code>/v2/access/attributesWithLabels</code>
                        </td>
                    </tr>
                    <tr>
                        <th>Method</th>
                        <td>GET</td>
                    </tr>
                    <tr>
                        <th>Parameters</th>
                        <td>
                            <dl>
                                <dt>Required:</dt>
                                <dd>You need to pass a pair of latlng coordinates to define a bounding
                                    box, which is used to specify where you want to query the data from.
                                    </dd>
                            </dl>
                            <ul>
                                <li>
                                    <code>lat1=[double]</code><br />
                                </li>
                                <li>
                                    <code>lng1=[double]</code><br />
                                </li>
                                <li>
                                    <code>lat2=[double]</code><br />
                                </li>
                                <li>
                                    <code>lng2=[double]</code><br />
                                </li>
                            </ul>
                            <dl>
                                <dt>Optional:</dt>
                                <dd>You can pass a specific severity to look for and/or a specific filetype
                                    for the returned dataset. Severity can be an integer value from 1-5 or
                                    "none" to represent data without a severity rating. You can pass a filetype
                                    that can be a string "csv" to represent data returned in CSV format instead
                                    of the GeoJSON format returned by default.</dd>
                            </dl>
                            <ul>
                                <li>
                                    <code>severity=[int|string]</code><br />
                                </li>
                                <li>
                                    <code>filetype=csv</code><br />
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Success Response</th>
                        <td>
                            <dl>
                                <dt>200</dt>
                                <dd>
                                    The API returns all the available accessibility attributes in the specified area
                                    as a <a href="http://geojson.org/geojson-spec.html#feature-collection-objects">Feature Collection</a> of
                                        <a href="http://geojson.org/geojson-spec.html#point">Point features.</a>
                                    Properties of the attributes include label type, neighborhood name, severity, whether the
                                        problem was marked as temporary, and a unique attribute id (see
                                        <a data-scroll href="#disclaimer">disclaimer section</a> for caveats). The
                                        attributesWithLabels endpoint also includes the parameters needed to recreate
                                        the environment in Google Street View (including heading, pitch, etc.).
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <th>Examples</th>
                        <td>
                            <a id="attributes-link" target="_blank" href=''>
                                <code id="attributes-code"></code>
                            </a><br>
                            <a id="attributes-with-labels-link" target="_blank" href=''>
                                <code id="attributes-with-labels-code"></code>
                            </a><br>
                            <a id="attributes-link-CSV" target="_blank" href=''>
                                <code id="attributes-code-CSV"></code>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="spacer-20-pixel"></div>
        <a class="anchor" id="access-api-access-score-street-row"></a>
        <div class="row">
            <div class="col-sm-4">
                <div id="developer-access-score-streets-map" class="map"></div>
            </div>
            <div class="col-sm-8">
                <h3>Access Score: Streets</h3>
                <table class="table">
                    <tr>
                        <td colspan="2">
                            This API serves Accessibility Scores of the streets within a specified region.
                            Accessibility Score is a value between 0 and 1, where 0 means inaccessible and
                            1 means accessible.
                        </td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td><code>/v2/access/score/streets</code></td>
                    </tr>
                    <tr>
                        <th>Method</th>
                        <td>GET</td>
                    </tr>
                    <tr>
                        <th>Parameters</th>
                        <td>
                            <dl>
                                <dt>Required:</dt>
                                <dd>You need to pass a pair of latlng coordinates to define a bounding
                                    box, which is used to specify where you want to query the data from.</dd>
                            </dl>
                            <ul>
                                <li>
                                    <code>lat1=[double]</code><br />
                                </li>
                                <li>
                                    <code>lng1=[double]</code><br />
                                </li>
                                <li>
                                    <code>lat2=[double]</code><br />
                                </li>
                                <li>
                                    <code>lng2=[double]</code><br />
                                </li>
                            </ul>
                            <dl>
                                <dt>Optional:</dt>
                                <dd>You can pass a filetype that can be a string "csv" to represent data
                                    returned in CSV format instead of the GeoJSON format returned by default.</dd>
                            </dl>
                            <ul>
                                <li>
                                    <code>filetype=csv</code><br />
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Success Response</th>
                        <td>
                            <dl>
                                <dt>200</dt>
                                <dd>
                                    The API returns the streets that have been audited at least once as a <a href="http://geojson.org/geojson-spec.html#feature-collection-objects">Feature Collection</a> of
                                    <a href="http://geojson.org/geojson-spec.html#linestring">LineString features.</a> Each LineString feature
                                    include street's geometry as well as the corresponding Access Score.
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <th>Examples</th>
                        <td>
                            <a id="streets-link" target="_blank">
                                <code id="streets-code"></code>
                            </a><br>
                            <a id="streets-link-CSV" target="_blank">
                                <code id="streets-code-CSV"></code>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>
        <div class="spacer-20-pixel"></div>
        <div class="row">
            <div class="col-sm-4">
                <div id="developer-access-score-neighborhoods-map" class="map">Map</div>
            </div>
            <div class="col-sm-8">
                <h3>Access Score: Neighborhood</h3>
                <table class="table">
                    <tr>
                        <td colspan="2">
                            This API serves Accessibility Scores of the neighborhoods within a specified region.
                            Accessibility Score is a value between 0 and 1, where 0 means inaccessible and
                            1 means accessible.
                        </td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td><code>/v2/access/score/neighborhoods</code></td>
                    </tr>
                    <tr>
                        <th>Method</th>
                        <td>GET</td>
                    </tr>
                    <tr>
                        <th>Parameters</th>
                        <td>
                            <dl>
                                <dt>Required:</dt>
                                <dd>You can pass a filetype that can be a string "csv" to represent data
                                    returned in CSV format instead of the GeoJSON format returned by default.</dd>
                            </dl>
                            <ul>
                                <li>
                                    <code>lat1=[double]</code><br />
                                </li>
                                <li>
                                    <code>lng1=[double]</code><br />
                                </li>
                                <li>
                                    <code>lat2=[double]</code><br />
                                </li>
                                <li>
                                    <code>lng2=[double]</code><br />
                                </li>
                            </ul>
                            <dl>
                                <dt>Optional:</dt>
                                <dd>You can pass a filetype that can be a string "csv" to represent data
                                    returned in CSV format instead of GeoJSON by default.</dd>
                            </dl>
                            <ul>
                                <li>
                                    <code>filetype=csv</code><br />
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Success Response</th>
                        <td>
                            <dl>
                                <dt>200</dt>
                                <dd>
                                    The API returns neighborhoods in a given area as a <a href="http://geojson.org/geojson-spec.html#feature-collection-objects">Feature Collection</a> of
                                    <a href="http://geojson.org/geojson-spec.html#polygon">Polygon features.</a> Each Polygon feature
                                    includes its geometry as well as the corresponding Access Score.
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <th>Examples</th>
                        <td>
                            <a id="regions-link" target="_blank">
                                <code id="regions-code"></code>
                            </a><br>
                            <a id="regions-link-CSV" target="_blank">
                                <code id="regions-code-CSV"></code>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 id="access-dataset">Access Dataset</h2>
                <p>We are working on this!</p>

                <h2>Changes in API v2</h2>
                <p class="text-justify">
                    We have moved to v2 of the public API as of October, 2018. Changes include:
                </p>
                <ol>
                    <li>More sophisticated clustering is used for the Attribute and Access Score endpoints.</li>
                    <li>Accessibility attribute metadata in v1 included lat, lng, label type, and panorama id. In v2,
                        the attribute metadata includes lat, lng, label type, neighborhood name, severity, whether the
                        problem was marked as temporary, and a unique attribute id (see
                        <a data-scroll href="#disclaimer">disclaimer section</a> for caveats).</li>
                    <li>The Access Feature endpoint has been renamed Access Attribute, because "attribute" has a more
                        neutral connotation than "feature", and is thus more suitable to describe both curb ramps
                        <i>and</i> missing curb ramps. The v1 API can still be accessed using either
                        <code>/v1/access/features</code> or <code>/v1/access/attributes</code>.</li>
                    <li>We've added a new <code>/v2/access/attributesWithLabels</code> endpoint, which gives access to
                        the individual labels that are clustered into accessibility attributes.</li>
                </ol>

                <a class="anchor" id="disclaimer"></a>
                <h2>Disclaimer</h2>
                <p class="text-justify">
                    We are still in the experimental stage of the project, so we want you to keep in mind a few things,
                    for example:
                </p>
                <ol>
                    <li>The unique id that comes with each accessibility attribute is not guaranteed to correspond to
                        the same attribute over time (the ids are likely to change daily right now).</li>
                    <li>In the access/attribute endpoint the severity property may be null, as we do not require users
                        to mark severity for their labels.</li>
                    <li>APIs' design (e.g., URL, response formats) could change.</li>
                    <li>We are focusing on collecting data only from Washington, DC and Newberg, OR at the moment.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <a class="anchor" id="contribute"></a>
                <h2>Contribute</h2>
                <p class="text-justify">
                    All the code for Project Sidewalk is open source. You can find it in our
                        <a href="https://github.com/ProjectSidewalk/SidewalkWebpage" target="_blank">GitHub repo</a>.
                    We welcome your help in advancing the project. If you make an enhancement or fix a bug, send a pull request!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Contact Us</h2>
                <p class="text-justify">
                    Questions? Bugs? Feature requests and suggestions? Or anything else? Email us
                    (<a href="mailto:sidewalk@@cs.uw.edu">sidewalk@@cs.uw.edu</a>), post a
                    <a href="https://github.com/ProjectSidewalk/SidewalkWebpage/issues" target="_blank">GitHub issue</a>,
                    or follow and talk to us on <a href="https://twitter.com/projsidewalk" target="_blank">Twitter
                        @@projsidewalk</a>!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>License</h2>
                <p>
                    The Project Sidewalk code is licensed under the terms of the <a href="https://github.com/ProjectSidewalk/SidewalkWebpage/blob/master/LICENSE.md">MIT License</a>.
                </p>
            </div>
        </div>
    </div>
    <style>
        .map {
            margin: 25px 0 0 0;
            height: 300px;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/smooth-scroll.js")'></script>
    <script type="text/javascript">smoothScroll.init();</script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/developer.js")'></script>

    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
}
