@import service.CommonPageData
@import views.html.helper.{form, CSRF}
@import play.api.Configuration
@(forgotPasswordForm: Form[String], commonData: CommonPageData)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@main(commonData, "Sidewalk - Recover Password") {
    @navbar(commonData, None)
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }

    @request.flash.get("info").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-info"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            @msg
        </div>
    }

    <fieldset class="col-md-6 col-md-offset-3" style="margin-top:51px">
        <legend>@Messages("reset.pw.forgot.title")</legend>
        @form(action = routes.ForgotPasswordController.submit) {
            @CSRF.formField
            <p class="info">@Messages("reset.pw.forgot.submit.email")</p>
            @b3.email(forgotPasswordForm("emailForgotPassword"), '_hiddenLabel -> Messages("authenticate.email"), 'placeholder -> Messages("authenticate.email"))
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset.pw.email.send.link")</button>
                </div>
            </div>
        }
    </fieldset>
}
