@(forgotPasswordForm: Form[String], cityId: String)(implicit request: RequestHeader, lang: Lang)
@import views.html.bootstrap._

@main("Project Sidewalk - Recover Password") {
    @navbar(None, Some("/"), cityId)
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }

    @request.flash.get("info").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-info"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            @msg
        </div>
    }

    <fieldset class="col-md-6 col-md-offset-3" style="margin-top:51px">
        <legend>@Messages("reset.pw.forgot.title")</legend>
        @helper.form(action = routes.ForgotPasswordController.submit()) {
            <p class="info">@Messages("reset.pw.forgot.submit.email")</p>
            @text(forgotPasswordForm("email"), Messages("authenticate.email"), icon = "at")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset.pw.email.send.link")</button>
                </div>
            </div>
        }
    </fieldset>
}
