@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, lang: Lang)
@import views.html.bootstrap._

@main("Project Sidewalk - Recover Password") {
    @navbar(None)
    <fieldset class="col-md-6 col-md-offset-3" style="margin-top:51px">
        <legend>@Messages("forgot.password.title")</legend>
        @helper.form(action = routes.ForgotPasswordController.submit(), 'autocomplete -> "off") {
            <p class="info">@Messages("forgot.password.submit.email")</p>
            @text(forgotPasswordForm("email"), Messages("navbar.email"), icon = "at")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("email.send.link")</button>
                </div>
            </div>
        }
    </fieldset>
}