@import models.user.User
@(title: String, user: Option[User] = None, cityId: String, otherCityURLs: List[(String, String, String, String)], label: String, labels: List[(String, String)], severity: List[Int])(implicit lang: Lang)

@main(title) {
    <head>
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://sidewalk-columbus.cs.washington.edu/assets/assets/sidewalk-logo.png">
        <meta property="og:image:width" content="720">
        <meta property="og:image:height" content="480">
        <meta property="og:title" content="Sidewalk Gallery">
        <meta property="og:url" content="https://sidewalk-sea.cs.washington.edu/gallery">
        <meta property="og:description" content="Checkout this accesabilty issue I saw">
    </head>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Gallery/build/Gallery.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("/javascripts/common/Utilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/es.js")'></script>
    <div id="page-loading"><img id="loading-gif" src='@routes.Assets.at("images/project_sidewalk_page_load.gif")'/></div>

    @navbar(user, Some("/gallery"))
    <div id="gallery">
        <div class="sidebar">
            <div id="card-filter">
                <div id="city-filter-holder" class="filter-section-holder">
                    <span id="city-type-holder">
                        <h4><b>@Messages("navbar.city")</b></h4>
                        <select id="city-select" class="gallery-filter" disabled>
                            @for((id, cityName, cityURL, visible) <- otherCityURLs.filter(c => c._4 == "public" || c._1 == cityId)) {
                                @if(cityId == id) {
                                    <option value="@cityURL" selected>@cityName</option>
                                } else {
                                    <option value="@cityURL">@cityName</option>
                                }
                            }
                        </select>
                    </span>
                </div>
                <div id="horizontal-line"></div>
                <div id="label-type-filter-holder" class="filter-section-holder">
                    <span id="label-type-holder">
                        <h4><b>@Messages("gallery.show")</b></h4>
                        <select id="label-select" class="gallery-filter" disabled>
                            @for((value, message) <- labels) {
                                @if(value == label) {
                                    <option value="@value" selected>@message</option>
                                } else {
                                    <option value="@value">@message</option>
                                }
                            }
                        </select>
                    </span>
                </div>
                <div id="horizontal-line"></div>
                <div id="filters">
                    <h4 id="filter-header"><b>@Messages("gallery.filter.by")</b></h4>
                    <h5 id="severity-header" class="filter-subheader">@Messages("gallery.severity")</h5>
                    <span id="severity-select"></span>
                    <h5 id="tags-header" class="filter-subheader">@Messages("gallery.tags")</h5>
                    <span id="tags"></span>
                </div>
            </div>
        </div>
        <div id="labels-not-found-text">
            <span id="labels-not-found">@Html(Messages("gallery.labels.not.found"))</span>
        </div>
        <div id="gallery-content" class="grid-container">
            <div id="image-card-container" class="cards"></div>
            <div class="gallery-modal">
                <div class="modal-top-holder">
                    <div class="gallery-modal-header"></div>
                    <div class="gallery-modal-close">×</div>
                </div>
                <div class="gallery-modal-pano">
                    <button class="gallery-modal-pano-paging" id="prev-label">&lt</button>
                    <div class="gallery-modal-pano-display">
                        <div class="actual-pano"></div>
                    </div>
                    <button class="gallery-modal-pano-paging" id="next-label">&gt</button>
                </div>
                <div class="gallery-modal-info">
                    <div class="gallery-modal-info-timestamps"></div>
                    <div class="gallery-modal-info-severity"></div>
                    <div class="gallery-modal-info-tags"></div>
                    <div class="gallery-modal-info-temporary"></div>
                    <div class="gallery-modal-info-description"></div>
                    <div class="gallery-modal-share">
                        <div id="share-popup">
                            <button class="facebook share-button">
                                <img class="share-icon" src="/assets/javascripts/SVLabel/img/icons/facebook_share_icon.svg">
                            </button>
                            <button class="twitter share-button">
                                <img class="share-icon" src="/assets/javascripts/SVLabel/img/icons/twitter_share_icon.svg">
                            </button>
                            <button class="linkedin share-button">
                                <img class="share-icon" src="/assets/javascripts/SVLabel/img/icons/linkedin_share_icon.svg">
                            </button>
                            <button class="tumblr share-button">
                                <img class="share-icon" src="/assets/javascripts/SVLabel/img/icons/tumblr_share_icon.svg">
                            </button>
                            <div class="vertical-divider"></div>
                            <button class="copy share-button">
                                <img class="share-icon" src="/assets/javascripts/SVLabel/img/icons/copy_icon.svg">
                                <div class="copy-text">copy link</div>
                            </button>
                        </div>
                        <button class="modal-share-button">
                            <img class="share-button-image" src="/assets/javascripts/SVLabel/img/icons/share_icon.svg">
                            Share
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-control">
        <button class="paging" id="prev-page">&lt</button>
        <div class="paging" id="page-number"></div>
        <button class="paging" id="next-page">&gt</button>
    </div>
    @footer()

    <script type="text/javascript">
            var sg = sg || {};
            let params = {};

            // Path to assets
            params.rootDirectory = "/assets/javascripts/SVLabel/";

            // URLs for where to send interaction data
            params.dataStoreUrl = '@routes.GalleryTaskController.post';
            params.beaconDataStoreUrl = params.dataStoreUrl + "Beacon";

            params.language = "@lang.code";

            sg.main = new Main(params);
    </script>
    <script type="text/javascript">
            let current_url = window.location.href;
            let title = document.title;

            $(document).click(function(event) {
                var $target = $(event.target);
                if(!$target.closest('.gallery-modal-share').length && $('#share-popup').is(":visible")) {
                    $('#share-popup').hide("fast");
                    $('.copy-text').text("copy link")
                }
            });

            $('.modal-share-button').click(function() {
                $('#share-popup').show("fast", function() {
                    $('#share-popup').css("display", "flex");
                });
            });

            $('.facebook').click(function() {
               let share_url =  "https://www.facebook.com/sharer/sharer.php?u=" + current_url;
               window.open(share_url, "_blank");
                saveImagePost(current_url);
            });

            $('.twitter').click(function() {
                let share_url =  "https://twitter.com/intent/tweet?text=" + title + "&url=" + current_url;
                window.open(share_url, "_blank");
                saveImagePost(current_url);
            });

            $('.linkedin').click(function() {
                let share_url =  "https://www.linkedin.com/cws/share?url=" + current_url;
                window.open(share_url, "_blank");
                saveImagePost(current_url);
            });

            $('.tumblr').click(function() {
                let share_url =  "http://tumblr.com/widgets/share/tool?canonicalUrl=" + current_url;
                window.open(share_url, "_blank");
                saveImagePost(current_url);
            });

            $('.copy').click(async function() {
                navigator.clipboard.writeText(current_url);
                $('.copy-text').text("copied!")
                saveImagePost(current_url);
            });

            function saveImagePost(url) {
                let imageSaveLocation = url.substring(0, url.length - 8) + "/assets/assets/share-images/"
                // Save the image on server via post request
                $.ajax({
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    url: "/saveShareImage?url=" +
                            encodeURIComponent(document.querySelector('meta[property="og:image"]')
                                    .getAttribute("content")),
                    type: 'GET',
                    dataType: "json",
                    success: function (result) {
                        document.querySelector('meta[property="og:image"]').setAttribute("content",
                                imageSaveLocation + result.filename);
                        document.querySelector('meta[name="twitter:image"]').setAttribute("content",
                                imageSaveLocation + result.filename);
                    },
                    error: function(xhr, textStatus, error){
                        console.error(xhr.statusText);
                        console.error(textStatus);
                        console.error(error);
                    }
                });
            }
    </script>

    <link rel="stylesheet" href='@routes.Assets.at("javascripts/Gallery/build/Gallery.css")'/>
}
