@import models.user.User
@(title: String, user: Option[User] = None)(implicit lang: Lang)

@main(title) {
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Gallery/build/Gallery.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("/javascripts/common/Utilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/es.js")'></script>
    <div id="page-loading"><img id="loading-gif" src='@routes.Assets.at("images/project_sidewalk_page_load.gif")'/></div>

    @navbar(user, Some("/gallery"))
    <div class="grid-container">
        <div class="sidebar">
            <div id="card-filter"> 
                <div id="ribbon-menu-holder">
                    <span id="label-type-holder">
                        <h4><b>@Messages("gallery.show")</b></h4>
                        <select id="label-select" disabled>
                            <option value="Assorted">@Messages("gallery.all")</option>
                            <option value="CurbRamp">@Messages("curb.ramp")</option>
                            <option value="NoCurbRamp">@Messages("missing.ramp")</option>
                            <option value="Obstacle">@Messages("obstacle")</option>
                            <option value="SurfaceProblem">@Messages("surface.problem")</option>
                            <option value="Occlusion">@Messages("gallery.occlusion")</option>
                            <option value="NoSidewalk">@Messages("no.sidewalk")</option>
                            <option value="Other">@Messages("other")</option>
                        </select>
                    </span>
                    
                </div>
                <div id="horizontal-line"></div>
                <div id="filters">
                    <h4><b>@Messages("gallery.filter.by")</b></h4>
                    <h5 id="severity-header">@Messages("gallery.severity")</h5>
                    <span id="severity">
                    </span>
                    <h5 id="tags-header">@Messages("gallery.tags")</h5>
                    <span id="tags">
                    </span>
                </div>  
            </div>
        </div>
        <div id="labels-not-found-text">
            <span id="labels-not-found">@Html(Messages("gallery.labels.not.found"))</span>
        </div>
        <div id="image-card-container" class="cards"></div>
        <div class="gallery-modal">
            <div class="modal-top-holder">
                <div class="gallery-modal-header"></div>
                <div class="gallery-modal-close">×</div>
            </div>
            <div class="gallery-modal-pano">
                <button class="gallery-modal-pano-paging" id="prev-label">&lt</button>
                <div class="gallery-modal-pano-display">
                    <div class="actual-pano"></div>
                </div>
                <button class="gallery-modal-pano-paging" id="next-label">&gt</button>
            </div>
            <div class="gallery-modal-info">
                <div class="gallery-modal-info-timestamps"></div>
                <div class="gallery-modal-info-severity"></div>
                <div class="gallery-modal-info-tags"></div>
                <div class="gallery-modal-info-temporary"></div>
                <div class="gallery-modal-info-description"></div>
            </div>
            <div class="gallery-modal-validation">
                <div class="gallery-modal-validation-button validate-agree" id="gallery-modal-agree">Agree</div>
                <div class="gallery-modal-validation-button validate-disagree" id="gallery-modal-disagree">Disagree</div>
                <div class="gallery-modal-validation-button validate-not-sure" id="gallery-modal-not-sure">Not Sure</div>
            </div>
        </div>
    </div>
    <div class="page-control">
        <button class="paging" id="prev-page">&lt</button>
        <div class="paging" id="page-number"></div>
        <button class="paging" id="next-page">&gt</button>
    </div>

    @footer()

    <script type="text/javascript">
            var sg = sg || {};
            let params = {};

            // Path to assets
            params.rootDirectory = "/assets/javascripts/SVLabel/";

            // URLs for where to send interaction data
            params.dataStoreUrl = '@routes.GalleryTaskController.post';
            params.beaconDataStoreUrl = params.dataStoreUrl + "Beacon";

            params.language = "@lang.code";

            sg.main = new Main(params);
    </script>

    <link rel="stylesheet" href='@routes.Assets.at("javascripts/Gallery/build/Gallery.css")'/>
}
