@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.user.UserCurrentRegionTable
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user)
    <div id="content">
        <div class="container">
            <h3>Ground Truth Resolution</h3>

            <div id="gt-map-holder">
            <div id="groundtruth-map"></div>
          </div>


            <div class="row" style="margin-top: 20px">
                <div class="col-lg-6">
                    <div id="panorama-1" style="height: 480px; width: 720px; float: right;"></div>
                </div>
                <div class="col-lg-6">
                    <div id="panorama-2" style="height: 480px; width: 720px; float: left;"></div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/gtresolution.js")'></script>


    <link href='@routes.Assets.at("stylesheets/mapbox.css")' rel='stylesheet' />
    <script src='@routes.Assets.at("javascripts/lib/mapbox.js")'></script>
}
