@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.user.UserCurrentRegionTable
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user)
    <div id="content">
        <div id="gt-container">
            <h3>Ground Truth Resolution Tool</h3>


            <div id="gt-map-nav">
              <div id="gtButtonContainer">
                <button class="gtButton" id="gtprev">Prev</button>
                <button class="gtButton" id="gtrefocus">Refocus</button>
                <button class="gtButton" id="gtnext">Next</button>
              </div>
              <div id="gt-map-holder">
                <div id="groundtruth-map"></div>
              </div>
            </div>

        <div class="gtcolumn" id="column2">
              <div class="col-lg-6" id="pano1-holder">
                    <div class="labelinfo" id="info1">
                      <div class="viewnum"><b>View 1 </b><a id="clear1" style="cursor: pointer">Clear</a></div><div class="labelstats"></div></div>
                  <div id="panorama-1" class="gtpano"></div>
              </div>
              <br>
              <div class="col-lg-6">
                <div class="labelinfo" id="info2">
                <div class="viewnum"><b>View 2 </b><a id="clear2" style="cursor: pointer">Clear</a></div><div class="labelstats"></div></div>
                  <div id="panorama-2" class="gtpano"></div>
              </div>
        </div>

        <div class="gtcolumn" id="column3">
          <div class="col-lg-6">
              <div class="labelinfo" id="info3">
                <div class="viewnum"><b>View 3 </b><a id="clear3" style="cursor: pointer">Clear</a></div><div class="labelstats"></div></div>
              <div id="panorama-3" class="gtpano"></div>
          </div>
          <br>
          <div class="col-lg-6">
            <div class="labelinfo" id="info4">
            <div class="viewnum"><b>View 4 </b><a id="clear4" style="cursor: pointer">Clear</a></div><div class="labelstats"></div></div>
              <div id="panorama-4" class="gtpano"></div>
          </div>
        </div>


    </div>
    </div>


    <script type="text/javascript" src='@routes.Assets.at("resources/sample_labels.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/gtresolution.js")'></script>
    <link href='@routes.Assets.at("stylesheets/mapbox.css")' rel='stylesheet' />
    <script src='@routes.Assets.at("javascripts/lib/mapbox.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/mapbox.js")'></script>

}
