@import models.user.User
@import models.region.RegionTable
@import models.label._
@import models.street.StreetEdgeTable
@import play.api.libs.json.Json
@(title: String, user: Option[User] = None, cityName: String, stateAbbreviation: String, cityShortName: String, mapathonLink: Option[String], cityId: String, otherCityURLs: List[(String, String)], auditedDistance: Float)(implicit lang: Lang)

@main(title) {
    @navbar(user, Some("/"))
    <div id="vidbanner">
        <video playsinline autoplay muted loop poster='@routes.Assets.at("assets/psmockup.jpg")' id="bgvid" class="visible-desktop">
            <source src='@routes.Assets.at("assets/mainvideo.webm")' type="video/webm">
            <source src='@routes.Assets.at("assets/mainvideo.mp4")' type="video/mp4">
        </video>
        <div id="overlay-top" style="width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            background-color: rgba(192, 190, 207, 0.4);
            left: 0px;">
        </div>
        <div class="container" id="banner">
            <div class="row" id="bigtext">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" id="bannertext">
                    <p id="text">
                        <span class="tagline">@Messages("landing.create.path")</span>
                    </p>
                    <br>
                    <a class="body-start-btn" href="@routes.AuditController.audit()">@Messages("navbar.explore") @cityShortName</a>
                    <br><br>
                    <span class="header-text">@Messages("landing.also.in")</span>
                    @for((cityName, cityURL) <- otherCityURLs.filter(c => c._1 != "Washington, DC" && c._1 != "Pittsburgh, PA")) {
                        <!-- Replacing a space with a nbsp in order to make sure wrapping works as intended. -->
                        <!-- JEF: per Issue #2227, changing link to just be cityURL rather than cityURL + "/audit" -->
                        <a id="@cityName" class="other-city-link" href="@{cityURL}">@cityName.replace(" ", " ")</a> &nbsp;
                    }
                    <br>
                    @if(mapathonLink.isDefined) {
                        <span class="header-text">@Html(Messages("landing.mapathon", cityShortName, mapathonLink.get))</span>
                    }
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container" id="banner2" style="width: 100%;
            position: relative;">
            <div class="im-centered">
                <div class="row">@Messages("landing.how.you.help")</div>
                <br>
                <div class="row" id="content-text-1">
                    <div id="exploredesc">
                        @Messages("landing.how.you.help.content")
                    </div>
                        <br><br>
                    <div class="row" id="numbersrow">
                        <div class="col-sm-4">
                            <div id="firstnumbox">
                            <span class="stepnumber" id="number1">01</span><br><span id="word1" class="stepword">@Messages("landing.how.you.help.explore")</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div id="secondnumbox">
                            <span class="stepnumber" id="number2">02</span><br><span id="word2" class="stepword">@Messages("landing.how.you.help.find")</span>
                            </div>
                            </div>
                        <div class="col-sm-4">
                            <div id="thirdnumbox">
                            <span class="stepnumber" id="number3">03</span><br><span id="word3" class="stepword">@Messages("landing.how.you.help.assess")</span>
                            </div>
                            </div>
                    </div>
                        <div class="hidden-xs" id="greenbar">
                        </div>
                        <div id="instructionvideo">
                            <video id="vid1" width="800" style="display:none;" playsinline autoplay muted loop poster='@routes.Assets.at("assets/segment-1-1.jpg")' class="visible-desktop"> <source src='@routes.Assets.at("assets/segment-1-1.mp4")' type="video/mp4"> </video>
                            <video id="vid2" width="800" style="display:none;" playsinline autoplay muted loop poster='@routes.Assets.at("assets/segment-2.jpg")' class="visible-desktop"> <source src='@routes.Assets.at("assets/segment-2.mp4")' type="video/mp4"> </video>
                            <video id="vid3" width="800" style="display:none;" playsinline autoplay muted loop poster='@routes.Assets.at("assets/segment-3.jpg")' class="visible-desktop"> <source src='@routes.Assets.at("assets/segment-3.mp4")' type="video/mp4"> </video>
                        </div>
                </div>
            </div>
        </div>

    <div class="container" id="choropleth-container" style="width: 100%;
        position: relative;">
        <div class="im-centered3">
            <div class="row">@Messages("landing.choropleth.title")</div>
            <br>
            <div class="row" id="content-text-1">
                <div id="exploredesc">
                    @Messages("landing.choropleth.content")
                </div>
            </div>
        </div>
        <br>
        <div id="map-holder">
            <div id="choropleth"></div>
            <div id="landing-legend">
                <strong style="font-size: 18px">@Messages("landing.choropleth.legend")</strong>
                <nav class='legend clearfix'>
                    <span style='background:#03152f;width:9.09%'></span>
                    <span style='background:#08306b;width:9.09%'></span>
                    <span style='background:#08519c;width:9.09%'></span>
                    <span style='background:#08719c;width:9.09%'></span>
                    <span style='background:#2171b5;width:9.09%'></span>
                    <span style='background:#4292c6;width:9.09%'></span>
                    <span style='background:#6baed6;width:9.09%'></span>
                    <span style='background:#82badb;width:9.09%'></span>
                    <span style='background:#9ecae1;width:9.09%'></span>
                    <span style='background:#b3d3e8;width:9.09%'></span>
                    <span style='background:#c6dbef;width:9.09%'></span>
                    <div id='landing-legend-percentages-container'>
                        <label>0%</label>
                        <label>100%</label>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="ps-skyline">
        <div class="ps-skyline-container">
            @if(cityName == "Washington" || cityName == "Seattle") {
                <img src="@routes.Assets.at("assets/" + cityId + "/skyline.png")">
            } else {
                <img style="padding-top: 75px" src="@routes.Assets.at("assets/" + cityId + "/skyline.png")">
            }
            <img src="@routes.Assets.at("assets/generic_cloud_overlay.png")" class="skyline-cloud-overlay">
        </div>
        <div class="ps-skyline-stats-holder">
            <span class="ps-skyline-stats-holder-stat-number" id="percentage">NA</span>
            <span class="ps-skyline-stats-holder-stat-number" id="distance">NA</span>
            <span class="ps-skyline-stats-holder-stat-number" id="numlabels">NA</span>
            <span class="ps-skyline-stats-holder-stat-number" id="numvalidation">NA</span>
            <span class="ps-skyline-stats-holder-stat-label">@Messages("landing.stats.percent", cityShortName)</span>
            <span class="ps-skyline-stats-holder-stat-label">@Messages("landing.stats.distance")</span>
            <span class="ps-skyline-stats-holder-stat-label">@Messages("landing.stats.labels")</span>
            <span class="ps-skyline-stats-holder-stat-label" >@Messages("landing.stats.validations")</span>
        </div>
        <div class="ps-skyline-overlay">
            <div class="row" id="skyline-spacing">@Messages("landing.stats.title")</div>
            <div class="row" id="content-text-2">
                <p id="conditional-text">Keep Mapping!</p>
            </div>
            <a class="ps-skyline-overlay-btn" href="@routes.ApplicationController.results">
                @Messages("navbar.results")
            </a>
        </div>
        <script language="javascript">
            if (@("%.0f".format(StreetEdgeTable.streetDistanceCompletionRate(1) * 100)) < 100) {
                document.getElementById('conditional-text').innerHTML = "@Messages("landing.stats.content.unfinished", "%,.0f".format(auditedDistance), cityName, stateAbbreviation, "%.1f".format(StreetEdgeTable.streetDistanceCompletionRate(1) * 100))";
            } else {
                document.getElementById('conditional-text').innerHTML = "@Messages("landing.stats.content.finished", "%,.0f".format(auditedDistance), cityName, stateAbbreviation)";
            }
            var percentageAnim = new CountUp("percentage", 0, @("%.1f".format(StreetEdgeTable.streetDistanceCompletionRate(1) * 100)),1,2.5,{suffix:'%'});
            var distanceAnim = new CountUp("distance", 0, @("%.1f".format(auditedDistance)),1,2.5,{suffix:''});
            var labelsAnim = new CountUp("numlabels", 0, @LabelTable.countLabels,0,2.5,{suffix:''});
            var validationsAnim = new CountUp("numvalidation", 0, @LabelValidationTable.countValidations,0,2.5,{suffix:''});
    </script>
    </div>
    <!-- @leaderboard(5) -->

    <div class="container" id="machinelearning-container">
            <div class="im-centered3">
                <div class="row" style="width: 450px;">@Messages("landing.ml.title")</div>
                <div class="row" id="content-text-4"><p>@Messages("landing.ml.content")</p></div>
                <br>
                <img id="mlgif" src="@routes.Assets.at("assets/MLGraphic.gif")">
            </div>
    </div>



    <div class="container" id="quotebox-container" style="min-height: 500px;">
        <div id="quotearea">
            <div class="im-centered3">
                <div class="row">@Html(Messages("landing.what.people.are.saying"))</div>
            </div>
            <div class="row" style="padding-top: 40px;">
                <div class="col-sm-6">
                    <div class="quotebox">
                        Using machine learning, big data, & civic kindness, <a href="https://twitter.com/projsidewalk" target="_blank" id="microsoftdesign-author-twitter">@@projsidewalk</a> is making D.C. more accessible one mile at a time
                        <br>
                        <span class="quoteauthor">@@microsoftdesign</span>


                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="quotebox">
                        <a href="https://twitter.com/projsidewalk" target="_blank" id="kpkindc-author-twitter">@@projsidewalk</a> is mapping accessibility in DC. Looks like C St NE and Oklahoma Ave need work!
                        <br>
                        <span class="quoteauthor">@@kpkindc</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class= "container" id="collaborators-container">
        <div class="row" id="collaborators-row">
            <div class="im-centered3" id="collaborators-title">
                <div class="row"><br>@Messages("landing.collaborators.title")<br></div>
            </div>
            <section class="collaborator-images-container">
                <div class="collaborator-image">
                    <a id="makeabilitylab-img-link" href="https://makeabilitylab.cs.washington.edu/">
                        <img src='@routes.Assets.at("assets/MakeabilityLogo.png")' alt='Makeability_Logo'>
                    </a>
                </div>
                <div class="collaborator-image">
                    <a id="ligapeatonal-img-link" href="https://ligapeatonal.org/">
                        <img src='@routes.Assets.at("assets/LigaLogo.png")' alt='LIGA_Logo'>
                    </a>
                </div>
                @if("Columbus"== cityName){
                    <div class="collaborator-image">
                        <a id="opencolumbus-img-link" href="https://www.meetup.com/OpenColumbus/">
                            <img src='@routes.Assets.at("assets/columbus-oh/open_columbus_logo.png")' alt='Open_Columbus_Logo'>
                        </a>
                    </div>
                }
            </section>
        </div>
    </div>

    <div class="container" id="press-header">
        <div class="im-centered3">
            <div class="row"><br>@Messages("landing.press.title")<br></div>
        </div>
    </div>
    <div class="container" id="press-container">
        <div class="row" id="press-image-row">
            <div class="col-sm-4">
                <a class="newslink" href="http://technical.ly/dc/2016/11/30/project-sidewalk-accessibility/" id="technically-img-link">
                    <img src='@routes.Assets.at("assets/technically.png")' height="70" alt="Technically Logo">
                </a>
            </div>
            <div class="col-sm-4">
                <a class="newslink" href="http://dc.curbed.com/2017/2/20/14669990/project-sidewalk" id="curbed-img-link">
                    <img style="position: relative; left:10px; top: -30px;" src='@routes.Assets.at("assets/curbed.jpg")' height="100" alt="Curbed DC Logo">

                </a>
            </div>
            <div class="col-sm-4">
                <a class="newslink" href="https://dbknews.com/2016/10/13/university-of-maryland-app-washington-disability-access/" id="diamondback-img-link">
                    <img src='@routes.Assets.at("assets/diamondback.png")' height="70" alt="Diamondback Logo">
                </a>
            </div>
        </div>
        <div class="row" id="press-blurb-row">
            <div class="col-sm-4">
                <a class="newslink" href="http://technical.ly/dc/2016/11/30/project-sidewalk-accessibility/" id="technically-text-link">
                    How Project Sidewalk is making DC more accessible
                </a>
            </div>
            <div class="col-sm-4">
                <a class="newslink" href="http://dc.curbed.com/2017/2/20/14669990/project-sidewalk" id="curbed-text-link">
                    Make D.C.'s sidewalks more accessible with this crowd-sourced map
                </a>
            </div>
            <div class="col-sm-4">
                <a class="newslink" href="https://dbknews.com/2016/10/13/university-of-maryland-app-washington-disability-access/" id="diamondback-text-link">
                    A UMD team made an app highlighting D.C. areas inaccessible to people with disabilities
                </a>
            </div>
        </div>
    </div>
    </div>


<script type="text/javascript" src='@routes.Assets.at("javascripts/common/detectMobileBrowser.js")'></script>
<script src='@routes.Assets.at("javascripts/homepage.js")'></script>
<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css' rel='stylesheet' />
<script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
<link href='@routes.Assets.at("stylesheets/choropleth.css")' rel="stylesheet"/>
<script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/Choropleth.js")'></script>

<script>
    $(document).ready(function () {
        // Gets all translations before loading the choropleth.
        i18next.use(i18nextXHRBackend);
        i18next.init({
            backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
            fallbackLng: 'en',
            ns: ['common'],
            defaultNS: 'common',
            lng: "@lang.code",
            debug: false
        }, function(err, t) {
            var difficultRegionIds = @Json.toJson(RegionTable.difficultRegionIds);
            var params = {
                regionColors: [
                    '#08306b', '#08519c', '#08719c', '#2171b5', '#4292c6',
                    '#6baed6', '#82badb', '#9ecae1', '#b3d3e8', '#c6dbef'
                ],
                neighborhoodPolygonStyle: {
                    color: '#888',
                    weight: 1,
                    opacity: 0.25,
                    fillColor: '#f00',
                    fillOpacity: 1.0
                },
                mouseoverStyle: {
                    opacity: 1.0,
                    weight: 3,
                    color: '#000'
                },
                mouseoutStyle: {
                    opacity: 0.25,
                    weight: 1,
                    color: '#888'
                },
                polygonFillMode: 'completionRate',
                webpageActivity: 'Click_module=Choropleth_regionId=',
                zoomSlider: true,
                clickData: true,
                scrollWheelZoom: false,
                mapName: 'choropleth',
                mapStyle: 'mapbox://styles/mapbox/light-v10'
            };
            var loadPolygons = $.getJSON('/neighborhoods');
            var loadPolygonRates = $.getJSON('/adminapi/neighborhoodCompletionRate');
            var loadMapParams = $.getJSON('/cityMapParams');
            window.choropleth = $.when(loadPolygons, loadPolygonRates, loadMapParams).done(function(data1, data2, data3) {
                return Choropleth(_, $, difficultRegionIds, params, [], data1[0], data2[0], data3[0]);
            });
        });
    });
</script>
}
