@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.user.UserCurrentRegionTable
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user)
    <div id="content">
        <div class="container">
            <h3>Help us find and label sidewalk problems in Washington DC</h3>
            <img src='@routes.Assets.at("images/interface.png")' class="img-responsive"
            alt="Audit Interface" style="float: right; height: 40%; width: 40%;"/>

            <p>
                <b>HIT Objective:</b> We are researchers at the University of Maryland developing new ways to track and study city accessibility for people with disabilities.
                This HIT will consist of completing game-like missions in our custom tool called Project Sidewalk.
                In a mission, you will virtually walk through the streets of Washington DC to find and label sidewalk accessibility issues.
                These issues include missing curb ramps, sidewalk obstacles, and surface problems (see image below).
            </p>
            <p>

                <img src='@routes.Assets.at("javascripts/SVLabel/img/onboarding/ExamplePictures03_v2.png")'
                id="onboarding-example-image-1" style="height: 55%;
                    width: 55%;
                    align: center"
                alt="Examples of accessibility attributes: curb ramps, missing curb ramps, obstacles in path, and surface problems.">
                <br/>

            </p>
            <p>
                <b>Reward Payment:</b> You need to complete a brief tutorial and then 2-3 missions in our tool to qualify for the HIT reward.
            </p>

                <!--<p>This is a research project at the University of Maryland. We are studying scalable methods for how
                remote crowd workers can find and label accessibility problems using online map imagery.
            </p>-->

        </div>
    </div>
}
