@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.user.UserCurrentRegionTable
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user)
    <div id="content">
        <div class="container">
            <h3>Help us improve the accessibility of city streets for wheelchair users!</h3>
            <img src='@routes.Assets.at("images/interface.png")' class="img-responsive"
            alt="Audit Interface" style="float: right; height: 40%; width: 40%;"/>

            <p>
                In this HIT, you will <i>virtually</i> walk through city streets in Washington DC to find and label
                accessibility features (<i>e.g.,</i> curb ramps) and problems (<i>e.g.,</i>  degraded sidewalks,
                missing curb ramps) using our custom tool called Project Sidewalk (see adjacent image).
            </p>
            <p>

                <img src='@routes.Assets.at("javascripts/SVLabel/img/onboarding/ExamplePictures03_v2.png")'
                id="onboarding-example-image-1" style="height: 55%;
                    width: 55%;
                    align: center"
                alt="Examples of accessibility attributes: curb ramps, missing curb ramps, obstacles in path, and surface problems.">
                <br/>

            </p>
            <p>
                The HIT will consist of completing a sequence of 2 or 3 simple game-like missions where you are routed along streets.
                Once you find and label all accessibility features and problems in a mission you can click 'Continue' to load the next available mission.
                The first two missions are 1,000 ft in length and the third route, if assigned, will be 2000ft in length.
                A Submit HIT button will appear when you have completed all assigned routes. <b>Note</b>: The first time you
                accept a HIT in this group, you will <i>have</i> to complete a brief tutorial before the actual task.
            </p>

                <!--<p>This is a research project at the University of Maryland. We are studying scalable methods for how
                remote crowd workers can find and label accessibility problems using online map imagery.
            </p>-->

        </div>
    </div>
}
