@import models.user.User
@(title: String, user: Option[User] = None, cityId: String)(implicit lang: Lang)

@main(title) {
    @navbar(user, Some("/labelingGuide/occlusion"), cityId)
    <script type="text/javascript" src='@routes.Assets.at("javascripts/sidebarSubtopics.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/help.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/labelingGuide.css")'/>

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/magnific-popup.css")'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='@routes.Assets.at("javascripts/jquery.magnific-popup.js")'></script>

    <div class="spacer20"></div>

    <div class="container help">
        <div class="row">
            <div class="col-md-3" id="sidebar">
                <div id="help-panel" class="panel panel-default">
                    <div class="panel-heading">
                        Occlusion
                    </div>
                    <div class="panel-body">
                        <ul id="questions-list">
                            <li><a href='@routes.ApplicationController.labelingGuide'>Introduction</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuideCurbRamps'>Curb Ramps</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuideSurfaceProblems'>Surface Problems</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuideObstacles'>Obstacles</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuideNoSidewalk'>No Sidewalk</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuideOcclusion'><strong>Occlusion</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 maincontent">
                <div class="help-item">
                    <h2 class="question" id="occlusion">Occlusion</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>@Html(Messages("labeling.guide.occlusion.summary"))</p>
                            <p>
                                Another rare case of occlusion is when a long stretch of sidewalk is totally blocked from
                                view by a short wall between the road and sidewalk. Label this using the same technique as for
                                extended <a href='@routes.ApplicationController.labelingGuideNoSidewalk'>missing sidewalks</a>.
                            </p>
                        </div>
                        <div class="img-container">
                            <div class="col-sm-6">
                                <figure class="text-center">
                                    <img src='@routes.Assets.at("images/labeling_guide_misc/Occlusion.png")' href='@routes.Assets.at("images/labeling_guide_misc/Occlusion.png")'
                                    alt="A Street View image of two cars blocking the view of the sidewalk" class="img-responsive" align=""
                                    title="Two cars blocking the view of the sidewalk">
                                    <figcaption>Two cars blocking the view of the sidewalk</figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-6">
                                <figure class="text-center">
                                    <img src='@routes.Assets.at("images/labeling_guide_misc/Occlusion2.png")' href='@routes.Assets.at("images/labeling_guide_misc/Occlusion2.png")'
                                    alt="A Street View image of a truck blocking the view of a possible curb ramp" class="img-responsive" align=""
                                    title="This truck blocks the view of a possible curb ramp">
                                    <figcaption>This truck blocks the view of a possible curb ramp</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}