@import models.user.User
@import models.region.RegionTable
@import play.api.libs.json.Json
@(title: String, user: Option[User] = None)(implicit lang: Lang)

@main(title) {
    @navbar(user, Some("/labelmap"))
    <div class="container" id="results-choropleth-container" style="width: 100%;
        position: relative;">
        <div id="map-holder">
            <div id="label-map"></div>
            <div id="map-label-legend">
                <div id="map-legend-title-holder">
                    <label id="map-legend-title">Legend</label>
                    <button id="map-legend-minimize-button" class="close" onclick="toggleLegend()">-</button>
                </div>
                <table class="table filter" id="legend-table">
                    <tr>
                        <td></td>
                        <td colspan="2" align="left" style="font-weight:bold">Label Type</td>
                        <td colspan="2" align="left" style="font-weight:bold">Severity</td>
                    </tr>
                    <tr>
                        <td id="map-legend-curb-ramp" width="12px"></td>
                        <td width="190px">@Messages("curb.ramp")</td>
                        <td width="12px"  align="center"><input type="checkbox" value="displaylabel" id="curbramp" checked="true" onclick = "toggleLayers('CurbRamp', 'curbramp', '#curb-ramp-slider', map.map, map.mapData)"></td>
                        <td width="126px"align="center"><div id = "curb-ramp-slider" style="margin-top:3px"></div></td>
                        <td width="80px" align= "center" ><span id="curb-ramp-severity-label">N/A - 5</span></td>

                    </tr>
                    <tr>
                        <td id="map-legend-no-curb-ramp"></td>
                        <td>@Messages("missing.ramp")</td>
                        <td><input type="checkbox" value="displaylabel" id="missingcurbramp" checked="true" onclick = "toggleLayers('NoCurbRamp', 'missingcurbramp', '#missing-curb-ramp-slider', map.map, map.mapData)"></td>
                        <td align="left"><div id = "missing-curb-ramp-slider" style="margin-top:3px"></div></td>
                        <td align= "center"><span id="missing-curb-ramp-severity-label">N/A - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-obstacle"></td>
                        <td>@Messages("obstacle")</td>
                        <td><input type="checkbox" value="displaylabel" id="obstacle" checked="true" onclick="toggleLayers('Obstacle', 'obstacle', '#obstacle-slider', map.map, map.mapData)"></td>
                        <td align="left"><div id = "obstacle-slider" style="margin-top:3px"></div></td>
                        <td align= "center"><span id="obstacle-severity-label">N/A - 5</span></td>
                    </tr>
                    <tr><td id="map-legend-surface-problem"></td>
                        <td>@Messages("surface.problem")</td>
                        <td><input type="checkbox" value="displaylabel" id="surfaceprob" checked="true" onclick="toggleLayers('SurfaceProblem', 'surfaceprob', '#surface-problem-slider', map.map, map.mapData)"></td>
                        <td align="left"><div id = "surface-problem-slider" style="margin-top:3px"></div></td>
                        <td align="center"><span id="surface-problem-severity-label">N/A - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-no-sidewalk"></td>
                        <td>@Messages("no.sidewalk")</td>
                        <td><input type="checkbox" value="displaylabel" id="nosidewalk" checked="true" onclick="toggleLayers('NoSidewalk', 'nosidewalk', '#no-sidewalk-slider', map.map, map.mapData)"></td>
                        <td align="left"><div id = "no-sidewalk-slider" style="margin-top:3px"></div></td>
                        <td align="center"><span id="no-sidewalk-severity-label">N/A - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-crosswalk"></td>
                        <td>@Messages("crosswalk")</td>
                        <td><input type="checkbox" value="displaylabel" id="crosswalk" checked="true" onclick="toggleLayers('Crosswalk', 'crosswalk', '#crosswalk-slider', map.map, map.mapData)"></td>
                        <td align="left"><div id = "crosswalk-slider" style="margin-top:3px"></div></td>
                        <td align="center"><span id="crosswalk-severity-label">N/A - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-other"></td>
                        <td>@Messages("other")</td>
                        <td><input type="checkbox" value="displaylabel" id="other" checked="true" onclick="toggleLayers('Other', 'other', '#other-slider', map.map, map.mapData)"></td>
                        <td align="left"><div id = "other-slider" style="margin-top:3px"></div></td>
                        <td align= "center"><span id="other-severity-label">N/A - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-signal"></td>
                        <td>@Messages("signal")</td>
                        <td><input type="checkbox" value="displaylabel" id="signal" checked="true" onclick="toggleLayers('Signal', 'signal', undefined, map.map, map.mapData)"></td>
                    </tr>
                    <tr>
                        <td id="map-legend-occlusion"></td>
                        <td>Can't see sidewalk</td>
                        <td><input type="checkbox" value="displaylabel" id="occlusion" checked="true" onclick="toggleLayers('Occlusion', 'occlusion', undefined, map.map, map.mapData)"></td>
                    </tr>
                    <tr>
                        <td id="map-legend-correct"><img src='@routes.Assets.at("javascripts/SVValidate/img/Checkmark.png")' style="width: 23px; padding: 3px;"></td>
                        <td>Validated correct</td>
                        <td><input type="checkbox" value="displaylabel" id="correct" checked="true" onclick="filterLayers('correct', map.mapData)"></td>
                    </tr>
                    <tr>
                        <td id="map-legend-incorrect"><img src='@routes.Assets.at("javascripts/SVValidate/img/Cross.png")' style="width: 23px; padding: 3px;"></td>
                        <td>Validated incorrect</td>
                        <td><input type="checkbox" value="displaylabel" id="incorrect" onclick="filterLayers('incorrect', map.mapData)"></td>
                    </tr>
                    <tr>
                        <td id="map-legend-unvalidated"><img src='@routes.Assets.at("images/icons/QuestionMark.png")' style="width: 18px; padding: 2px; padding-left: 6px;"></td>
                        <td>Unvalidated</td>
                        <td><input type="checkbox" value="displaylabel" id="unvalidated" checked="true" onclick="filterLayers('unvalidated', map.mapData)"></td>
                    </tr>
                    <tr>
                        <td id="map-legend-audited-street"></td>
                        <td>Audited Street</td>
                        <td><input type="checkbox" value="displaylabel" id="auditedstreet" checked="true" onclick="toggleAuditedStreetLayer(map.map, map.auditedStreetLayer)"></td>
                    </tr>
                    <tr>
                        <td id="map-legend-unaudited-street"></td>
                        <td>Unaudited Street</td>
                        <td><input type="checkbox" value="displaylabel" id="unauditedstreet" checked="true" onclick="toggleUnauditedStreetLayer(map.map, map.unauditedStreetLayer)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href='@routes.Assets.at("stylesheets/admin.css")' rel="stylesheet"/>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next-21.9.1.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment/es.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/dataTables.bootstrap.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Utilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Panomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVValidate/src/util/PanoProperties.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeStreets.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeSubmittedLabels.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/MapUtilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeMapLayerContainer.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/timestampLocalization.js")'></script>
    <script type="text/javascript">
        updateTimestamps("@lang.code");
    </script>

    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/detectMobileBrowser.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/Choropleth.js")'></script>


    <script>
            var labelArr = ["N/A", 1, 2, 3, 4, 5];
            var sliderToLabelMap = {};
            sliderToLabelMap["curb-ramp-slider"] = "#curb-ramp-severity-label";
            sliderToLabelMap["missing-curb-ramp-slider"] = "#missing-curb-ramp-severity-label";
            sliderToLabelMap["obstacle-slider"] = "#obstacle-severity-label";
            sliderToLabelMap["surface-problem-slider"] = "#surface-problem-severity-label";
            sliderToLabelMap["no-sidewalk-slider"] = "#no-sidewalk-severity-label";
            sliderToLabelMap["crosswalk-slider"]  = "#crosswalk-severity-label";
            sliderToLabelMap["other-slider"] = "#other-severity-label";

            $( "*[id*='slider']" ).each(function() {
                $(this).slider({
                    range: true,
                    min : 0,
                    max : 5,
                    step: 1,
                    values: [0,5],
                    slide: function(event, ui) {
                        if(labelArr[ui.values[0]] === labelArr[ui.values[1]]) {
                            $(sliderToLabelMap[this.id]).text(labelArr[ui.values[0]]);
                        } else {
                            $(sliderToLabelMap[this.id]).text(labelArr[ui.values[0]]+ " - " + labelArr[ui.values[1]]);
                        }
                    },
                    change: function(event,ui) {
                        if (this.id === "curb-ramp-slider") {
                            toggleLayers('CurbRamp', 'curbramp', '#curb-ramp-slider', map.map, map.mapData);
                        } else if (this.id === "missing-curb-ramp-slider") {
                            toggleLayers('NoCurbRamp', 'missingcurbramp', '#missing-curb-ramp-slider', map.map, map.mapData);
                        } else if (this.id === "obstacle-slider") {
                            toggleLayers('Obstacle', 'obstacle', '#obstacle-slider', map.map, map.mapData)
                        } else if (this.id === 'surface-problem-slider') {
                            toggleLayers('SurfaceProblem', 'surfaceprob', '#surface-problem-slider', map.map, map.mapData);
                        } else if (this.id === 'no-sidewalk-slider') {
                            toggleLayers('NoSidewalk', 'nosidewalk', '#no-sidewalk-slider', map.map, map.mapData);
                        } else if (this.id === 'crosswalk-slider') {
                            toggleLayers('Crosswalk', 'crosswalk', '#crosswalk-slider', map.map, map.mapData);
                        } else if (this.id === 'other-slider') {
                            toggleLayers('Other', 'other', '#other-slider', map.map, map.mapData);
                        }
                    }
                });
            });
    </script>
    <script>
        $(document).ready(function () {
        // Gets all translations before loading the choropleth.
        i18next.use(i18nextXHRBackend);
        i18next.init({
            backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
            fallbackLng: 'en',
            ns: ['common'],
            defaultNS: 'common',
            lng: '@lang.code',
            debug: false
        }, function(err, t) {
            var difficultRegionIds = @Json.toJson(RegionTable.difficultRegionIds);
            var params = {
                popupType: 'none',
                neighborhoodPolygonStyle: {
                    color: '#888',
                    weight: 2,
                    opacity: 0.80,
                    fillColor: '#808080',
                    fillOpacity: 0.1
                },
                mouseoverStyle: {
                    color: '#000',
                    opacity: 1.0,
                    weight: 3
                },
                mouseoutStyle: {
                    color: '#888',
                    opacity: 0.8,
                    weight: 2
                },
                polygonFillMode: 'singleColor',
                zoomControl: true,
                scrollWheelZoom: true,
                clickData: true,
                mapName: 'label-map',
                mapStyle: 'mapbox://styles/mapbox/streets-v11'
            };
            var streetParams = {
                labelPopup: true,
                includeLabelColor: true,
                auditedStreetColor: 'black',
                unauditedStreetColor: 'gray'
            };

            var self = {};
            var map;
            var loadPolygons = $.getJSON('/neighborhoods');
            var loadPolygonRates = $.getJSON('/adminapi/neighborhoodCompletionRate');
            var loadMapParams = $.getJSON('/cityMapParams');
            var loadStreets = $.getJSON('/contribution/streets/all?filterLowQuality=true');
            var loadSubmittedLabels = $.getJSON('/labels/all');
            // When the polygons, polygon rates, and map params are all loaded the polygon regions can be rendered.
            var renderPolygons = $.when(loadPolygons, loadPolygonRates, loadMapParams).done(function(data1, data2, data3) {
                map = Choropleth(_, $, difficultRegionIds, params, [], data1[0], data2[0], data3[0]);
                self.map = map;
            });
            // When polygons have rendered and audited streets have loaded, streets can be rendered.
            var renderStreets = $.when(renderPolygons, loadStreets).done(function(data1, data2) {
                var auditedStreets = { features: data2[0].features.filter(edges => edges.properties.audited) };
                var unauditedStreets = { features: data2[0].features.filter(edges => !edges.properties.audited) };
                self.auditedStreetLayer = InitializeStreets(map, streetParams, auditedStreets);
                self.unauditedStreetLayer = InitializeStreets(map, streetParams, unauditedStreets);
            });

            // When streets have rendered and submitted labels have loaded, submitted labels can be rendered.
            $.when(renderStreets, loadSubmittedLabels).done(function(data1, data2) {
                self.mapData = InitializeSubmittedLabels(map, streetParams, AdminGSVLabelView(false), InitializeMapLayerContainer(), data2[0]);
            });
            window.map = self;
            console.log("To add data from users marked as 'low quality'', use the following commands. You can run them again with 'false' to remove.");
            console.log("map.mapData.lowQualityUsers = true;");
            console.log("filterLayers('',map.mapData);");
        });
        $(window).load(function () {
            $('.loader').fadeOut('slow');
        });
    });

    // Fully destroy label modal when it's closed to prevent weird behavior when opening another.
    $(window).on('click', function(e) {
        var modal = $("#labelModal");
        if (modal != null && !(modal.hasClass('in'))) {
            modal.modal('hide');
            setTimeout(function() {
                modal.remove();
                $('.modal-backdrop').remove();
            }, 200)
        }
    })
    </script>
}
