@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <script type="text/javascript" src='@routes.Assets.at("javascripts/FAQ/build/FAQ.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/faq.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/labelingGuide.css")'/>

    <div class="spacer20"></div>

    <div class="container faq">
        <div class="row">
            <div class="col-md-3">
                <div id="faq-panel" class="panel panel-default">
                    <div class="panel-heading">
                        Labeling Guide
                    </div>
                    <div class="panel-body">
                        <ul id="questions-list">
                            <!--This list will be automatically filled-->
                            <li><a href="#introduction">Introduction</a></li>
                            <li><a href='@routes.ApplicationController.curbRamps'>Curb Ramps</a></li>
                            <li><a href='@routes.ApplicationController.surfaceProblems'>Surface Problems</a></li>
                            <li><a href='@routes.ApplicationController.obstacles'>Obstacles</a></li>
                            <li><a href='@routes.ApplicationController.noSidewalk'>No Sidewalk</a></li>
                            <li><a href='@routes.ApplicationController.occlusion'>Occlusion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 maincontent">
                <div class="faq-item">
                    <h2 id="introduction">Introduction</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <!--taken directly from Project Sidewalk: Labeling Codebook CHI2018-->
                            <p>
                                This codebook is meant to be used as a guide for how to use Project Sidewalk to label accessibility
                                problems in a standardized way, that is grounded in a close reading of the specifications of the
                                Americans with Disabilities Act (ADA) and related documents. The codebook contains instructions
                                for where to place labels, how to rate severity of the labels, along with rationale for those
                                decisions (including ADA citations where appropriate).
                            </p>
                            <p>
                                <strong>Important note on which pano to label from: </strong>Always label an issue/feature from the
                                place where it is most visible or closest (being closer to the thing you label makes the lat-lng
                                of the label more accurate).
                            </p>
                            <p>
                                <strong>Important note on label placement: </strong>Place labels at the center of curb ramp or surface
                                problem, and at the base of an obstacle. This is both to standardize the placement and, in the case
                                of obstacles, making sure that the location is accurate. Placing a label higher than the base of an
                                obstacle could give a very inaccurate lat-lng. The left and center images show correct placement, and
                                the right image shows incorrect placement.
                            </p>
                            <!-- insert links to images(3) here in a div-->
                            <p>
                                <strong>Important note on temporal change between adjacent panos: </strong>If you take a step and things
                                change (temporary obstacles like construction are removed, a curb ramp has been added or improved, etc),
                                then label each panorama appropriately. When doing this, also click the feedback button and write a
                                message saying what changed between the 2 panos. You do not need to label the same problem from multiple
                                panoramas if nothing changes.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}