@import models.user.User
@(title: String, user: Option[User] = None, regionIds: List[Int])(implicit lang: Lang)

@main(title) {
    @navbar(user, Some("/labelmap"))
    <div id="labelmap-choropleth-container" class="container choropleth-container">
        <div id="labelmap-choropleth-holder" class="choropleth-holder">
            <div id="labelmap-choropleth" class="choropleth"></div>
            <div id="map-label-legend">
                <div id="map-legend-title-holder">
                    <label id="map-legend-title">@Messages("legend")</label>
                    <button id="map-legend-minimize-button" class="close" onclick="toggleLegend()">-</button>
                </div>
                <table class="table filter" id="legend-table">
                    <tr>
                        <td></td>
                        <td colspan="2" align="left" style="font-weight:bold">@Messages("label.type")</td>
                        <td colspan="2" align="left" style="font-weight:bold">@Messages("severity")</td>
                    </tr>
                    <tr>
                        <td id="map-legend-curb-ramp" width="12px"></td>
                        <td width="190px">@Messages("curb.ramp")</td>
                        <td width="12px" align="center"><input type="checkbox" id="CurbRamp-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td width="113px" align="center"><div id = "CurbRamp-slider" style="margin-top:3px"></div></td>
                        <td width="93px" align= "center" ><span id="CurbRamp-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-no-curb-ramp"></td>
                        <td>@Messages("missing.ramp")</td>
                        <td><input type="checkbox" id="NoCurbRamp-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td align="left"><div id = "NoCurbRamp-slider" style="margin-top:3px"></div></td>
                        <td align= "center"><span id="NoCurbRamp-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-obstacle"></td>
                        <td>@Messages("obstacle")</td>
                        <td><input type="checkbox" id="Obstacle-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td align="left"><div id = "Obstacle-slider" style="margin-top:3px"></div></td>
                        <td align= "center"><span id="Obstacle-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-surface-problem"></td>
                        <td>@Messages("surface.problem")</td>
                        <td><input type="checkbox" id="SurfaceProblem-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td align="left"><div id = "SurfaceProblem-slider" style="margin-top:3px"></div></td>
                        <td align="center"><span id="SurfaceProblem-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-no-sidewalk"></td>
                        <td>@Messages("no.sidewalk")</td>
                        <td><input type="checkbox" id="NoSidewalk-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td align="left"><div id = "NoSidewalk-slider" style="margin-top:3px"></div></td>
                        <td align="center"><span id="NoSidewalk-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-crosswalk"></td>
                        <td>@Messages("crosswalk")</td>
                        <td><input type="checkbox" id="Crosswalk-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td align="left"><div id = "Crosswalk-slider" style="margin-top:3px"></div></td>
                        <td align="center"><span id="Crosswalk-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-other"></td>
                        <td>@Messages("other")</td>
                        <td><input type="checkbox" id="Other-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                        <td align="left"><div id = "Other-slider" style="margin-top:3px"></div></td>
                        <td align= "center"><span id="Other-severity-label">@Messages("not.applicable.abbr") - 5</span></td>
                    </tr>
                    <tr>
                        <td id="map-legend-signal"></td>
                        <td>@Messages("signal")</td>
                        <td><input type="checkbox" id="Signal-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-occlusion"></td>
                        <td>@Messages("occlusion")</td>
                        <td><input type="checkbox" id="Occlusion-checkbox" checked="true" data-filter-type="label-type" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-correct"><img src='@routes.Assets.at("javascripts/SVValidate/img/Checkmark.png")' style="width: 23px; padding: 3px;"></td>
                        <td>@Messages("validated.correct")</td>
                        <td><input type="checkbox" id="correct" checked="true" data-filter-type="label-validations" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-incorrect"><img src='@routes.Assets.at("javascripts/SVValidate/img/Cross.png")' style="width: 23px; padding: 3px;"></td>
                        <td>@Messages("validated.incorrect")</td>
                        <td><input type="checkbox" id="incorrect" data-filter-type="label-validations" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-nosture"><img src='@routes.Assets.at("images/icons/QuestionMark.png")' style="width: 18px; padding: 2px; padding-left: 6px;"></td>
                        <td>@Messages("not.sure")</td>
                        <td><input type="checkbox" id="notsure" checked="true" data-filter-type="label-validations" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-unvalidated"><img src='@routes.Assets.at("images/icons/ExclamationMark.png")' style="width: 14px; padding: 1px; padding-left: 9px;"></td>
                        <td>@Messages("unvalidated")</td>
                        <td><input type="checkbox" id="unvalidated" checked="true" data-filter-type="label-validations" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-audited-street"></td>
                        <td>@Messages("audited.street")</td>
                        <td><input type="checkbox" id="auditedstreet" checked="true" data-filter-type="streets" disabled></td>
                    </tr>
                    <tr>
                        <td id="map-legend-unaudited-street"></td>
                        <td>@Messages("unaudited.street")</td>
                        <td><input type="checkbox" id="unauditedstreet" checked="true" data-filter-type="streets" disabled></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next-21.9.1.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Admin/build/Admin.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/dataTables.bootstrap.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Utilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/Panomarker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVValidate/src/util/PanoProperties.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/timestampLocalization.js")'></script>
    <script type="text/javascript">
        updateTimestamps("@lang.code");
    </script>

    <script src='@routes.Assets.at("javascripts/lib/mapbox-gl-3.1.0.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/mapbox-gl-language-1.0.0.js")'></script>
    <link href='@routes.Assets.at("javascripts/lib/mapbox-gl-3.1.0.css")' rel="stylesheet"/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/detectMobileBrowser.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/PSMap/build/PSMap.js")'></script>
    <link href='@routes.Assets.at("stylesheets/choropleth.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/admin.css")' rel="stylesheet"/>

    <script>
        $(document).ready(function () {
        // Gets all translations before loading the choropleth.
        i18next.use(i18nextXHRBackend);
        i18next.init({
            backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
            fallbackLng: 'en',
            ns: ['common', 'labelmap'],
            defaultNS: 'common',
            lng: '@lang.code',
            debug: false
        }, function(err, t) {
            let params = {
                mapName: 'labelmap-choropleth',
                mapStyle: 'mapbox://styles/mapbox/streets-v12?optimize=true',
                mapboxLogoLocation: 'bottom-right',
                neighborhoodFillMode: 'singleColor',
                neighborhoodFillColor: '#808080',
                neighborhoodFillOpacity: 0.1,
                neighborhoodTooltip: 'none',
                differentiateUnauditedStreets: true,
                interactiveStreets: true,
                popupLabelViewer: AdminGSVLabelView(false, "LabelMap"),
                differentiateExpiredLabels: true
            };
            let regionsParam = '@{regionIds.mkString(",")}';
            if (regionsParam) {
                params.neighborhoodsURL = `/neighborhoods?regions=${regionsParam}`;
                params.completionRatesURL = `/adminapi/neighborhoodCompletionRate?regions=${regionsParam}`;
                params.streetsURL = `/contribution/streets/all?filterLowQuality=true&regions=${regionsParam}`;
                params.labelsURL = `/labels/all?regions=${regionsParam}`;
            } else {
                params.neighborhoodsURL = '/neighborhoods';
                params.completionRatesURL = '/adminapi/neighborhoodCompletionRate';
                params.streetsURL = '/contribution/streets/all?filterLowQuality=true';
                params.labelsURL = '/labels/all';
            }

            var self = {};
            CreatePSMap($, params).then(m => {
                self.map = m[0];
                self.mapData = m[3];
                addLegendListeners(self.map, self.mapData);
            });

            // Initialize the sliders in the legend. We add the "change" functionality after the map loads.
            $( "*[id*='slider']" ).each(function() {
                $(this).slider({ range: true, min : 0, max : 5, step: 1, values: [0,5], disabled: true });
            });
            window.map = self;
            console.log("To add data from users marked as 'low quality'', use the following commands. You can run them again with 'false' to remove.");
            console.log("map.mapData.lowQualityUsers = true;");
            console.log("filterLabelLayers('', map.map, map.mapData);");
        });
        $(window).load(function () {
            $('.loader').fadeOut('slow');
        });
    });

    // Adds listeners to the checkboxes and sliders so that they update the map.
    function addLegendListeners(map, mapData) {
        // Add listeners on the checkboxes.
        document.querySelectorAll('#legend-table tr input').forEach(checkbox => {
            checkbox.addEventListener('click', () => {
                if (checkbox.getAttribute('data-filter-type') === 'label-type') {
                    let slider;
                    if (checkbox.parentElement.nextElementSibling) {
                        slider = checkbox.parentElement.nextElementSibling.firstElementChild;
                    }
                    toggleLabelLayer(checkbox.id.split('-')[0], checkbox, slider, map, mapData);
                } else if (checkbox.getAttribute('data-filter-type') === 'label-validations') {
                    filterLabelLayers(checkbox, map, mapData);
                } else {
                    filterStreetLayer(map);
                }
            }, false);
            checkbox.disabled = false; // Enable the checkbox now that the map has loaded.
        });

        // Add listeners on the sliders.
        let sliderStepText = ["N/A", 1, 2, 3, 4, 5];
        $( "*[id*='slider']" ).each(function() {
            $(this).slider('option', {
                // Change the text next to the slider as it's moved.
                slide: function(event, ui) {
                    let sliderTextEl = this.parentElement.nextElementSibling.firstElementChild;
                    if(sliderStepText[ui.values[0]] === sliderStepText[ui.values[1]]) {
                        sliderTextEl.textContent = sliderStepText[ui.values[0]];
                    } else {
                        sliderTextEl.textContent = `${ui.values[0]} - ${ui.values[1]}`;
                    }
                },
                // When the slider is released, update the map.
                change: function(event, ui) {
                    let labelType = this.id.split('-')[0];
                    let checkbox = this.parentElement.previousElementSibling.firstElementChild;
                    toggleLabelLayer(labelType, checkbox, this, map, mapData);
                },
                // Enable the sliders now that the map has loaded.
                disabled: false
            });
        });
    }

    // Fully destroy label modal when it's closed to prevent weird behavior when opening another.
    $(window).on('click', function(e) {
        var modal = $("#labelModal");
        if (modal != null && !(modal.hasClass('in'))) {
            modal.modal('hide');
            setTimeout(function() {
                modal.remove();
                $('.modal-backdrop').remove();
            }, 200)
        }
    });
    </script>
}
