@import models.user._

@(title: String, user: Option[User] = None, url: String = "/", leaderboardStats: List[LeaderboardStat], leaderboardStatsThisWeek: List[LeaderboardStat])(implicit lang: Lang)

@main(title) {
    @navbar(None)

    <div class="leaderboardContainer">
        <div class="item leaderboardTable">
            <h1 class="leaderboardHeader">Lifetime Leaderboard:</h1>
            <div class="panel panel-default">
                <table class="table table-bordered leaderboard-table-striped">
                    <thead class="leaderboardTableHeader">
                        <tr>
                            <th class="leaderboardTableFont" scope="col">#</th>
                            <th class="leaderboardTableFont" scope="col">Username</th>
                            <th class="leaderboardTableFont" scope="col">Labels</th>
                            <th class="leaderboardTableFont" scope="col">Missions</th>
                            <th class="leaderboardTableFont" scope="col">Distance</th>
                            <th class="leaderboardTableFont" scope="col">Accuracy</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((stat, i) <- leaderboardStats.view.zipWithIndex) {
                        <tr>
                            <th class="leaderboardTableFont" scope="row">@{
                                i + 1
                            }</th>
                            <td class="leaderboardTableFont">@{
                                stat.asInstanceOf[LeaderboardStat].username
                            }</td>
                            <td class="leaderboardTableFont">@{
                                stat.asInstanceOf[LeaderboardStat].labelCount
                            }</td>
                            <td class="leaderboardTableFont">@{
                                stat.asInstanceOf[LeaderboardStat].missionCount
                            }</td>
                            @if(stat.asInstanceOf[LeaderboardStat].distanceMeters.asInstanceOf[Float] > 2000) {
                                <td class="leaderboardTableFont">@{
                                    "%.1f".format(stat.asInstanceOf[LeaderboardStat].distanceMeters.asInstanceOf[Float]/ 1000)
                                } km</td>
                            } else {
                                <td class="leaderboardTableFont">@{
                                    "%.1f".format(stat.asInstanceOf[LeaderboardStat].distanceMeters)
                                } m</td>
                            }
                            @if(stat.asInstanceOf[LeaderboardStat].accuracy.getOrElse(0.00f).asInstanceOf[Float] * 100 < 10)  {
                                <td class="leaderboardTableFont accuracyCell">N/A
                                    <span class="accuracyTooltip">
                                        Accuracy is only shown if at least 10 of your labels have been validated
                                    </span>
                                </td>
                            } else {
                                <td class="leaderboardTableFont">@{
                                    "%.1f".format(stat.asInstanceOf[LeaderboardStat].accuracy.getOrElse(0.00f).asInstanceOf[Float] * 100)
                                }%</td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        @if(leaderboardStatsThisWeek.asInstanceOf[List[LeaderboardStat]].length > 0) {
            <div class="item leaderboardTable">
                <h1 class="leaderboardHeader">Weekly Leaderboard:</h1>
                <div class="panel panel-default">
                    <table class="table table-bordered leaderboard-table-striped">
                        <thead class="leaderboardTableHeader">
                            <tr>
                                <th class="leaderboardTableFont weeklyCell" scope="col">#
                                    <span class="weeklyTooltip">
                                        Stats reset every Sunday morning at 12 AM
                                    </span>
                                </th>
                                <th class="leaderboardTableFont" scope="col">Username</th>
                                <th class="leaderboardTableFont" scope="col">Labels</th>
                                <th class="leaderboardTableFont" scope="col">Missions</th>
                                <th class="leaderboardTableFont" scope="col">Distance</th>
                                <th class="leaderboardTableFont" scope="col">Accuracy</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for((stat, i) <- leaderboardStatsThisWeek.view.zipWithIndex) {
                            <tr>
                                <th class="leaderboardTableFont" scope="row">@{
                                    i + 1
                                }</th>
                                <td class="leaderboardTableFont">@{
                                    stat.asInstanceOf[LeaderboardStat].username
                                }</td>
                                <td class="leaderboardTableFont">@{
                                    stat.asInstanceOf[LeaderboardStat].labelCount
                                }</td>
                                <td class="leaderboardTableFont">@{
                                    stat.asInstanceOf[LeaderboardStat].missionCount
                                }</td>
                                @if(stat.asInstanceOf[LeaderboardStat].distanceMeters.asInstanceOf[Float] > 2000) {
                                    <td class="leaderboardTableFont">@{
                                        "%.1f".format(stat.asInstanceOf[LeaderboardStat].distanceMeters.asInstanceOf[Float]/ 1000)
                                    } km</td>
                                } else {
                                    <td class="leaderboardTableFont">@{
                                        "%.1f".format(stat.asInstanceOf[LeaderboardStat].distanceMeters)
                                    } meters</td>
                                }
                                @if(stat.asInstanceOf[LeaderboardStat].accuracy.getOrElse(0.00f).asInstanceOf[Float] * 100 < 10)  {
                                    <td class="leaderboardTableFont accuracyCell">N/A
                                        <span class="accuracyTooltip">
                                            Accuracy is only shown if at least 10 of your labels have been validated
                                        </span>
                                    </td>
                                } else {
                                    <td class="leaderboardTableFont">@{
                                        "%.1f".format(stat.asInstanceOf[LeaderboardStat].accuracy.getOrElse(0.00f).asInstanceOf[Float] * 100)
                                    }%</td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

}
