@import models.user._

@(url: Option[String] = Some("/"))(implicit lang: Lang)

@leaderboardStats = @{UserStatTable.getLeaderboardStats(10)}
@leaderboardStatsThisWeek = @{UserStatTable.getLeaderboardStats(10, "weekly")}

<div class="leaderboardContainer">
    <div class="item leaderboardTable">
        <h1 class="leaderboardHeader">Lifetime Leaderboard:</h1>
        <div class="panel panel-default">
            <table class="table table-bordered leaderboard-table-striped">
                <thead class="leaderboardTableHeader">
                    <tr>
                        <th class="leaderboardTableFont" scope="col">#</th>
                        <th class="leaderboardTableFont" scope="col">Username</th>
                        <th class="leaderboardTableFont" scope="col">Labels</th>
                        <th class="leaderboardTableFont" scope="col">Missions</th>
                        <th class="leaderboardTableFont" scope="col">Distance</th>
                        <th class="leaderboardTableFont" scope="col">Accuracy</th>
                    </tr>
                </thead>
                <tbody>
                @for((stat, i) <- leaderboardStats.view.zipWithIndex) {
                    <tr>
                        <th class="leaderboardTableFont" scope="row">@{
                            i + 1
                        }</th>
                        <td class="leaderboardTableFont">@{
                            stat.asInstanceOf[LeaderboardStat].username
                        }</td>
                        <td class="leaderboardTableFont">@{
                            stat.asInstanceOf[LeaderboardStat].labelCount
                        }</td>
                        <td class="leaderboardTableFont">@{
                            stat.asInstanceOf[LeaderboardStat].missionCount
                        }</td>
                        <td class="leaderboardTableFont">@{
                            "%.1f".format(stat.asInstanceOf[LeaderboardStat].distanceMeters)
                        } km</td>
                        <td class="leaderboardTableFont">@{
                            "%.1f".format(stat.asInstanceOf[LeaderboardStat].accuracy.getOrElse(0.0).asInstanceOf[Float] * 100)
                        }%</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    @if(leaderboardStatsThisWeek.asInstanceOf[List[LeaderboardStat]].length > 5) {
        <div class="item leaderboardTable">
            <h1 class="leaderboardHeader">Weekly Leaderboard:</h1>
            <div class="panel panel-default">
                <table class="table table-bordered leaderboard-table-striped">
                    <thead class="leaderboardTableHeader">
                        <tr>
                            <th class="leaderboardTableFont" scope="col">#</th>
                            <th class="leaderboardTableFont" scope="col">Username</th>
                            <th class="leaderboardTableFont" scope="col">Labels</th>
                            <th class="leaderboardTableFont" scope="col">Missions</th>
                            <th class="leaderboardTableFont" scope="col">Distance</th>
                            <th class="leaderboardTableFont" scope="col">Accuracy</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((stat, i) <- leaderboardStatsThisWeek.view.zipWithIndex) {
                        <tr>
                            <th class="leaderboardTableFont" scope="row">@{
                                i + 1
                            }</th>
                            <td class="leaderboardTableFont">@{
                                stat.asInstanceOf[LeaderboardStat].username
                            }</td>
                            <td class="leaderboardTableFont">@{
                                stat.asInstanceOf[LeaderboardStat].labelCount
                            }</td>
                            <td class="leaderboardTableFont">@{
                                stat.asInstanceOf[LeaderboardStat].missionCount
                            }</td>
                            <td class="leaderboardTableFont">@{
                                "%.1f".format(stat.asInstanceOf[LeaderboardStat].distanceMeters)
                            } km</td>
                            <td class="leaderboardTableFont">@{
                                "%.1f".format(stat.asInstanceOf[LeaderboardStat].accuracy.getOrElse(0.0).asInstanceOf[Float] * 100)
                            }%</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>