@import models.user.User
@import models.user.VersionTable
@(title: String, url: Option[String] = Some("/"))(content: Html)


@import views.html.bootstrap._
@import com.mohiva.play.silhouette.impl.providers._
@import views.html.bootstrap._
@import forms.SignInForm

@import play.api.Play
@import play.api.Play.current

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <link rel="icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <link href='@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")' rel='stylesheet' />
    <link href='@routes.Assets.at("stylesheets/bootstrap/bootstrap-accessibility.css")' rel='stylesheet' />

    <script src='@routes.Assets.at("javascripts/lib/bootstrap-accessibility-plugin/bs3.1.1/js/jquery-1.12.2.min.js")'></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='@routes.Assets.at("javascripts/lib/bootstrap-accessibility-plugin/bs3.1.1/js/bootstrap.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/bootstrap-accessibility-plugin/plugins/js/bootstrap-accessibility.min.js")'></script>

    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />-->
    <!--<script src="lib/jquery-1.7.2.min.js"></script>-->
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/underscore.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/backbone-min.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/mapbox.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/leaflet-omnivore.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/js.cookie.js")'></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=quarterly&key=@VersionTable.getGoogleMapsAPIKey()&libraries=geometry">
    </script>
    <link href='@routes.Assets.at("stylesheets/fonts.css")' rel="stylesheet"/>
    <link href='@routes.Assets.at("stylesheets/mapbox.css")' rel='stylesheet' />
    <!--<link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet"/>-->
    <link rel="stylesheet" href='@routes.Assets.at("css/main.css")'>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/isMobile.js")'></script>
    <!--<script src='@routes.Assets.at("assets/homepage.js")'></script>-->
    <script src='@routes.Assets.at("assets/countUp.js")'></script>
    <script src='@routes.Assets.at("assets/bowser.min.js")'></script>
    <script src='@routes.Assets.at("assets/pagetop-padding.js")'></script>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@umd_sidewalk">
    <meta name="twitter:creator" content="@@umd_sidewalk">
    <meta name="twitter:title" content="Project Sidewalk">
    <meta name="twitter:description" content="Help us make sidewalks more accessible, for everyone.">
    @*TODO: url should not be hardcoded*@
    <meta name="twitter:image" content="http://sidewalk.umiacs.umd.edu@routes.Assets.at("images/twitter_card.png")">

    <!-- Facebook Link Info -->
    <meta property="og:image" content="http://sidewalk.umiacs.umd.edu@routes.Assets.at("images/twitter_card.png")">
    <meta property="og:description" content='Help us make sidewalks more accessible, for everyone.' />
    <meta property="og:url"content="http:/sidewalk.umiacs.umd.edu" />
    <meta property="og:title" content="Project Sidewalk" />

</head>
<body onload="checkIfPaddingNeeded()">
    <div id="wrap">
        @content

    </div>

    @if(url.get == "/audit") {

        <script type="text/javascript">
            document.getElementsByTagName("body")[0].style.overflow = "hidden";
            document.getElementById("wrap").style.padding = "0 0 35px";
        </script>

        <div id="mini-footer-audit">
          Project Sidewalk is designed and operated by the
          <a href="https://makeabilitylab.cs.washington.edu/">Makeability Lab</a> at the
          <a href="http://www.cs.uw.edu/">University of Washington</a><br>
          <span id="application-version">
              Version @VersionTable.currentVersionId() | Last Updated: 
              <span class = "timestamp date">
                  @VersionTable.currentVersionTimestamp()
              </span>
          </span>
        </div>

    } else{

    <div class="filler" style="position:relative;top: 0px;background-color:#fff; min-height:50px;"></div>

    <div class="container" id="footer-container">
        <div class="row" style="padding-top: 50px; width: 900px; position:relative; left:80px;">
            <div class="col-sm-4 footerlink">
                <span class="footerheader">PROJECT SIDEWALK</span><br/>
                <!-- Back to top<br>-->
                <a href='http://makeabilitylab.io/projects/sidewalk' id="sidewalk-about-link">About Us</a> <br/>
                <a href='@routes.ApplicationController.terms' id="sidewalk-terms-link">Terms of Use</a> <br/>
                <a href='@routes.ApplicationController.help' id="sidewalk-help-link">Help</a> <br/>
                <a href='@routes.ApplicationController.labelingGuide' id="sidewalk-labeling-link">Labeling Guide</a> <br/>
            </div>
            <div class="col-sm-4 footerlink">
                <span class="footerheader">DEVELOPER</span><br/>
                <a href='@routes.ApplicationController.developer' id="developer-api-link">Sidewalk API </a><br/>
            </div>
            <div class="col-sm-4 footerlink">
                <span class="footerheader">CONNECT</span><br/>
                <a target="_blank" href="https://github.com/ProjectSidewalk/SidewalkWebpage" id="connect-github-link"><img width="15" src='@routes.Assets.at("assets/github_logo.png")'>&nbsp;Github</a> <br/>
                <a target="_blank" href="https://twitter.com/projsidewalk" id="connect-twitter-link"><img width="15" src='@routes.Assets.at("assets/twitter_logo.png")'>&nbsp;Twitter</a><br/>
                <a target="_blank" href="mailto:sidewalk@@cs.uw.edu" id="connect-email-link"><img width="15" src='@routes.Assets.at("assets/email.png")'>&nbsp;Email Us</a><br/>
                <a target="_blank" href="https://www.facebook.com/projsidewalk" id="connect-facebook-link"><img width="15" src='@routes.Assets.at("assets/facebook_logo.png")'>&nbsp;Facebook</a><br/>
            </div>
        </div>
    </div>
    <div class="container" id="info-footer">
        <br>
        <p><span id="funding-title">WE ARE PROUDLY FUNDED BY</span></p>
        <div class="row" style="max-width: 900px; margin: 0 auto;">

            <div class="col-sm-3">
                <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1302338" id="nsf-link">
                    <img src="@routes.Assets.at("assets/nsf.png")">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.google.com/" id="google-link"><img src="@routes.Assets.at("assets/google.png")" style="margin-top:20px;"></a>
            </div>
            <div class="col-sm-3">
                <a href="https://sloan.org/fellowships/" id ="sloan-link">
                    <img src="@routes.Assets.at("assets/sloan_logo.png")" style="width:200px;margin-top:20px;">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.washington.edu/research/research-centers/pacific-northwest-transportation-consortium-pactrans/" id="pactrans-link">
                    <img src="@routes.Assets.at("assets/pactrans_logo.png")">
                </a>
            </div>

        </div>
        <div class="row" style="max-width: 900px; margin: 0 auto;">

            <div class="col-sm-4" id="awardnum">
                Award #1302338
            </div>
            <div class="col-sm-8">

            </div>

        </div>

        Project Sidewalk is designed and operated by the
        <a href="https://makeabilitylab.cs.washington.edu/" id="makeability-link">Makeability Lab</a> at the
        <a href="http://www.umd.edu/" id="umd-link">University of Maryland</a> and
        <a href="http://www.uw.edu/" id="umd-link">University of Washington</a><br>
        <span id="application-version">
            Version @VersionTable.currentVersionId() | Last Updated: 
            <span class = "timestamp date">
                @VersionTable.currentVersionTimestamp()
            </span>
        </span>
    </div>

  }

    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            var analyticsStr = "@{Play.configuration.getString("city-params.google-analytics-id." + Play.configuration.getString("city-id").get)}";
            ga('create', analyticsStr, 'auto');
            ga('send', 'pageview');


            // Log clicks on links in the footer to WebpageActivityTable
            // Depending on column, form of log varies by the following:
            // Column is 'Project Sidewalk' or "Developer'
            //    log is of form: "Click_module=Footer_section=<"sidewalk" or "developer">_target=<link>"
            // Column is 'Connect'
            //    log is of form: "Click_module=Footer_section=connect_platform=<"github", "twitter", or "email">"
            $("#footer-container").on('click', 'a', function(e){
                var currentRoute = window.location.pathname;
                var id = e.currentTarget.id.split("-");
                var column = id[0];
                var link = id[1];

                var activity = "Click_module=Footer_section="+column+"_";
                if(column === "sidewalk" || column === "developer"){
                    activity = activity+"target="+link;
                }
                else{
                    activity = activity+"platform="+link;
                }
                activity = activity + "_route="+currentRoute;

                var url = "/userapi/logWebpageActivity";
                var async = true;
                $.ajax({
                    async: async,
                    contentType: 'application/json; charset=utf-8',
                    url: url,
                    type: 'post',
                    data: JSON.stringify(activity),
                    dataType: 'json',
                    success: function(result){},
                    error: function (result) {
                        console.error(result);
                    }
                });

                // We are using the ML site's about page, so log the "Visit_About" from here. All other pages that are
                // part of the Sidewalk codebase end up logging "Visit_*" on the back-end.
                if (link === "about") {
                    $.ajax({
                        async: async,
                        contentType: 'application/json; charset=utf-8',
                        url: url,
                        type: 'post',
                        data: JSON.stringify("Visit_About"),
                        dataType: 'json',
                        success: function(result){},
                        error: function (result) {
                            console.error(result);
                        }
                    });
                }
            });

            // Log clicks on links in the information footer to WebpageActivityTable
            // Log is of form: "Click_module=InfoFooter_target=<link>_route=</|/audit|/help|...>"
            $('#info-footer').on('click','a', function(e){
                var currentRoute = window.location.pathname;
                var link = e.currentTarget.id.split("-")[0];
                var activity = "Click_module=InfoFooter_"+"target="+link + "_route="+currentRoute;
                var url = "/userapi/logWebpageActivity";
                var async = true;
                $.ajax({
                    async: async,
                    contentType: 'application/json; charset=utf-8',
                    url: url,
                    type: 'post',
                    data: JSON.stringify(activity),
                    dataType: 'json',
                    success: function(result){},
                    error: function (result) {
                        console.error(result);
                    }
                });
            });
    </script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TimestampLocalization.js")'></script>
</body>
