@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user, Some("/map/edit"))
    <div class="container">
        <div id="map-edit-holder">
            <div id="map">
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/underscore.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/MapEdit/src/Graph.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/MapEdit/src/GraphEdit.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/mapEdit.js")'></script>
    <link href='@routes.Assets.at("stylesheets/mapEdit.css")' rel="stylesheet"/>
    <style>
        svg {
        position: relative;
        }

        path {
        fill: #000;
        fill-opacity: .2;
        stroke: #fff;
        stroke-width: 1.5px;
        }

        path:hover {
        fill: brown;
        fill-opacity: .7;
        }

        .active {
        fill: orange;
        }

    </style>
}