<div class="mission-tutorial-overlay">
    <div class="previous-slide-button">
        <svg viewBox="0 0 26 42">
            <use xlink:href="#left-arrow"></use>
        </svg>
    </div>
    <div class="mission-tutorial-content">
        <div class="mission-instruction-1 no-select"></div>
        <div class="mission-instruction-2 no-select"></div>

        <div class="mission-carousel">

            <div class="mission-tutorial-slide">

                <div class="mts-text-area">
                    <div class="example-type-area">
                        <div class="example-type-icon">
                            <svg viewBox="0 0 24 24">
                                <use xlink:href="#smile-positive"></use>
                            </svg>
                        </div>
                        <div class="example-type-label"></div>
                    </div>
                    <div class="label-type-title"></div>
                    <div class="label-type-subtitle"></div>
                    <div class="label-type-description"></div>
                </div>
                <div class="mts-image-area">
                    <img src="" class="mts-image">
                    <div class="on-image-label">
                        <div class="on-image-label-type">
                            <div class="on-image-label-type-icon">
                                <svg viewBox="0 0 24 24">
                                    <use xlink:href="#smile-positive"></use>
                                </svg>
                            </div>
                            <div class="on-image-label-type-title"></div>
                        </div>
                        <div class="on-image-label-description"></div>
                    </div>
                </div>
            </div>

            <div class="mission-carousel-location-indicator-area">
                <div class="mission-carousel-location-indicator template"></div>
            </div>
        </div>


        <div class="mission-tutorial-overlay-footer">
            <div class="mission-tutorial-done-btn">Start mission</div>
        </div>
    </div>
    <div class="next-slide-button">
        <svg viewBox="0 0 27 42">
            <use xlink:href="#right-arrow"></use>
        </svg>
    </div>
</div>
