<div class="mission-start-tutorial-overlay">

    <div class="mst-content">
        <div class="mst-instruction-1 no-select"></div>
        <div class="mst-instruction-2 no-select"></div>

        @* This is hidden by default. Shown only for 'Explore Mission Screens' by JS.*@
        <div class="explore-mission-start-tab-bar" style="display: none;">
            <div class="explore-mission-start-tab label" data-label-type="CurbRamp">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#curb-ramp-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    Curb Ramp
                </div>
            </div>
            <div class="explore-mission-start-tab label" data-label-type="NoCurbRamp">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#obstacle-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    No Curb Ramp
                </div>
            </div>
            <div class="explore-mission-start-tab label" data-label-type="Obstacle">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#missing-curb-ramp-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    Obstacle
                </div>
            </div>
            <div class="explore-mission-start-tab label" data-label-type="SurfaceProblem">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#surface-problem-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    Surface Problem
                </div>
            </div>
            <div class="explore-mission-start-tab label" data-label-type="NoSideWalk">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#no-sidewalk-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    No Sidewalk
                </div>
            </div>
            <div class="explore-mission-start-tab label" data-label-type="Crosswalk">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#signal-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    Crosswalk
                </div>
            </div>
            <div class="explore-mission-start-tab label" data-label-type="Signal">
                <div class="explore-mission-start-tab-icon">
                    <svg viewBox="0 0 30 30">
                        <use xlink:href="#crosswalk-icon"></use>
                    </svg>
                </div>
                <div class="explore-mission-start-tab-text">
                    Signal
                </div>
            </div>
        </div>

        <div class="mst-carousel">

            <div class="previous-slide-button">
                <svg viewBox="0 0 26 42">
                    <use xlink:href="#left-arrow"></use>
                </svg>
            </div>

            <div class="mst-slide">
                <div class="msts-image-area">
                    <img class="msts-image">
                    <div class="label-on-image noselect">
                        <div class="label-on-image-type">
                            <div class="label-on-image-type-icon">
                                <svg viewBox="0 0 24 24">
                                    <use xlink:href="#smile-positive"></use>
                                </svg>
                            </div>
                            <div class="label-on-image-type-title"></div>
                        </div>
                        <div class="label-on-image-description"></div>
                    </div>
                </div>
                <div class="mts-text-area">
                    <div class="example-type-area">
                        <div class="example-type-icon">
                            <svg viewBox="0 0 24 24">
                                <use xlink:href="#smile-positive"></use>
                            </svg>
                        </div>
                        <div class="example-type-label"></div>
                    </div>
                    <div class="label-type-title"></div>
                    <div class="label-type-subtitle"></div>
                    <div class="label-type-description"></div>


                    <div class="mission-start-tutorial-done-btn">Start mission</div>
                </div>
            </div>
            <div class="next-slide-button">
                <svg viewBox="0 0 27 42">
                    <use xlink:href="#right-arrow"></use>
                </svg>
            </div>
        </div>
        <div class="mst-carousel-location-indicator-area">
            <div class="mst-carousel-location-indicator template"></div>
        </div>

        <div class="mission-start-tutorial-overlay-footer">

        </div>
    </div>
</div>
