<div class="mission-start-tutorial-overlay">

    <div class="mst-content">
        <div class="mst-instruction-1 no-select"></div>
        <div class="mst-instruction-2 no-select"></div>

        <div class="mst-carousel">

            <div class="previous-slide-button">
                <svg viewBox="0 0 26 42">
                    <use xlink:href="#left-arrow"></use>
                </svg>
            </div>

            <div class="mst-slide">
                <div class="msts-image-area">
                    <img class="msts-image">
                    <div class="label-on-image noselect">
                        <div class="label-on-image-type">
                            <div class="label-on-image-type-icon">
                                <svg viewBox="0 0 24 24">
                                    <use xlink:href="#smile-positive"></use>
                                </svg>
                            </div>
                            <div class="label-on-image-type-title"></div>
                        </div>
                        <div class="label-on-image-description"></div>
                    </div>
                </div>
                <div class="mts-text-area">
                    <div class="example-type-area">
                        <div class="example-type-icon">
                            <svg viewBox="0 0 24 24">
                                <use xlink:href="#smile-positive"></use>
                            </svg>
                        </div>
                        <div class="example-type-label"></div>
                    </div>
                    <div class="label-type-title"></div>
                    <div class="label-type-subtitle"></div>
                    <div class="label-type-description"></div>


                    <div class="mission-start-tutorial-done-btn">Start mission</div>
                </div>
            </div>
            <div class="next-slide-button">
                <svg viewBox="0 0 27 42">
                    <use xlink:href="#right-arrow"></use>
                </svg>
            </div>
        </div>
        <div class="mst-carousel-location-indicator-area">
            <div class="mst-carousel-location-indicator template"></div>
        </div>

        <div class="mission-start-tutorial-overlay-footer">

        </div>
    </div>
</div>
