@import models.user.User
@(title: String, user: Option[User] = None, cityId: String)

@main(title) {
    <script>
        $(document).ready(function() {
            
            //raleway doesn't load after being redirected from another page; redeclaring the font-face fixes that
            var font = "<style> @@font-face{ font-family: 'raleway'; src: url('/assets/fonts/Raleway/Raleway-Regular.ttf');} </style>";
            $("head").append(font);

            function orientationCheck(){
                if(window.innerHeight > window.innerWidth){
                    $('html').css('padding-top','35px');
                } else {
                    $('html').css('padding-top','0px');
                }
            }

            $('html').css('position', 'fixed');
            $('body').css({
                'background-image': 'url(/assets/assets/lowered-monument.png)',
                'background-position': 'center center',
                'background-repeat': 'no-repeat',
                'background-attachment': 'fixed',
                'background-size': '100% 100%',
                'height': '100vh',
                'width': '100vw',
                'text-align': 'center',
                'padding': '2vh 10vw',
                'font-family': 'raleway, sans-serif',
                'color': '#777'
            });
            window.addEventListener("resize", function() {
                orientationCheck();
            }, false);
            $('.filler').css('display', 'none');
            $('#footer-container').css('display', 'none');
            $('#info-footer').css('display', 'none');
            orientationCheck();
        });
    </script>
    <div id="mobile-content">
        <img src="@routes.Assets.at("assets/" + cityId + "/sidewalk-logo-new.png")"/>
        <br />
        <div>
            <p id="mobile-thanks">
                Thanks for visiting!
            </p>
            <br /><br />
            <p id="mobile-message">
                Unfortunately, we do not currently support mobile devices.
                Please visit us on your laptop or desktop.
            </p>
        </div>
        <br />
    </div>
}
