@import models.user.User
@(user: Option[User] = None, url: Option[String] = Some("/"))

@import views.html.bootstrap._


    <!-- Fixed navbar -->
<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span id="menubutton" class="logintext">Menu</span>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" href="/"><img id="biglogo" alt="Project Sidewalk Logo" height="40" src='@routes.Assets.at("assets/sidewalk-logo-new.png")'></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="topbuttons">
                @if(url.isDefined && url.get != "/audit") {

                    <li class="active">
                        <button class="navbarStartBtn" onclick="location.href='@routes.AuditController.audit'">Start Mapping</button>
                    </li>

                } else {

                    <script type="text/javascript">
                            $("#biglogo").css("top", "0px");
                            $("#biglogo").css("height", "28px" ); //logo resize
                            $("#biglogo").css("width", "auto" );
                            $("#header").css("max-height", "45px");
                            $("#header-container").css("max-height", "45px");
                            $("#header-container").css("top", "-13px"); //logo margin
                            $("#header").addClass("navbar-xs");
                            $("#header").removeClass("navbar");
                            $("#brand").addClass("navbar-xs-brand");
                            $("#brand").removeClass("navbar-brand");
                            $("#navbar").css("margin-top", "16px"); //button margin
                            $(".navbar-header").css("top", "0px");
                            $("body").css("padding-top", "14px");
                    </script>

                    <li class="navbarLink">
                        <a href="#" id="toolbar-onboarding-link">Retake tutorial</a>
                    </li>
                    <li class = "navbarLink">
                      <a href='@routes.ApplicationController.faq' id="toolbar-onboarding-link" target="_blank">FAQ</a>
                    </li>

                }

                <!--<li><a href="#">Explore Accessibility!</a></li>-->
                <li class="dropdown" id="navbar-dropdown-list">
                    @if(user) {
                        <a id="nav-user-dropdown" role="button" data-toggle="dropdown" href="#">
                            @user.get.username
                            <b class="caret"></b>
                        </a>
                        <ul id="nav-user-menu" class="dropdown-menu" role="menu" aria-labelledby="User menu">
                            <li role="presentation">
                                <a href='@routes.UserProfileController.userProfile(user.get.username)' role="menuitem">
                                    Your dashboard
                                </a>
                            </li>
                            @if(user.get.roles.getOrElse(Seq("")).contains("Administrator")) {
                                <li role="presentation">
                                    <a href='@routes.AdminController.index' role="menuitem">
                                        Admin
                                    </a>
                                </li>
                            }
                            <li role="presentation">
                                <a href='@routes.UserController.signOut(url.getOrElse("/"))' role="menuitem">Sign out</a>
                            </li>
                        </ul>
                    } else {
                        <a href="#SignIn" data-toggle="modal" data-target="#sign-in-modal-container">
                                &nbsp;Sign in
                        </a>
                    }
                </li>
            </ul>
        </div>
            <!-- /.nav-collapse -->
    </div>
        <!-- /.container -->
</nav>
    <!-- /.navbar -->
@if(!user) {
    <script type="text/javascript">
            $(document).ready(function () {
                $("#form-open-sign-up").on("mouseup", function () {
                    $("#sign-in-modal").addClass("hidden");
                    $("#sign-up-modal").removeClass("hidden");
                });
                $("#form-open-sign-in").on("mouseup", function () {
                    $("#sign-up-modal").addClass("hidden");
                    $("#sign-in-modal").removeClass("hidden");
                });

                // Log if user /clicks/ on sign-in button, but not necessarily signs in
                $("#sign-in-button").on('click', function(){
                    var url = "/userapi/logWebpageActivity";
                    var async = true;
                    var activity = "Click_module=SignIn";
                    $.ajax({
                        async: async,
                        contentType: 'application/json; charset=utf-8',
                        url: url,
                        type: 'post',
                        data: JSON.stringify(activity),
                        dataType: 'json',
                        success: function(result){},
                        error: function (result) {
                            console.error(result);
                        }
                    });
                });
            });
    </script>
    <div class="modal fade" id="sign-in-modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="sign-in-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sign-in-label">Sign in</h4>
                </div>
                <div class="modal-body">

                    <!-- Alert for signing in with wrong credentials from navbar Sign-In -->
                    <div id="incorrect-login-modal-alert"></div>

                    @helper.form(action = routes.CredentialsAuthController.authenticate(url.getOrElse("/")), args = 'id -> "sign-in-form") {
                        @text(forms.SignInForm.form("identifier"), "Email address")
                        @password(forms.SignInForm.form("password"), "Password")
                        <button id="sign-in-submit" type="submit" value="submit" class="btn btn-sm btn-primary btn-block">Sign in</button>
                    }
                </div>
                <div class="modal-footer">
                    <div>
                        Are you new? <a href="#" id="form-open-sign-up">Sign up!</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
            <div class="modal-content hidden" id="sign-up-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sign-up-label">Sign up</h4>
                </div>
                <div class="modal-body">
                    @helper.form(action = routes.SignUpController.signUp(url.getOrElse("/")), args ='id -> "sign-up-form") {
                    @text(forms.SignUpForm.form("username"), "Username", icon = "person")
                    @text(forms.SignUpForm.form("email"), "Email", icon = "at")
                    @password(forms.SignUpForm.form("password"), "Password", icon = "key")
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="navbar-agree-to-terms">You agree to our <a target="_blank" href="@routes.ApplicationController.terms">Terms of Use and Privacy Policy</a></label>
                        </div>
                        <div>
                            <button id="sign-up-submit" type="submit" value="submit" class="btn btn-primary btn-block" disabled>Sign up</button>
                        </div>
                    </div>
                }
                </div>
                <div class="modal-footer">
                    <div>
                        Have an account? <a href="#" id="form-open-sign-in">Sign in!</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="incorrect-login-modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="incorrect-login-modal">
                <div class="modal-body">
                    <span>Incorrect email address or password.</span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
            $(document).ready(function() {
                $("#navbar-agree-to-terms").click(function() {
                    if ($(this).prop("checked")) {
                        $("#sign-up-submit").prop("disabled", false);
                    } else {
                        $("#sign-up-submit").prop("disabled", true);
                    }
                });

                //set tooltip alerts for when users do not enter all sign in / sign up fields
                $('#username').tooltip({title:'Please enter a username.', trigger: 'manual'});
                $('#username').on({
                    'focus': function(){
                        $('#username').tooltip('hide');
                    }
                });
                $('#identifier').tooltip({title:'Please enter a valid email address.', trigger: 'manual'});
                $('#identifier').on({
                    'focus': function(){
                        $('#identifier').tooltip('hide');
                    }
                });
                $('#email').tooltip({title:'Please enter a valid email address.', trigger: 'manual'});
                $('#email').on({
                    'focus': function(){
                        $('#email').tooltip('hide');
                    }
                });
                $(':password').tooltip({title:'Please enter your password.', trigger: 'manual'});
                $(':password').on({
                    'focus': function(){
                        $(':password').tooltip('hide');
                    }
                });
            });

            function validateEmail(email) {
                var regex = /\S+@@\S+\.\S+/;
                return regex.test(email);
            }

            // Callback function for checking sign-in results
            function handleSignIn(data) {

                //this means that logging in failed, alert user of failure
                if(typeof data == 'string'){
                    //$('#incorrect-login-modal-container').modal('toggle');
                    //return;

                    $('#incorrect-login-modal-alert').html(
                        '<div class="alert alert-danger alert-error" id="incorrect-login-modal-alert">'+
                        '<a href="#" class="close" data-dismiss="alert">&times;</a>'+
                        '<strong>Error!</strong> Invalid credentials!'+
                        '</div>'
                    );
                    return;
                }

                //otherwise, reflect login changes on user's end
                var htmlString = $("#navbar-dropdown-list-signed-in").html();
                htmlString = htmlString.replace(/__USERNAME__/g, data.username);

                $("#navbar-dropdown-list").html(htmlString);
                svl.user.setProperty('username', data.username);

                // Append the link to the admin interface if it the user is admin
                if (data.roles && data.roles.indexOf("Administrator") >= 0) {
                    var adminLi = '<li role="presentation"><a href="/admin" role="menuitem">Admin</a></li>';
                    $("#nav-user-menu").append(adminLi);
                }

                $('#sign-in-modal-container').modal('toggle');
            }

            // Intercept form-based sign in and use AJAX to signin so the page does not refresh.
            $('#sign-in-form').submit(function () {
                var formData = $('#sign-in-form :input');
                var email = formData[0].value;
                var password = formData[1].value;

                //if not a valid email address, do not submit form
                if(!email || !validateEmail(email)){
                    $('#identifier').tooltip('show');
                    return false;
                }

                if(!password){
                    $(':password').tooltip('show');
                    return false;
                }

                var data = $(this).serialize();

                var url = '/authapi/authenticate';
                $.post(url, data, handleSignIn);
                return false;
            });

            $('#sign-up-form').submit(function () {
                var formData = $('#sign-up-form :input');
                var username = formData[0].value;
                var email = formData[1].value;
                var password = formData[2].value;

                if(!username){
                    $('#username').tooltip('show');
                    return false;
                }

                //if not a valid email address, do not submit form
                if(!email || !validateEmail(email)){
                    $('#email').tooltip('show');
                    return false;
                }

                if(!password){
                    $(':password').tooltip('show');
                    return false;
                }

                var data = $(this).serialize();

                var url = '/authapi/signup';
                $.post(url, data, handleSignIn);
                return false;
            });
    </script>
    <template id="navbar-dropdown-list-signed-in">
        <a id="nav-user-dropdown" role="button" data-toggle="dropdown" href="#">
            __USERNAME__
            <b class="caret"></b>
        </a>
        <ul id="nav-user-menu" class="dropdown-menu" role="menu" aria-labelledby="User menu">
            <li role="presentation">
                <a href='/contribution/__USERNAME__' role="menuitem">
                    Your dashboard
                </a>
            </li>
            <li role="presentation">
                <a href='@routes.UserController.signOut(url.getOrElse("/"))' role="menuitem">Sign out</a>
            </li>
        </ul>
    </template>
    <template id="navbar-dropdown-list-signed-out">
        <a href="#SignIn" data-toggle="modal" data-target="#sign-in-modal-container">
            Sign in
        </a>
    </template>
}
