@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user)
    <div id="content">
        <div class="container">
            <h2>Please return this HIT</h2>
            <p>
                You've already completed all assigned missions in this HIT (or are in the middle of working on another of our HITs)! If you would like to contribute more as a volunteer please visit our public website for <a href="http://sidewalk.umiacs.umd.edu/?r=mturk_no_mission_available">Project Sidewalk</a>.
                Your labels are used to develop new accessibility-friendly mapping tools (e.g., route planners, map visualizations), to train machine learning algorithms to semi-automatically assess cities in the future,
                and to create better transparency about city accessibility.
                Even five minutes of your day could help make someone else’s.
            </p>
        </div>
    </div>
}