@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.daos._
@import models.label._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user)
    <div id="content">
        <div class="container">
            <h2>Please return this HIT</h2>
            <p>You have arrived at this page for one of two reasons:</p>
            <ol>
                <li>You have already completed one of our HITs of this type. Unfortunately, you can only complete one of
                    these HITs. If you have already completed one, please return this HIT. If you finished the HIT but were
                    not able to submit it for any reason, please do not hesitate to contact us.</li>
                <li>You already started another HIT from us, but have not finished it. Check your "HITs Assigned To You"
                    page to resume that HIT. If our HIT is not listed there, that means that you have not completed the
                    HIT in the allotted time and you will not be able to submit the HIT. If this seems incorrect in any
                    way, please do not hesitate to contact us.</li>
            </ol>
            <p>Watch out for a set of open-ended HITs (available soon!) where you can complete any number of missions,
                receiving a bonus for each mission that you finish.
            </p>
            <p>If you would like to contribute more as a volunteer please visit our public website for <a href="http://sidewalk.umiacs.umd.edu/?r=mturk_no_mission_available">Project Sidewalk</a>.
                Your labels are used to develop new accessibility-friendly mapping tools (e.g., route planners, map visualizations), to train machine learning algorithms to semi-automatically assess cities in the future,
                and to create better transparency about city accessibility.
                Even five minutes of your day could help make someone else’s.
            </p>
        </div>
    </div>
}