@import models.user.User
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user, Some("/noAvailableMissionIndex"))
    <div id="content">
        <div class="container">
            <h2>You've already completed this HIT!</h2>
            <p>
                You can definitely contribute more as a volunteer (either anonymous or registered). Please visit our website for <a href="http://sidewalk.umiacs.umd.edu/?r=mturk_no_mission_available">Project Sidewalk</a>.
                Your labels are used to develop new accessibility-friendly mapping tools (e.g., route planners, map visualizations), to train machine learning algorithms to semi-automatically assess cities in the future,
                and to create better transparency about city accessibility.
                Even five minutes of your day could help make someone else’s.
            </p>
        </div>
    </div>
}