@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <script type="text/javascript" src='@routes.Assets.at("javascripts/sidebarSubtopics.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/faq.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/labelingGuide.css")'/>

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/magnific-popup.css")'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='@routes.Assets.at("javascripts/jquery.magnific-popup.js")'></script>

    <div class="spacer20"></div>

    <div class="container faq">
        <div class="row">
            <div class="col-md-3" id="sidebar">
                <div id="faq-panel" class="panel panel-default">
                    <div class="panel-heading">
                        No Sidewalk
                    </div>
                    <div class="panel-body">
                        <ul id="questions-list">
                            <li><a href='@routes.ApplicationController.labelingGuide'>Introduction</a></li>
                            <li><a href='@routes.ApplicationController.curbRamps'>Curb Ramps</a></li>
                            <li><a href='@routes.ApplicationController.surfaceProblems'>Surface Problems</a></li>
                            <li><a href='@routes.ApplicationController.obstacles'>Obstacles</a></li>
                            <li><a href='@routes.ApplicationController.noSidewalk'><strong>No Sidewalk</strong></a></li>
                            <li><a href='@routes.ApplicationController.occlusion'>Occlusion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 maincontent">
                <div class="faq-item">
                    <h2 class="question" id="no-sidewalk">No Sidewalk</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                The protocol for labeling no sidewalk for ground truth collection is as follows: place
                                one label where the sidewalk ends, and one label where the sidewalk begins again. If
                                an entire block or more has no sidewalk, then place a label at the beginning and end
                                of each street. (and if two intersecting streets both have no sidewalk, then a single
                                label can be placed on the corner)
                            </p>
                            <p>
                                Do not place No Sidewalk labels in narrow side streets or alleys.
                            </p>
                            <p>
                                If you reach a 3-way intersection that has no sidewalk DO place a no sidewalk label
                                in the center of the opposite street where a sidewalk would be.
                            </p>
                            <p>
                                DO NOT place no sidewalk labels on a median that separates the two directions of traffic
                                (unless the median has a sidewalk that abruptly ends).
                            </p>
                        </div>
                        <div>
                            <div class="col-sm-6">
                                <figure class="text-center">
                                    <img src='@routes.Assets.at("images/labeling_guide_misc/NoSidewalk1.png")' href='@routes.Assets.at("images/labeling_guide_misc/NoSidewalk1.png")'
                                    alt="A Map View image of a 3-way intersection that has no sidewalk" class="img-responsive" align=""
                                    title="In this example, we approached this intersection from NW, saw there was no label on the opposite street, and placed a No Sidewalk label.">
                                    <figcaption>In this example, we approached this intersection from NW, saw there was no label on the opposite street, and placed a No Sidewalk label.</figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-6">
                                <figure class="text-center">
                                    <img src='@routes.Assets.at("images/labeling_guide_misc/NoSidewalk2.png")' href='@routes.Assets.at("images/labeling_guide_misc/NoSidewalk2.png")'
                                    alt="A Street View image of a median that separates two directions of traffic" class="img-responsive" align=""
                                    title="A median that separates two directions of traffic">
                                    <figcaption>A median that separates two directions of traffic</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}