@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <script type="text/javascript" src='@routes.Assets.at("javascripts/sidebarSubtopics.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/faq.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/labelingGuide.css")'/>

    <div class="spacer20"></div>

    <div class="container faq">
        <div class="row">
            <div class="col-md-3">
                <div id="faq-panel" class="panel panel-default">
                    <div class="panel-heading">
                        Surface Problems
                    </div>
                    <div class="panel-body">
                        <ul id="questions-list">
                                <!--This list will be automatically filled-->
                            <li><a href='@routes.ApplicationController.labelingGuide'>Introduction</a></li>
                            <li><a href='@routes.ApplicationController.curbRamps'>Curb Ramps</a></li>
                            <li><a href='@routes.ApplicationController.surfaceProblems'>Surface Problems</a></li>
                            <li><a href='@routes.ApplicationController.obstacles'><strong>Obstacles</strong></a></li>
                            <div id="subtopics">
                            </div>
                            <li><a href='@routes.ApplicationController.labelingGuide#no-sidewalk'>No Sidewalk</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuide#occlusion'>Occlusion</a></li>
                            <li><a href='@routes.ApplicationController.labelingGuide#graveyard'>Graveyard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 maincontent">
                <div class="faq-item">
                    <h2 class="question" id="corners-with-only-one-curb-ramp">Corners with only one curb ramp</h2>
                    <div class="row">
                        <div class="col-sm-12">
                                <!--taken directly from Project Sidewalk: Labeling Codebook CHI2018-->
                            <p>
                                <strong>DO place a missing curb ramp</strong> if the existing ramp is clearly only
                                meant for crossing one of the streets. For example, in the image on left, the arrow
                                marks a missing curb ramp because there is a crosswalk but no curb ramp
                                and the existing ramp is facing the other street. This would get a severity
                                rating ~3 because there is another curb ramp on that corner that could be
                                used instead, though pedestrians are moderately lead into traffic due to
                                it’s orientation (ADA 406.6).
                            </p>
                            <p>
                                <strong>DO NOT place a missing curb ramp</strong> label if the one curb ramp is clearly
                                meant for crossing both streets (as in image on right), but the severity of the curb
                                ramp is likely > 1, depending on how much it would lead someone into traffic
                                (ADA 406.6). In the example below on the right, the severity rating would be ~2,
                                since pedestrians are minorly directed into traffic. It would have a severity
                                of 3-4 if the visible lanes were not parking lanes.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="faq-item">
                    <h2 class="question" id="where-there-is-no-sidewalk,-but-there-is-a-curb-ramp">
                        Where there is NO sidewalk, but there IS a curb ramp</h2>
                    <div class="row">
                        <div class="col-sm-12">
                                <!--taken directly from Project Sidewalk: Labeling Codebook CHI2018-->
                            <p>
                                <strong>DO place a curb ramp label</strong> if there is a curb ramp,
                                regardless of the presence of sidewalk (or the usefulness of the curb ramp.
                                A curb ramp is a curb ramp is a curb ramp is a curb ramp! In the image on
                                the left, the curb ramps could be useful for someone who wants to cross
                                both streets. They could safely cross one street, then safely wait on the
                                space provided by the curb ramps for an opportune time to cross the other
                                street. The image on the left… No idea why it is there, but place a label anyway.
                            </p>
                                <!--place the two images here-->
                        </div>
                    </div>
                </div>

                <div class="faq-item">
                    <h2 class="question" id="where-there-is-no-sidewalk-and-there-is-no-curb-ramp">
                        Where there is NO sidewalk and there is NO curb ramp</h2>
                    <div class="row">
                        <div class="col-sm-12">
                                <!--taken directly from Project Sidewalk: Labeling Codebook CHI2018-->
                            <p>
                                <strong>DO NOT place a missing curb ramp</strong> if there is no sidewalk.
                                A curb ramp is not required in these situations (nor would it be very useful)
                                since this is not part of a pedestrian route. Do not place a missing curb ramp
                                even in those cases where there are crosswalks but no sidewalk as in the image
                                on the right (ADA 303.4)
                            </p>
                                <!--place the two images here-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}