@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <script type="text/javascript" src='@routes.Assets.at("javascripts/sidebarSubtopics.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/faq.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/labelingGuide.css")'/>

    <div class="spacer20"></div>

    <div class="container faq">
        <div class="row">
            <div class="col-md-3" id="sidebar">
                <div id="faq-panel" class="panel panel-default">
                    <div class="panel-heading">
                        Occlusion
                    </div>
                    <div class="panel-body">
                        <ul id="questions-list">
                            <li><a href='@routes.ApplicationController.labelingGuide'>Introduction</a></li>
                            <li><a href='@routes.ApplicationController.curbRamps'>Curb Ramps</a></li>
                            <li><a href='@routes.ApplicationController.surfaceProblems'>Surface Problems</a></li>
                            <li><a href='@routes.ApplicationController.obstacles'>Obstacles</a></li>
                            <li><a href='@routes.ApplicationController.noSidewalk'>No Sidewalk</a></li>
                            <li><a href='@routes.ApplicationController.occlusion'><strong>Occlusion</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 maincontent">
                <div class="faq-item">
                    <h2 class="question" id="occlusion">Occlusion</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                If you actually can’t see something at all, then you can place the occlusion label.
                                This should rarely be used; only apply this label when a sidewalk/ramp/etc cannot be
                                viewed from any angle due to obstructions, such as cars.
                            </p>
                            <p>
                                Another rare case of occlusion (though not that uncommon in Monumental Core) is when a
                                long stretch of sidewalk is totally blocked from view by a short wall between the road
                                and sidewalk. Label this using the same technique as for extended no sidewalk.
                            </p>
                                <!-- insert image here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}