@(resetPasswordForm: Form[String], token: java.util.UUID)(implicit request: RequestHeader, lang: Lang)
@import views.html.bootstrap._

@main("Project Sidewalk - Reset Password") {
    @navbar(None)
    <fieldset class="col-md-6 col-md-offset-3" style="margin-top:51px">
        <legend>@Messages("reset.password.message")</legend>
        @helper.form(action = routes.ResetPasswordController.reset(token), 'autocomplete -> "off") {
            <p class="info">@Messages("reset.password.submit.new.password")</p>
            @password(resetPasswordForm("password"), Messages("navbar.password"), icon = "key")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset.password.message")</button>
                </div>
            </div>
        }
    </fieldset>
}
