@import models.user.User
@(user: Option[User] = None)(implicit lang: Lang)

@main(Messages("route.builder.name")) {
    @navbar(user, Some("/routeBuilder"))

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next-21.9.1.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet" />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-6.5.0.js")'></script>

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/routeBuilder.css")'>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/routeBuilder.js")'></script>

    <div id="route-builder-map"></div>
    <div id="routebuilder-intro">
        <span id="routebuilder-intro-title">Welcome to RouteBuilder</span>
        <span id="routebuilder-intro-content">Improving accessibility in the neighborhood of your choosing by building, exploring and sharing your own route!</span>
        <span id="routebuilder-intro-instruction">Click on a street to start building your route.</span>
    </div>
    <div id="routebuilder-overlay2">
        <div id="routebuilder-overlay-instructions">
            <span id="routebuilder-overlay-title">Creating Route</span>
            <div id="routebuilder-route-length">
                <span id="route-length-title">@Messages("routebuilder.route.length")</span>
                <span id="route-length-value"></span>
            </div>
            <div id="line-divider"></div>
            <div id="route-editing-instructions">
                <span id="route-editing-title">Editing Route</span>
                <div id="route-edit-add-street" class="route-edit-subsection">
                    <img src="@routes.Assets.at("images/icons/add-street.svg")" class="route-edit-icon" alt="A map pin icon with a plus in the center" />
                    <span id="route-edit-add-street-content" class="route-edit-content">Click on streets on the map to add them to your route.</span>
                </div>
                <div id="route-edit-rotate-street" class="route-edit-subsection">
                    <img src="@routes.Assets.at("images/icons/rotate-street.svg")" class="route-edit-icon" alt="Two arrows forming a circle to indicate rotation" />
                    <span id="route-edit-add-street-content" class="route-edit-content">Click on any added street once to rotate the direction.</span>
                </div>
                <div id="route-edit-delete-street" class="route-edit-subsection">
                    <img src="@routes.Assets.at("images/icons/delete-street.svg")" class="route-edit-icon" alt="A trash can with an X on it" />
                    <span id="route-edit-add-street-content" class="route-edit-content">Click on any added street twice to delete it from the route.</span>
                </div>
            </div>
            <span id="route-edit-save-instruction">To finish the build, click "Save Route".</span>
            <div id="routebuilder-buttons">
                <button type="button" class="routebuilder-button" id="save-button">@Messages("route.builder.save")</button>
                <button type="button" class="routebuilder-button" id="cancel-button">Cancel</button>
            </div>
        </div>
    </div>
    <div id="route-saved-modal-overlay">
        <div id="route-saved-modal">
            <div id="route-saved-title-section">
                <img src="@routes.Assets.at("images/icons/test-check.svg")" id="route-saved-checkmark" alt="A green circle with a white checkmark in the center" />
                <div id="route-saved-title-subsection">
                    <span id="route-saved-title">Route Saved!</span>
                    <span id="edit-route">Edit this route</span>
                </div>
            </div>
            <div id="route-saved-body-1">
                <span id="route-saved-body-1-title">Start exploring this route and labeling accessibility issues</span>
                <div id="route-saved-buttons">
                    <button type="button" id="explore-button" class="routebuilder-button">Explore This Route</button>
                    <button type="button" id="build-new-route-button" class="routebuilder-button">Build Another Route</button>
                </div>
            </div>
            <div id="route-saved-body-2">
                <span id="route-saved-body-2-title">Invite friends to explore this route with the following link</span>
                <div id="share-route-section">
                    <span id="share-route-link">https://sidewalk-sea.cs.washington.edu/explore?rout...</span>
                    <button type="button" class="routebuilder-button" id="copy-link-button">Copy Link</button>
                </div>
            </div>
        </div>
    </div>

    <div id="routebuilder-overlay" style="display: none;">
        <p id="route-builder-instruction">@Messages("route.builder.instructions")</p>
        <button type="button" class="route-builder-button" id="route-builder-save-button" aria-disabled="true">@Messages("route.builder.save")</button>
        <button type="button" class="route-builder-button" id="route-builder-explore-button" aria-disabled="true">@Messages("route.builder.explore")</button>
        <button type="button" class="route-builder-button" id="route-builder-share-button" aria-disabled="true">@Messages("route.builder.share")</button>
        <p id="street-distance"></p>
    </div>

    <script>
        $(document).ready(function () {
            // Gets all translations before loading the choropleth.
            i18next.use(i18nextXHRBackend);
            i18next.init({
                backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
                fallbackLng: 'en',
                ns: ['routebuilder', 'common'],
                defaultNS: 'routebuilder',
                lng: '@lang.code',
                debug: false
            }, function(err, t) {
                var routeBuilder;
                var loadMapParams = $.getJSON('/cityMapParams');
                var loadPolygons = $.getJSON('/neighborhoods');
                var loadStreets = $.getJSON('/contribution/streets/all?filterLowQuality=true');

                var initMap = $.when(loadMapParams).done(function(mapParams) {
                    routeBuilder = RouteBuilder($, mapParams);
                });
                $.when(initMap, loadPolygons).done(function(d0, neighborhoodData) {
                    routeBuilder.renderNeighborhoods(neighborhoodData[0]);
                });
                $.when(initMap, loadStreets).done(function(d0, streetData) {
                    routeBuilder.renderStreets(streetData[0]);
                    window.routeBuilder = routeBuilder;
                });
            });
        });
    </script>
}
