@import models.user.User
@(user: Option[User] = None)(implicit lang: Lang)

@main("Sidewalk - RouteBuilder") {
    @navbar(user, Some("/routeBuilder"))

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet" />
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-6.5.0.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/routeBuilder.js")'></script>

    <div id="route-builder-map" style="width: 98%; height: 800px; margin-top: 25px; left: 1%;"></div>
    <div id="route-builder-overlay" style="position: absolute; top: 90px; right: 27px; background: #fff; margin-top: 20px; width: 200px; border-radius: 3px; overflow: auto;">
        <p id="street-distance"></p>
        <button type="button" class="route-builder-button" id="route-builder-save-button" disabled>Save route</button>
        <button type="button" class="route-builder-button" id="route-builder-explore-button" disabled>Explore route</button>
    </div>

}
