@import models.user.User
@(user: Option[User] = None, isMobile: Boolean)(implicit lang: Lang)

@main("Sidewalk - Service Hours") {
    @if(!isMobile) {
        @navbar(user, Some("/serviceHoursInstructions"))
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Instructions for completing community service hours.</h3>
                <p>
                    If you are planning to record community service hours through you high school or other organization,
                    please follow the instructions below. Your supervisor will be Mikey Saugstad, and you can reach them
                    at volunteer.sidewalk@@gmail.com.
                </p>
                <p>
                    The Project Sidewalk website keeps track of how long you've spent working on the site. This makes it
                    easier for you to submit your hours and for us to verify those hours. When signed in, you can always
                    check your time at our <a href="@routes.ApplicationController.timeCheck()">Time Check page</a>!
                </p>
                <ol>
                    <li>
                        Start by bookmarking this page so that you can easily find these instructions in the future.
                    </li>
                    <li>
                        If you haven't already, please create an account on this website. Always be sure to log in so
                        that we are able to keep track of how long you've worked on the site.
                    </li>
                    <li>
                        Please take a few minutes to carefully read through
                        <a href="https://docs.google.com/presentation/d/1uO5jECSbULaC_nfX3Z5_WCIlrOv8dxATp0naabFLFog">this slide deck</a>,
                        which shows some of the most common mistakes that are made when using Project Sidewalk. Please
                        read carefully, it will save us both time in the long run!
                    </li>
                    <li>
                        When you're ready to work, click on the "Start Exploring" button above and work for one hour.
                    </li>
                    <li>
                        After that hour, email volunteer.sidewalk@@gmail.com, and include your username and the email
                        address that you used to sign up for Project Sidewalk. Your Project Sidewalk supervisor, Mikey,
                        will respond within a couple of days, giving you feedback on your work and advice on how to
                        improve. It is incredibly important to us that high quality data is being contributed to Project
                        Sidewalk, so this step is very important! <em>Requests to approve hours will most likely be rejected
                        if we have not received an email from you.</em>
                    </li>
                    <li>
                        After receiving feedback from us, you can then work on Project Sidewalk for another hour. After
                        that hour, respond to the email you received to let us know that you're ready for another round
                        of feedback.
                    </li>
                    <li>
                        Once we are confident that you have received enough training to provide high quality data, we
                        will let you know that you are free to work for as many more hours as you need to fulfill your
                        community service requirements!
                    </li>
                    <li>
                        When submitting your hours, please list Mikey Saugstad as your supervisor. And include that same
                        email address (volunteer.sidewalk@@gmail.com).
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
