@import models.user.User
@import models.user.VersionTable
@import play.api.libs.json.Json
@(title: String, user: Option[User] = None)(implicit lang: Lang)

@main(title) {
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/Main.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/cards/Card.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/cards/CardBucket.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/cards/CardContainer.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/filter/CardFilter.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/filter/RibbonMenu.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/filter/Tag.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/filter/Severity.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/src/filter/CardSortMenu.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/util/GalleryPanoUtilities.js")'></script>

    @navbar(user, Some("/sidewalkGallery"))
    <div id="gallery-overview-container" class="container-fluid">
        <h1>Welcome to Sidewalk Gallery</h1>
        <h3>View different sidewalk accessibility issues</h3>
        <div class="row">
            <div id="card-filter" class="col-md-3">
                <h4><b>Sort by</b></h4>
                <select id="card-sort-select">
                    <option value="sort_LeastSevere">Least Severe</option>
                    <option value="sort_MostSevere">Most Severe</option>
                </select>
                <div id="ribbon-menu-holder">
                    <span id="label-type-holder">
                        <h4><b>Show</b></h4>
                        <select id="label-select">
                            <option value="Assorted">All</option>
                            <option value="CurbRamp">Curb Ramp</option>
                            <option value="NoCurbRamp">Missing Curb Ramp</option>
                            <option value="Obstacle">Obstacle in Path</option>
                        </select>
                    </span>
                    
                </div>
                <h4<b>Filter by</b></h4>
                <h5>Severity</h5>
                <span id="severity">
                </span>
                <h5>Tags</h5>
                <span id="tags">
                </span>
                <div>
                    <h2 id="prev-page">&lt</h2>
                    <div id="page-number">
                        
                    </div>
                    <h2 id="next-page">&gt</h2>
                </div>
                
            </div>
            <div id="image-card-container" class="col-md-9">
            </div>
        </div>
    </div>
    @footer()

    <script type="text/javascript">
            var sg = sg || {};
            let params = {};
            params.rootDirectory = "/assets/javascripts/SVLabel/";

            sg.main = new Main(params);
    </script>

    <link href='@routes.Assets.at("stylesheets/SidewalkGallery/cards.css")' rel='stylesheet' />
    <link href='@routes.Assets.at("stylesheets/SidewalkGallery/tags.css")' rel='stylesheet' />
    <link href='@routes.Assets.at("stylesheets/SidewalkGallery/gallery.css")' rel='stylesheet' />
}
