@import models.user.User
@import models.user.VersionTable
@import play.api.libs.json.Json
@(title: String, user: Option[User] = None)(implicit lang: Lang)

@main(title) {
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SidewalkGallery/build/SidewalkGallery.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("/javascripts/common/Utilities.js")'></script>
    <div id="page-loading"><img id="loading-gif" src='@routes.Assets.at("images/project_sidewalk_page_load.gif")'/></div>

    @navbar(user, Some("/sidewalkGallery"))
    <div id="gallery-overview-container" class="container-fluid">
        <div class="row" style="padding-left: 10px; padding-top: 40px;">
            <div id="card-filter" class="col-md-2">
                <!-- <h4><b>Sort by</b></h4>
                <select id="card-sort-select">
                    <option value="sort_LeastSevere">Least Severe</option>
                    <option value="sort_MostSevere">Most Severe</option>
                </select> -->
                <div id="ribbon-menu-holder">
                    <span id="label-type-holder">
                        <h4><b>Show</b></h4>
                        <select id="label-select" disabled>
                            <option value="Assorted">All</option>
                            <option value="CurbRamp">Curb Ramp</option>
                            <option value="NoCurbRamp">Missing Curb Ramp</option>
                            <option value="Obstacle">Obstacle in Path</option>
                            <option value="SurfaceProblem">Surface Problem</option>
                            <option value="Occlusion">Can't See Sidewalk</option>
                            <option value="NoSidewalk">No Sidewalk</option>
                            <option value="Other">Other</option>
                        </select>
                    </span>
                    
                </div>
                <div id="horizontal-line"></div>
                <div id="filters">
                    <h4><b>Filter by</b></h4>
                    <h5 id="severity-header">Severity</h5>
                    <span id="severity">
                    </span>
                    <h5 id="tags-header">Tags</h5>
                    <span id="tags">
                    </span>
                </div>  
            </div>
            <div style="position: absolute; width: 100%; text-align: center;">
                <span id="labels-not-found">No matches. <a href="/audit">Start exploring</a> to contribute more data!</span>
            </div>
            <div id="image-card-container" class="col-md-10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <div style="position: absolute; left: 50%; margin-right: -50%;" id="page-control">
                    <button class="paging" id="prev-page">&lt</button>
                    <div class="paging" id="page-number"></div>
                    <button class="paging" id="next-page">&gt</button>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div style="padding-top: 100px;"></div>
        </div>
    </div>
    @footer()

    <script type="text/javascript">
            var sg = sg || {};
            let params = {};

            // Path to assets
            params.rootDirectory = "/assets/javascripts/SVLabel/";

            // URLs for where to send interaction data
            params.dataStoreUrl = '@routes.GalleryTaskController.post';
            params.beaconDataStoreUrl = params.dataStoreUrl + "Beacon";

            params.language = "@lang.code";

            sg.main = new Main(params);
    </script>

    <link rel="stylesheet" href='@routes.Assets.at("javascripts/SidewalkGallery/build/SidewalkGallery.css")'/>
}
