@import play.api.Configuration
@import service.utils.CommonPageData
@import views.html.helper.{form, inputText, inputPassword, CSRF}
@import controllers.helper.ControllerUtils.buildUrlFromQueryString
@import models.user.SidewalkUserWithRole
@(signInForm: Form[forms.SignInForm.SignInData], commonData: CommonPageData, user: Option[SidewalkUserWithRole])(implicit request: RequestHeader, messages: Messages, config: Configuration)

@*
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor
*@

@main(commonData, Messages("sign.in.title")) {
    @navbar(commonData, user, Some("/signIn"))
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("sign.in.credentials")</legend>
        @form(action = routes.CredentialsAuthController.authenticate()) {
            @CSRF.formField
            <input type="hidden" name="returnUrl" value="@buildUrlFromQueryString(request.queryString)">
            @inputText(signInForm("email"), '_hiddenLabel -> Messages("authenticate.email"), 'placeholder -> Messages("authenticate.email"), 'class -> "form-control input-lg")
            @inputPassword(signInForm("password"), '_hiddenLabel -> Messages("authenticate.password"), 'placeholder -> Messages("authenticate.password"), 'class -> "form-control input-lg")
            @*
            @helper.CSRF.formField
            @b3.email(signInForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg")
            @b3.password(signInForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
            @b3.checkbox(signInForm("rememberMe"), '_text -> Messages("remember.me"), 'checked -> true)
            *@
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="rememberMe" value="true" checked="checked"> @Messages("remember.me")
                </label>
            </div>
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.in")</button>
                </div>
            </div>
        }
        <div>
            <p class="not-a-member">@Messages("not.a.member") <a href="@routes.UserController.signUp(buildUrlFromQueryString(request.queryString))">@Messages("sign.up.now")</a></p>
        </div>
    </fieldset>
}
