@import play.api.Configuration
@import service.utils.CommonPageData
@import views.html.helper.{form => htmlForm, inputText => htmlInputText, inputRadioGroup => htmlInputRadioGroup}  // Rename the imports to deal with clashing names.
@(signUpForm: Form[forms.SignUpForm.SignUpData], commonData: CommonPageData, url: String = "/")(implicit request: RequestHeader, messages: Messages, config: Configuration)

@* @import b3.inline.fieldConstructor *@

@main(commonData, "Sidewalk - SignUp") {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("sign.up.account")</legend>
        @htmlForm(action = routes.SignUpController.signUp(Some(url))) {
            @htmlInputText(signUpForm("username"), '_hiddenLabel -> Messages("username"), 'placeholder -> Messages("username"), 'class -> "form-control input-lg")
            @htmlInputText(signUpForm("email"), '_hiddenLabel -> Messages("authenticate.email"), 'placeholder -> Messages("authenticate.email"), 'class -> "form-control input-lg")
            @htmlInputText(signUpForm("password"), '_hiddenLabel -> Messages("authenticate.password"), 'placeholder -> Messages("authenticate.password"), 'class -> "form-control input-lg")
            @htmlInputText(signUpForm("passwordConfirm"), '_hiddenLabel -> Messages("authenticate.password"), 'placeholder -> Messages("authenticate.password"), 'class -> "form-control input-lg")
            @htmlInputRadioGroup(signUpForm("serviceHours"), Seq(Messages("yes.caps") -> Messages("yes.caps"), Messages("no.caps") -> Messages("no.caps")), '_hiddenLabel -> Messages("authenticate.service.hours.title"), 'class -> "form-control input-lg")
            @*
            @helper.CSRF.formField
            @b3.text(signInForm("firstName"), '_hiddenLabel -> Messages("first.name"), 'placeholder -> Messages("first.name"), 'class -> "form-control input-lg")
            @b3.text(signInForm("lastName"), '_hiddenLabel -> Messages("last.name"), 'placeholder -> Messages("last.name"), 'class -> "form-control input-lg")
            @b3.text(signInForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg")
            @b3.password(signInForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
            *@
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.up")</button>
                </div>
            </div>
            <div class="sign-in-now">
                <p>@Messages("already.a.member") <a href="@routes.UserController.signIn(url)">@Messages("sign.in.now")</a></p>
            </div>
        }
    </fieldset>
}