@import models.user.User
@(signInForm: Form[com.mohiva.play.silhouette.api.util.Credentials], url: String = "/")(implicit env: com.mohiva.play.silhouette.api.Environment[User, _], request: RequestHeader, lang: Lang)

@import views.html.bootstrap._

@main("Project Sidewalk - Sign In") {
    @navbar(None, Some(url))
    @request.flash.get("success").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-success"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            @msg
        </div>
    }

    @request.flash.get("error").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error"
         style="float:none;margin-top:20px;margin-bottom:0px">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> @msg
    </div>
    }

    @request.flash.get("info").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-info"
        style="float:none;margin-top:20px;margin-bottom:0px">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            @msg
        </div>
    }

    <fieldset class="col-md-6 col-md-offset-3" style="margin-top:51px">
        <legend>@Messages("navbar.signin.with.credentials")</legend>
        @helper.form(action = routes.CredentialsAuthController.authenticate(url)) {
        @text(signInForm("identifier"), Messages("navbar.email"), icon = "at")
        @password(signInForm("password"), Messages("navbar.password"), icon = "key")
        <div class="form-group">
            <div>
                <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("navbar.submit")</button>
            </div>
        </div>
        }

        <div>
            <p class="not-a-member">@Html(Messages("navbar.non.member"))</p>
        </div>

        <div>
            <p class="forgot-password">
                <a href="@routes.UserController.forgotPassword()">Forgot your password?</a>
            </p>
        </div>
    </fieldset>
}