@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>CMSC389N, Summer 2016</h1>
                <p>The following instruction is for CMSC389N student to get extra credit. This is due by June 29th 11:59PM</p>
                <ol>
                    <li>
                        <a href='@routes.UserController.signUp("/")'>Click here to sign up.</a> Use your UMD id as a username.
                    </li>
                    <li>
                        Click <a href='@routes.AuditController.audit'>Start Auditing</a> and complete 5 missions.
                            Keep logged in while you are auditing; otherwise I cannot keep track of your progress!
                    </li>
                    <li>
                        Email me (kotaro@@cs.umd.edu) once you have finished 5 missions and let me know your username.
                    </li>
                </ol>

            </div>
        </div>
    </div>
}