@(title: String, showEmailInput: Boolean, hasError: Boolean)

@main(title) {
    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="row">
                <div class="text-center col-md-12">
                    <h1 class="text-center">
                        Help us make sidewalks more accessible for everyone
                        <img src='@routes.Assets.at("javascripts/SVLabel/img/misc/people.svg")' alt="Icons of wheelchair user, cane user, scooter user, and a person with a stroller" class="header-icon" align="">
                    </h1>
                </div>
            </div>
            <div class="spacer-20-pixel"></div>
            @if(hasError) {
                <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                        <p>Uh oh, something went wrong. Please send the email address again.</p>
                    </div>
                </div>
            }
            @if(showEmailInput){
                <div class="row">
                    <div class="text-center col-md-12">
                        <p>
                            We are working towards launching the web site soon. We'll inform you when it's ready!
                        </p>
                    </div>
                </div>
            <div class="row">
                <div class="text-center col-sm-4 col-sm-offset-4">
                    <form class="form-inline" action="@routes.TeaserController.teaserPost()" method="post">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        <button type="submit" onclick="submitted()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            } else {
                <div class="row">
                    <div class="text-center col-md-12">
                        <p>Great! We'll let you know when we are ready!</p>
                    </div>
                </div>
            }

        </div>
    </div>
    <link href='@routes.Assets.at("stylesheets/index.css")' rel="stylesheet"/>
    <style>
         html, body, .container-table {
            height: 100%;
        }
        .container-table {
            display: table;
            height: -moz-calc(100% - 60px);
            height: -webkit-calc(100% - 60px);
            height: -o-calc(100% - 60px);
            height: calc(100% - 60px);
        }
        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }
        .btn-primary {
            font-size: 14px;
            box-shadow: none;
        }

    </style>
    <script>
        function submitted (e) {
            console.log("hi")
            return false;  // prevent reload
        }
    </script>
}