@import models.user.User
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Project Sidewalk Terms of Use and Privacy Policy</h2>
                <p>
                    By checking accept upon sign-up, you agree that you have read the terms and give your consent below.
                    If you are under 18, please have your parent or guardian read, explain, and agree to the terms.
                </p>
                <p>
                    The Project Sidewalk’s goal is to collect the data about the accessibility of the physical
                    environment. We want to enable technologies that let people with disabilities—such as wheelchair
                    users—identify the accessibility of public space prior to their travel. The project achieves this
                    by inviting community—you—in the process of collecting the accessibility data. By using the
                    online tools that we developed, you can “audit” the accessibility of physical environment.
                    The tool will let you label and report presence and absence of accessibility features in
                    street-level imagery. This document describes what will happen to your contributions if you choose
                    to contribute and what data we collect and how we use it.
                </p>
                <p>
                    In addition to the contributions you make towards the goals of the Project Sidewalk, we collect
                    additional data about you to support and improve the operation of the project. The project is
                    continuously updated to promote the community to participate and to become the most effective
                    platform to collect and deliver accessibility data of the physical environment. To achieve this,
                    we continuously gather and analyze how you interact with our tools. By creating an account,
                    participating to the accessibility audit, or using the website, you acknowledge the following
                    Terms of Use and Privacy Policy.
                </p>
                <h3>Terms of Use and Privacy Policy</h3>
                <p>
                    <span class="bold">The accessibility data will be made publicly available.</span>
                    The primary goal for this project is for the collected accessibility data to be available
                    to the researchers and developers who create technologies to support people with disabilities.
                    Therefore, if you contribute to the Project Sidewalk, you grant the University of Washington and
                    its collaborators, permission to use and distribute your contributions however we like to further
                    this goal, trusting us to do the right thing with the accessibility data.
                </p>
                <p>
                    <span class="bold">The tool records how you audit. We look at the recorded logs for science and to
                        improve the tools’ user experience.</span> We are recording how you use our tools and audit
                        street-level accessibility for analysis and research. The tool gathers and reports data
                        generated by your activities in the audit. If you create an account, this data will be
                        associated with your account. If you audit without an account, data will be gathered
                        anonymously by assigning you an anonymous identifier. Data may be associated with your
                        IP address.
                </p>
                <p>
                    <span class="bold">We are sharing what we learn with others.</span> Data used for research may be
                    made public or shared with collaborators. Data and analysis may be shown on
                    the website, and used in external publications, presentations, promotional materials,
                    and other public venues. Data logged by the tools may be shared with our collaborators
                    for analysis. We will contact you for permission before externally associating data analysis with
                    your account name. However, your account name may appear without explicit permission in external
                    demonstrations of the website, including presentations, videos, screenshots, and publications.
                </p>
                <p>
                    <span class="bold">We may ask you questions about yourself. You do not have to answer them.</span>
                    To better understand who contribute to the project, we may
                    occasionally post research surveys on the website. These surveys will ask basic questions about
                    topics such as motivation or demographic information (e.g., age, gender, and mobility level).
                    Participation in these surveys is entirely voluntary.
                <p>
                    <span class="bold">We may send you email about the project. You can ask us to not send you email.</span>
                    Project members may contact you with your account email. When creating an account, you provide
                    an email address. You can opt out of this email contact at any time.
                <p>
                    <span class="bold">If you want us to stop gathering data from you, stop using the website. </span>
                    You can opt out of further data gathering at any time. To do so, discontinue use of the website and
                    tools associated with the project.
                <p>
                    <span class="bold">We may change these rules. You will have a chance of agreeing to the new rules.</span>
                    This policy may change in the future. You will be asked to agree to the new terms.
                </p>
                <h3>Contact</h3>
                <p>
                    Project Sidewalk is operated by Makeability Lab at the University of Washington.
                    Please contact us if you have any questions or concerns. We can be reached at
                    sidewalk&#64;cs.uw.edu. If you have questions about your rights as a research participant,
                    you may contact a member of the University of Washington's Institutional Review Board Office at
                    hsdinfo@uw.edu. Please note that emails are considered insecure and privacy
                    is not guaranteed.
                </p>
            </div>
        </div>
    </div>
}