@import models.user.User
@(title: String, user: Option[User] = None, url: Option[String] = Some("/"))

@main(title) {
    @navbar(user, Some("/turkerIdExists"))
    <div id="content">
        <div class="container">
            <h2>This HIT cannot be started</h2>
            <p>
                The reason is that you have already created an account on our website using your
                worker id. If you'd like to work on this HIT, please contact us at
                <a href="mailto:sidewalk@@cs.uw.edu">sidewalk@@cs.uw.edu</a>. Alternatively, you could continue
                using your account on our website: <a href='@routes.AuditController.audit()'>projectsidewalk.io</a> and
                keep mapping! :)
            </p>
        </div>
    </div>
}