@import models.user.User
@import models.user.OrganizationTable
@import models.user.UserOrgTable
@import models.mission.MissionTable
@import models.label.LabelTable
@import models.label.LabelValidationTable
@(title: String, user: Option[User] = None, auditedDistance: Float)(implicit lang: Lang)

@main(title) {
    @navbar(user, user.map(u=> "/dashboard"))
    <div class="container">

        @if(user && user.get.role.getOrElse("") != "Anonymous") {
            <div class="row" id="profile-container">
                <div id="username">@user.get.username</div>
                <div id="org-container">
                    @if(!UserOrgTable.getAllOrgs(user.get.userId).isEmpty) {
                        <div id="org-name">@OrganizationTable.getOrganizationName(UserOrgTable.getAllOrgs(user.get.userId).head)</div>
                    } else {
                        <div id="org-name">@Messages("dashboard.no.org")</div>
                    }
                    <div id="edit-org-dropdown" class="dropdown" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="@Messages("dashboard.edit.info")">
                        <a id="edit-org-button" role="button" data-toggle="dropdown" href="#">@Messages("dashboard.edit.org") <b class="caret"></b></a>
                        <ul id="edit-org-menu" class="dropdown-menu" role="menu">
                            @if(OrganizationTable.getAllOrganizations.isEmpty) {
                                <li class="menu-info">@Messages("dashboard.orgs.unavailable")</li>
                            }
                            @if(!UserOrgTable.getAllOrgs(user.get.userId).isEmpty) {
                                <li>
                                    <a id="from-@UserOrgTable.getAllOrgs(user.get.userId).headOption.getOrElse(0)-to-0" role="menuitem" class="put-user-org">@Messages("dashboard.leave.org")</a>
                                </li>
                            }
                            @for(org <- OrganizationTable.getAllOrganizations) {
                                <li class="put-org-container" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="right" data-content="@org.orgDescription">
                                    <a id="from-@UserOrgTable.getAllOrgs(user.get.userId).headOption.getOrElse(0)-to-@org.orgId" role="menuitem" class="put-user-org">@org.orgName</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row" id="map-row">
            <div class="col-lg-12" id="mapcolumn">
                <div id="map-holder">
                    <div id="map"></div>
                    <div id="map-label-legend">
                        <table class="table legend">
                            <tr><td id="map-legend-curb-ramp"></td><td>@Messages("curb.ramp")</td><td id="td-number-of-curb-ramps"></td></tr>
                            <tr><td id="map-legend-no-curb-ramp"></td><td>@Messages("missing.ramp")</td><td id="td-number-of-missing-curb-ramps"></td></tr>
                            <tr><td id="map-legend-obstacle"></td><td>@Messages("obstacle")</td><td id="td-number-of-obstacles"></td></tr>
                            <tr><td id="map-legend-surface-problem"></td><td>@Messages("surface.problem")</td><td id="td-number-of-surface-problems"></td></tr>
                            <tr><td id="map-legend-no-sidewalk"></td><td>@Messages("no.sidewalk")</td><td id="td-number-of-no-sidewalks"></td></tr>
                            <tr><td id="map-legend-crosswalk"></td><td>@Messages("crosswalk")</td><td id="td-number-of-crosswalks"></td></tr>
                            <tr><td id="map-legend-signal"></td><td>@Messages("signal")</td><td id="td-number-of-signals"></td></tr>
                            <tr><td id="map-legend-audited-street"></td><td>@Messages("dashboard.audited.street")</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div class="user-stats-holder">
                <span class="user-stats-header">@Messages("dashboard.your.missions")</span>
                <span class="user-stats-header">@Messages("dashboard.distance")</span>
                <span class="user-stats-header">@Messages("dashboard.labels")</span>
                <span class="user-stats-header">@Messages("validations")</span>
                <span class="user-stats-header">@Messages("accuracy.caps")</span>

                <img src='@routes.Assets.at("images/icons/project_sidewalk_flag.png")' alt="@Messages("dashboard.mission.icon.alt")"/>
                <img src='@routes.Assets.at("images/icons/noun_distance_2587675_cropped.png")' alt="@Messages("distance.icon.alt")"/>
                <img src='@routes.Assets.at("images/icons/noun_pin_location_2342268_cropped.png")' alt="@Messages("label.icon.alt")"/>
                <img src='@routes.Assets.at("images/icons/noun_validation_1876484_cropped.png")' alt="@Messages("dashboard.validation.icon.alt")"/>
                <img src='@routes.Assets.at("images/icons/noun_target_3485590_cropped.png")' alt="@Messages("accuracy.icon.alt")" title="@Messages("dashboard.accuracy.icon.tooltip")"/>

                <span class="user-stats-stat">@MissionTable.countCompletedMissions(user.get.userId, true, false)</span>
                <span class="user-stats-stat">@{s"%.2f ${Messages("dist.metric.abbr")}".format(auditedDistance)}</span>
                <span class="user-stats-stat">@LabelTable.countLabels(user.get.userId)</span>
                <span class="user-stats-stat">@LabelValidationTable.countValidations(user.get.userId)</span>
                <span class="user-stats-stat">@LabelValidationTable.getUserAccuracy(user.get.userId).map(a => "%.1f%%".format(a * 100)).getOrElse("N/A")</span>

            </div>
        </div>

        @* Only show this table if the current user is a turker *@
        @if(user && user.get.role.getOrElse("") == "Turker") {
            <div class="row" style="margin-top: 20px">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>@Messages("turk.reward.earned")</th>
                    </tr>
                    <tr>
                        <td id="td-total-reward-earned"></td>
                    </tr>
                </table>
            </div>
        }

        <div class="row" id="achievements">
            <h2>@Messages("dashboard.achievements")</h2>
            <!-- The achievements-outer-grid is 3 columns -->
            <div class="achievements-outer-grid">
                <div class="achievements-outer-col1">
                    <h3>@Messages("dashboard.missions")</h3>
                    <p id="missions-badge-encouragement" class="achievements-encouraging-statement">Just XX more missions until your next mission achievement.</p>
                    <div id="missions-badge-grid" class="achievements-badge-grid">
                        <img id="missions-badge1" src='@routes.Assets.at("images/badges/badge_missions_badge1.png")' alt="@Messages("dashboard.mission.badge", Messages("dashboard.first"))">
                        <img id="missions-badge2" src='@routes.Assets.at("images/badges/badge_missions_badge2.png")' alt="@Messages("dashboard.mission.badge", Messages("dashboard.second"))">
                        <img id="missions-badge3" src='@routes.Assets.at("images/badges/badge_missions_badge3.png")' alt="@Messages("dashboard.mission.badge", Messages("dashboard.third"))">
                        <img id="missions-badge4" src='@routes.Assets.at("images/badges/badge_missions_badge4.png")' alt="@Messages("dashboard.mission.badge", Messages("dashboard.fourth"))">
                        <img id="missions-badge5" src='@routes.Assets.at("images/badges/badge_missions_badge5.png")' alt="@Messages("dashboard.mission.badge", Messages("dashboard.fifth"))">
                    </div>
                </div>
                <div class="achievements-outer-col2"><!--Empty middle cell in outer grid--></div>
                <div class="achievements-outer-col3">
                    <h3>@Messages("dashboard.distance")</h3>
                    <p id="distance-badge-encouragement" class="achievements-encouraging-statement">Just XX more miles until your next distance achievement.</p>
                    <div id="distance-badge-grid" class="achievements-badge-grid">
                        @if(Messages("measurement.system") == "metric") {
                            <img id="distance-badge1" src='@routes.Assets.at("images/badges/badge_distance_km_badge1.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.first"))">
                            <img id="distance-badge2" src='@routes.Assets.at("images/badges/badge_distance_km_badge2.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.second"))">
                            <img id="distance-badge3" src='@routes.Assets.at("images/badges/badge_distance_km_badge3.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.third"))">
                            <img id="distance-badge4" src='@routes.Assets.at("images/badges/badge_distance_km_badge4.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.fourth"))">
                            <img id="distance-badge5" src='@routes.Assets.at("images/badges/badge_distance_km_badge5.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.fifth"))">
                        } else {
                            <img id="distance-badge1" src='@routes.Assets.at("images/badges/badge_distance_badge1.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.first"))">
                            <img id="distance-badge2" src='@routes.Assets.at("images/badges/badge_distance_badge2.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.second"))">
                            <img id="distance-badge3" src='@routes.Assets.at("images/badges/badge_distance_badge3.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.third"))">
                            <img id="distance-badge4" src='@routes.Assets.at("images/badges/badge_distance_badge4.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.fourth"))">
                            <img id="distance-badge5" src='@routes.Assets.at("images/badges/badge_distance_badge5.png")' alt="@Messages("dashboard.distance.badge", Messages("dashboard.fifth"))">
                        }
                    </div>
                </div>

                <div class="achievements-outer-col1">
                    <h3>@Messages("dashboard.labels")</h3>
                    <p id="labels-badge-encouragement" class="achievements-encouraging-statement">Just XX more labels until your next labeling achievement.</p>
                    <div id="labels-badge-grid" class="achievements-badge-grid">
                        <img id="labels-badge1" src='@routes.Assets.at("images/badges/badge_labels_badge1.png")' alt="@Messages("dashboard.label.badge", Messages("dashboard.first"))">
                        <img id="labels-badge2" src='@routes.Assets.at("images/badges/badge_labels_badge2.png")' alt="@Messages("dashboard.label.badge", Messages("dashboard.second"))">
                        <img id="labels-badge3" src='@routes.Assets.at("images/badges/badge_labels_badge3.png")' alt="@Messages("dashboard.label.badge", Messages("dashboard.third"))">
                        <img id="labels-badge4" src='@routes.Assets.at("images/badges/badge_labels_badge4.png")' alt="@Messages("dashboard.label.badge", Messages("dashboard.fourth"))">
                        <img id="labels-badge5" src='@routes.Assets.at("images/badges/badge_labels_badge5.png")' alt="@Messages("dashboard.label.badge", Messages("dashboard.fifth"))">
                    </div>
                </div>
                <div class="achievements-outer-col2"><!--Empty middle cell in outer grid--></div>
                <div class="achievements-outer-col3">
                    <h3>@Messages("validations")</h3>
                    <p id="validations-badge-encouragement" class="achievements-encouraging-statement">Just XX more validations until your next validation achievement.</p>
                    <div id="validations-badge-grid" class="achievements-badge-grid">
                        <img id="validations-badge1" src='@routes.Assets.at("images/badges/badge_validation_badge1.png")' alt="@Messages("dashboard.validation.badge", Messages("dashboard.first"))">
                        <img id="validations-badge2" src='@routes.Assets.at("images/badges/badge_validation_badge2.png")' alt="@Messages("dashboard.validation.badge", Messages("dashboard.second"))">
                        <img id="validations-badge3" src='@routes.Assets.at("images/badges/badge_validation_badge3.png")' alt="@Messages("dashboard.validation.badge", Messages("dashboard.third"))">
                        <img id="validations-badge4" src='@routes.Assets.at("images/badges/badge_validation_badge4.png")' alt="@Messages("dashboard.validation.badge", Messages("dashboard.fourth"))">
                        <img id="validations-badge5" src='@routes.Assets.at("images/badges/badge_validation_badge5.png")' alt="@Messages("dashboard.validation.badge", Messages("dashboard.fifth"))">
                    </div>
                </div>
            </div>
        </div>

        <div id="mistakes-row" class="row">
            <h2>@Messages("dashboard.mistakes.header")</h2>
            <span id="mistakes-subheader-display"></span>
            <img src="@routes.Assets.at("images/icons/QuestionMark.png")" class="mistakes-help-tooltip" data-toggle="tooltip" data-placement="top" title="@Messages("dashboard.mistakes.tooltip")" alt="">
            <div id="mistake-carousels-holder"></div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/Choropleth.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Progress/build/Progress.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeStreets.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeSubmittedLabels.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/InitializeMapLayerContainer.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Choropleths/MapUtilities.js")'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min-6.5.0.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next-21.9.1.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/common/detectMobileBrowser.js")'></script>
    <link href='@routes.Assets.at("stylesheets/userProfile.css")' rel="stylesheet"/>
    <script>
        $(document).ready(function () {
            // Gets all translations before loading the choropleth.
            i18next.use(i18nextXHRBackend);
            i18next.init({
                backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
                fallbackLng: 'en',
                ns: ['dashboard', 'common'],
                defaultNS: 'dashboard',
                lng: "@lang.code",
                debug: false
            }, function(err, t) {
                Progress(_, $, '@user.get.role');

                const achievementTracker = new AchievementTracker();
                achievementTracker.updateBadgeAchievementGrid(
                    @MissionTable.countCompletedMissions(user.get.userId, includeOnboarding = true, includeSkipped = false),
                    @auditedDistance,
                    @LabelTable.countLabels(user.get.userId),
                    @LabelValidationTable.countValidations(user.get.userId),
                );

                MistakeCarousel();
            });

            // Initialize tooltips.
            $('[data-toggle="tooltip"]').tooltip()

            // Initialize popovers.
            $('[id="edit-org-dropdown"]').popover({
                trigger: 'manual',
                html: true,
                animation: false
            }).on('mouseenter', function() {
                var _this = this;
                $(this).popover('show');
                // Add listener to log clicks on the email address link.
                $('#email-link').on('click', function(e) {
                    var url = '/userapi/logWebpageActivity';
                    var async = false;
                    $.ajax({
                        async: async,
                        contentType: 'application/json; charset=utf-8',
                        url: url,
                        type: 'post',
                        data: JSON.stringify('Click_module=email_link'),
                        dataType: 'json',
                        success: function(result){},
                        error: function (result) {
                            console.error(result);
                        }
                    });
                });
                $('.popover').on('mouseleave', function() {
                    $(_this).popover('hide');
                });
            }).on('mouseleave', function() {
                var _this = this;
                setTimeout(function() {
                    if (!$('.popover:hover').length) {
                        $(_this).popover('hide');
                    }
                }, 300);
            });
            $('[class="put-org-container"]').popover();
        });
    </script>
}
