@import models.user.User
@import models.region.RegionTable
@import models.mission.MissionTable
@import play.api.libs.json.Json
@(title: String, user: Option[User] = None, cityId: String)(implicit lang: Lang)

@main(title) {
    @navbar(user, user.map(u=> "/contribution/" + u.username), cityId)
    <div class="container">
        <div class="row" id="maprow">
            <div class="col-lg-12" id="mapcolumn">
                <div id="map-holder">
                    <div id="map"></div>
                    <div id="map-label-legend">
                        <table class="table">
                            <tr><td id="map-legend-curb-ramp"></td><td>@Messages("curb.ramp")</td></tr>
                            <tr><td id="map-legend-no-curb-ramp"></td><td>@Messages("missing.ramp")</td></tr>
                            <tr><td id="map-legend-obstacle"></td><td>@Messages("obstacle")</td></tr>
                            <tr><td id="map-legend-surface-problem"></td><td>@Messages("surface.problem")</td></tr>
                            <tr><td id="map-legend-no-sidewalk"></td><td>@Messages("no.sidewalk")</td></tr>
                            <tr><td id="map-legend-audited-street"></td><td>@Messages("dashboard.audited.street")</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="spacer10"></div></div>
        <div class="row">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>@Messages("dashboard.distance")</th>
                    <th>@Messages("dashboard.missions")</th>
                    @if(user){
                        @if(user.get.role.getOrElse("") == "Turker") {
                            <th>Total Reward Earned</th>
                        }
                    }
                </tr>
                <tr>
                    <td id="td-total-distance-audited"></td>
                    <td>@MissionTable.countCompletedMissionsByUserId(user.get.userId, includeOnboarding = false)</td>
                    <td id="td-total-reward-earned"></td>
                </tr>
            </table>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>@Messages("dashboard.label.type")</th>
                    <th>@Messages("curb.ramp")</th>
                    <th>@Messages("missing.ramp")</th>
                    <th>@Messages("obstacle")</th>
                    <th>@Messages("surface.problem")</th>
                    <th>@Messages("no.sidewalk")</th>
                </tr>
                <tr>
                    <th>@Messages("dashboard.number.of.labels")</th>
                    <td id="td-number-of-curb-ramps"></td>
                    <td id="td-number-of-missing-curb-ramps"></td>
                    <td id="td-number-of-obstacles"></td>
                    <td id="td-number-of-surface-problems"></td>
                    <td id="td-number-of-no-sidewalks"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table table-striped table-condensed">
                <tr><th>@Messages("dashboard.contributions")</th></tr>
                <tr><td><div id="audit-count-chart"></div></td></tr>
            </table>
        </div>
        <div class="row">
            <table class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-12">@Messages("dashboard.labels.per.mission")</th>
                    </tr>
                    <tr>
                    <th class="col-xxs-1">@Messages("dashboard.mission.number")</th>
                    <th class="col-date">@Messages("dashboard.date")</th>
                    <th class="col-neighborhood">@Messages("dashboard.neighborhood")</th>
                    <th class="col-xxs-1">@Messages("curb.ramp")</th>
                    <th class="col-xxs-1">@Messages("missing.ramp")</th>
                    <th class="col-xxs-1">@Messages("obstacle")</th>
                    <th class="col-xxs-1">@Messages("surface.problem")</th>
                    <th class="col-xxs-1">@Messages("no.sidewalk")</th>
                    <th class="col-xxs-1">@Messages("other")</th>
                </tr></thead>
                <tbody id="task-contribution-table" ></tbody>
            </table>
        </div>
    </div>
    <link href='@routes.Assets.at("stylesheets/c3.min.css")' rel="stylesheet"/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/c3.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/underscore.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/Progress/build/Progress.js")'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script>
    $(document).ready(function () {
        // Gets all translations before loading the choropleth.
        i18next.use(i18nextXHRBackend);
        i18next.init({
            backend: { loadPath: '/assets/locales/{{lng}}/{{ns}}.json' },
            fallbackLng: 'en',
            ns: ['dashboard', 'common'],
            defaultNS: 'dashboard',
            lng: "@lang.language",
            debug: false
        }, function(err, t) {
            var difficultRegionIds = @Json.toJson(RegionTable.difficultRegionIds);
            window.progress = Progress(_, $, c3, L, "@user.get.role", difficultRegionIds);
        });
    });
    </script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/Utilities.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min.js")'></script>
    <link href='@routes.Assets.at("stylesheets/userProfile.css")' rel="stylesheet"/>
}
