@import models.user.User
@import models.region.RegionTable
@import models.region.NamedRegion
@import models.mission.MissionTable
@import models.survey._
@import models.amt.AMTAssignmentTable
@import play.api.libs.json.Json
@import views.html.bootstrap._

@(title: String, user: Option[User] = None)

@main(title, Some("/validate")) {
    @navbar(user, Some("/validate"))

    <script type="text/javascript" src='@routes.Assets.at("assets/detectMobileBrowser.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/build/SVValidate.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/lib/gsv/zpipe.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/lib/gsv/jquery.base64.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/lib/kinetic-v4.3.3.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("assets/detectUnsupportedBrowser.js")'></script>

    <link rel="stylesheet" href='@routes.Assets.at("javascripts/SVLabel/build/SVLabel.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/animate.css")'/>
    <div id="page-loading"><img id="loading-gif" src='@routes.Assets.at("assets/page-load.gif")'/></div>
    <div class="container toolUI" style = "visibility: visible;">
        <div id="svl-application-holder">
            Hello!
        </div>
    </div>

    <!--
    <script type="text/javascript">
        init();

        function init() {
            console.log("Initializing...");
            test = new Test();
        }
    </script>
    -->
}