@import models.user.User
@import models.mission.MissionTable
@import models.amt.AMTAssignmentTable
@import play.api.libs.json.JsValue

@(title: String, user: Option[User] = None, mission: Option[JsValue], labelList: Option[JsValue], progress: Option[JsValue], missionSetProgress: Int, hasNextMission: Boolean, completedValidations: Int)(implicit lang: Lang)

@main(title, Some("/validate")) {
    @navbar(user, Some("/validate"))

    <script type="text/javascript" src='@routes.Assets.at("assets/detectMobileBrowser.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVValidate/build/SVValidate.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/lib/gsv/zpipe.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/lib/gsv/jquery.base64.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/lib/kinetic-v4.3.3.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("assets/detectUnsupportedBrowser.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.at("javascripts/SVValidate/build/SVValidate.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/animate.css")'/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18next.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/i18nextXHRBackend.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/Utilities.js")'></script>
    <div id="page-loading"><img id="loading-gif" src='@routes.Assets.at("images/project_sidewalk_page_load.gif")'/></div>
    <div class="container tool-ui" style = "visibility: visible;">
        <div id="HIT-expiration-overlay">
            <div class="overlay-text">
                <div id="HIT-expiration-text">
                    <p>
                        <span class="overlay-header">@Messages("turk.expired.title")</span>
                    </p>
                    <p>
                        @Html(Messages("turk.expired.body")) (@{models.mission.MissionTable.getMostRecentConfirmationCodeIfCompletedAuditMission(user.get.username).getOrElse("")}).
                    </p>
                </div>
            </div>
        </div>
        <div id="svv-application-holder">
            <div id="left-column-control-pane">
                <div id="left-column-button-holder">
                    <div id="left-column-confirmation-code-button" class="button">
                        <img src='@routes.Assets.at("javascripts/SVLabel/img/icons/Icon_OrangeCheckmark.png")'  alt="Confirmation Code icon" align="">
                        @Messages("turk.mturk.code")
                    </div>
                    <div id="left-column-jump-button" class="button">
                        <img src='@routes.Assets.at("javascripts/SVLabel/img/icons/refresh.png")'  alt="Jump icon" align="">
                        <br>@Messages("validate.left.ui.skip")
                    </div>
                    <div class="spacer10"></div>
                    <div id="left-column-feedback-button" class="button">
                        <img src='@routes.Assets.at("javascripts/SVLabel/img/icons/comment.png")'  alt="Comment icon" align="">
                        @Html(Messages("validate.left.ui.feedback"))
                    </div>
                </div>
            </div>
            <div id="upper-menu-holder">
                <div id="upper-menu-title-bar"></div>

		<div id="label-visibility-control-holder">
                    <button id="label-visibility-control-button" class="button label-visibility-control-button" title="@Messages("press.key", "H")" data-toggle="tooltip" data-placement="top">
                        <img src='@routes.Assets.at("javascripts/SVValidate/img/HideLabel.svg")' class="label-visibility-control-button-icon" alt="Hide Label">
                        <br/>@Html(Messages("validate.top.ui.hide.label"))</button>
                </div>

                <div id="zoom-control-holder">
                    <button id="zoom-in-button" class="button zoom-control-button" title="@Messages("press.key", "Z")" data-toggle="tooltip" data-placement="top">
                        <img src='@routes.Assets.at("javascripts/SVLabel/img/icons/ZoomIn.svg")' class="zoom-button-icon" alt="Zoom in">
                        <br/>@Html(Messages("validate.top.ui.zoom.in"))</button>
                    <button id="zoom-out-button" class="button zoom-control-button" title="@Messages("press.keys", "Shift + Z")" data-toggle="tooltip" data-placement="top">
                        <img src='@routes.Assets.at("javascripts/SVLabel/img/icons/ZoomOut.svg")' class="zoom-button-icon" alt="Zoom out">
                        <br/>@Messages("validate.top.ui.zoom.out")</button>
                </div>
            </div>
            <div id="svv-panorama-holder">
                <div id="svv-panorama-outline">
                    <div id="svv-panorama-0" class="single-panorama">
                        <div id="view-control-layer" style="cursor: url(/assets/javascripts/SVLabel/img/cursors/openhand.cur) 4 4, move; z-index: 2;">
                            <button id="label-visibility-button-on-pano" class="button label-visibility-button-on-pano" title="@Messages("press.key", "H")" data-toggle="tooltip" data-placement="top">@Html(Messages("validate.top.ui.hide.label"))</button>
                            <div id="label-description-box"></div>
                        </div>
                    </div>
                    <div id="svv-panorama-date-holder-0" class="svv-panorama-date-holder">
                        <span id="svv-panorama-date-0">no</span>
                    </div>
                    <div id="validation-button-holder-large">
                        <button id="validation-agree-button-0" class="validation-button-large">
                            <img src='@routes.Assets.at("javascripts/SVValidate/img/Checkmark.png")' class="validation-status-icon" alt="Agree" align="">
                            @Html(Messages("validate.bottom.ui.agree"))
                        </button>
                        <button id="validation-disagree-button-0" class="validation-button-large">
                            <img src='@routes.Assets.at("javascripts/SVValidate/img/Cross.png")' class="validation-status-icon" alt="Disagree" align="">
                            @Html(Messages("validate.bottom.ui.disagree"))
                        </button>
                        <button id="validation-not-sure-button-0" class="validation-button-large">
                            <img src='@routes.Assets.at("javascripts/SVValidate/img/QuestionMark.png")' class="validation-status-icon" alt="Not sure" align="">
                            @Html(Messages("validate.bottom.ui.not.sure"))
                        </button>
                    </div>
                    <textarea id="validation-label-comment" placeholder="@Messages("validate.bottom.ui.add.comment")" class="validation-comment-box"></textarea>
                </div>
            </div>
            <div id="modal-comment-holder" class="hidden">
                <div id="modal-comment-box">
                    <form id="comment-form">
                        <div id="modal-comment-title" class="bold">
                            <p>@Html(Messages("feedback.title"))</p>
                        </div>
                        <div id="modal-comment-content">
                            <textarea id="modal-comment-textarea" placeholder=""></textarea>
                        </div>
                        <div>
                            <button class="button" id="modal-comment-ok-button" type="button">@Messages("ok")</button>&nbsp;
                            <button class="button" id="modal-comment-cancel-button" type="button">@Messages("cancel")</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="modal-mission-holder">
                <div id="modal-mission-background" class="modal-background"></div>
                <div id="modal-mission-foreground" class="modal-foreground">
                    <h1 id="modal-mission-header" class="text-center"></h1>
                    @if(user) {
                        @if(user.get.role.getOrElse("") == "Turker") {
                            <h4 id="modal-mission-reward-text" class="text-center" style="display: none"></h4>
                        }
                    }
                    <div id="modal-mission-instruction"></div>
                    <button class="button" id="modal-mission-close-button">OK</button>
                </div>
            </div>
            <div id="modal-mission-complete-holder">
                <div id="modal-mission-complete-background" class="modal-background"></div>
                <div id="modal-mission-complete-foreground" class="modal-foreground">
                    <h1 class="normal" id="modal-mission-complete-title"></h1>
                    <p><div id="modal-mission-complete-message"></div></p>
                    <div id="modal-mission-complete-table">
                        <div class="col-sm-10">
                            <h3>@Messages("validate.mission.complete.category")</h3>
                            <table class="table">
                                <tr>
                                    <th>@Messages("validate.mission.complete.agree")</th>
                                    <td id="modal-mission-complete-agree-count" class="col-right text-right"></td>
                                </tr>
                                <tr>
                                    <th>@Messages("validate.mission.complete.disagree")</th>
                                    <td id="modal-mission-complete-disagree-count" class="col-right text-right"></td>
                                </tr>
                                <tr>
                                    <th>@Messages("validate.mission.complete.not.sure")</th>
                                    <td id="modal-mission-complete-not-sure-count" class="col-right text-right"></td>
                                </tr>
                                <tr id="your-overall-total">
                                    <th>@Messages("validate.mission.complete.your.overall.total")</th>
                                    <td id="modal-mission-complete-your-overall-total-count" class="col-right text-right"></td>
                                </tr>
                            </table>
                            <button class="btn btn-primary" id="modal-mission-complete-close-button-primary"></button>
                            <button class="btn btn-secondary" id="modal-mission-complete-close-button-secondary"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="status-holder">
                <div class="status-box">
                    <div class="status-row">
                        <span class="status-column-half">
                            <img src='@routes.Assets.at("javascripts/SVLabel/img/icons/Sidewalk/Icon_Other.png")' class="status-icon" alt="Total label count" align="">
                            <span><span class="bold" id="status-neighborhood-label-count">0</span> <small>@Messages("labels")</small></span>
                        </span>
                    </div>
                </div>
                <div class="status-box">
                    <h1>@Messages("validate.right.ui.current.mission")</h1>
                    <h2 id="current-mission-description"></h2>
                    <div id='status-current-mission-completion-bar'>
                        <div id='status-current-mission-completion-bar-filler'>
                            <div id='status-current-mission-completion-rate'></div>
                        </div>
                    </div>
                    <br class="clear">
                    <h2 id="current-mission-reward" style="display:none"></h2>
                    <h2 id="total-mission-reward" style="display:none"></h2>
                </div>
                <div class="status-box">
                    <h1 class="status-holder-header-1" id="label-type-example">
                        @Html(Messages("validate.right.ui.correct.examples"))
                    </h1>
                    <div id="example-image-holder">
                        <img id="example-image-1" class="example-image">
                        <img id="example-image-2" class="example-image">
                        <img id="example-image-3" class="example-image">
                        <img id="example-image-4" class="example-image">
                    </div>
                </div>
                <div class="status-box">
                    <h1 class="status-holder-header-2" id="label-type-counterexample">
                        @Html(Messages("validate.right.ui.incorrect.examples"))
                    </h1>
                    <div id="example-image-holder">
                        <img id="counterexample-image-1" class="example-image">
                        <img id="counterexample-image-2" class="example-image">
                        <img id="counterexample-image-3" class="example-image">
                        <img id="counterexample-image-4" class="example-image">
                    </div>
                </div>
            </div>
            <div id="example-image-popup-holder">
                <div id="example-image-popup-title"></div>
                <div id="example-image-popup-pointer"></div>
                <img id="example-image-popup">
                <div id="example-image-popup-description"></div>
            </div>
            <div id="modal-comment-background"></div>
        </div>

        <!-- footer code found in app/views/footer.scala.html -->
        @footer()
    </div>

    <script type="text/javascript">
        var svv = svv || {};
        var param = {};

        // Hide confirmation code if turker hasn't completed a mission.
        @if(user) {
            @if(user.get.role.getOrElse("") == "Turker") {
                svv.assignmentId = "@AMTAssignmentTable.getMostRecentAssignmentId(user.get.username)";
                svv.amtAssignmentId = @AMTAssignmentTable.getMostRecentAMTAssignmentId(user.get.username);
                svv.confirmationCode = "@AMTAssignmentTable.getConfirmationCode(user.get.username,AMTAssignmentTable.getMostRecentAssignmentId(user.get.username))";
                @if(!MissionTable.hasCompletedAuditMissionInThisAmtAssignment(user.get.username)) {
                    $("#left-column-confirmation-code-button").css('visibility', 'hidden');
                } else {
                    $("#left-column-confirmation-code-button").css('visibility', "");
                    $("#left-column-confirmation-code-button").attr('data-toggle','popover');
                    $("#left-column-confirmation-code-button").attr('title','@Messages("turk.submit.code")');
                    $("#left-column-confirmation-code-button").attr('data-content', svv.confirmationCode);
                    $("#left-column-confirmation-code-button").popover();

                    //Hide the confirmation popover on clicking the background
                    //https://stackoverflow.com/questions/11703093/how-to-dismiss-a-twitter-bootstrap-popover-by-clicking-outside

                    $(document).on('click', function(e) {
                        $("#left-column-confirmation-code-button").each(function () {
                            //the 'is' for buttons that trigger popups
                            //the 'has' for icons within a button that triggers a popup
                            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false
                            }

                        });
                    });
                }
                $("#current-mission-reward").show();
                $("#total-mission-reward").show();
                $("#modal-mission-reward-text").show();
            } else {
                $("#left-column-confirmation-code-button").css('visibility', "hidden");
            }
        } else{
            $("#left-column-confirmation-code-button").css('visibility', "hidden");
        }

        // Store user object.
        let userParam = {};
        @if(user) {
            userParam = {
                username: '@user.get.username',
                role: '@user.get.role'
            };
        } else {
            userParam = {
                username: "anonymous",
                role: "Anonymous"
            };
        }
        svv.user = new User(userParam);

        let hitExpired = false;
        @if(user && user.get.role.getOrElse("") == "Turker") {
            let msRemainingInHIT = @AMTAssignmentTable.getMsLeftOnMostRecentAsmt(user.get.username);
            if (msRemainingInHIT < 0) {
                hitExpired = true;
            }
        }
        if (hitExpired) {
            $(".tool-ui").css({"visibility": "visible"});
            $('#HIT-expiration-overlay').show();
        } else {
            param.dataStoreUrl = '@routes.ValidationTaskController.post';
            param.beaconDataStoreUrl = param.dataStoreUrl + "Beacon";
            param.hasNextMission = @hasNextMission;
            param.missionSetProgress = @missionSetProgress;
            param.completedValidations = @completedValidations;
            param.canvasHeight = 440;
            param.canvasWidth = 720;
            param.canvasCount = 1;
            param.language = "@lang.code";
            param.modalText = {
                1: "@Messages("labeling.guide.curb.ramp.summary")",
                2: "@Messages("labeling.guide.curb.ramp.summary")",
                3: "@Messages("labeling.guide.obstacle.summary")",
                4: "@Messages("labeling.guide.surface.problem.summary")",
                5: "",
                6: "@Messages("labeling.guide.occlusion.summary")",
                7: "@Messages("labeling.guide.no.sidewalk.summary")",
                8: ""
            };

            if (@hasNextMission) {
                param.mission = @Html(mission.getOrElse("\"\"").toString);
                param.labelList = @Html(labelList.getOrElse("\"\"").toString);
                param.progress = @Html(progress.getOrElse("\"\"").toString);

                // Initializes an object of labels from label metadata.
                // {key, labelMetadata} --> {key, Label}, where key = the index of the label.
                Object.keys(param.labelList).map(function (key, index) {
                    let labelMetadata = {
                        canvasHeight: param.labelList[key].canvas_height,
                        canvasWidth: param.labelList[key].canvas_width,
                        canvasX: param.labelList[key].canvas_x,
                        canvasY: param.labelList[key].canvas_y,
                        gsvPanoramaId: param.labelList[key].gsv_panorama_id,
                        heading: param.labelList[key].heading,
                        labelId: param.labelList[key].label_id,
                        labelType: param.labelList[key].label_type,
                        pitch: param.labelList[key].pitch,
                        zoom: param.labelList[key].zoom,
                        severity: param.labelList[key].severity,
                        temporary: param.labelList[key].temporary,
                        description: param.labelList[key].description,
                        tags: param.labelList[key].tags
                    };
                    param.labelList[key] = new Label(labelMetadata);
                });
            }
            svv.main = new Main(param);
        }

    </script>
}
