@(url: Option[String] = Some("/"))
@import views.html.bootstrap._

 <!-- Modal -->
  <div class="modal fade" id="zoom-in-alert-modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">You can use your browser's zoom to get a better view!</h3>
        </div>
        <div class="modal-body">
          <ul>
            <li><h4> Mac: Hold down <b>Command</b>, then press <b>+</b></h4></li>
            <li><h4> Windows: Hold down <b>Ctrl</b>, then press <b>+</b> </h4></li>
            <li><h4>Or manually zoom in as instructed below:</h4></li>
          </ul>
            <iframe id="zoom-in-instructions-video" scrolling='no' height= "500px" width="830px" frameborder="0" allowfullscreen="" style="margin-left:20px;margin-top:10px;"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">OK</button>
        </div>
      </div>

    </div>
  </div>

<script>
    $(document).ready(function () {
        var gif = document.getElementById('zoom-in-instructions-video');
        var isValidate = false;
        @if(url.isDefined && url.get == "/validate") {
            isValidate = true;
        }
        var isIE = !!document.documentMode;
        var isEdge = !isIE && !!window.StyleMedia;
        if ((navigator.userAgent.indexOf("Opera") != -1) || (navigator.userAgent.indexOf('OPR') != -1)) {
            gif.src = '@routes.Assets.at("assets/ZoomInInstructions/AuditOpera.gif")';
            if (isValidate) {
                gif.src = '@routes.Assets.at("assets/ZoomInInstructions/ValidateOpera.gif")';
            } 
        } else if(navigator.userAgent.indexOf("Chrome") != -1 && !isEdge) {
            gif.src = '@routes.Assets.at("assets/ZoomInInstructions/AuditChrome.gif")';
            if (isValidate) {
                gif.src = '@routes.Assets.at("assets/ZoomInInstructions/ValidateChrome.gif")';
                gif.height = "470";
            } 
        } else if(navigator.userAgent.indexOf("Safari") != -1 && !isEdge) {
            gif.src = '@routes.Assets.at("assets/ZoomInInstructions/AuditSafari.gif")';
            if (isValidate) {
                gif.src = '@routes.Assets.at("assets/ZoomInInstructions/ValidateSafari.gif")';
            } 
        } else if(navigator.userAgent.indexOf("Firefox") != -1 ) {
            if (isValidate) {
                gif.src = '@routes.Assets.at("assets/ZoomInInstructions/ValidateFirefox.gif")';
            } else {
                gif.src = '@routes.Assets.at("assets/ZoomInInstructions/AuditFirefox.gif")';
                gif.height = "440";
            }
        } else {
            gif.src = '@routes.Assets.at("assets/ZoomInInstructions/AuditEdge.gif")';
            if (isValidate) {
                gif.src = '@routes.Assets.at("assets/ZoomInInstructions/ValidateEdge.gif")';
            } 
        }
    });
</script>


