@import models.user.SidewalkUserWithRole
@import play.api.Configuration
@import service.CommonPageData
@(commonData: CommonPageData, title: String, user: Option[SidewalkUserWithRole]
)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, config: Configuration)

@layout(commonData, title, user, "obstacles") {
  <div class="page-section">
    <h1 class="page-heading">Obstacles</h1>
    <p>@Html(Messages("labeling.guide.obstacle.summary")) (<a href="https://www.ada.gov/regs2010/2010ADAStandards/2010ADAstandards.htm#pgfId-1006198">ADA 305</a>)</p>
  </div>

  <div class="page-section">
    <h2 class="page-heading" id="how-should-I-mark-an-obstacle">How should I mark an obstacle? <a href="#how-should-I-mark-an-obstacle" class="permalink">#</a></h2>
    <p>You should place labels at the base of the obstacle, which is any object that blocks a path. Placing a label any higher may make the lat-lng estimation inaccurate. Notice how the label on the lower left image that is not placed at the base of the tree has a lat-lng that is very far from the sidewalk (as seen in the mini map).</p>
    <p>If there is a long stretch of construction, like in the example on the right below, you should place a temporary obstacle label at the beginning and end of the construction (in the same manner as in the <a href='@routes.ApplicationController.labelingGuideSurfaceProblems'>Surface Problems</a> section).</p>
    <p>Severity should be higher for obstacles that cover more of the path, have less room for navigating around them, or would cause pedestrians that avoid them to put themselves into harm’s way (by going into traffic, going off the sidewalk, etc). There are more examples throughout this page.</p>
    <div class="guide-figures">
      <figure>
        <img src='@assets.path("images/obstacles/Obstacles_Overview1.png")' alt="A Street View image with a tree in the middle of the sidewalk">
        <figcaption>A tree in the middle of a sidewalk.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/Obstacles_Overview2.png")' alt="A Street View image of a long stretch of sidewalk under construction">
        <figcaption>A long stretch of sidewalk under construction.</figcaption>
      </figure>
    </div>
  </div>

  <div class="page-section">
    <h2 class="page-heading" id="permanent-obstacles">What do I do about permanent obstacles? <a href="#permanent-obstacles" class="permalink">#</a></h2>
    <p>You should use an <i>Obstacle</i> label on any permanent fixture that is placed in the direct path of pedestrian routes. This could also include extreme instances of overgrowth or poles that are located (even partially) within curb ramp flares. Below are examples with various degrees of severity.</p>
    <div class="guide-figures">
      <figure>
        <img src='@assets.path("images/obstacles/Permanent_Obstacle_Severity1-2.png")' alt="A Street View image of a pole almost entirely out of the path, but it is still located in the ramp">
        <figcaption>Severity: Low. The pole is almost entirely out of the path, but it is still located in the ramp.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/Permanent_Obstacle_Severity3.png")' alt="A Street View image of a street light pole in the middle of the sidewalk">
        <figcaption>Severity: Medium. There is probably enough space to maneuver around.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/Permanent_Obstacle_Severity5.png")' alt="A Street View image of a tree in the middle of the sidewalk">
        <figcaption>Severity: High. There is no way to get around this obstacle without going into the street.</figcaption>
      </figure>
    </div>
  </div>

  <div class="page-section">
    <h2 class="page-heading" id="temporary-obstacles">Do I label temporary obstacles as obstacles? <a href="#temporary-obstacles" class="permalink">#</a></h2>
    <p>You should label temporary obstacles with the <i>Obstacle</i> label. Temporary obstacles are objects that are not part of the "built environment", such as construction, minor overgrowth, parked cars, and trash cans.</p>
    <div class="guide-figures">
      <figure>
        <img src='@assets.path("images/obstacles/Temporary_Obstacle1.png")' alt="A Street View image of a trashcan on a sidewalk">
        <figcaption>Severity: Low. The trash cans only slightly blocks the path, and is easy to avoid safely.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/Temporary_Obstacle4.png")' alt="A Street View image of leaves and foliage overflowing onto a sidewalk">
        <figcaption>Severity: Low. There is enough space for pedestrians to use the sidewalk without being blocked by the leaves.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/Temporary_Obstacle3.png")' alt="A Street View image of overgrowth onto a sidewalk">
        <figcaption>Severity: Medium. This does not leave quite enough space to maneuver around. This is also on the edge of temporary and permanent; overgrowth that is any more severe than this would probably be permanent. (this also requires a surface problem label)</figcaption>
      </figure>
    </div>
  </div>

  <div class="page-section">
    <h2 class="page-heading" id="non-obstacles">Do I label all objects as obstacles? <a href="#non-obstacles" class="permalink">#</a></h2>
    <p>Any objects that are not directly on the path of a pedestrian route (as in the first three examples below) should not be marked as obstacles. Things like moving cars and pedestrians are not obstacles either, so these should not be marked.</p>
    <div class="guide-figures">
      <figure>
        <img src='@assets.path("images/obstacles/NonObstacle1.png")' alt="A Street View image of a pole almost entirely out of the path, but it is still located in the ramp">
        <figcaption>This pole is clearly not on the path of a pedestrian route.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/NonObstacle8.png")' alt="A Street View image of a pole not on the path of a sidewalk">
        <figcaption>This pole is not at all on the actual path, nor on the curb ramp flare at all.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/NonObstacle9.png")' alt="A Street View image of objects that are not obstacles, such as a trash can">
        <figcaption>This trash bin should not be labeled as an obstacle in path. It does not directly block the path of a pedestrian route, and is easily avoidable.</figcaption>
      </figure>
      <figure>
        <img src='@assets.path("images/obstacles/NonObstacle4.png")' alt="A Street View of a vehicle in motion">
        <figcaption>Vehicle in motion. Hopefully self-explanatory.</figcaption>
      </figure>
    </div>
  </div>

  <div class="page-section">
    <h2 class="page-heading" id="obstacles-in-a-crosswalk">How should I label obstacles in a crosswalk? <a href="#obstacles-in-a-crosswalk" class="permalink">#</a></h2>
    <p>Even though obstacles in a crosswalk are not part of the sidewalk, they are part of the route that pedestrians are meant to follow, so you should label obstacles on a crosswalk in the same manner as other obstacles.</p>
  </div>
}
