@()(implicit assets: AssetsFinder)
@* Every icon here sits next to text that already names it, hence the empty alt. *@
<div class="mission-start-tutorial-overlay">
  <div class="mst-content audit-selectable">
    <div class="mst-instruction-1 no-select"></div>
    <div class="mst-instruction-2 no-select"></div>

    @* This is hidden by default. Shown only for 'Explore Mission Screens' by JS. *@
    <div class="explore-mission-start-tab-bar ps-hidden">
      <div class="explore-mission-start-tab label" data-label-type="CurbRamp">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/CurbRamp_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">Curb Ramp</div>
        </div>
      </div>
      <div class="explore-mission-start-tab label" data-label-type="NoCurbRamp">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/NoCurbRamp_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">No Curb Ramp</div>
        </div>
      </div>
      <div class="explore-mission-start-tab label" data-label-type="Obstacle">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/Obstacle_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">Obstacle</div>
        </div>
      </div>
      <div class="explore-mission-start-tab label" data-label-type="SurfaceProblem">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/SurfaceProblem_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">Surface Problem</div>
        </div>
      </div>
      <div class="explore-mission-start-tab label" data-label-type="NoSidewalk">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/NoSidewalk_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">No Sidewalk</div>
        </div>
      </div>
      <div class="explore-mission-start-tab label" data-label-type="Crosswalk">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/Crosswalk_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">Crosswalk</div>
        </div>
      </div>
      <div class="explore-mission-start-tab label" data-label-type="Signal">
        <div class="explore-mission-start-tab-content">
          <div class="explore-mission-start-tab-icon">
            <img src='@assets.path("images/icons/label_type_icons/Signal_small.svg")' alt="" loading="lazy">
          </div>
          <div class="explore-mission-start-tab-text">Signal</div>
        </div>
      </div>
    </div>

    <div class="mst-carousel">

      <div class="previous-slide-button">
        <span class="mst-arrow-icon ps-mask-icon"></span>
      </div>

      <div class="mst-slide">
        <div class="msts-image-area">
          <img class="msts-image" alt="An example image depicting the situation described to the right of the image">
          <div class="label-on-image noselect">
            <div class="label-on-image-type">
              <div class="label-on-image-type-icon ps-mask-icon"></div>
              <div class="label-on-image-type-title"></div>
            </div>
            <div class="label-on-image-description"></div>
          </div>
        </div>
        <div class="mst-text-area">
          <div class="example-type-area">
            <div class="example-type-icon ps-mask-icon"></div>
            <div class="example-type-label"></div>
          </div>
          <div class="label-type-title"></div>
          <div class="label-type-subtitle"></div>
          <div class="label-type-description"></div>

          <div class="button-ps button--large button--primary mission-start-tutorial-done-btn" role="button">Start mission</div>
        </div>
      </div>
      <div class="next-slide-button">
        <span class="mst-arrow-icon ps-mask-icon"></span>
      </div>
    </div>
    <div class="mst-carousel-location-indicator-area">
      <div class="mst-carousel-location-indicator template"></div>
    </div>

    <div class="mission-start-tutorial-overlay-footer"></div>
  </div>
</div>
