body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
circle.active, circle.dragging {
    fill: orange;
}

line {
    stroke: white;
    opacity: 0.5;
}

line.active, line.dragging {
    fill: orange;
    stroke: orange;
    stroke-opacity: 0.9;
}